<ul class="nav nav-tabs" role="tablist">
  <li class="active class-activities tab">
    <a {{action 'selectItem' 'class-activities'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'teacher-landing.class.class-activities'}}</span>
    </a>
  </li>
  <li class="active course-map tab">
    <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'teacher-landing.class.course-map'}}</span>
    </a>
  </li>
  <li class="performance tab">
    <a {{action 'selectItem' 'performance'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'teacher-landing.class.performance'}}</span>
    </a>
  </li>
  <li class="class-management tab">
    <a {{action 'selectItem' 'class-management'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'teacher-landing.class.class-management'}}</span>
    </a>
  </li>
</ul>
