<div class="panel">
<div class="nav-body"> 
    <ul class="nav nav-pills" role="tablist">
        <li role="separator" class="divider"></li>
        <li class="closetab tab">
            {{#if backUrls}}
                <a {{action 'selectItem' 'close'}} title="{{t 'common.back-to-report'}}" role="tab" data-toggle="tooltip">
                    {{gru-icon name='clear'}}
                </a>
            {{else}} 
                {{#if class.isArchived}}
                {{#link-to 'teacher-home' (query-params showArchivedClasses="true" showActiveClasses="false" ) class="back-to" data-toggle="tooltip" title= 'Back to Classrooms' }} 
                {{gru-icon name='clear'}} {{/link-to}}
                {{else}}
                    {{#link-to 'teacher-home' class="back-to" data-toggle="tooltip" title= 'Back to Classrooms' }} {{gru-icon name='clear'}}  {{/link-to}}
                {{/if}}
            {{/if}}
        </li>
        
        {{#unless class.isArchived}}
        <li role="separator" class="divider"></li>
        <li class="class-activities tab">
            <a {{action 'selectItem' 'class-activities'}} title= "{{t 'teacher-landing.class.class-activities'}}" role="tab" data-toggle="tooltip">
                <img src='/assets/gooru/pin.png'>
                <span class="add-info">
                 &nbsp; {{t 'teacher-landing.class.class-activities'}}
                </span>
            </a>
        </li>
        <li role="separator" class="divider"></li>

        <li class="course-map tab">
            <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.course-map'}}">
                {{gru-icon name='sort'}}
                <span class="add-info">
                 &nbsp;   {{t 'teacher-landing.class.course-map'}}
                </span>
            </a>
        </li>
        {{/unless}}
        <li role="separator" class="divider"></li>
        <li class="performance tab">
            <a {{action 'selectItem' 'performance'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.report'}} ">
            {{gru-icon name='insert_chart'}}
            <span class="add-info">
             &nbsp;  {{t 'teacher-landing.class.reports'}}
            </span>
            </a>
        </li>
        {{#unless class.isArchived}}
        <li role="separator" class="divider"></li>
        <li class="class-management tab">
            <a {{action 'selectItem' 'class-management'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management' }}">
                    {{gru-icon name='school'}}
                    <span class="add-info" >
                     &nbsp; {{t 'teacher-landing.class.class-management' }}
                    </span>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        {{/unless}}

        {{#if navTitle}}
            <ul class="nav navbar-nav navbar-center">
                <li class="studyplayer-title">
                    <a style=" opacity:1; ">
                        <span>
                            {{navTitle}}
                        </span>
                    </a>
                </li>
            </ul>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
            <li>
        {{#if (not isRescopedClass)}}
        <div class="">
            {{charts/gru-performance-chart performanceSummary=class.performanceSummary routeToGo="teacher.class.performance"}}
        </div>
        {{/if}}
        </li>
        <li role="separator" class="divider"></li>
        <li class="class-info">
            <a {{action 'selectItem' 'class-info'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management-tab.class-information'}}">
                <img src='/assets/gooru/information-outline-1.png'>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        </ul>
    </ul>

    
</div>
</div>