<div class="panel">
<div class="nav-body">
    <ul class="nav nav-pills" role="tablist">
      <li class="app-brand tab">
        {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
      </li>

        {{#unless class.isArchived}}
        <li class="class-activities tab">
            <a {{action 'selectItem' 'class-activities'}} class="dca" title= "{{t 'teacher-landing.class.class-activities'}}" role="tab" data-toggle="tooltip">
                <span class="dca-pin"></span>
                <span class="add-info">
                 &nbsp; {{t 'teacher-landing.class.class-activities'}}
                </span>
            </a>
        </li>
        <li role="separator" class="divider"></li>

        <li class="course-map tab">
            <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.course-map'}}">
                {{gru-icon name='sort'}}
                <span class="add-info">
                 &nbsp;   {{t 'teacher-landing.class.course-map'}}
                </span>
            </a>
        </li>
        {{/unless}}
        <li role="separator" class="divider"></li>
        <li class="performance tab">
            <a {{action 'onOpenCourseReport'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.report'}} ">
            {{gru-icon name='insert_chart'}}
            </a>
        </li>
        {{#unless class.isArchived}}
        <li role="separator" class="divider"></li>
        <li class="class-management tab">
            <a {{action 'selectItem' 'class-management'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management' }}">
                    {{gru-icon name='school'}}
                    <span class="add-info" >
                     &nbsp; {{t 'teacher-landing.class.class-management' }}
                    </span>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        {{/unless}}

        {{#if navTitle}}
            <ul class="nav navbar-nav navbar-center">
                <li class="studyplayer-title">
                    <a style=" opacity:1; ">
                        <span>
                            {{navTitle}}
                        </span>
                    </a>
                </li>
            </ul>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          <li role="separator" class="divider"></li>
          <li>
            <div class="navbar-performance" {{action 'onOpenCourseReport'}}>
            {{charts/gru-performance-chart performanceSummary=class.performanceSummary }}
            </div>
          </li>
        <li role="separator" class="divider"></li>
        <li class="class-info">
            <a {{action 'selectItem' 'class-info'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management-tab.class-information'}}">
                <img src='/assets/gooru/info-outline-white.png'>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        </ul>
    </ul>


</div>
</div>
