{{gru-take-tour steps=steps containerClass='class-view-tour'}}
<div class="student class">
  <div class="header clearfix">
    <div class="go-back-container">
      {{#link-to 'student-home' class="back-to"}}
        {{gru-icon name='arrow_back'}}
        {{t 'student-landing.class.back-to'}}
      {{/link-to}}
    </div>
    <h1>{{class.title}}</h1>
    <div class="code">{{class.code}}</div>

    <div class="panel panel-default panel-primary announcements">
      <div class="panel-heading">{{t 'common.announcements'}}</div>
      <div class="panel-body">
        <div class="greeting">
          <span>{{class.greeting}}</span>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-primary graphics">
      <div class="panel-heading">{{t 'common.overall-performance'}}</div>
      <div class="panel-body">
        <div class="graphic performance">
          {{charts.gru-bubble-chart
            content= (if class.performanceSummary (concat class.performanceSummary.score '%') '--')
            color=(grade-color class.performanceSummary.score)
          }}
          <span class="legend">{{t 'teacher-landing.class.performance'}}</span>
        </div>
        <div class="graphic completed">
          {{charts.gru-radial-chart
          value=class.performanceSummary.totalCompleted
          minValue=0
          maxValue=class.performanceSummary.total}}
          <span class="legend">{{t "common.completed"}}</span>
        </div>
        <div class="graphic improvement">
        </div>
      </div>
    </div>
  </div>

  {{student.class.gru-class-navigation
    class=class
    onItemSelected="selectMenuItem"
    onCollapseExpandClicked="toggleHeader"
    selectedMenuItem=menuItem}}

  <div class="content">
    {{outlet}}
  </div>
</div>
