<div class="student class">
  {{gru-take-tour steps=steps containerClass='class-view-tour'}}
  <div class="header clearfix">
    <div class="go-back-container">
      {{#link-to 'student-home' class="back-to"}}
        {{gru-icon name='arrow_back'}}
        {{t 'student-landing.class.back-to'}}
      {{/link-to}}
      <h1>{{class.title}}</h1>
    </div>
    <div class="panel panel-default panel-primary classroom-information">
      <div class="panel-body">
        <div class="course-image">
          {{#if course.thumbnailUrl}}
            <img src="{{course.thumbnailUrl}}"/>
          {{else}}
            <div class="no-course-image"></div>
          {{/if}}
        </div>
        <div class="course-name">
          {{#if course.title}}
            {{{truncate text=course.title maxLength=50}}}
          {{else}}
            {{t 'student-landing.class.no-course'}}
          {{/if}}
        </div>
        <div class="counts-container">
          <div class="count">
            {{#if hasUnits}}
              {{gru-icon tooltipTitle='common.unit' name="format_align_center"}}
              <span>{{course.unitCount}}</span>
            {{/if}}
          </div>
          <div class="count">
            {{#if hasStudents}}
              {{gru-icon tooltipTitle='common.student' name="people"}}
              <span>{{class.countMembers}}</span>
            {{/if}}
          </div>
        </div>
        <div class="teacher-profile">
          {{#if class.owner}}
            <img class="img-responsive" src="{{class.owner.avatarUrl}}">
            <span class="owner-name">
              {{#if class.owner.firstName}}
                {{truncate text=(concat class.owner.firstName ' ' class.owner.lastName) maxLength=25}}
              {{else}}
                {{class.owner.username}}
              {{/if}}
            </span>
          {{/if}}
        </div>
        <div class="taxonomy-standards">
          {{#if course.tags.length}}
            {{taxonomy.gru-taxonomy-tag-list tags=course.tags tagsVisible=1 isInCard=true hasTooltips=false}}
          {{/if}}
        </div>
        <div class="class-code">
          <div class="title">{{t 'student-landing.class-code'}}</div>
          <div class="code">{{class.code}}</div>
        </div>
        <div class="performance-container">
          {{charts/gru-performance-chart performanceSummary=class.performanceSummary routeToGo="student.class.performance"}}
        </div>
      </div>
    </div>
  </div>
  {{#if class}}
    {{student.class.gru-class-navigation
      class=class
      onItemSelected="selectMenuItem"
      onCollapseExpandClicked="toggleHeader"
      selectedMenuItem=menuItem
      expand=true}}
  {{else}}
  {{student.class.gru-class-navigation
    class=class
    onItemSelected="selectMenuItem"
    onCollapseExpandClicked="toggleHeader"
    selectedMenuItem=menuItem}}
  {{/if}}
  <div class="content">
    {{outlet}}
  </div>
</div>
