{{gru-take-tour steps=steps containerClass='class-view-tour'}}
<div class="student class">
  <div class="header clearfix">
    <div class="go-back-container">
      {{#link-to 'student-home' class="back-to"}}
        {{gru-icon name='arrow_back'}}
      {{/link-to}}
      <h1>{{class.title}}</h1>
    </div>
    <div class="panel panel-default panel-primary classroom-information">
      <div class="panel-body">
        <div class="course-image pull-left">
          <img src="{{course.thumbnailUrl}}"/>
        </div>
        <div class="course-name pull-left">
          {{#if course}}
            {{{truncate text=course.title maxLength=60}}}
          {{else}}
            {{t 'student-landing.class.no-course'}}
          {{/if}}
        </div>
        <div class="units-count pull-left">
          {{gru-icon name="format_align_center"}}
          <span>{{course.unitCount}}</span>
        </div>
        <div class="taxonomy-standards pull-left">
          {{#if course.tags.length}}
            {{taxonomy.gru-taxonomy-tag-list tags=course.tags tagsVisible=1 isInCard=true hasTooltips=false}}
          {{/if}}
        </div>
        <div class="teacher-profile pull-left">
          {{#if class.owner}}
            <img class="img-responsive" src="{{class.owner.avatarUrl}}">
            <span class="owner-name">
              {{#if class.owner.firstName}}
                {{truncate text=class.owner.firstName maxLength=10}}&nbsp;{{truncate text=class.owner.lastName maxLength=10}}
              {{else}}
                {{class.owner.username}}
              {{/if}}
            </span>
          {{/if}}
        </div>
        <div class="students-count pull-left">
          {{gru-icon name="people"}}
          <span>{{t 'cards.gru-collection-card.students' count=class.countMembers}}</span>
        </div>
        <div class="performance-container pull-right">
          {{charts/gru-performance-chart performanceSummary=class.performanceSummary}}
        </div>
      </div>
    </div>
  </div>
  {{#if class}}
    {{student.class.gru-class-navigation
      class=class
      onItemSelected="selectMenuItem"
      onCollapseExpandClicked="toggleHeader"
      selectedMenuItem=menuItem
      expand=true}}
  {{else}}
  {{student.class.gru-class-navigation
    class=class
    onItemSelected="selectMenuItem"
    onCollapseExpandClicked="toggleHeader"
    selectedMenuItem=menuItem}}
  {{/if}}
  <div class="content">
    {{outlet}}
  </div>
</div>
