<div class="student class">
  <div class="header">
    <div class="first-column">
      <h1>{{class.title}}</h1>
      <div class="code">{{class.code}}</div>
      <div class="boxes">
        <div class="performance">
          {{charts.gru-bubble-chart content=(concat averageScore '%') color=(grade-color averageScore)}}
        </div>
      </div>
    </div>
    <div class="second-column">

    </div>
  </div>
  <div class="class-navigator">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active activity-list tab">
        <a href="#" role="tab" data-toggle="tab">
          <span class="lead">{{t 'student-landing.class.activity-list'}}</span>
        </a>
      </li>
      <li class="performance tab">
        <a href="#" role="tab" data-toggle="tab">
          <span class="lead">{{t 'student-landing.class.performance'}}</span>
        </a>
      </li>
      <li class="classmates tab">
        <a href="#" role="tab" data-toggle="tab">
          <span class="lead">{{t 'student-landing.class.classmates'}}</span>
        </a>
      </li>
      <li class="content-map tab">
        <a href="#" role="tab" data-toggle="tab">
          <span class="lead">{{t 'student-landing.class.content-map'}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>
