<div class="student-independent-container">
  <div class="header clearfix">
    <div class="go-back-container">
      {{#link-to 'student-independent-learning.learning-base' class="back-to" }}
        {{gru-icon name='arrow_back'}} {{t 'student-landing.class.back-to-independent'}}
      {{/link-to}}
    </div>
    <div class="panel panel-default panel-primary course-information">
      <div class="panel-body">
        <div class="course-image">
          {{#if course.thumbnailUrl}}
            <img src="{{course.thumbnailUrl}}" />
          {{else}}
            <div class="no-course-image"></div>
          {{/if}}
        </div>
        <div class="course-name">
          {{{truncate text=course.title maxLength=50}}}
        </div>
        <div class="counts-container">
          <div class="count">
            {{#if hasUnits}}
              {{gru-icon tooltipTitle='common.unit' name="format_align_center"}}
              <span>{{course.unitCount}}</span>
            {{/if}}
          </div>
        </div>
        <div class="teacher-profile">
          {{#if course.owner}}
            <div class="title pull-left">
              {{t (if course.sameOwnerAndCreator "common.created-by" "common.remixed-by")}}
            </div>
            {{#link-to 'profile.content.courses' course.owner.id class="pointer pull-left profile-container" tagName="div" }}
              <img class="img-responsive pull-left" src="{{course.owner.avatarUrl}}">
              <span class="owner">{{course.owner.displayName}}</span>
            {{/link-to}}
          {{/if}}
        </div>
        <div class="taxonomy-standards">
          {{#if course.tags.length}}
            {{taxonomy.gru-taxonomy-tag-list tags=course.tags tagsVisible=1 isInCard=true hasTooltips=false}}
          {{/if}}
        </div>
        <div class="performance-container pull-right">
          {{charts/gru-performance-chart performanceSummary=performance routeToGo="student.independent.performance"}}
        </div>
      </div>
    </div>
  </div>
  {{student.class.gru-class-navigation
    onItemSelected="selectMenuItem"
    onCollapseExpandClicked="toggleHeader"
    selectedMenuItem=menuItem
    expand=true}}
  <div class="content">
    {{outlet}}
  </div>
</div>
