<div class="app-dropdown">
  <!-- Split button -->
  <div class="btn-group {{btn-group-size}} {{keep-open}}">
    {{#if split}}
      <button type="button" class="btn {{btn-type}} ellipsis selected-text" data-toggle="dropdown">
        {{selectedText}}
      </button>
      <button type="button" class="btn {{btn-type}} dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    {{else}}
      <button type="button" class="btn {{btn-type}} ellipsis selected-text dropdown-toggle"
              data-toggle="dropdown">
        {{selectedText}} <span class="caret"></span>
      </button>
    {{/if}}
    {{#if hasBlock}}
      {{yield (action "onItemSelected")}}
    {{else}}
      <ul class="dropdown-menu">
        {{#if prompt}}
          <li class="dropdown-header">{{prompt}}</li>
        {{/if}}
        {{#each items as |item|}}
          {{#if item.disabled}}
            <li class="disabled"><a class="item">{{ item.label }}</a></li>
          {{else}}
            {{#if item.selected}}
              <li class="selected"><a class="item" href="#" {{action 'onItemSelected' item }}>{{ item.label }}</a></li>
            {{else}}
              <li><a class="item" href="#" {{action 'onItemSelected' item }}>{{ item.label }}</a></li>
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
