<footer class="app-footer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-center-block">
            <div class="row ma-md-8 ma-sm-4 row-eq-height">
                <div class="logoColumn col-md-4 col-sm-3 pa-md-10 pa-sm-10 footercolum">
                    <div class="imgLogo"></div>
                    <p>{{t "footer.footerDescription"}}</p>
                </div>
                <div class="company col-md-2 col-sm-2 footercolum ">
                    <h4 class="text-center">{{t "footer.company"}}</h4>
                    <ul>
                        <li>
                            <a class="about">{{t "footer.aboutGooru"}}</a>
                        </li>
                        <li>
                            <a class="careers">{{t "footer.careers"}}</a>
                        </li>
                        <li>
                            <a class="supportCenter">{{t "footer.supportCenter"}}</a>
                        </li>
                        <li>
                            <a class="contactUs">{{t "footer.contactUs"}}</a>
                        </li>
                    </ul>
                </div>
                <div class="community col-md-2 col-sm-3 footercolum">
                    <h4 class="text-center">{{t "footer.community"}}</h4>
                    <ul>
                        <li>
                            <a class="districts">{{t "footer.districts"}}</a>
                        </li>
                        <li>
                            <a class="partners">{{t "footer.partners"}}</a>
                        </li>
                        <li>
                            <a class="coaches">{{t "footer.coaches"}}</a>
                        </li>
                        <li>
                            <a class="events">{{t "footer.events"}}</a>
                        </li>
                    </ul>
                </div>
                <div class="legal col-md-2 col-sm-2 footercolum">
                    <h4 class="ma-md-left-20">{{t "footer.legal"}}</h4>
                    <ul>
                        <li>
                            <a class="terms">{{t "footer.terms"}}</a>
                        </li>
                        <li>
                            <a class="privacy">{{t "footer.privacy"}}</a>
                        </li>
                        <li>
                            <a class="copyright">{{t "footer.Copyright"}}</a>
                        </li>
                    </ul>
                </div>
                <div class="connect col-md-2 col-sm-2 footercolum">
                    <h4 class="text-center">{{t "footer.connect"}}</h4>
                    <div class="row  ma-md-8 ma-sm-8">
                        <div class=" col-md-6 col-sm-6">
                            <a class="social facebook"></a>
                        </div>
                        <div class=" col-md-6 col-sm-6">
                            <a class="social twitter"></a>
                        </div>

                    </div>
                    <div class="row ma-md-8 ma-sm-8">
                        <div class=" col-md-6 col-sm-6">
                            <a class="social youtube"></a>
                        </div>
                        <div class=" col-md-6 col-sm-6">
                            <a class="social google"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>