<header class="app-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
      </div>
      <div class="navbar-form navbar-left search-navbar-form">
        <div class="form-group">
          {{input type="text" class="form-control search-input"
              value=term
              placeholder=(t "header.searchForTopic") spellcheck="true"}}
        </div>
        <button type="button" class="btn btn-primary search-button" alt="{{t "common.search"}}"
          {{action 'onSearch'}} title="{{t "common.search"}}">
          {{t "common.search"}}
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right menu-navbar">
          <li>
            <a href="#" class="navbar-link libraries-link">{{t "common.libraries"}}</a>
          </li>
          <li>
            <a href="#" class="navbar-link my-classes-link">{{t "common.myClasses"}}</a>
          </li>
          <li>
            <a href="#" class="navbar-link my-content-link">{{t "common.myContent"}}</a>
          </li>
          {{#if user}}
            <li>
              <a href="#" class="profile" title="{{ user.username }}">
                <i class="icon pull-left">&nbsp;</i>
                <span class="username text-white">{{ user.username }}</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="settings"></span>
              </a>
            </li>
          {{else}}
            <li>
              <a href="#" class="navbar-link login-link" data-toggle="modal"
                 data-target="#login-modal > .modal">
                {{t "common.login"}}
              </a>
            </li>
          {{/if}}
          <li class="hidden-sm">
            {{#link-to 'index' tagName='button' class="btn btn-primary navbar-btn sign-up-button"}} {{t "common.signUp"}} {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
{{#app-modal id="login-modal" title=(t "common.login") as |onClose|}}
  {{sign-in-form onAuthenticateAction="onAuthenticate" onSuccessAction=onClose}}
{{/app-modal}}



