<header class="app-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
      </div>
      <div class="navbar-form navbar-left search-navbar-form">
        <div class="form-group">
          <input type="text" class="form-control search-input" placeholder="{{t "header.searchForTopic"}}"
                 spellcheck="true">
        </div>
        <button type="button" class="btn btn-primary search-button" alt="{{t "common.search"}}"
                title="{{t "common.search"}}">{{t "common.search"}}</button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right menu-navbar">
          <li>
            <a href="#" class="navbar-link libraries-link">{{t "common.libraries"}}</a>
          </li>
          <li>
            <a href="#" class="navbar-link my-classes-link">{{t "common.myClasses"}}</a>
          </li>
          <li>
            <a href="#" class="navbar-link my-content-link">{{t "common.myContent"}}</a>
          </li>
          {{#if currentSession.isDefaultUser}}
            <li>
              <a href="#" class="navbar-link login-link" data-toggle="modal"
                 data-target="#login-modal > .modal">
                {{t "common.login"}}
              </a>
            </li>
          {{else}}
            <li>
              <a href="#" class="profile" title="{{currentSession.user.username}}">
                <i class="icon pull-left">&nbsp;</i>
                <span class="username text-white">{{currentSession.user.username}}</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="settings"></span>
              </a>
            </li>
            <li>
              <a {{action "onInvalidateSession"}}> {{t "common.logout"}}</a>
            </li>
          {{/if}}
          <li class="hidden-sm">
            <a href="#" class="btn btn-primary navbar-btn sign-up-button" data-toggle="modal"
               data-target="#sign-up-modal > .modal">
              {{t "common.signUp"}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

{{#app-modal id="login-modal" title=(t "common.login") onCloseAction="onCloseModalAction" as |onClose|}}
  {{sign-in-form
      onAuthenticateAction=onAuthenticate
      onSuccessAction=onClose}}
{{/app-modal}}

{{#app-modal id="sign-up-modal" title=(t "common.signUp") as |onClose|}}
  {{sign-up-form
      onSignUpAction=onSignUp
      onSuccessAction=onClose}}
{{/app-modal}}
