<div class="collection-results">
    <div class="row bg-gray-light-2">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-center-block">
                <div class="search-results">Search Results for math ({{results.length}})</div>
                {{#each results as |item|}}
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-md-3 col-sm-4  pa-0 view-container">
                                    <i class="fa fa-retweet"></i><span class="remixes">{{ item.remixes }}</span>
                                    <i class="fa fa-eye"></i><span class="views">{{ item.views }}</span>
                                </div>
                                <div class="col-md-9 col-sm-8 pa-0 remix-button btn-group btn-group-sm">
                                    <button type="button" class="btn btn-primary pull-right" id="btnRemix" data-toggle="tooltip" data-placement="bottom" title="This collection could use a bit of your signature touch.">Remix</button>
                                </div>
                            </div>
                            <div class="panel-body pa-0">
                                <div class="col-md-4 col-sm-4 pa-0 collection-img">
                                    <a href ="{{ item.url }}" target="_blank"><img src="{{ item.image }}"></a>
                                </div>
                                <div class="col-md-8 col-sm-8 collection-desc">
                                    <div class="title ma-top-1" alt="{{ item.title }}">{{ item.title }}</div>
                                    <div class="details">
                                        {{#if item.authorImage }}
                                            <img src="{{ item.authorImage }}">
                                        {{else}}
                                            <img src="assets/gooru/profile.png">
                                        {{/if}}
                                        <div class="author-name-link pa-left-2" alt="{{ item.author }}" title="{{ item.author }}">
                                            <a href="{{ item.profilePageUrl }}" target="_blank">{{ item.author }}</a>
                                        </div>
                                        <div class="author-name-team" data-toggle="tooltip" data-placement="bottom" title="{{ item.author }}">Team</div>
                                    </div>
                                    <div class="description" title="{{ item.description }}" alt="{{ item.description }}">{{ item.description }}</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="standard-container pa-left-5 pa-sm-0">
                                    {{#if item.standards }}
                                         {{collection-results-standards result=item standards=item.standards}}
                                    {{/if}}
                                </div>
                                {{#if item.resources }}
                                    {{collection-results-resources resources=item.resources}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>