<div class="grade-dropdown">
  <!-- Split button -->
  <div class="btn-group {{btn-group-size}} {{keep-open}}">
    {{#if split}}
      <button type="button" class="btn {{btn-type}} ellipsis selected-text" data-toggle="dropdown">
        {{selectedText}}
      </button>
      <button type="button" class="btn {{btn-type}} dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    {{else}}
      <button type="button" class="btn {{btn-type}} ellipsis selected-text dropdown-toggle"
              data-toggle="dropdown">
        {{selectedText}} <span class="caret"></span>
      </button>
    {{/if}}
    <ul class="dropdown-menu no-close">
      {{#if prompt}}
        <li class="dropdown-header">{{prompt}}</li>
      {{/if}}
      {{#each tree as |item|}}
        <li class="dropdown-item clearfix no-close">
          {{#if item.selected}}
          {{! when having levels should notify the event to the grade-dropdown}}
            <span class="item parent selected" {{action 'onItemSelected' item }}>{{item.label}}</span>
          {{else}}
            <span class="item parent" {{action 'onItemSelected' item }}>{{item.label}}</span>
          {{/if}}
          {{#if item.data.levels}}
            {{#each item.data.levels as |levelItem|}}
              {{#if levelItem.selected}}
                <span class="item level selected" {{action 'onItemSelected' levelItem }}>{{levelItem.label}}</span>
              {{else}}
                <span class="item level" {{action 'onItemSelected' levelItem }}>{{levelItem.label}}</span>
              {{/if}}
            {{/each}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
