<div class="row text-center forgot-password-section">
    <h3 class="title">{{t "forgot-password-popup.title"}}</h3>
    <div class="col-md-10 col-center-block col-sm-10 pa-md-10 pa-sm-10">
        <p class="description">{{t "forgot-password-popup.description"}}</p>
       <div class="row">
           <div class="col-md-9 col-sm-9 col-center-block">
               <form>
                   <div class="form-group">
                     {{input
                     id="email_username"
                     placeholder=(t "login.usernameOrEmail")
                     class="form-control text-box username-or-email"
                     }}
                   </div>
                   <div class="form-group text-center">
                       <button type="submit" class="btn btn-primary forgot-password-submit">{{t "common.submit"}}</button>
                   </div>
               </form>
           </div>
       </div>
    </div>
</div>
<div class="row text-center footer">
    <div class="col-md-12 col-sm-12">
        <span class="footer-description">{{t "forgot-password-popup.footer"}}</span> <a class="support-mail" href="mailto:support@goorulearning.org" target="_top">{{t "forgot-password-popup.mail"}}</a>
    </div>
</div>
