<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default row">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
        </div>
        <div class="search-navbar-form">
          <form {{action "searchTerm" on="submit"}} class="form-inline">
            <div class="form-group">
              {{material-design-icon name='search'}}
              <div class="input-group">
                {{input type="text" class="form-control search-input"
                  value=term
                  placeholder=(t "common.searchForTopic") spellcheck="true"}}
              </div>
            </div>
          </form>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav menu-navbar">
            {{#if session.isAnonymous}}
              <li class="navbar-nav-list">
                <button class="btn btn-info navbar-btn login-link login-modal" {{action "showModal" "gru-sign-in"}}>
                  {{t "common.login"}}
                </button>
              </li>
              <li class="navbar-nav-list no-hover">
                <button
                    class="btn btn-primary navbar-btn sign-up-button" {{action "showModal" "gru-user-registration"}}>
                  {{t "common.signUp"}}
                </button>
              </li>
            {{else}}
              <li class="navbar-nav-list visible-md visible-lg">
                {{#link-to 'classes' class="navbar-link my-classes-link"}} {{t "common.myClasses"}} {{/link-to}}
              </li>
              <li class="navbar-nav-list  visible-md visible-lg">
                <div class="dropdown">
                    <a class="profile" data-target="#profile-dropdown" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon pull-left">&nbsp;</i>
                        <span class="username">{{session.userData.username}}</span>
                    </a>
                    <ul class="dropdown-menu " id="profile-dropdown">
                        <li class="navbar-nav-list">
                          {{#link-to 'profile.about' session.userData.gooruUId class="navbar-link"}}
                              <span class="username">{{session.userData.username}}</span>
                          {{/link-to}}
                        </li>
                        <li class="navbar-nav-list">
                            <a class="navbar-link" {{action "logout"}}> {{t "common.logout"}}</a>
                        </li>
                    </ul>
                </div>
              </li>
              <li class="navbar-nav-list hidden-md hidden-lg">
                  <div class="btn-group drop-menu">
                      <button class="btn dropdown-toggle" data-toggle="dropdown">{{material-design-icon name='menu'}}</button>
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li class="navbar-nav-list">
                            {{#link-to 'classes' class="navbar-link my-classes-link"}} {{t "common.myClasses"}} {{/link-to}}
                          </li>
                          <li class="navbar-nav-list">
                            {{#link-to 'profile.about' session.userData.gooruUId class="navbar-link"}}
                                <i class="icon pull-left">&nbsp;</i>
                                <span class="">{{session.userData.username}}</span>
                            {{/link-to}}
                          </li>
                          <li class="navbar-nav-list">
                              <a class="navbar-link" {{action "logout"}}> {{t "common.logout"}}</a>
                          </li>
                      </ul>
                  </div>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

