<div class="col-md-10 col-sm-11 col-xs-12 col-center-block">
  <div class="row ma-md-8 ma-sm-4 row-eq-height">
    <div class="logoColumn col-md-4 col-sm-4 col-xs-12 footercolum">
      <div class="imgLogo"></div>
      <p>{{t "footer.footerDescription"}}</p>
    </div>
    <div class="company col-md-2 col-sm-2 col-xs-12 footercolum pa-md-left-25 pa-sm-left-15">
      <h5>{{t "footer.company"}}</h5>
      <ul>
        <li>
          <a class="about">{{t "footer.aboutGooru"}}</a>
        </li>
        <li>
          <a class="careers">{{t "footer.careers"}}</a>
        </li>
        <li>
          <a class="supportCenter">{{t "footer.supportCenter"}}</a>
        </li>
        <li>
          <a class="contactUs">{{t "footer.contactUs"}}</a>
        </li>
      </ul>
    </div>
    <div class="community col-md-2 col-sm-3 col-xs-12 footercolum pa-md-left-25 pa-sm-left-15">
      <h5>{{t "footer.community"}}</h5>
      <ul>
        <li>
          <a class="districts">{{t "footer.districts"}}</a>
        </li>
        <li>
          <a class="partners">{{t "footer.partners"}}</a>
        </li>
        <li>
          <a class="coaches">{{t "footer.coaches"}}</a>
        </li>
        <li>
          <a class="events">{{t "footer.events"}}</a>
        </li>
      </ul>
    </div>
    <div class="legal col-md-2 col-sm-2 col-xs-12 footercolum pa-md-left-15">
      <h5>{{t "footer.legal"}}</h5>
      <ul>
        <li>
          <a class="terms">{{t "footer.terms"}}</a>
        </li>
        <li>
          <a class="privacy">{{t "footer.privacy"}}</a>
        </li>
        <li>
          <a class="copyright">{{t "footer.Copyright"}}</a>
        </li>
      </ul>
    </div>
    <div class="connect col-md-2 col-sm-2 col-xs-12 footercolum pa-md-left-25 pa-sm-left-9 pa-md-right-0">
      <h5>{{t "footer.connect"}}</h5>

      <div class="row ma-md-top-8 ma-md-left-0 ma-sm-left-4 ma-md-right-0">
        <div class=" col-md-5 col-sm-6 pa-left-0 ma-sm-3 ma-md-0">
          <a class="social facebook"></a>
        </div>
        <div class=" col-md-5 col-sm-6 pa-sm-left-0 ma-sm-3 ma-md-0">
          <a class="social twitter"></a>
        </div>
      </div>
      <div class="row ma-md-top-8 ma-md-left-0 ma-sm-left-4 ma-md-right-0">
        <div class=" col-md-5 col-sm-6 pa-left-0 ma-sm-3 ma-md-0">
          <a class="social youtube"></a>
        </div>
        <div class=" col-md-5 col-sm-6 pa-sm-left-0 ma-sm-3 ma-md-0">
          <a class="social google"></a>
        </div>
      </div>
    </div>
  </div>
</div>
