<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>

<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>

<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>

<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>

<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>

<div class="item">
  <div class="context ellipsis">
    <span class="prefix">U1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">L1</span><span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <span class="prefix">A3</span><span class="name">: Fish in the Ocean</span>
  </div>
  <div class="question ellipsis">
    <span class="greater-than">{{gru-icon name='chevron_right'}}</span>
    <a><span class="prefix">Question 11 </span>(10 students)</a>
  </div>
</div>
