
  <nav id='subject-navbar' class="navbar navbar-default" >
    <ul class="nav navbar-nav subject-filters">
      {{#each formattedContent as |content index|}}
        {{#gru-scroll id=(concat "subject-link-" index) to=(concat "#featured-subject-" index) class=(if (eq index 0) "selected subject-menu-option" "subject-menu-option") offset='175' tagName="li"}}
        <a>
          <span>{{content.category}}</span><br>
          <span>{{content.subject}}</span>
        </a>
        {{/gru-scroll}}
      {{/each}}
     </ul>
  </nav>

  {{#each formattedContent as |content index|}}
    <div id="featured-subject-{{index}}" class="subject-container">
      <p class="subject-title">{{content.subject}}</p>
      <div class="course-container">
        {{#each content.courses as |course index|}}
          {{cards.gru-course-card course=course}}
        {{/each}}
      </div>
    </div>
  {{/each}}
