<table>
  <col>

  {{#each firstTierHeaders as |header|}}
    <colgroup span="{{secondTierHeadersVisible}}"></colgroup>
  {{/each}}

  <tr class="first-tier">
    {{#if rowHeadersHeader}}
      <td></td>
    {{else}}
      <td rowspan="2"></td>
    {{/if}}

    {{#each firstTierHeaders as |header|}}
      <th colspan="{{secondTierHeadersVisible}}"
          scope="colgroup"
        {{action "selectFirstTierColHeader" header.value}}>{{header.label}}</th>
    {{/each}}
  </tr>

  <tr class="second-tier">
    {{#if rowHeadersHeader}}
      <th scope="col"
          class="row-header"
        {{action "updateSortCriteria" 0 -1}}>
        <span>
          {{rowHeadersHeader.label}}
          <i class="fa fa-sort"></i>
          <i class="fa fa-sort-asc"></i>
          <i class="fa fa-sort-desc"></i>
        </span>
      </th>
    {{/if}}

    {{#each firstTierHeaders as |firstTierHeader firstTierIndex|}}
      {{#each secondTierHeaders as |secondTierHeader secondTierIndex|}}
        <th scope="col"
            class="{{secondTierHeader.value}} hidden"
          {{action "updateSortCriteria" firstTierIndex secondTierIndex}}>
          <span>
            {{secondTierHeader.label}}
            <i class="fa fa-sort"></i>
            <i class="fa fa-sort-asc"></i>
            <i class="fa fa-sort-desc"></i>
          </span>
        </th>
      {{/each}}
    {{/each}}
  </tr>

  {{#each sortedData as |row|}}
    <tr class="data">
      <th scope="row"
        {{action "selectRowHeader" row.id}}>
        <span>{{row.header}}</span>
      </th>

      {{#each row.content as |value|}}
        <td class="hidden">{{{value}}}</td>
      {{/each}}

    </tr>
  {{/each}}

</table>
