<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default row">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
        </div>
        <div class="search-navbar-form">
          <form {{action "searchTerm" on="submit"}} class="form-inline">
            <div class="form-group">
              <span>{{gru-icon name='search'}}</span>
              <div class="input-group">
                {{input type="text" class="form-control search-input"
                  value=term
                  placeholder=(t "common.search-placeholder") spellcheck="true"}}
              </div>
            </div>
          </form>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav menu-navbar">
            {{#if session.isAnonymous}}
              <li class="navbar-nav-list">
                <button class="btn btn-info navbar-btn login-link login-modal" {{action "showModal" "gru-sign-in"}}>
                  {{t "common.login"}}
                </button>
              </li>
              <li class="navbar-nav-list no-hover">
                <button
                    class="btn btn-primary navbar-btn sign-up-button" {{action "showModal" "gru-user-registration"}}>
                  {{t "common.signUp"}}
                </button>
              </li>
            {{else}}
              <li class="navbar-nav-list visible-md visible-lg">
                {{#link-to 'classes' class="navbar-link my-classes-link"}} {{t "common.classes"}} {{/link-to}}
              </li>
              <li class="navbar-nav-list visible-md visible-lg dropdown">
                  <a class="profile dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="icon pull-left">&nbsp;</i>
                      <span class="username">{{session.userData.username}}</span>
                      {{gru-icon name='keyboard_arrow_down'}}
                  </a>
                  <ul class="dropdown-menu pull-right" role="menu" id="profile-dropdown">
                      <li class="navbar-nav-list">
                        {{#link-to 'profile.about' session.userData.gooruUId class="navbar-link"}}
                            <span class="username">{{session.userData.username}}</span>
                        {{/link-to}}
                      </li>
                      <li class="navbar-nav-list">
                          <a class="navbar-link" {{action "logout"}}> {{t "common.logout"}}</a>
                      </li>
                  </ul>
              </li>
              <li class="navbar-nav-list hidden-md hidden-lg dropdown collapsed">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{gru-icon name='menu'}}</a>
                  <ul class="dropdown-menu pull-right" role="menu">
                      <li class="navbar-nav-list">
                        {{#link-to 'classes' class="navbar-link my-classes-link"}} {{t "common.classes"}} {{/link-to}}
                      </li>
                      <li class="navbar-nav-list">
                        {{#link-to 'profile.about' session.userData.gooruUId class="navbar-link"}}
                            <i class="icon pull-left">&nbsp;</i>
                            <span class="">{{session.userData.username}}</span>
                        {{/link-to}}
                      </li>
                      <li class="navbar-nav-list">
                          <a class="navbar-link" {{action "logout"}}> {{t "common.logout"}}</a>
                      </li>
                  </ul>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

