<div class="sign-up-form">
    <div class="sign-up-popup-main">

            <div class="sign-up-popup-content">
                <div class="sign-up-popup-welcome">Please fill out the following information.</div>
                <div class="sign-up-container">
                    <form {{action 'signUp' on='submit'}}>
                        <div class="row">
                          <div class="col-xs-6">
                            {{input
                                id="username"
                                value=model.username
                                placeholder='Username'
                                class="form-control"}}
                          </div>
                          {{datepicker-field
                              onSelectDateAction="onSelectDateOfBirthAction"
                              placeholder=(t "signUp.dateOfBirth")
                              class="col-xs-6"}}
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            {{input
                                id="firstName"
                                value=model.firstName
                                placeholder='First Name'
                                class='form-control'}}
                          </div>
                          <div class="col-xs-6">
                            {{input
                                id="lastName"
                                value=model.lastName
                                placeholder='Last Name'
                                class='form-control'}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            {{input
                                id="email"
                                value=model.emailId
                                placeholder='Email'
                                class='form-control'}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            {{input
                                id="password"
                                value=model.password
                                placeholder='Password'
                                class='form-control'
                                type='password'}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            {{input
                                id="re-password"
                                value=model.confirmedPassword
                                placeholder='Confirm Password'
                                class='form-control'
                                type='password'}}
                          </div>
                        </div>

                            {{role-radio-button onCheckRoleOptionAction="onCheckRoleOptionAction"}}

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-sign-up">Sign Up</button>
                            </div>


                        {{#if errorMessage}}
                            <div>
                                <strong>Sign Up failed:</strong> {{errorMessage}}
                            </div>
                        {{/if}}
                    </form>
                </div>

                <div class="have-account-container">
                    <span class="gwt-InlineLabel" id="lblAgree" alt="By clicking Sign Up, I agree to the" title="By clicking Sign Up, I agree to the">By clicking Sign Up, I agree to the </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkCopyRight" alt="Copyright Policy" title="Copyright Policy">Copyright Policy,</a>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkTermsAndPrivacy" alt="Terms of Service" title="Terms of Service">Terms of Service</a>
                    <span class="gwt-InlineLabel" id="spnAndText" alt="and" title="and">and </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkPrivacy" alt="Privacy Policy." title="Privacy Policy.">Privacy Policy.</a>
                </div>

            </div>
    </div>
</div>
