<div class="sign-up-form">
    <div class="sign-up-popup-main">

            <div class="sign-up-popup-content">
                <div class="sign-up-popup-welcome">Please fill out the following information.</div>
                <div class="sign-up-container">
                    <form {{action 'signUp' on='submit'}}>
                        <div>
                            <div class="sign-up-input-group col-width-fifty">
                              {{input value=model.username placeholder='Username' class='sign-up-form-control text-box'}}
                            </div>

                            {{date-field model=model}}

                        </div>
                            <div class="sign-up-input-group col-width-fifty">
                              {{input value=model.firstName placeholder='First Name' class='sign-up-form-control'}}
                            </div>
                            <div class="sign-up-input-group col-width-fifty">
                              {{input value=model.lastName placeholder='Last Name' class='sign-up-form-control'}}
                            </div>
                            <div class="sign-up-input-group col-width-hundred">
                              {{input value=model.emailId placeholder='Email' class='sign-up-form-control'}}
                            </div>
                            <div class="sign-up-input-group col-width-hundred">
                              {{input value=model.password placeholder='Password' class='sign-up-form-control' type='password'}}
                            </div>
                            <div class="sign-up-input-group col-width-hundred">
                              {{input value=model.confirmedPassword placeholder='Confirm Password' class='sign-up-form-control' type='password'}}
                            </div>

                            {{role-radio-button model=model}}

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-sign-up">Sign Up</button>
                            </div>


                        {{#if errorMessage}}
                            <div>
                                <strong>Sign Up failed:</strong> {{errorMessage}}
                            </div>
                        {{/if}}
                    </form>
                </div>

                <div class="have-account-container">
                    <span class="gwt-InlineLabel" id="lblAgree" alt="By clicking Sign Up, I agree to the" title="By clicking Sign Up, I agree to the">By clicking Sign Up, I agree to the </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkCopyRight" alt="Copyright Policy" title="Copyright Policy">Copyright Policy,</a>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkTermsAndPrivacy" alt="Terms of Service" title="Terms of Service">Terms of Service</a>
                    <span class="gwt-InlineLabel" id="spnAndText" alt="and" title="and">and </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkPrivacy" alt="Privacy Policy." title="Privacy Policy.">Privacy Policy.</a>
                </div>

            </div>
    </div>
</div>
