<div class="sign-up-form">
    <div class="sign-up-popup-main">
        <div class="sign-up-popup-inner">
            <div class="sign-up-popup-header">
                <div class="row">Sign Up!</div>
            </div>
            <div class="sign-up-popup-content">
                <div class="sign-up-popup-welcome">Please fill out the following information.</div>
                <div class="sign-up-container">
                    <form {{action 'signUp' on='submit'}}>
                        <div>
                            <div>
                              {{input value=model.username placeholder='Username' class='form-control text-box'}}
                            </div>

                            {{date-field model=model}}

                        </div>
                            <div>
                              {{input value=model.firstName placeholder='First Name' class='form-control text-box'}}
                            </div>
                            <div>
                              {{input value=model.lastName placeholder='Last Name' class='form-control text-box'}}
                            </div>
                            <div>
                              {{input value=model.emailId placeholder='Email' class='form-control text-box'}}
                            </div>
                            <div>
                              {{input value=model.password placeholder='Password' class='form-control text-box' type='password'}}
                            </div>
                            <div>
                              {{input value=model.confirmedPassword placeholder='Confirm Password' class='form-control text-box' type='password'}}
                            </div>

                            {{role-radio-button model=model}}

                            <button type="submit" class="primary">Sign Up</button>


                        {{#if errorMessage}}
                            <div>
                                <strong>Sign Up failed:</strong> {{errorMessage}}
                            </div>
                        {{/if}}
                    </form>
                </div>

                <div class="dont-have-account-container">
                    <div class="dont-have-account" alt="Don't have an account?" title="Don't have an account?">Don't have an account?</div>
                    <a alt="Sign Up here!" title="Sign Up here!">Sign Up here!</a>
                </div>

            </div>
        </div>
    </div>
</div>
