<div class="sign-up-form">
    <div class="sign-up-popup-main">

            <div class="sign-up-popup-content">
                <div class="sign-up-popup-welcome">Please fill out the following information.</div>
                <div class="sign-up-container">
                    <form {{action 'signUp' on='submit'}}>
                        <div class="row">
                          <div class="col-xs-6">
                            <input type="text"
                                   value={{username}}
                                   onblur={{action "usernameDidChange" value="target.value"}}
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="{{t 'signUp.usernameToolTip'}}"
                                   placeholder="{{t 'signUp.username'}}"/>
                          </div>
                          {{datepicker-field
                              onSelectDateAction="onSelectDateOfBirthAction"
                              placeholder=(t "signUp.dateOfBirth")
                              class="col-xs-6"}}
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            <input type="text"
                                value={{firstName}}
                                onblur={{action "firstNameDidChange" value="target.value"}}
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="{{t 'signUp.nameToolTip'}}"
                                placeholder="{{t 'signUp.firstName'}}"/>
                          </div>
                          <div class="col-xs-6">
                            <input type="text"
                                value={{lastName}}
                                onblur={{action "lastNameDidChange" value="target.value"}}
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="{{t 'signUp.nameToolTip'}}"
                                placeholder="{{t 'signUp.lastName'}}"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <input type="text"
                                value={{email}}
                                onblur={{action "emailDidChange" value="target.value"}}
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="{{t 'signUp.emailToolTip'}}"
                                placeholder="{{t 'signUp.email'}}"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <input type="password"
                                value={{password}}
                                onblur={{action "passwordDidChange" value="target.value"}}
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="{{t 'signUp.passwordToolTip'}}"
                                placeholder="{{t 'signUp.password'}}"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <input type="password"
                                value={{confirmedPassword}}
                                onblur={{action "rePasswordDidChange" value="target.value"}}
                                class="form-control"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="{{t 'signUp.passwordToolTip'}}"
                                placeholder="{{t 'signUp.rePassword'}}"/>
                          </div>
                        </div>

                        {{role-radio-button onCheckRoleOptionAction="onCheckRoleOptionAction"}}

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-sign-up">Sign Up</button>
                        </div>


                        {{#if errorMessage}}
                            <div>
                                <strong>Sign Up failed:</strong> {{errorMessage}}
                            </div>
                        {{/if}}
                    </form>
                </div>

                <div class="have-account-container">
                    <span class="gwt-InlineLabel" id="lblAgree" alt="By clicking Sign Up, I agree to the" title="By clicking Sign Up, I agree to the">By clicking Sign Up, I agree to the </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkCopyRight" alt="Copyright Policy" title="Copyright Policy">Copyright Policy,</a>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkTermsAndPrivacy" alt="Terms of Service" title="Terms of Service">Terms of Service</a>
                    <span class="gwt-InlineLabel" id="spnAndText" alt="and" title="and">and </span>
                    <a class="org-ednovo-gooru-client-mvp-authentication-SignUpCBundle-SignUp-termsAlignStyle" id="lnkPrivacy" alt="Privacy Policy." title="Privacy Policy.">Privacy Policy.</a>
                </div>

            </div>
    </div>
</div>
