<div class="sign-in-form">
    <h3>{{t "login.title"}}</h3>

    <div class="row">
        <div class="col-md-9 col-center-block login-form-box">
            <form {{action "authenticate" on="submit"}}>
                <div class="form-group">
                  {{input
                    id="signin_username"
                    value=username
                    placeholder=(t "login.usernameOrEmail")
                    class="form-control text-box"}}
                </div>
                <div class="form-group">
                  {{input
                    id="signin_password"
                    type="password"
                    value=password
                    placeholder=(t "login.password")
                    class="form-control text-box"}}
                </div>
                <div class="form-group">
                    <a alt="{{t "login.forgotPassword"}}"
                       title="{{t "login.forgotPassword"}}">{{t "login.forgotPassword"}}</a>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">{{t "common.login"}}</button>
                </div>
              {{#if errorMessage}}
                  <div class="form-group">
                      <span class="text text-danger">{{errorMessage}}</span>
                  </div>
              {{/if}}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="sign-up-here">{{t "login.haveAccount"}} <a href="#">{{t "login.signUpHere"}}</a> </span>
        </div>
    </div>
</div>