<ol>

  {{#each headerItems as |headerItem index|}}
    <li>
      <strong>{{headerItem.title}}</strong>
      <ul class="browse-panel level-{{plus-one index}}">

        {{#if (eq headerItem headerItems.lastObject)}}

          {{!-- last level browser items --}}
          {{#each headerItem.data as |browseItem|}}
            <li>
              <label>
                <input type="checkbox"
                       checked={{browseItem.isSelected}}
                       onclick={{action 'selectCheckableItem' browseItem}} />
                <div>
                  <strong>{{browseItem.title}}</strong>
                  <span>Maecenas commodo justo nec justo accumsan, quis faucibus velit tempus. Proin convallis mollis nisl, eu iaculis odio scelerisque ac. Phasellus pharetra lacus in pulvinar malesuada. Duis aliquet, ante non blandit imperdiet, ex massa dapibus ipsum, et iaculis massa turpis a neque.</span>
                </div>
              </label>

              {{#if browseItem.children.length}}
                <button data-toggle="collapse" class="collapsed" data-target="#children-{{browseItem.id}}">
                  {{gru-icon name='keyboard_arrow_up'}}
                  {{gru-icon name='keyboard_arrow_down'}}
                </button>
                <ul id="children-{{browseItem.id}}" class="collapse level-panel sublevel-1">

                  {{#each browseItem.children as |browseItemChild|}}
                    <li>
                      <label>
                        <input type="checkbox"
                               checked={{browseItemChild.isSelected}}
                               onclick={{action 'selectCheckableItem' browseItemChild}} />
                        <div>
                          <strong>{{browseItemChild.title}}</strong>
                          <span>Maecenas commodo justo nec justo accumsan, quis faucibus velit tempus. Proin convallis mollis nisl, eu iaculis odio scelerisque ac. Phasellus pharetra lacus in pulvinar malesuada. Duis aliquet, ante non blandit imperdiet, ex massa dapibus ipsum, et iaculis massa turpis a neque.</span>
                        </div>
                      </label>

                      {{#if browseItemChild.children.length}}
                        <button data-toggle="collapse" class="collapsed" data-target="#children-{{browseItemChild.id}}">
                          {{gru-icon name='keyboard_arrow_up'}}
                          {{gru-icon name='keyboard_arrow_down'}}
                        </button>
                        <ul id="children-{{browseItemChild.id}}" class="collapse level-panel sublevel-2">

                          {{#each browseItemChild.children as |browseItemGrandChild|}}
                            <li>
                              <label>
                                <input type="checkbox"
                                       checked={{browseItemGrandChild.isSelected}}
                                       onclick={{action 'selectCheckableItem' browseItemGrandChild}} />
                                <div>
                                  <span>{{browseItemGrandChild.title}}</span>
                                </div>
                              </label>
                            </li>
                          {{/each}}

                        </ul>
                      {{/if}}
                    </li>
                  {{/each}}

                </ul>
              {{/if}}
            </li>
          {{/each}}

        {{else}}

          {{#each headerItem.data as |browseItem|}}
            <li class="{{if browseItem.hasChildrenSelected 'selected'}} {{if browseItem.isActive 'active'}}">
              <a {{action 'selectInsideItem' browseItem}}>{{browseItem.title}}</a>
            </li>
          {{/each}}

        {{/if}}

      </ul>
    </li>
  {{/each}}

</ol>
