<div class="category">
  <span class="label required">{{t "common.category"}}</span>
  {{#if isEditing}}
    <div class="btn-group">
      {{#each categories as |categoryItem|}}
        {{#if (eq categoryItem.value category)}}
          <button type="button" class="btn btn-sm btn-primary" {{action 'setCategory' categoryItem.value}}>
            {{t categoryItem.label}}
          </button>
        {{else}}
          <button type="button" class="btn btn-sm btn-info" {{action 'setCategory' categoryItem.value}}>
            {{t categoryItem.label}}
          </button>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <div>
      {{#each categories as |categoryItem|}}
        {{#if (eq categoryItem.value category)}}
          <div class="btn-empty btn btn-sm">{{t categoryItem.label}}</div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="subject">
  <label>
    <span><span class="required">{{t 'taxonomy.gru-taxonomy-selector.primary-subject-and-course'}}</span>{{#if (and enableSecondarySubject (and isEditing (not hasSecondary)))}} <a {{action 'toggleSecondary'}}>{{t 'taxonomy.gru-taxonomy-selector.add-secondary'}}</a>{{/if}}</span>
  </label>
  {{#if isEditing}}
    <div class="btn-group clearfix">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#if primarySubject}}
          {{#if primarySubject.code}}
            {{primarySubject.title}}
          {{else}}
            {{primarySubject.subjectTitle}}
          {{/if}}
        {{else}}
          {{t 'taxonomy.gru-taxonomy-selector.choose-subject'}}
        {{/if}}
      </button>
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">{{t "common.toggle-dropdown"}}</span>
      </button>
      <ul class="dropdown-menu">
        {{#each subjectList as |subject|}}
          {{#if subject.children}}
            <li class="has-children">
              <a class="trigger">{{subject.subjectTitle}} {{gru-icon name="keyboard_arrow_right"}}</a>
              <ul class="dropdown-menu sub-menu">
                {{#each subject.children as |framework|}}
                  <li><a {{action 'setSubject' framework true}}>{{framework.title}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{else}}
            <li>
              <a {{action 'setSubject' subject true}}>{{subject.subjectTitle}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    {{#if (and enableSecondarySubject hasSecondary)}}
      <div class="secondary-subject">
        <button class="btn btn-link btn-sm remove" {{action "toggleSecondary"}}>{{gru-icon name="close"}}</button>
        <div class="btn-group clearfix">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if secondarySubject}}
              {{#if secondarySubject.code}}
                {{secondarySubject.title}}
              {{else}}
                {{secondarySubject.subjectTitle}}
              {{/if}}
            {{else}}
              {{t 'taxonomy.gru-taxonomy-selector.choose-subject'}}
            {{/if}}
          </button>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">{{t "common.toggle-dropdown"}}</span>
          </button>
          <ul class="dropdown-menu">
            {{#each subjectList as |subject|}}
              {{#if subject.children}}
                <li class="has-children">
                  <a class="trigger">{{subject.subjectTitle}} {{gru-icon name="keyboard_arrow_right"}}</a>
                  <ul class="dropdown-menu sub-menu">
                    {{#each subject.children as |framework|}}
                      <li><a {{action 'setSubject' framework}}>{{framework.title}}</a></li>
                    {{/each}}
                  </ul>
                </li>
              {{else}}
                <li>
                  <a {{action 'setSubject' subject}}>{{subject.subjectTitle}}</a>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="subjects">
      <button type="button" class="btn-empty btn btn-sm">Grade 3 Math</button>
      <button type="button" class="btn-empty btn btn-sm">Grade 4 Math</button>
    </div>
  {{/if}}
</div>