<div class="category">
  <span class="label required">{{t "common.category"}}</span>
  {{#if isEditing}}
    <div class="btn-group categories">
      {{#each categories as |category|}}
        {{#if (eq category.value selectedCategory)}}
          <button type="button" class="btn btn-sm btn-primary" {{action 'setCategory' category.value}}>
            {{t category.label}}
          </button>
        {{else}}
          <button type="button" class="btn btn-sm btn-info" {{action 'setCategory' category.value}}>
            {{t category.label}}
          </button>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <div class="categories">
      {{#each categories as |category|}}
        {{#if (eq category.value selectedCategory)}}
          <div class="btn-empty btn btn-sm category">{{t category.label}}</div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="subject clearfix">
  <label>
    <span><span class="required">{{t 'taxonomy.gru-taxonomy-selector.primary-subject-and-course'}}</span>{{#if (and enableSecondarySubject (and isEditing (not hasSecondary)))}} <a {{action 'toggleSecondary'}}>{{t 'taxonomy.gru-taxonomy-selector.add-secondary'}}</a>{{/if}}</span>
  </label>
  {{#if isEditing}}
    {{#if subjects.length}}
      {{taxonomy.gru-subject-picker
        subjects=subjects
        selectedSubject=selectedSubject
        onSubjectSelected='setSubject'
      }}
    {{/if}}
    {{#if (and showCourses selectedSubject subjectCourses)}}
      {{taxonomy.gru-subject-course-picker
        selectedSubject=selectedSubject
        courses=subjectCourses
        selectedTaxonomy=selectedTaxonomy
        onTaxonomySelected='selectTaxonomy'
      }}
    <div class="tags">
      {{#each editableTags as |tag|}}
        {{taxonomy.gru-taxonomy-tag model=tag onRemove=(action 'removeTag')}}
      {{/each}}
    </div>
    {{/if}}
  {{else}}
    {{#if showCourses}}
    <div class="tags">
      {{#each tags as |tag|}}
        {{taxonomy.gru-taxonomy-tag model=tag}}
      {{/each}}
    </div>
    {{/if}}
  {{/if}}
</div>