{{#if model.isReadonly}}
  <div>
    <b>{{model.label}}</b>
    <span>{{model.caption}}</span>
  </div>
{{else}}
  <button class="toggle" {{action 'toggleState'}}>
    <div>
      <b>{{model.label}}</b>
      <span>{{model.caption}}</span>
    </div>
  </button>
{{/if}}

{{#if model.isRemovable}}
  <button class="remove" {{action 'removeTag'}}>{{gru-icon name="clear"}}</button>
{{/if}}

