{{#if isReadonly}}
  <span>{{model.label}}</span>
{{else}}
  <button class="toggle" {{action 'toggleState'}}>{{model.label}}</button>
{{/if}}

{{#if isRemovable}}
  <button class="remove" {{action 'removeTag'}}>{{gru-icon name="clear"}}</button>
{{/if}}

