{{#if model.isReadonly}}
  <div class="content standard-tag">
    {{#if model.data}}
      {{#if showTitle}}
        {{#if model.data.title}}
          <p class="tag-title">
            <span class="label">{{model.data.label}}</span>
            <span class="code">{{model.data.caption}}</span>
          </p>
        {{else}}
          <p class="tag-title">
            <span class="label">{{model.data.label}}</span>
            <span class="code">{{model.data.caption}}</span>
          </p>
        {{/if}}
      {{else}}
        <b class="tag-label">{{model.data.label}}</b>
        <span class="tag-caption ellipsis">{{model.data.caption}}</span>
      {{/if}}
    {{else}}
      {{#if showTitle}}
        <p class="tag-title">
          <span class="label">{{model.code}}</span>
          <span class="code">{{model.frameworkCode}}</span>
        </p>
      {{else}}
        <b class="tag-label">{{model.code}}</b>
        <span class="tag-caption ellipsis">{{model.frameworkCode}}</span>
      {{/if}}
    {{/if}}

  </div>

  {{#if hasTooltip}}
    <div class="tag-tooltip">
      <span>{{model.data.title}}</span>
    </div>
  {{/if}}

{{else}}
  <button class="toggle {{if (and isEditing (not model.tagAlreadyexist) (not model.isRemovable))'added-tag' ''}}" {{action 'selectTag'}}>
    <div>
      {{#if model.data}}
      <b class="tag-label">{{model.data.label}}</b>
      <span class="tag-caption">{{model.data.caption}}</span>
       {{else}}
        <b class="tag-label" >{{model.code}}</b>
      <span class="tag-caption">{{model.frameworkCode}}</span>
       {{/if}}
    </div>
  </button>
{{/if}}

{{#if model.isRemovable}}
  <button class="remove" {{action 'removeTag'}}>{{gru-icon name="clear"}}</button>
{{/if}}
{{#if model.tagAlreadyexist}}
  <button class="add" {{action 'addTag'}}>{{gru-icon name="add"}}</button>
{{/if}}
