<div class="controller about view view-profile">
  <h4>
    {{#if isMyProfile}}
      <!-- <span class="edit-text">{{t "common.edit"}} </span> -->
      <div class="about-edit" title="Edit" data-toggle="tooltip">
        {{#link-to "profile.edit" tagName="a" class='hidden-xs'}}{{gru-icon name="mode_edit"}}{{/link-to}}
      </div>
    {{/if}}
  </h4>
  <div class="about-container row">
    <div class="personal-info col-md-6 col-xs-12">
      <div class="sub-title">
        {{t "common.personal-information"}}
      </div>
      <div class="info">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h6>{{t "common.first-name"}}</h6>
                <p class="first-name">{{profile.firstName}}</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h6>{{t "common.last-name"}}</h6>
                <p class="last-name">{{profile.lastName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
               <h6>{{t "sign-up.username"}}</h6>
                <div class="username">
                  <p> {{profile.username}}</p>
                </div>
              </div>
              <div class="avatar col-xs-12 col-sm-6">
                <div class="background" style={{safe-html (concat "background-image: url(" profile.avatarUrl ")")}}></div>
                <div class="image-container"><img class="img-responsive" src="{{profile.avatarUrl}}"/></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h6>{{t "common.biography"}}</h6>
                <div class="bio">
                  <p>
                    {{#if profile.aboutMe}}
                      {{profile.aboutMe}}
                    {{else}}
                        <span class="italic">{{t "common.not-added"}}</span>
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="school-info col-md-6 col-xs-12">
      <div class="sub-title">
        {{t "common.school-info"}}
        <span class="verification pull-right hidden-xs"><i class="gru-icon verified"></i> {{t "common.verified"}}</span>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h6>{{t "common.role"}}</h6>
              <p class="role">
                {{profile.role}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h6>{{t "common.country"}}</h6>
              <p class="country">
                {{#if profile.country}}
                  {{profile.country}}
                {{else}}
                    <span class="italic">{{t "common.not-specified"}}</span>
                {{/if}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h6>{{t "common.state-territory"}}</h6>
              <p class="school">
                {{#if profile.state}}
                  {{profile.state}}
                {{else}}
                  <span class="italic">{{t "common.not-specified"}}</span>
                {{/if}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h6>{{t "common.district"}}</h6>
              <p class="district">
                {{#if profile.schoolDistrict}}
                  {{profile.schoolDistrict}}
                {{else}}
                    <span class="italic">{{t "common.not-specified"}}</span>
                {{/if}}
              </p>
            </div>
          </div>
          {{#if profile.lastUpdate}}
            <span class="pull-right hidden-xs">{{t "common.last-updated"}}: {{format-date profile.lastUpdate "MMMM D, YYYY"}}</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
