<div class="controller about">
  <h4>
    {{#if isMyProfile}}
      {{t "common.about-you"}}
      {{#link-to "profile.edit" tagName="button" class='btn btn-info pull-right hidden-xs'}}{{t "common.edit"}}{{/link-to}}
    {{else}}
      {{t "common.about"}}
    {{/if}}
  </h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h6>{{t "common.first-name"}}</h6>
          <p class="first-name">{{profile.firstName}}</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h6>{{t "common.last-name"}}</h6>
          <p class="last-name">{{profile.lastName}}</p>
        </div>
      </div>
      <h6>{{t "common.biography"}}</h6>
      <div class="bio">
        <p> {{profile.aboutMe}}</p>
      </div>
    </div>
  </div>
  <h4>
    {{t "common.school-info"}}
    <span class="verification pull-right hidden-xs"><i class="gru-icon verified"></i> {{t "common.verified"}}</span>
  </h4>
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if profile.lastUpdate}}
        <span class="pull-right hidden-xs">{{t "common.last-updated"}}: {{formatDate profile.lastUpdate "MMMM D, YYYY"}}</span>
      {{/if}}
      <h6>{{t "common.role"}}</h6>
      <p class="role">
        {{profile.role}}
      </p>
      <h6>{{t "common.state"}}</h6>
      <p class="school">
        {{profile.state}}
      </p>
      <h6>{{t "common.district"}}</h6>
      <p class="district">
        {{profile.schoolDistrict}}
      </p>
      <h6>{{t "common.country"}}</h6>
      <p class="country">
        {{profile.country}}
      </p>
    </div>
  </div>
</div>
