<div class="content-navigation">
    <div class="category-menu">
        <ul class="nav nav-tabs category-options">
          {{#link-to "profile.content.course" tagName="li" class='courses'}}
              <a href='{{view.href}}' class="btn btn-category">
                {{gru-icon name='chrome_reader_mode'}}
                  <span>{{t "common.courses"}}</span>
              </a>
          {{/link-to}}
          {{#link-to "profile.network" tagName="li" class='collections'}}
              <a href='{{view.href}}' class="btn btn-category">
                  <i class="icon"></i>
                  <span>{{t "common.collections"}}</span>
              </a>
          {{/link-to}}
          {{#link-to "profile.network" tagName="li" class='assessments'}}
              <a href='{{view.href}}' class="btn btn-category">
                  <i class="icon"></i>
                  <span>{{t "common.assessments"}}</span>
              </a>
          {{/link-to}}
          {{#link-to "profile.network" tagName="li" class='resources'}}
              <a href='{{view.href}}' class="btn btn-category">
                  <i class="icon"></i>
                  <span>{{t "common.resources"}}</span>
              </a>
          {{/link-to}}
          {{#link-to "profile.network" tagName="li" class='questions'}}
              <a href='{{view.href}}' class="btn btn-category">
                {{gru-icon name='help_outline '}}
                  <span>{{t "common.questions"}}</span>
              </a>
          {{/link-to}}
        </ul>

    </div>
    <div class="btn-group hidden-xs hidden-sm">
        <a href="#" class="btn btn-success">{{t "common.add-to"}}</a>
        <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">{{t "common.course"}}</a></li>
            <li><a href="#">{{t "common.collection"}}</a></li>
            <li><a href="#">{{t "common.assessment"}}</a></li>
            <li><a href="#">{{t "common.resource"}}</a></li>
            <li><a href="#">{{t "common.question"}}</a></li>
        </ul>
    </div>
</div>
<div class="content_outlet">
  {{outlet}}
</div>
