<div class="controller about edit">
  <form {{action "updateProfile" on="submit"}}>
    <h4>
      {{t "common.about-you"}}
      <div class="pull-right">
        {{#link-to "profile.about" tagName="button" class='btn btn-info cancel'}}{{t "common.cancel"}}{{/link-to}}
        <button type="submit" class='btn btn-success save'>{{t "common.save"}}</button>
      </div>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h6><label for="first-name">{{t "common.first-name"}}</label></h6>
            {{input id="first-name" class="form-control" value=profile.user.firstName}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h6><label for="last-name">{{t "common.last-name"}}</label></h6>
            {{input id="last-name" class="form-control" value=profile.user.lastName}}
          </div>
        </div>
        <h6><label for="bio">{{t "common.biography"}}</label></h6>
        <div class="bio">
          <textarea id="bio" class="form-control" rows="4" onchange={{action (mut profile.aboutMe) value="target.value"}}>{{{profile.aboutMe}}}</textarea>
        </div>
      </div>
    </div>
    <h4>
      {{t "common.school-info"}}
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <h6>{{t "common.role"}}</h6>
        <div class="checkbox-inline">
          {{input id="teacher-role" type="checkbox" checked=(eq profile.user.role undefined)}}
          <label for="teacher-role">{{t "common.teacher"}}</label>
        </div>
        <div class="checkbox-inline">
          {{input id="student-role" type="checkbox" checked=(eq profile.user.role "student")}}
          <label for="student-role">{{t "common.student"}}</label>
        </div>
        <div class="checkbox-inline">
          {{input id="other-role" type="checkbox" checked=(eq profile.user.role "other")}}
          <label for="other-role">{{t "common.other"}}</label>
        </div>
        <h6><label for="school">{{t "common.school"}}</label></h6>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-7">
            {{input id="school" class="form-control" value=profile.user.school}}
          </div>
        </div>
        <h6><label for="district">{{t "common.district"}}</label></h6>
        <div class="row">
          <div class="col-xs-12">
            <select id="district" class="form-control" onchange={{action (mut profile.user.districtName) value="target.value"}}>
              <option value="">Select a district...</option>
              {{#each districts as |districtChoice|}}
                <option value={{districtChoice}} selected={{eq profile.user.districtName districtChoice}}>{{districtChoice}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <h6><label for="country">{{t "common.country"}}</label></h6>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-7">
            {{input id="country" class="form-control" value=profile.user.country}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>