<div class="user-proficiency">
  <div class="panel left-panel">
    <div class="panel-header">
      <div class="title {{selectedMatrixView}}">
        {{selectedSubject.title}}
      </div>
      {{#if (eq selectedMatrixView 'domain')}}
        <div class="toggle-chart-view">
          <span class="text">{{t 'profile.proficiency.expand-chart'}}</span>
          {{gru-toggle-button onToggleButton="onToggleChart"}}
        </div>
      {{/if}}
      <div class="actions">
        <div class="toggle-view">
          <span class="domain {{if (eq selectedMatrixView 'domain') 'active'}}" {{action "onToggleView" 'domain'}}>{{t 'common.domain'}}</span>
          <span class="course {{if (eq selectedMatrixView 'course') 'active'}}" {{action "onToggleView" 'course'}}>{{t 'common.course'}}</span>
        </div>
      </div>
    </div>
    <div class="panel-body matrix">
      {{#if (eq selectedMatrixView 'domain')}}
        <div class="domain">
          {{proficiency.proficiency-matrix userId=userId subject=selectedSubject isExpandChartEnabled=isExpandChartEnabled onCompetencyPullOut='onCompetencyPullOut' showPullOut=showPullOut onGetLastUpdated="onGetLastUpdated"}}
        </div>
      {{else}}
        <div class="course">
          {{proficiency.proficiency-course-matrix userId=userId subject=selectedSubject onCompetencyPullOut='onCompetencyPullOut' showPullOut=showPullOut onGetLastUpdated="onGetLastUpdated"}}
        </div>
      {{/if}}

      <div class="last-updated">
        {{concat (t 'common.last-updated') ':'}} <span class="date-time">{{format-date lastUpdated 'MMMM DD, YYYY h:mm A'}}</span>
      </div>
      
      <div class="proficiency-legends">
        <div class="mastered legend">
          <span class="box"></span>
          <span class="title">{{t 'profile.proficiency.mastered'}}</span>
        </div>
        <div class="in-progress legend">
          <span class="box"></span>
          <span class="title">{{t 'profile.proficiency.in-progress'}}</span>
        </div>
        <div class="not-started legend">
          <span class="box"></span>
          <span class="title">{{t 'profile.proficiency.not-started'}}</span>
        </div>
      </div>

    </div>
  </div>
  <div class="panel right-panel">
    <div class="panel-header">
      <div class="title">
        {{t 'common.subject'}}
      </div>
    </div>
    <div class="panel-body">
      {{proficiency.subject-item-list taxonomySubjects=taxonomySubjects selectedItem=selectedSubject onSelectItem="onSelectItem"}}
    </div>
  </div>

  {{#gru-pull-out showPullOut=showPullOut title=description description=title showMore=showMore isLoading=isLoading as |section|}}
    {{#if section.isLessContent}}
      {{proficiency.competencies-pull-out-body
        collection=collection
        userId=userId
        competency=competency
        isLoading=isLoading
     }}
    {{/if}}
  {{/gru-pull-out}}
</div>
