<div class="form-group {{if showClearButton 'has-feedback' ''}}">
  {{input type=type
    value=rawInputValue
    disabled=disabled
    placeholder=placeholder
    class="form-control" name=valuePath
    key-press="inputTyping"
    enter="enterPressed"
    focus-out="focusOut"
    autofocus=autofocus
    maxlength=maxLength
    id=inputId
  }}
  {{#if showClearButton}}
  <span class="clear form-control-feedback" {{action 'clearContent'}}>
    {{gru-icon name="cancel"}}
  </span>
  {{/if}}
  <div class="error-messages">
    {{#if showMessage}}
      <span class="error">
        {{{v-get model valuePath 'message'}}}
      </span>
    {{/if}}
  </div>
</div>
