<table class="table table-bordered">
  <thead>
    <tr>
      <td></td>
      <th class="header" scope="col">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      {{#each headers as |header|}}
        <th id="{{{header.id}}}" class="header" scope="col">
          {{{header.title}}}
        </th>
      {{/each}}
    </tr>
    <tr>
      <th class="header" scope="row">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      {{#each averageHeaders.performanceData as |average|}}
        {{#if average}}
          <th>
            <div class="good table-cell">{{{average.score}}}%</div>
            {{class.analytics.performance.teacher.gru-completion-information-chart
            text=(concat average.completionDone '/' average.completionTotal)
            completePercent=average.completionDone
            minValue=0
            maxValue=average.completionTotal}}
            <div class="table-cell">{{{average.timeSpent}}}</div>
          </th>
        {{else}}
          <th>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
          </th>
        {{/if}}
      {{/each}}
    </tr>
    <tr class="sub-header hidden-xs">
      <th>
        {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' metrics=averageMetrics}}
      </th>
      <th>
        {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange'}}
      </th>
      {{#each headers as |header|}}
        <th>
          {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange'}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each performanceData as |userPerformance|}}
      <tr>
        <th class="header user-info fixed" scope="row">
          {{{userPerformance.user}}}
        </th>
        {{#each userPerformance.performanceData as |data|}}
          {{#if data}}
            <td>
              <div class="good table-cell">{{{data.score}}}%</div>
              {{class.analytics.performance.teacher.gru-completion-information-chart
              text=(concat data.completionDone '/' data.completionTotal)
              completePercent=data.completionDone
              minValue=0
              maxValue=data.completionTotal}}
              <div class="table-cell">{{{data.timeSpent}}}</div>
            </td>
          {{else}}
            <td>
              <div class="table-cell"></div>
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>