{{#if headers}}
  <div class="metrics-table-wrapper">
    <table class="table">
      <thead>
        <tr class="headers">
          <td class="fixed"></td>
          <th class="header" scope="col">
            {{t "class.analytics.performance.teacher.metricsTable.average"}}
          </th>
          {{#each headers as |header index|}}
            {{#if (eq header.collectionType 'collection')}}
                <th id="{{{header.id}}}" class="header" scope="col">
                    <div class="header-title">
                      {{#if header.collectionType}}
                          <div class="prefix">{{{course-sections-prefix index=index type=header.collectionType longName=false}}}</div>
                      {{else}}
                          <div class="prefix">{{{course-sections-prefix index=index type=headerType longName=false}}}</div>
                      {{/if}}
                        <div class="title" title="{{header.title}}" data-toggle="tooltip" data-placement="auto">{{{header.title}}}</div>
                    </div>
                </th>
            {{else}}
                <th id="{{{header.id}}}" class="header pointer" scope="col" {{action 'navigate' header.id}}>
                    <div class="header-title">
                      {{#if header.collectionType}}
                          <div class="prefix">{{{course-sections-prefix index=index type=header.collectionType longName=false}}}</div>
                      {{else}}
                          <div class="prefix">{{{course-sections-prefix index=index type=headerType longName=false}}}</div>
                      {{/if}}
                        <div class="title" title="{{header.title}}" data-toggle="tooltip" data-placement="auto">{{{header.title}}}</div>
                    </div>
                </th>
            {{/if}}
          {{/each}}
        </tr>
        <tr class="sub-header hidden-xs">
          <th class="fixed">
            {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' metrics=averageMetrics}}
          </th>
          <th>
            {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' dataPickerOptions=dataPickerOptions}}
          </th>
          {{#each headers as |header|}}
            <th>
              {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' dataPickerOptions=dataPickerOptions showReport=isCollection}}
            </th>
          {{/each}}
        </tr>
        <tr>
          <th class="header fixed" scope="row">
            {{t "class.analytics.performance.teacher.metricsTable.class-average"}}
          </th>
          {{#each averageHeaders.performanceData as |average index|}}
            <th class="performance-information">
            {{#if (eq index 0)}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions}}
            {{else}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions  showReport=isCollection}}
            {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each performanceData as |userPerformance|}}
          <tr>
            <th class="header user-info fixed" scope="row">
              <span>{{{userPerformance.user}}}</span>
            </th>
            {{#each userPerformance.performanceData as |data index|}}
              {{#if (eq index 0)}}
                  <td class="performance-information">
                    {{class.analytics.performance.teacher.gru-metrics-performance-information
                    userPerformance=userPerformance
                    onClickReport='clickReport'
                    performanceData=data dataPickerOptions=dataPickerOptions}}
                  </td>
                {{else}}
                  <td class="performance-information">
                    {{class.analytics.performance.teacher.gru-metrics-performance-information
                    userPerformance=userPerformance
                    onClickReport='clickReport'
                    performanceData=data dataPickerOptions=dataPickerOptions
                    showReport=isCollection}}
                  </td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <span class="no-content">{{t "common.no-content"}}</span>
{{/if}}