{{#if performanceData}}
  <div class="{{{scoreClass}}} table-cell score">{{{performanceData.score}}}%</div>
  {{#if showCompletion}}
    {{class.analytics.performance.teacher.gru-completion-information-chart
    text=(concat performanceData.completionDone '/' performanceData.completionTotal)
    completePercent=performanceData.completionDone
    minValue=0
    maxValue=performanceData.completionTotal}}
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell study-time">{{{performanceData.timeSpent}}}</div>
  {{/if}}
{{else}}
  <div class="table-cell"></div>
  {{#if showCompletion}}
    <div class="table-cell"></div>
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell"></div>
  {{/if}}
{{/if}}
