 <div class="metrics-sub-header table-cell row">
{{#each visibleMetrics as |metric index|}}
  {{#if showReport}}
 <div class="metric-sub-header {{if (and showReport (eq index 1) showStudyTime) 'reportPadding' ''}} {{if (or (and showReport (eq index 1)) (not showStudyTime)) 'pull-left' ''}} {{if (and (not showStudyTime) (eq metric.value 'score')) 'morepaddingleft' ''}} {{if (eq metric.value 'time-spent') 'pull-right paddingright' ''}} {{if (and showStudyTime (eq metric.value 'score')) 'pull-left paddingleft' ''}}">
    {{#if (eq index 1)}}
      <span class="metric-sub-header report">
            {{t 'gru-metrics-sub-header.report'}}
          </span>
    {{/if}}
    {{#if metric.visible}}
      <a class="{{metric.value}}" {{action 'sort' metric}}>
        {{t (concat 'gru-metrics-sub-header.' metric.value) }}
      </a>
      {{#if metric.sorted}}
        {{#if metric.isAsc}}
          <span>{{gru-icon name='arrow_upward'}}</span>
        {{else}}
          <span>{{gru-icon name='arrow_downward'}}</span>
        {{/if}}
      {{else}}
        <span>{{gru-icon name='swap_vert'}}</span>
      {{/if}}

  {{/if}}
  </div>
  {{else}}
  {{#if metric.visible}}
    <div class="metrics-sub-header table-cell {{if (eq metric.value 'time-spent') 'pull-right paddingright' ''}} {{if (and showStudyTime (eq metric.value 'score')) 'pull-left paddingleft' ''}}">
      <a class="metric-sub-header {{metric.value}}" {{action 'sort' metric}}>
        {{t (concat 'gru-metrics-sub-header.' metric.value) }}
      </a>
      {{#if metric.sorted}}
        {{#if metric.isAsc}}
          <span>{{gru-icon name='arrow_upward'}}</span>
        {{else}}
          <span>{{gru-icon name='arrow_downward'}}</span>
        {{/if}}
      {{else}}
        <span>{{gru-icon name='swap_vert'}}</span>
      {{/if}}
    </div>
  {{/if}}
  {{/if}}
{{/each}}
  </div>