{{#if headers}}
  <div class="metrics-table-wrapper">
    <div class="column-headers" id="clscroll-column-headers">
    <table id="header-Table">
        {{#if isLoading}}
  <div class="loading">Loading&#8230;</div>
 <div class="loading">
 <img src="{{loaderIcon}}" class="ajax-loader"> 
</div>
    {{/if}}   
      <thead>
        <tr class="headers">
          <th class=" header htFixed fix borderradius"></th>
          <th class="header htFixed fix2 fixedHeadcol row" scope="col">
            <div class="{{if isExpanded 'textcenteringsub' 'textcentering'}}">
            <span class="text-center textinsidecenterdiv">{{t "class.analytics.performance.teacher.metricsTable.average"}}</span>
            </div>
          </th> 
          {{#each headers as |header headerindex|}}
             {{#if (eq header.collectionType 'collection')}}

                <th id="{{{header.id}}}" class="header" scope="col">
                    <div class="header-title">
                        <div class="column">
                            {{#if header.collectionType}}
                                <div class="prefix">{{{course-sections-prefix index=headerindex type=header.collectionType longName=false}}}</div>
                            {{else}}
                                <div class="prefix">{{{course-sections-prefix index=headerindex type=headerType longName=false}}}</div>
                            {{/if}}
                              <div class="title lsntxtalignment" title="{{header.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=header.title maxLength=23 suffix=true}}}</div>
                        </div>
                        <div class="small-icon">{{gru-icon "play_arrow"}}</div>
                    </div>
                </th>
            {{else}} 
            {{#if header.showSub}}
                <th colspan="{{header.colspanval}}">
                   <div class="header-title">
                        <div class="column">
                            <div class="titlenew lsntxtalignment" title="{{header.title}}" data-toggle="tooltip" data-placement="auto">{{{header.title}}}</div>
                          {{#if header.showAssessments}}
                           <div class="text-newprimary show-label pointer" {{action 'showlessons' headerindex}}>{{t "common.showlessons"}}</div>
                           {{else}}
                           {{#if (eq filterBy 'collection')}}
                            <div class="text-newprimary show-label pointer" {{action 'showassessments' headerindex}}>{{t "common.showcollections"}}</div>
                            {{else}}
                            <div class="text-newprimary show-label pointer" {{action 'showassessments' headerindex}}>{{t "common.showassessments"}}</div>
                            {{/if}}
                          {{/if}}
                        </div>
                  </div>  
                <th id="{{{header.id}}}"  class="header subsubwidthmaxCollapse" scope="col">
                        <div class="text-newprimary show-label pointer" {{action 'collapse' headerindex}}>{{t "common.collapse"}}</div>
                </th>

                    
                  {{#each header.subColumns as |subHeader level2index|}}
                    {{#if header.showSubSub}}
                    <th id="{{{subHeader.id}}}" class="header headerbgcolor" scope="col">
                    <div class="header-title">
                        <div class="column">
                            <div class="title lsntxtalignment" title="{{subHeader.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=subHeader.title maxLength=23 suffix=true}}}</div>
                        </div>
                    </div>
                    {{!-- subsubColumns each starts --}}
                    {{#each subHeader.subsubColumns as |subsubHeader level3index|}}
                        {{#if (eq subsubHeader.collectionType filterBy)}}
                        {{#if (eq subsubHeader.title nodata)}}
                        <th id="{{{subsubHeader.id}}}" class="header headerbgcolor subsubwidthmax" scope="col">
                          <div class="header-title">
                              <div class="column">
                                  <div class="title lsntxtalignment" title="{{subsubHeader.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=subsubHeader.title maxLength=23 suffix=true}}}</div>
                              </div>
                          </div>
                        </th>
                        {{else}}
                        {{#if (eq subsubHeader.collectionType 'assessment')}}
                          <th id="{{{subsubHeader.id}}}" class="header headerbgcolor pointer subsubwidthmax" {{action 'navigateToCollection' header.id subHeader.id subsubHeader.id}} scope="col">
                            <div class="header-title">
                                <div class="column">
                                    <div class="title lsntxtalignment" title="{{subsubHeader.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=subsubHeader.title maxLength=23 suffix=true}}}</div>
                                </div>
                            </div>
                          </th>
                        {{else}}
                          <th id="{{{subsubHeader.id}}}" class="header headerbgcolor subsubwidthmax" scope="col">
                            <div class="header-title">
                                <div class="column">
                                    <div class="title lsntxtalignment" title="{{subsubHeader.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=subsubHeader.title maxLength=23 suffix=true}}}</div>
                                </div>
                            </div>
                          </th>
                        {{/if}}
                        {{/if}}
                      {{/if}} 
                    {{/each}} 
                    {{!-- sususubcolums each ends --}}
                    </th>
                    {{else}}
                    <th id="{{{subHeader.id}}}" class="header pointer headerbgcolor" scope="col">
                      <div class="header-title">
                        <div class="column">
                            <div class="title lsntxtalignment" title="{{subHeader.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=subHeader.title maxLength=23 suffix=true}}}</div>
                        </div>
                     </div>
                    </th>
                     {{/if}} 
              {{/each}}
            </th>
         
             {{else}}
               {{#if (not expandedUnit)}}
                <th id="{{{header.id}}}"  class="header {{if header.hideExpand '' 'pointer'}}" scope="col">
                    <div class="header-title">
                        <div class="column">
                            <div class="title lsntxtalignment" title="{{header.title}}" data-toggle="tooltip" data-placement="auto">{{{truncate text=header.title maxLength=23 suffix=true}}}</div>
                        </div>
                          </div>
                        {{#if header.showSub}}
                        <div class="text-newprimary show-label" {{action 'collapse' headerindex}}>{{t "common.collapse"}}</div>
                         {{else}}
                        <div class="text-newprimary show-label {{if header.hideExpand 'out-of-scope' ''}}" {{action 'expand' headerindex}}>{{t "common.expand"}}</div>
                        {{/if}}
                    </th>
              {{/if}}
            {{/if}}
     
             {{/if}} 
          {{/each}}
        </tr>
       <tr class="sub-header hidden-xs">
        <th class="fix padBottom">
            {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' showStudyTime=showStudyTime showReport=false showReportTime=showReportTime showsort=true metrics=averageMetrics}}
          </th>
          <th class="widthmaxi fix2 padBottom">
            {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange' showStudyTime=showStudyTime showReport=false showReportTime=showReportTime showsort=true dataPickerOptions=dataPickerOptions}}
          </th>
          {{#each headers as |header|}}
          {{#if (or header.showSub (not expandedUnit))}}
            <th class="widthmaxi">
              {{class.analytics.performance.teacher.gru-metrics-sub-header dataPickerOptions=dataPickerOptions showStudyTime=showStudyTime showReportTime=showReportTime showsort=false showReport=false}}
            </th>
              {{#each header.subColumns as |subHeader|}}
               {{#if header.showSubSub}}
              {{#each subHeader.subsubColumns as |subsubHeader subsubHeaderindex|}}
              <th class="widthmaxi">
                {{class.analytics.performance.teacher.gru-metrics-sub-header dataPickerOptions=dataPickerOptions showStudyTime=showStudyTime showReportTime=showReportTime showsort=false showReport=true}}
              </th>
              {{/each}}
               {{else}}
              <th class="widthmaxi">
                {{class.analytics.performance.teacher.gru-metrics-sub-header dataPickerOptions=dataPickerOptions showStudyTime=showStudyTime showReportTime=showReportTime showsort=false showReport=false}}
              </th>
               {{/if}}
            {{/each}}
          {{/if}}
          {{/each}}
        </tr> 
         <tr class="average">
         <th class="header backgroundclraverage fix" style="border-right:0.5px solid #cdd2d6 !important;" scope="row">
             <span class="class-average marginleftavgtitle ">
               {{t "class.analytics.performance.teacher.metricsTable.class-average"}}
             </span>
          </th> 

          {{!-- setting average headers [starts]--}}
          {{#each averageHeaders.performanceData as |average avgheadpdidx|}}
          {{#if (eq avgheadpdidx 0)}}
          <th id="{{average.unitId}}" class="performance-information fix2 topMargin {{if (eq average.unitIdVal selectedUnitId) 'selectedUnitcolor' 'backgroundclraverage'}}">
            {{#if (eq avgheadpdidx 0)}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions showReport=false}}
            {{else}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions showReport=isCollection
              isAverage=true}}
            {{/if}}
            </th> 
          {{else}}
          {{#if (or (eq average.unitIdVal selectedUnitId) (eq average.level 'collection') (eq average.level 'assessment') (eq average.level 'lesson') (not expandedUnit) (and (eq avgheadpdidx 2) (eq average.unitIdVal selectedUnitId)))}}
            <th id="{{average.level}}" class="performance-information {{if (eq average.unitIdVal selectedUnitId) 'selectedUnitcolor' 'backgroundclraverage'}}">
            {{#if (eq avgheadpdidx 0)}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions showReport=false}}
            {{else}}
              {{class.analytics.performance.teacher.gru-metrics-performance-information performanceData=average dataPickerOptions=dataPickerOptions showReport=isCollection
              isAverage=true}}
            {{/if}}
            </th>
          {{/if}}
          {{/if}}
          {{/each}}
           {{!-- setting average headers [ends]--}}
        </tr> 
      </thead>
    </table>
</div>
<div class="row-headers" id="clscroll-row-headers">
    <table>
          {{#each performanceData as |userPerformance userperfindex|}} 
            <tr>
               {{#if (is-even userperfindex)}}
                  <th class="header user-info backgroundfixed backgroundfixedodd" scope="row">
                    <span class="textAlignment">{{{userPerformance.user}}}</span>
                  </th>
               {{else}}
                <th class="header user-info backgroundfixed backgroundfixedeven" scope="row">
                  <span class="textAlignment">{{{userPerformance.user}}}</span>
                </th>
               {{/if}}
              {{#each userPerformance.performanceData as |data userperfdataindex|}}
                {{#if (eq userperfdataindex 0)}}
                  <th class="performance-information subsubwidthmaxCollapseUnit backgroundfixed {{if (eq data.unitIdVal selectedUnitId) 'selectedUnitcolor' 'old'}}">
                      {{class.analytics.performance.teacher.gru-metrics-performance-information
                      userPerformance=userPerformance
                      onClickReport='clickReport'
                      performanceData=data dataPickerOptions=dataPickerOptions}}
                  </th>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
    </table>
</div>

<div class="table-content style-1" id="clscroll-content">
    <table id="clscroll-table">
        <tbody>
        {{#each performanceData as |userPerformance|}} 
            <tr>
              {{#each userPerformance.performanceData as |data userperfindex|}}
                {{#if (eq userperfindex 0)}}
                  {{else}}
                    {{#if (or (eq data.unitIdVal selectedUnitId) (not expandedUnit))}}
                    <td class="performance-information subsubwidthmaxCollapseUnit {{if (eq data.unitIdVal selectedUnitId) 'selectedUnitcolor' 'old'}}">
                      {{class.analytics.performance.teacher.gru-metrics-performance-information
                      userPerformance=userPerformance
                      onClickReport='clickReport'
                      performanceData=data dataPickerOptions=dataPickerOptions
                      showReport=isCollection}}
                    </td>
                    {{/if}}
                {{/if}}
              {{#each data.subColumns as |data1 subColumnsIndex|}}
                 {{#if (eq data.unitIdVal selectedUnitId)}}
                    {{#if (eq subColumnsIndex 0)}}
                      <td class="performance-information subsubwidthmax">
                        {{class.analytics.performance.teacher.gru-metrics-performance-information
                        userPerformance=userPerformance
                        onClickReport='clickReport'
                        performanceData=data1 dataPickerOptions=dataPickerOptions}}
                      </td>
                    {{else}}
                      <td class="performance-information subsubwidthmax">
                        {{class.analytics.performance.teacher.gru-metrics-performance-information
                        userPerformance=userPerformance
                        onClickReport='clickReport'
                        performanceData=data1 dataPickerOptions=dataPickerOptions
                        showReport=isCollection}}
                      </td>
                    {{/if}}
                  {{/if}}
              {{/each}}
              {{#each data.subsubColumns as |data2|}}
                    <td class="performance-information subsubwidthmax1">
                      {{class.analytics.performance.teacher.gru-metrics-performance-information
                      userPerformance=userPerformance
                      onClickReport='clickReport'
                      performanceData=data2 dataPickerOptions=dataPickerOptions
                      showReport=true}}
                    </td>
              {{/each}}
              {{/each}}
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>
  <div class="outer">
      <div class="inner">
        <table class="table">
        </table>
      </div>
  </div>
</div>
{{else}}
  <span class="no-content">{{t "common.no-content"}}</span>
{{/if}}