{{#if performanceData}}
  {{#if showScore}}
    <div class="{{{scoreClass}}} table-cell score">{{{performanceData.score}}}%</div>
  {{/if}}
  {{#if showCompletion}}
    <div class="table-cell completion">
      {{charts.gru-radial-chart
      text=(concat performanceData.completionDone '/' performanceData.completionTotal)
      completePercent=performanceData.completionDone
      minValue=0
      maxValue=performanceData.completionTotal}}
   </div>
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell study-time">{{{performanceData.timeSpent}}}</div>
  {{/if}}
{{else}}
  {{#if showScore}}
      <div class="table-cell score"></div>
  {{/if}}
  {{#if showCompletion}}
    <div class="table-cell completion"></div>
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell study-time"></div>
  {{/if}}
{{/if}}
