<table class="table table-bordered">
  <thead>
    <tr>
      <td></td>
      <th class="header" scope="col">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      {{#each headers as |header|}}
        <th id="{{{header.id}}}" class="header" scope="col">
          {{{header.title}}}
        </th>
      {{/each}}
    </tr>
    <tr>
      <th class="header" scope="row">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
      <th scope="col">
        <div class="good table-cell">70%</div>
        <div class="bad table-cell">10%</div>
        <div class="very-good table-cell">80%</div>
      </th>
    </tr>
    <tr class="sub-header hidden-xs">
      {{class.analytics.performance.teacher.gru-metrics-sub-header onSortChange='sortChange'}}
    </tr>
  </thead>
  <tbody>
    {{#each performanceData as |userPerformance|}}
      <tr>
        <th class="header user-info fixed" scope="row">
          {{{userPerformance.user}}}
        </th>
        <td>
          <div class="table-cell"></div>
          <div class="table-cell"></div>
          <div class="table-cell"></div>
        </td>
        {{#each userPerformance.performanceData as |data|}}
          {{#if data}}
            <td>
              <div class="good table-cell">{{{data.score}}}%</div>
              <div class="table-cell">{{{data.completionDone}}}/{{{data.completionTotal}}}</div>
              <div class="table-cell">{{{data.timeSpent}}}</div>
            </td>
          {{else}}
            <td>
              {{class.analytics.performance.teacher.gru-completion-information-chart
              text="13/50"
              completePercent=13
              minValue=0
              maxValue=50}}
            </td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>