{{#if performanceData}}
  {{#if showScore}}
    <div class="table-cell">
        {{#if performanceData.hideScore}}
            <div class="not-applicable {{if performanceData.headerTitle 'pointer'}}"
              {{action 'clickScore' performanceData}}
                 title="{{performanceData.headerTitle}}" data-toggle="tooltip" data-placement="auto">
              {{t 'common.not-applicable'}}
            </div>
        {{else}}
          <div class="box score {{if performanceData.headerTitle 'pointer'}}"
            {{action 'clickScore' performanceData}}
               title="{{performanceData.headerTitle}}" data-toggle="tooltip" data-placement="auto"
               style={{safeHtml (concat "background-color:" (gradeColor (if performanceData.hasStarted performanceData.score 'NA'))) }}>
            {{{if (and performanceData.hasStarted performanceData.hasScore) performanceData.score '--'}}}%
          </div>
        {{/if}}
    </div>
  {{/if}}
  {{#if showCompletion}}
    <div class="table-cell">
      {{ charts/gru-completion-chart
      completed=performanceData.completionDone
      total=performanceData.completionTotal }}
  </div>
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell study-time">{{{performanceData.timeSpent}}}</div>
  {{/if}}
{{else}}
  {{#if showScore}}
      <div class="table-cell score"></div>
  {{/if}}
  {{#if showCompletion}}
    <div class="table-cell completion"></div>
  {{/if}}
  {{#if showStudyTime}}
    <div class="table-cell study-time"></div>
  {{/if}}
{{/if}}
