{{reports.assessment.gru-summary
  assessmentResult=assessmentResult
  areQuestionLinksHidden=areAnswersHidden
  onSelectAttempt='selectAttempt'
  onBubbleSelect='bubbleSelect'
  isRealTime=isRealTime
  showAttempts=showAttempts}}

{{#if areAnswersHidden}}

  <div class="hidden-report">
    <span>{{t "gru-assessment-report.hidden-report"}}</span>
  </div>

{{else}}

  {{#if assessmentResult.hasMastery}}
    {{reports.assessment.gru-mastery
    learningTargets=assessmentResult.mastery
    assessmentResult=assessmentResult
    onBubbleSelect='bubbleSelect'}}
  {{/if}}

  {{#if orderedQuestions.length}}
    {{reports.assessment.gru-questions
      isAnswerKeyHidden=isAnswerKeyHidden
      results=orderedQuestions}}
  {{/if}}

  {{#if orderedOpenEndedQuestions.length}}
    {{reports.assessment.gru-open-ended-questions
    isAnswerKeyHidden=isAnswerKeyHidden
    results=orderedOpenEndedQuestions}}
  {{/if}}

  {{#if orderedResources.length}}
    {{reports.assessment.gru-resources
    results=orderedResources}}
  {{/if}}

{{/if}}
