{{ reports.class-assessment.gru-questions-detail
    anonymous=anonymous
    assessment=assessment
    students=students
    selectedQuestion=assessment.resources.firstObject
    reportData=reportData }}


{{ reports.class-assessment.gru-summary
    assessment=assessment
    students=students
    rawData=reportData }}

<div class="view-container {{if isTableView 'table-view' 'student-view'}}">


  {{gru-view-layout-picker onViewLayoutChange='changeView'}}

  {{ reports.class-assessment.gru-table-view
      anonymous=anonymous
      assessment=assessment
      students=students
      rawData=reportData }}

  {{ reports.class-assessment.gru-student-view assessment=assessment
      anonymous=anonymous
      students=students
      reportData=reportData}}

</div>

