<div class="report-body-content">
  <!--  -->
  <div class="report-banner">
    <div id="teacher-report-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <div class="carousel-inner">
        <div class="item active">
          <div class="report-avrg">
                <span class="dummy-avg" style= {{safe-html (concat "background-color:" (grade-color coursePerformance.score))}}><p>{{coursePerformance.score}}%</p></span>
          </div>
          <div class="report-desc pull-left dont-show">
            <span class="desc-head">Description</span>
            Managing students who are disruptive, those who lack motivation and appear as though they would rather be any place than in the classroom, is easier when faculty take the right stance. Anything is possible when faculty have faith in the students they teach. Learning starts with a dedicated teacher interested in meeting the challenge of how to.
          </div>
           <div class="toggle-options dont-show">
            <span class="opt1 pull-left">COMPENTENCY</span>
            <span class="toggle-switch pull-left ">switch</span>
            <span class="opt2">PERFORMANCE</span>
          </div>
        </div>
        <div class="item">
          <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <i class="material-icons left  middle-indicator-text">chevron_left</i>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <i class="material-icons right  middle-indicator-text">chevron_right</i>
        <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <!--  -->
  <div class="collapse-text dont-show">

  </div>
  <!-- collapse text div ends -->
  <!-- View 3  -->
  <div class="outer-div">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{else}}

    <!-- testing table -->
    <table>
      <thead>
        <tr>
          <th>
            STUDENT
          </th>
            {{#each tableHeader as |unit|}}
              <th><span class="lesson-sequence-header" style= {{safe-html (concat "background-color:" (grade-color unit.performance.score))}} {{action 'onOpenUnitReport' unit}}><p>{{concat 'U' unit.sequence}}</p></span></th>
            {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each tableRows as |tableRow|}}
          <tr>
            <td class="prof-icon">
              <span class="student-profile"><img src="{{tableRow.student.avatarUrl}}" class="img-circle" width="30" height="30" /></span>
              <span class="student-name">{{tableRow.student.firstName}}</span>
            </td>

            {{#each tableRows as |test|}}
              <td class="r-bdr">
                <div class="performance-section">{{if test.unit.score (concat test.unit.score '%') '--'}}</div>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- testing table ends -->
{{/if}}
  </div>
  <!-- View 3 Ends -->

</div>
<!-- report body content div ends -->
