{{reports.assessment.gru-summary
  assessmentResult=assessmentResult
  areQuestionLinksHidden=areAnswersHidden
  onSelectAttempt='selectAttempt'
  onBubbleSelect='bubbleSelect'
  isRealTime=isRealTime
  showAttempts=showAttempts
  showReactionBar=showReactionBar}}

{{#if areAnswersHidden}}
  <div class="hidden-report">
    <span>{{t "gru-assessment-report.hidden-report"}}</span>
  </div>
{{else}}
  {{#if assessmentResult.hasMastery}}
    {{reports.assessment.gru-mastery
    learningTargets=assessmentResult.mastery
    assessmentResult=assessmentResult
    onBubbleSelect='bubbleSelect'}}
  {{/if}}
  {{#if orderedQuestions.length}}
    {{reports.assessment.gru-questions
      isAnswerKeyHidden=isAnswerKeyHidden
      results=orderedQuestions
      showReactionBar=showReactionBar}}
  {{/if}}
  {{#if orderedOpenEndedQuestions.length}}
    {{reports.assessment.gru-questions
      isAnswerKeyHidden=isAnswerKeyHidden
      results=orderedOpenEndedQuestions
      viewMode='open-ended'
      showReactionBar=showReactionBar
      onViewOEReport='viewOEReport'
    }}
  {{/if}}
  {{#if orderedResources.length}}
    {{reports.assessment.gru-resources
      results=orderedResources
      showReactionBar=showReactionBar}}
  {{/if}}
{{/if}}
