{{ reports.class-assessment.gru-summary
  assessment=assessment
  students=students
  reportData=reportData
  onSelectQuestion=(action 'viewQuestionDetail')}}

<div class="view-container {{if isTableView 'student-view' 'table-view'}}">

  {{gru-view-layout-picker onViewLayoutChange='changeView'}}

  {{ reports.class-assessment.gru-table-view
    assessment=assessment
    students=students
    reportData=reportData
    onSelectQuestion=(action 'viewQuestionDetail')
    onSelectStudent=(action 'viewAssessmentReport')
    anonymous=anonymous}}

  {{ reports.class-assessment.gru-student-view
    assessment=assessment
    anonymous=anonymous
    students=students
    reportData=reportData
    onSelectQuestion=(action 'viewQuestionDetail')
    onSelectStudent=(action 'viewAssessmentReport')}}

</div>

