{{reports.assessment.gru-summary
  assessmentResult=assessmentResult
  areQuestionLinksHidden=areAnswersHidden
  onSelectAttempt='selectAttempt'
  onBubbleSelect='bubbleSelect'}}

{{#if areAnswersHidden}}

  <div class="hidden-report">
    {{t "gru-assessment-report.hidden-report"}}
  </div>

{{else}}

  {{#if assessmentResult.hasMastery}}
    {{reports.assessment.gru-mastery
    learningTargets=assessmentResult.mastery
    assessmentResult=assessmentResult
    onBubbleSelect='bubbleSelect'}}
  {{/if}}

  {{#if orderedQuestions.length}}
    {{reports.assessment.gru-questions results=orderedQuestions}}
  {{/if}}

{{/if}}
