<div class="report-body-content">
  <div class="collapse-text dont-show">
    <span class="scatter-text">TEKS.SS.4.19</span>
    <span class="scatter-text">TEKS.SS.4.21</span>
    <span class="scatter-text">TEKS.SS.4.22</span>
  </div>
  <!-- collapse text div ends -->
  <!-- View 3  -->
  <div class="outer-div">
    <!-- testing table -->
    <table>
      <thead>
        <tr>
          <th>
            STUDENT
          </th>
          {{#each tableRow as |lessonInfo sequence|}}
            <th><span class="lsn" {{action 'onOpenLessonReport' params}}><p>{{sequence}}</p></span></th>
          {{/each}}

        </tr>
      </thead>
      <tbody>
        {{#each tableRow as |studentPerformance|}}
          <tr>
            <td class="prof-icon">
              <span class="student-profile"><img src="{{studentPerformance.student.avatarUrl}}" class="img-circle" width="30" height="30" /></span>
              <span class="student-name">{{studentPerformance.student.firstName}}</span>
            </td>
            {{#each studentPerformance.lessons as |test|}}
              <td class="r-bdr">
                <div class="performance-section">{{if test.score (concat test.score '%') '--'}}</div>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- testing table ends -->

  </div>
  <!-- View 3 Ends -->

</div>
<!-- report body content div ends -->
