{{ reports.class-assessment.gru-summary
assessment=assessment
students=students
rawData=reportData
onSelectQuestion=(action 'viewQuestionDetail') }}

<div class="view-container {{if isTableView 'table-view' 'student-view'}}">

  <div class="view-selector">
    <button class="table-view" {{action 'changeView' true}}>
      {{fa-icon icon="fa-th-large"}}
    </button>
    <button class="student-view" {{action 'changeView' false}}>
      {{fa-icon icon="fa-bars"}}
    </button>
  </div>

  {{ reports.class-assessment.gru-table-view
  assessment=assessment
  students=students
  rawData=reportData
  onSelectQuestion=(action 'viewQuestionDetail') }}

  {{ reports.class-assessment.gru-student-view }}

</div>

