<header xmlns="http://www.w3.org/1999/html">
{{#if allowBack}}
  {{#link-to 'content.courses.edit' course.id (query-params unitId=collection.unitId lessonId=collection.lessonId) class="back-to"}}
      <div>
        {{gru-icon name="keyboard_arrow_left"}}{{t 'common.course'}}: {{course.title}}
      </div>
  {{/link-to}}
{{/if}}
  <h1>{{t "common.edit-assessment"}}</h1>

  {{partial 'content/partials/collections-header-actions'}}

  <nav>
    {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
    {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
    {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
  </nav>

</header>

<section id="information">
  <div class="header">
    <h2>{{t "common.information"}}</h2>

    {{partial 'content/partials/information-actions'}}

  </div>
  <div class="content">

    {{content.gru-image isEditing=isEditing srcImage=collection.thumbnailUrl editImage=tempCollection.thumbnailUrl}}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <label>
            <span class="required">{{t "common.assessment-title"}}</span>
            {{#if isEditing}}

              {{validation.gru-input model=tempCollection valuePath='title' maxLength=50 didValidate=didValidate}}
            {{else}}
              <b>{{collection.title}}</b>
            {{/if}}
          </label>
        </div>

        <div class="learning-objectives">
          <label>
            <span>{{t "common.learning-objectives"}}</span>
            {{#if isEditing}}
              {{validation.gru-textarea model=tempCollection valuePath='learningObjectives' rows=2 maxLength=500 didValidate=didValidate}}
            {{else}}
              <b>{{collection.learningObjectives}}</b>
            {{/if}}
          </label>
        </div>

        {{#if isEditing}}
          {{taxonomy.gru-taxonomy-selector
          isEditing=isEditing
          onSubjectSelected="selectSubject"
          onCategorySelected="selectCategory"
          selectedSubject=selectedSubject
          subjectLabelKey='common.subject-and-framework'
          onlySubjectsWithStandards=true
          }}
        {{/if}}
        <div class="standards">
          <label>
            <span>{{t standardLabelKey}}</span>
            {{#if isEditing}}
              <button type="button" class="btn btn-primary"
                {{action 'openTaxonomyModal'}}
                      disabled={{standardDisabled}}>
                {{gru-icon name="open_in_new"}} {{t "common.select"}}
              </button>
              <div class="tags">
                  {{taxonomy.gru-taxonomy-tag-list tags=editableTags onRemove=(action 'removeTag')}}
              </div>
            {{else}}
              <div class="tags">
                {{#if tags.length}}
                  {{taxonomy.gru-taxonomy-tag-list tags=tags}}
                {{else}}
                  {{t "common.not-specified"}}
                {{/if}}
              </div>
            {{/if}}
          </label>
        </div>

        {{content.gru-audience isEditing=isEditing srcSelectedAudiences=collection.audience editSelectedAudiences=tempCollection.audience}}

        {{content.gru-depth-of-knowledge isEditing=isEditing srcSelectedKnowledge=collection.depthOfknowledge editSelectedKnowledge=tempCollection.depthOfknowledge}}

        <div class="century-skills">
          <label>
            <span>{{t "common.century-skills"}}</span>
            {{#if isEditing}}
              <button type="button" class="btn btn-primary choose"
                {{action 'openSkillsModal'}}>
                {{gru-icon name="open_in_new"}} {{t "common.choose"}}
              </button>
              <div class="skills-buttons">
                {{#each tempSelectedSkills as |skill|}}
                  {{century-skills.gru-century-skill-tag skill=skill isReadOnly=false onRemove=(action 'removeSkill')}}
                {{/each}}
              </div>
            {{else}}
              <div class="skills">
                {{#if selectedSkills.length}}
                  {{#each selectedSkills as |skill|}}
                    {{century-skills.gru-century-skill-tag skill=skill}}
                  {{/each}}
                {{else}}
                  {{t "common.not-specified"}}
                {{/if}}
              </div>
            {{/if}}
          </label>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="builder">
  {{content.collections.gru-collection-list
    model=collection
    items=collection.children
    editingContent=editingContent
  }}
</section>

{{content.gru-settings-edit id="settings" action='publishToProfile' model=collection}}
