<ul class="nav nav-tabs" role="tablist">
  <li class="active courses tab">
    <a {{action 'selectItem' 'courses'}} role="tab" data-toggle="tab">
      <i></i><span class="lead">{{t 'common.courses'}}</span>
    </a>
  </li>
  <li class="collections tab">
    <a {{action 'selectItem' 'collections'}} role="tab" data-toggle="tab">
      <i></i><span class="lead">{{t 'common.collections'}}</span>
    </a>
  </li>
  <li class="assessments tab">
    <a {{action 'selectItem' 'assessments'}} role="tab" data-toggle="tab">
      <i></i><span class="lead">{{t 'common.assessments'}}</span>
    </a>
  </li>
</ul>