<div class="row">
  <div class="col-xs-12 navigation">
    {{gru-bubbles bubbleOptions=questionsNavOptions onBubbleSelect='bubbleSelect'}}
    {{#if selectedQuestion}}
        <div class="selected-question">
            Q{{selectedQuestion.order}} {{truncate text=selectedQuestion.text type='medium'}}
        </div>
    {{/if}}
  </div>
  <div class="col-xs-5 question-info">
      Selected question here
  </div>
  <div class="col-xs-7 question-metrics">
      <div class="chart">
        {{charts/gru-x-bar-chart data=selectedQuestionBarChartData.data}}
        <span class="ratio">
          <em>{{selectedQuestionBarChartData.completed}}</em>/<em>{{selectedQuestionBarChartData.total}}</em>
        </span>
      </div>

  </div>
</div>
