<div class="content {{if isQuestionView 'all-questions'}}">

  <ul class="overview">
    <li class="scores">
      {{ charts.gru-pie-chart data=classScores }}
      <span>{{t "common.classScores"}}</span>
    </li>

    <li class="average-score">
      {{charts.gru-bubble-chart content=(concat averageScore '%') color=(grade-color averageScore)}}
      <span>{{t "common.averageScore"}}</span>
    </li>

    <li class="completion">
      {{charts.gru-radial-chart
      value=totalCompleted
      minValue=0
      maxValue=students.length }}
      <span>{{t "common.completed"}}</span>
    </li>
  </ul>

  <ul class="overview small {{if isFullScreen 'visible'}}">
    <li class="scores">
      {{ charts.gru-pie-chart data=classScores }}
      <span>{{t "common.classScores"}}</span>
    </li>

    <li class="completion">
      {{charts.gru-radial-chart
      value=totalCompleted
      minValue=0
      maxValue=students.length }}
      <span>{{t "common.completed"}}</span>
    </li>

    <li class="average-score">
      {{charts.gru-bubble-chart content=(concat averageScore '%') color=(grade-color averageScore)}}
      <span>{{t "common.averageScore"}}</span>
    </li>
  </ul>

  {{ reports.class-assessment.gru-questions-summary
  data=questionsData
  isExpanded=isQuestionView
  onSelectQuestion=(action 'selectQuestion')
  onToggleView=(action 'toggleView')}}
</div>
<div class="grading-scale">
  <span class="average">{{t "common.averageScore"}}</span>
  {{grading-scale-legend notStarted=(t "common.notStarted")}}
</div>


