<ol>
  {{#each processedData as |questionData index|}}
    <li>
      <a {{action 'selectQuestion' questionData.id}}>
        <span class="index">{{plus-one index}}</span>
        {{charts/gru-x-bar-chart data=questionData.data}}
        <span class="ratio">
          <span>{{questionData.completed}}</span>/<span>{{questionData.total}}</span>
        </span>
      </a>
    </li>
  {{/each}}
</ol>

{{#if showMore}}
  <a {{action 'toggleView'}} class="show-more">
    {{gru-icon name=(if isExpanded 'keyboard_arrow_left' 'keyboard_arrow_right')}}
  </a>
{{/if}}
