<ul class="filters">
  {{#each questionProperties as |property index|}}
    <li class="checkbox">
      <label>
        <input
            type="checkbox"
            checked={{if property.visible 'checked' null}}
                disabled={{if property.filter.disabled 'disabled' null}}
            value="{{property.value}}"
            data-idx="{{index}}">
        {{property.filter.label}}
      </label>
    </li>
  {{/each}}
</ul>

{{ gru-two-tier-header-table
firstTierHeaders=assessmentQuestions
secondTierHeaders=questionProperties
rowHeadersHeader=studentsHeader
data=tableData
onSelectFirstTierHeader=(action 'selectQuestion')
onSelectRowHeader=(action 'selectStudent') }}
