<div class="panel panel-default">
  {{#if started}}
    <div class="panel-heading {{ if anonymous 'anonymous'}}" style={{safe-html (concat "background-color:" (grade-color score))}} {{action 'selectStudent'}}>
      <span class="name ellipsis">{{ if anonymous student.code student.fullName }}</span>
      {{#unless anonymous}}
        <span class="score">{{score}}%</span>
        {{#if totalNotStarted}}<span class="question-in-progress">{{gru-icon name='av_timer'}}</span>{{/if}}
      {{/unless}}
    </div>
  {{else}}
    <div class="panel-heading {{ if anonymous 'anonymous'}} not-started" {{action 'selectStudent'}}>
      <span class="name ellipsis">{{ if anonymous student.code student.fullName }}</span>
    </div>
  {{/if}}
  <div class="panel-body questions">
    {{#each questions as |question|}}
      <span class="{{question.status}}" {{action 'selectQuestion' question.id}}></span>
    {{/each}}
  </div>
</div>