<div class="chart">
  {{charts/gru-x-bar-chart data=questionBarChartData.data}}
</div>
<span class="overall-completion">
  <em>{{questionBarChartData.completed}}</em>/<em>{{questionBarChartData.total}}</em>
</span>

{{#each answersData as |answerData|}}
    <div class="panel-answer panel
      {{if answerData.correct 'panel-success' 'panel-danger'}}">
        <div class="panel-heading {{if anonymousAndNotShowResult 'panel-heading-anonymous'}}">
          {{#unless anonymous}}
              <span class="percentage">{{answerData.percentage}}%</span>
          {{else}}
              &nbsp;
          {{/unless}}
        </div>
        <div class="panel-body">
            <div class="answers-wrapper">
                <div class="answer">
                  {{{component (questionConfig question.questionType 'component.answer')
                  question=question
                  userAnswer=answerData.userAnswer
                  anonymous=anonymousAndNotShowResult}}}
                </div>
              {{#unless anonymous}}
                  <div class="students">
                    {{#each answerData.students as |student|}}
                        <span class="label"> {{truncate text=student.fullName type='name'}} </span>
                    {{/each}}
                  </div>
              {{/unless}}
              {{#if anonymousAndShowResult}}
                  <div class="answer-chart">
                    {{charts/gru-x-bar-chart data=answerData.charData}}
                  </div>
                  <span class="answer-percentage">{{answerData.percentage}}%</span>
              {{/if}}
            </div>
        </div>
    </div>
{{/each}}
