<div class="chart">
  {{charts/gru-x-bar-chart data=questionBarChartData.data}}
    <span class="ratio">
      <em>{{questionBarChartData.completed}}</em>/<em>{{questionBarChartData.total}}</em>
    </span>
</div>
{{#each answersData as |answerData|}}
    <div class="panel {{if answerData.correct 'panel-success' 'panel-danger'}}">
        <div class="panel-heading text-right">
          {{answerData.percentage}}%
        </div>
        <div class="panel-body">
            <div class="answers-wrapper">
                <div class="answer">
                  {{{component (questionConfig question.questionType 'component.answer')
                  question=question
                  userAnswer=answerData.userAnswer}}}
                </div>
                <div class="students">
                    Students
                </div>
            </div>
        </div>
    </div>
{{/each}}
