<div class="panel panel-default">

  {{#if started}}
    <div class="panel-heading" style="background-color: {{gradeColor score}}" {{action 'click'}}>
      {{ if anonymous student.code student.fullName }} <span class="score">({{score}}%)</span>
    </div>
  {{else}}
    <div class="panel-heading not-started" {{action 'click'}}>
        {{ if anonymous student.code student.fullName }}
    </div>
  {{/if}}

    <div class="panel-body questions">
        {{#each questions as |question|}}
            <span class="{{question.status}}" {{action 'selectQuestion' question.id}}></span>
        {{/each}}
    </div>
</div>