<ul class="overview">
  <li class="scores">
    {{ charts.gru-pie-chart data=classScores }}
    <span>{{t "common.classScores"}}</span>
  </li>

  <li class="average-score">
    {{charts.gru-bubble-chart content=(concat averageScore '%') color=(gradeColor averageScore)}}
    <span>{{t "common.averageScore"}}</span>
  </li>

  <li class="completion">
    <div>Empty</div>
    {{!-- {{charts.gru-radial-chart minValue=3 maxValue=students.length completePercent=40}} --}}
    <span>{{t "common.completed"}}</span>
  </li>
</ul>

<ol class="questions">
  {{!--
{{#each questionsData as |questionData|}}
  {{charts/gru-stacked-horizontal-bar-chart data=questionData}}
{{/each}}
--}}

</ol>


