<header>
    <h1>{{t "common.edit-question"}}</h1>

    <div class="actions">
        <button class="btn btn-default btn-icon delete">{{gru-icon name="delete"}}</button>
        <button class="btn btn-default btn-icon share">{{gru-icon name="insert_link"}}</button>
        <button class="btn btn-default add">{{t "content.questions.edit.add-to"}}</button>
        <button class="btn btn-default preview">{{t "common.preview"}}</button>
    </div>

    <nav>
      {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
      {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
      {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
    </nav>

</header>

<section id="information">
    <div class="header">
        <h2>{{t "common.information"}}</h2>
      {{partial 'content/partials/information-actions'}}
    </div>
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="title-section">
                    <div class="title">
                        <label>
                            <span class="required">{{t "content.questions.edit.information.question-title"}}</span>
                          {{#if isEditing}}
                            {{validation.gru-input model=tempQuestion valuePath='title' maxlength=50}}
                          {{else}}
                              <b>{{question.title}}</b>
                          {{/if}}
                        </label>
                    </div>
                    <div class="question-types">
                        <label>
                           <span class="required">{{t "content.questions.edit.information.question-type"}}</span>
                          {{!--{{#if isEditing}}
                              <div class="btn-group">
                                  <a href="#" class="btn btn-primary btn-sm" data-toggle="dropdown">
                                      <span>
                                         {{#if tempQuestion.type}}
                                           {{#if (eq questionType 'T/F')}}
                                             {{t 'common.question-type.T_F'}}
                                             {{else}}
                                             {{t (concat 'common.question-type.' tempQuestion.type) }}
                                           {{/if}}
                                        {{else}}
                                          {{t 'common.select-question-type'}}
                                        {{/if}}</span>
                                   </a>
                                  <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    {{#each questionTypes as |questionType|}}
                                        <li><a {{action 'selectType' questionType }}>{{t (concat 'common.question-type.' questionType) }}</a></li>
                                    {{/each}}
                                  </ul>
                              </div>
                          {{else}} --}}
                              <div class="btn-empty btn btn-sm">{{t (concat 'common.question-type.' question.type) }}</div>
                          {{!--  {{/if}} --}}
                        </label>
                    </div>
                </div>
                <div class="standards">
                    <label>
                        <span class="required">{{t "common.standards"}}</span>
                      {{#if isEditing}}
                          <button type="button" class="btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
                      {{else}}
                          <span>{{t 'common.not-added'}}</span>
                      {{/if}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="builder">
    <div class="header">
        <h2>{{t "common.builder"}} - {{t (concat 'common.question-type.' question.type)}}</h2>
        <div class="actions">
          {{#if isBuilderEditing}}
              <button class="cancel btn btn-info"  {{action 'cancelBuilderEdit'}}>{{t "common.cancel"}}</button>
              <button class="save btn btn-success">{{t "common.save"}}</button>
          {{else}}
              <button class="edit btn btn-primary" {{action 'editBuilderContent'}}>{{t "common.edit"}}</button>
          {{/if}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <h3>{{t "common.question"}}</h3>
                <span class="instructions">{{t "common.question-edit-instructions"}}</span>
            </div>
        </div>
        <div class="panel-body">
          {{#if isBuilderEditing}}
            {{textarea value=tempQuestion.text class="form-control" rows="10"}}
              <button class="add-image btn btn-sm btn-primary">{{t "common.add-question-image"}}</button>
          {{else}}
            {{#if question.text}}
              {{textarea  value=question.text class="form-control" rows="10" readonly=true}}
              {{else}}
              <p class="text-empty">{{t 'common.nothing-to-display-message'}}</p>
            {{/if}}
          {{/if}}
        </div>
    </div>
</section>

<section id="settings">
  {{partial 'content/partials/settings'}}
</section>

