<ul>
  {{#each answers as |answer index|}}
    <li>
      {{#if answer.selected}}
        <span class="{{if answer.correct 'correct' 'incorrect'}} {{if anonymous 'anonymous'}}">
          {{gru-icon name='radio_button_checked'}}
        </span>
      {{else}}
        <span class="column">{{gru-icon name='radio_button_unchecked'}}</span>
      {{/if}}
        <span class="answer-text">({{answer-letter index}}) {{{answer.text}}}</span>
    </li>
  {{/each}}
</ul>
