<ul class="multiple-choices">
  {{#each answers as |answer index|}}
      <li>
        {{#if answer.selected}}
            <span class="{{if answer.correct 'correct' 'incorrect'}} {{if anonymous 'anonymous'}}">
              {{material-design-icon name='radio-button-checked'}}
            </span>
        {{/if}}
          <span class="answer-text">({{answer-letter index}}) {{{answer.text}}}</span>
      </li>
  {{/each}}
</ul>
