<ul class="multiple-choices">
  {{#each answers as |answer index|}}
      <li>
        {{#if answer.selected}}
          {{#if answer.correct}}
            <span class="correct">{{fa-icon icon='check-circle-o'}}</span>
          {{else}}
            <span class="incorrect">{{fa-icon icon='times-circle-o'}}</span>
          {{/if}}
        {{/if}}
          <span class="answer-text">({{answer-letter index}}) {{{answer.text}}}</span>
      </li>
  {{/each}}
</ul>
