<ul class="multiple-answers">
  <li>
    <span class="column">Yes</span>
    <span class="column">No</span>
  </li>
  {{#each answers as |answer index|}}
    <li>
      <span class="column
        {{if answer.selected 'selected' 'no-selected'}}
        {{if answer.correct 'correct' 'incorrect'}}">
        {{fa-icon icon=(if answer.correct 'check-circle-o' 'times-circle-o')}}
      </span>
      <span class="answer-text">({{answer-letter index}}) {{{answer.text}}}</span>
    </li>
  {{/each}}
</ul>
