<ul class="multiple-answers">
  <li class="header">
    <span class="column">Yes</span>
    <span class="column">No</span>
  </li>
  {{#each answers as |answer index|}}
    <li>
      {{#if answer.selected}}
        <span class="column selected
          {{if answer.correct 'correct' 'incorrect'}}
          {{if anonymous 'anonymous'}}">
          {{gru-icon name='radio_button_checked'}}
        </span>
        <span class="column">{{gru-icon name='radio_button_unchecked'}}</span>
      {{else}}
        <span class="column">{{gru-icon name='radio_button_unchecked'}}</span>
        <span class="column no-selected
          {{if answer.correct 'correct' 'incorrect'}}
          {{if anonymous 'anonymous'}}">
          {{gru-icon name='radio_button_checked'}}
        </span>
       {{/if}}
      <span class="answer-text">({{answer-letter index}}) {{{gru-math-text text=answer.text}}}</span>
    </li>
  {{/each}}
</ul>
