<div class="modal-header">
  <span class="modal-title">
      {{t 'gru-add-to.add-to-collection'}}
  </span>
</div>
<div class="modal-body">
  <span class="lead">
    {{t 'gru-add-to.add-to-collection-lead' contentTitle=content.title}}
  </span>
  {{#each collections as |collection|}}
      <div class="{{collection.id}}" {{action "selectCollection" collection}}>
        {{cards.gru-collection-card
        collection=collection
        isSmall=true}}
      </div>
  {{/each}}
</div>
<div class="modal-footer">
  <div class="btn-group visible-xs">
    <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
        <span aria-hidden="true">{{t 'common.cancel'}}</span>
    </button>
    <button type="button" class="btn btn-primary assign"{{action "addTo"}} disabled={{if hasSelectedCollection '' 'true'}}>{{t 'common.add'}}</button>
  </div>
  <div class="hidden-xs">
    <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
        <span aria-hidden="true">{{t 'common.cancel'}}</span>
    </button>

    <button disabled={{if hasSelectedCollection '' 'true'}} type="button" class="btn btn-primary assign" {{action "addTo"}}>{{t 'common.add'}}</button>
  </div>
</div>
