<div class="modal-header delete">
  <h4 class="modal-title">{{t "common.remove"}}</h4>
</div>
<div class="modal-body">
  <form>
    <p class="confirmation">{{t "content.modals.remove-class-activity.confirmation" type=model.type}}</p>
    <div class="actions delete">
      <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
        <span aria-hidden="true">{{t 'common.cancel'}}</span>
      </button>
      {{#gru-spinner-button classes='btn btn-primary delete' text=(t 'common.loading') isLoading=isLoading}}
          <button class="btn btn-primary delete" {{action "removeClassActivity" model}}>{{t 'common.remove'}}</button>
      {{/gru-spinner-button}}
    </div>
  </form>
</div>

