<div class="modal-header">
  <h4 class="modal-title">
    {{tourTitle}}
  </h4>
</div>
<div class="modal-body">
  <p>
    {{tourStepDescription}}
  </p>

  <div class="actions">
    <button type="button" class="btn btn-default back" data-dismiss="modal" aria-label="{{t 'common.back'}}">
      <span aria-hidden="true">{{t 'common.back'}}</span>
    </button>
    <button type="button" class="btn btn-primary">{{t 'common.next'}}</button>
  </div>

</div>
