<div class="modal-header delete">
    <h4 class="modal-title">{{t "common.delete"}} {{t 'common.class'}}</h4>
</div>
<div class="modal-body">
    <form>
        <p class="legend">{{t "content.modals.delete-class.legend"}}
            <b>
              {{model.content.title}}
            </b>
        </p>
        <div class="delete-info">
            <ul>
                <li>
                    <label>
                      {{input type="checkbox" checked=validator.check1}}
                        <span>{{t "common.delete-instructions.links-inaccessible"}}</span>
                    </label>
                </li>
                <li>
                    <label>
                      {{input type="checkbox" checked=validator.check2}}
                        <span>{{t "content.modals.delete-class.student-access"}}</span>
                    </label>
                </li>
                  <li>
                      <label>
                        {{input type="checkbox" checked=validator.check3}}
                          <span>{{t "content.modals.delete-class.student-data-deleted"}}</span>
                      </label>
                  </li>
            </ul>
        </div>
        <p class="confirmation">{{t "content.modals.delete-content.confirmation"}}</p>
      {{input type="text" class="delete-input" value=validator.confirm}}
        <div class="actions delete">
            <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
                <span aria-hidden="true">{{t 'common.cancel'}}</span>
            </button>

          {{#gru-spinner-button classes='btn btn-danger delete' text=(t 'common.loading') isLoading=isLoading}}
              <button {{action "deleteContent" model}} class="btn btn-danger delete" disabled={{isDisabled}}>{{t 'common.delete'}}</button>
          {{/gru-spinner-button}}
        </div>

    </form>
</div>

