<div class="modal-header">
  <h4 class="modal-title">{{t "common.add-new-resource"}}</h4>
</div>
<div class="modal-body">
  <form>
    {{#if isResourceUpload}}
      <div class="header">
        <span class="icon">{{gru-icon name="link"}}</span>
        <span class="title">{{t 'common.upload-file'}}</span>
        <button {{action 'switchView'}}>{{t 'common.add-url'}}</button>
      </div>
      <label class="filename-label">
        <span class="required">{{t 'common.file-name'}}</span>
        <small>{{t 'common.valid-extensions' extensions=allValidExtensions}}</small>
        {{content.gru-file-picker validMimeType=resource.mimeType onSelectFile=(action 'selectFile')}}
        {{#if emptyFileError}}
          <div class="validation">
            <span class="error">{{emptyFileError}}</span>
          </div>
        {{/if}}
      </label>

      <label class="title-label">
        <span class="required">{{t 'common.resource-title'}}</span>
        {{validation.gru-input model=resource valuePath='title' maxLength=50 didValidate=didValidate}}
      </label>
      <label class="type">
        <span class="required">{{t 'common.add-type-resource'}}</span>
      </label>
      <div class="resource-types text-center">
        {{#each uploadableTypes as |uploadableType|}}
          <div
              class="panel panel-default {{if uploadableType.disabled 'disabled'}} {{concat 'resource-type-' uploadableType.value}} {{set-if-equal 'active' uploadableType.value selectedType}}" {{action 'selectUploadType' uploadableType}}>
            <div class="panel-body">
              <i class="resource-type-icon"></i>
            </div>
            <div class="panel-footer">
              {{t (concat 'common.resource-format.' uploadableType.value) }}
            </div>
          </div>
        {{/each}}
      </div>

    {{else}}

      <div class="header">
        <span class="icon">{{gru-icon name="link"}}</span>
        <span class="title">{{t 'common.add-from-url'}}</span>
        <button {{action 'switchView'}}>{{t 'common.upload-file'}}</button>
      </div>
      <label class="url-label">
        <span class="required">{{t 'common.enter-url'}}</span>
        {{validation.gru-input model=resource valuePath='url' didValidate=didValidate onChange="onURLChange"}}
        {{#if existingResource}}
          <span class="validation error">{{t 'gru-resource-new.resource-already-exist'}}</span>
          {{#if model}}
            <div class="lead">
              <span>Do you want to add it to this collection?</span>
            </div>
          {{/if}}
          <div class="existing-resource-message">
            {{cards.gru-resource-card resource=existingResource addEnabled=false}}
          </div>
        {{/if}}
      </label>

      {{#unless existingResource}}
        <label class="title-label">
          <span class="required">{{t 'common.resource-title'}}</span>
          {{validation.gru-input model=resource valuePath='title' maxLength=50 didValidate=didValidate}}
        </label>
        <label class="type">
          <span class="required">{{t 'common.add-type-resource'}}</span>
        </label>
        <div class="resource-types text-center">
          {{#each resourceTypes as |resourceType|}}
            <div
                class="panel panel-default {{concat 'resource-type-' resourceType.name}} {{if resourceType.active 'active'}} {{if resourceType.disabled 'disabled'}}" {{action 'selectType' resourceType.name}}>
              <div class="panel-body">
                <i class="resource-type-icon"></i>
              </div>
              <div class="panel-footer">
                {{t (concat 'common.resource-format.' resourceType.name) }}
              </div>
            </div>
          {{/each}}
        </div>
      {{/unless}}

    {{/if}}

    <div class="actions resource-new">
      {{#unless existingResource}}
        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal" aria-label="{{t 'common.close'}}">
          <span aria-hidden="true">{{t 'common.cancel' }}</span>
        </button>
        {{#gru-spinner-button classes='btn btn-default' text=(t 'common.loading') isLoading=isLoadingMoreDetails}}
            <button type="button" class="btn btn-default more-btn" {{action "createResource" "edit"}}
                    aria-label="{{t 'common.more-details'}}">
                <span aria-hidden="true">{{t 'common.more-details' }}</span>
            </button>
        {{/gru-spinner-button}}

        {{#gru-spinner-button classes='btn btn-primary add-btn' text=(t 'common.loading') isLoading=isLoadingCreate}}
            <button type='button' class="btn btn-primary add-btn create" {{action "createResource" "add"}}
                    aria-label="{{t 'common.close'}}">{{t 'common.create'}}</button>
        {{/gru-spinner-button}}
      {{else}}
        {{#if model}}
          <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal"
                  aria-label="{{t 'common.close'}}">
            <span aria-hidden="true">{{t 'common.cancel' }}</span>
          </button>
          {{#gru-spinner-button classes='btn btn-primary' text=(t 'common.loading') isLoading=isLoadingAddTo}}
              <button type='button' class="btn btn-primary add-btn" {{action "addTo"}}
                      aria-label="{{t 'common.close'}}">{{t 'common.add'}}</button>
          {{/gru-spinner-button}}
        {{else}}
          <button type="button" class="btn btn-primary close-btn" data-dismiss="modal"
                  aria-label="{{t 'common.close'}}">
            <span aria-hidden="true">{{t 'common.close' }}</span>
          </button>
        {{/if}}
      {{/unless}}
    </div>
  </form>
</div>
