<div class="modal-header remove">
    <h4 class="modal-title">{{t "common.remove"}} {{t (concat 'common.' model.type)}}</h4>
</div>
<div class="modal-body">
    <form {{action "removeContent" model on="submit"}}>
        <p class="legend">{{{t "content.modals.remove-content.legend" title=model.content.title parentName=model.parentName}}}
        </p>
        <div class="remove-info">
            <ul>
                <li>
                    <label>
                      {{input type="checkbox" checked=validator.check1}}
                        <span>{{t "common.delete-instructions.links-inaccessible"}}</span>
                    </label>
                </li>
                <li>
                    <label>
                      {{input type="checkbox" checked=validator.check2}}
                        <span>{{t "common.delete-instructions.content-inaccessible"}}</span>
                    </label>
                </li>
            </ul>
        </div>
        <p class="confirmation">{{t "content.modals.remove-content.confirmation"}}</p>
      {{input type="text" class="remove-input" value=validator.confirm}}
        <div class="actions remove">
            <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
                <span aria-hidden="true">{{t 'common.cancel'}}</span>
            </button>
            <button type="submit" class="btn btn-warning remove" disabled={{isDisabled}}>{{t 'common.remove'}}</button>
        </div>

    </form>
</div>
