<div class="modal-header">
  <h4 class="modal-title">{{t "common.remix-course"}}</h4>
</div>
<div class="modal-body">
    <p class="lead">{{t 'common.remix-course-lead'}}</p>
    <div class="warning">
        <span class="warning-icon"></span>
        <p>{{t 'common.remix-warning'}}</p>
    </div>
  <form {{action "remix" on="submit"}}>
    <label>
      <span class="required">{{t 'common.course-title'}}</span>
      {{validation.gru-input model=contentModel valuePath='title' maxLength=50}}
    </label>

    <div class="actions">
      <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
        <span aria-hidden="true">{{t 'common.cancel'}}</span>
      </button>
      <button type="submit" class="btn btn-primary">{{t 'common.confirm-copy'}}</button>
    </div>

  </form>
</div>

