<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{t 'content.classes.join.title'}}</h3>
      <p class="lead">{{t 'content.classes.join.content'}}</p>
    </div>
    <div class="modal-body">
      <div class="form-group class-code-input-container">
        <label class="control-label" for="">{{t 'content.classes.join.class-code-input'}}</label>
        {{validation.gru-input  valuePath='class-code' maxlength=50}}
      </div>
      <div class="join-terms-and-conditions">
        <p>
          {{t 'content.classes.join.terms-and-conditions'}}
        </p>
      </div>
    </div>
    <div class="modal-footer">
      {{#link-to 'user' class="not-now-button back-cta"}}{{t 'content.classes.join.not-now'}}{{/link-to}}
      <a class="btn btn-success join-class-btn" {{action "createClass"}}>{{t 'content.classes.join.join-class'}} {{gru-icon name= "keyboard_arrow_right" class=""}}</a>
    </div>
  </div>
</div>
