<div class="modal-header">
  <h4 class="modal-title">{{t "common.add-course"}}</h4>
</div>
<div class="modal-body">
  <form {{action "createCourse" on="submit"}}>

    <label>
      <span class="required">{{t 'common.course-title'}}</span>
      {{validation.gru-input model=course valuePath='title'}}
    </label>

    <label>
      <span class="required">{{t 'common.category'}}</span>
    </label>
    <div class="btn-group">
      {{#each categories as |category index| }}
        <a href="#"
           class="btn {{set-if-equal 'selected' category.value course.category}}"
           data-value="{{category.value}}"
          {{action 'selectCategory' category.value}}>{{t category.label}}</a>
      {{/each}}
    </div>

    <div class="actions">
      <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'common.close'}}">
        <span aria-hidden="true">{{t 'common.cancel'}}</span>
      </button>
      <button type="submit" class="btn btn-primary">{{t 'common.add'}}</button>
    </div>

  </form>
</div>

