<div class="modal-header">
  <h4 class="modal-title">{{t "gru-suggest-resource.title"}}</h4>
</div>
<div class="modal-body">
  <p class="lead description">{{t 'gru-suggest-resource.description'}}</p>
  <table class="table">
      <thead>
        <tr>
          <th>Resource</th>
          <th>Courses</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        {{#each suggestedResources as |resource| }}
            <tr>
              <td>{{resource.title}}</td>
              <td>{{resource.collectionCount}}</td>
              <td>{{resource.views}}</td>
            </tr>
        {{/each}}
      </tbody>
  </table>
  <div class="actions">
    <!--<button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-label="{{t 'gru-suggest-resource.cancel'}}" {{action 'cancel'}}>
      <span aria-hidden="true">{{t 'gru-suggest-resource.cancel'}}</span>
    </button>-->
    <button type="submit" class="btn btn-primary submit" data-dismiss="modal" {{action 'cancel'}}>{{t 'gru-suggest-resource.confirm'}}</button>
  </div>
</div>
