<a href="#{{lesson.id}}"
   data-toggle="collapse"
   aria-expanded="false"
   aria-controls="{{lesson.id}}"
   id="lesson-{{lesson.id}}"
   class='panel'
  {{action "selectLesson" lesson}}>
    <ul>
      <li class="lesson-performance-content">
          {{class.analytics.performance.gru-performance-summary
          performance=lesson
          index=index
          selectedOption=selectedOption}}
      </li>
    </ul>
</a>
<div class="collections-container collapse" id="{{lesson.id}}">
  {{#each lesson.collections as |collection index|}}
      <div class="collection-performance">
          <ul>
            <li class="collection-performance-content">
                {{class.analytics.performance.gru-performance-summary
                performance=collection
                selectedOption=selectedOption
                onSelectResource=(action 'selectResource')}}
            </li>
          </ul>
      </div>
  {{else}}
      <span class="no-content">{{t "gru-performance.no-content"}}</span>
  {{/each}}
</div>