<a href="#{{lesson.id}}"
   data-toggle="collapse"
   aria-expanded="false"
   aria-controls="{{lesson.id}}"
   id="lesson-{{lesson.id}}"
  {{action "selectLesson" lesson}}>
    <ul class="row">
        <li class="col-xs-8 col-sm-4 lesson-performance-title">
            <span><i class="fa fa-chevron-down hidden-xs"></i>
                {{course-sections-prefix  index=localIndex type='lesson' longName=false}}&colon; {{lesson.title}}</span>
        </li>
        <li class="col-xs-4 col-sm-8 lesson-performance-content">
            {{class.analytics.performance.gru-performance-summary
            performance=lesson
            selectedOption=selectedOption}}
        </li>
    </ul>
</a>
<div class="collections-container collapse col-xs-12" id="{{lesson.id}}">
  {{#each lesson.collections as |collection index|}}
      <div class="collection-performance row">
          <ul>
            <li class="col-xs-8 col-sm-4 collection-performance-title">
              {{#if collection.isCompleted}}
                <span class="row" >
                  {{course-sections-prefix  index=index type=(if collection.isCollection 'collection' 'assessment') longName=false}}&colon; {{collection.title}}
                </span>
              {{else}}
                <span class="row has-action" {{action "selectResource" collection.id}}>
                  {{course-sections-prefix  index=index type=(if collection.isCollection 'collection' 'assessment') longName=false}}&colon; {{collection.title}}
                </span>
              {{/if}}
              <div class="row hidden-xs">
                {{#if collection.isCompleted}}
                  <button class="btn btn-sm btn-default collection-redo-button">{{t "gru-performance-summary.redo"}}</button>
                  <button class="btn btn-sm btn-default collection-view-report-button">{{t "gru-performance-summary.view-report"}}</button>
                {{else}}
                  <button class="btn btn-sm btn-default collection-study-button" {{action "selectResource" collection.id}}>{{t "gru-performance-summary.study"}}</button>
                {{/if}}
              </div>
            </li>
            <li class="col-xs-4 col-sm-8 collection-performance-content">
                {{class.analytics.performance.gru-performance-summary
                performance=collection
                selectedOption=selectedOption
                onSelectResource=(action 'selectResource')}}
            </li>
          </ul>
      </div>
  {{else}}
      <span class="no-content">{{t "gru-performance.no-content"}}</span>
  {{/each}}
</div>