<a href="#lesson-container-{{plus-one index}}" data-parent=".gru-student-performance-container" data-toggle="collapse" data-target="#lesson-container-{{plus-one index}}" aria-expanded="true" aria-controls="lesson-container-{{plus-one index}}" {{action "selectUnit" performance}}>
  <ul class="row">
      <li class="col-xs-8 col-sm-3 performance-unit-title">
          <span>
              U{{plus-one index}}: {{performance.title}}
          </span>

      </li>
      <li class="col-xs-4 col-sm-9 performance-unit-content">
        {{#if performance.hasStarted}}
          <div>
              <ul class="hidden-xs performance-headers">
                  <li class="score-header"><p>{{t "gru-performance-summary.scores"}}</p></li>
                  <li class="completion-header"><p>{{t "gru-performance-summary.completion"}}</p></li>
                  <li class="timeSpent-header"><p>{{t "gru-performance-summary.time-spent"}}</p></li>
                  <li class="reactions-header"><p>{{t "gru-performance-summary.reactions"}}</p></li>
                  <li class="attempts-header"><p>{{t "gru-performance-summary.attempts"}}</p></li>
              </ul>
          </div>
          <div>
            {{class.analytics.performance.gru-performance-summary
            performance=performance
            selectedOption=selectedOption}}
          </div>
        {{else }}
            <h3>{{t "gru-unit-performance.notStarted"}}</h3>
        {{/if}}

      </li>
  </ul>
</a>
<div class="lessons-container collapse panel-group" id="lesson-container-{{plus-one index}}" role="tablist" aria-multiselectable="true">
    <!-- each del componete de performance summary con el performance de cada lesson-->
  {{#each lessons as |lesson index|}}
    {{class.analytics.performance.student.gru-lesson-performance
    lesson = lesson
    index = index
    selectedOption = selectedOption}}
  {{else}}
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{else}}
        <h3>{{t "gru-unit-performance.noContent"}}</h3>
    {{/if}}

  {{/each}}
</div>
