<a href="#lesson-container-{{plus-one localIndex}}" data-parent=".gru-student-performance-container" data-toggle="collapse" data-target="#lesson-container-{{plus-one localIndex}}" aria-expanded="true" aria-controls="lesson-container-{{plus-one localIndex}}" {{action "selectUnit" performance}}>
  <ul class="row">
      <li class="col-xs-8 col-sm-4 performance-unit-title">
          <span>
              {{course-sections-prefix  index=localIndex type='unit'}}&colon; {{performance.title}}
          </span>

      </li>
      <li class="col-xs-4 col-sm-8 performance-unit-content">
          <div>
              <ul class="hidden-xs performance-headers">
                  <li class="score-header"><p>{{t "gru-performance-summary.scores"}}</p></li>
                  <li class="completion-header"><p>{{t "gru-performance-summary.completion"}}</p></li>
                  <li class="timeSpent-header"><p>{{t "gru-performance-summary.time-spent"}}</p></li>
                  <li class="reactions-header"><p>{{t "gru-performance-summary.reactions"}}</p></li>
                  <li class="attempts-header"><p>{{t "gru-performance-summary.attempts"}}</p></li>
              </ul>
          </div>
          <div>
            {{class.analytics.performance.gru-performance-summary
            performance=performance
            selectedOption=selectedOption}}
          </div>
      </li>
  </ul>
</a>
<div class="lessons-container collapse" id="lesson-container-{{plus-one localIndex}}">
    <!-- each del componete de performance summary con el performance de cada lesson-->
  <div id="collection-data-parent-{{plus-one localIndex}}">
    {{#each lessons as |lesson index|}}
      {{class.analytics.performance.student.gru-lesson-performance
      lesson = lesson
      localIndex = index
      index = localIndex
      selectedOption = selectedOption
      onSelectResource=(action 'selectResource')}}
    {{else}}
      {{#if isLoading}}
        {{three-bounce-spinner}}
      {{else}}
          <span class="no-content">{{t "gru-performance.noContent"}}</span>
      {{/if}}

    {{/each}}

  </div>
</div>
