<div data-parent=".gru-student-performance-container" data-toggle="collapse" data-target="#lesson-container-{{plus-one index}}" aria-expanded="true" aria-controls="lesson-container-{{plus-one index}}" {{action "selectUnit" performance}}>
<ul class="row">
      <li class="col-xs-8 col-sm-3 performance-unit-title">
          <span>
              U{{plus-one index}}: {{performance.title}}
          </span>

      </li>
      <li class="col-xs-4 col-sm-9">
        {{#if performance.hasStarted}}
            <ul class="hidden-xs performance-headers">
                <li class="score-header"><p>{{t "gru-performance-summary.scores"}}</p></li>
                <li class="completion-header"><p>{{t "gru-performance-summary.completion"}}</p></li>
                <li class="timeSpent-header"><p>{{t "gru-performance-summary.time-spent"}}</p></li>
                <li class="reactions-header"><p>{{t "gru-performance-summary.reactions"}}</p></li>
                <li class="attempts-header"><p>{{t "gru-performance-summary.attempts"}}</p></li>
            </ul>
          {{class.analytics.performance.gru-performance-summary
          performance=performance
          selectedOption=selectedOption}}
        {{else}}
            <h3>Not started yet</h3>
        {{/if}}

      </li>
  </ul>
</div>
<div class="lessons-container collapse row" id="lesson-container-{{plus-one index}}">
    <!-- each del componete de performance summary con el performance de cada lesson-->
  {{#each visibleLessons as |lesson index|}}
      <ul>
          <li class="col-xs-8 col-sm-3 performance-lesson-title">
              <span >
                  <i class="fa fa-chevron-down"></i>
                  <span>L{{plus-one index}}: {{lesson.title}}</span>
              </span>
          </li>
          <li class="col-xs-4 col-sm-9">
              <!-- Aqui va el performance data -->
          </li>

      </ul>
  {{else}}
      <h3>No content available</h3>
  {{/each}}
</div>
