<a href="#{{unit.id}}"
   data-parent=".gru-student-performance-container"
   data-toggle="collapse"
   data-target="#{{unit.id}}"
   aria-expanded="true"
   aria-controls="lesson-container-for-unit-{{unit.id}}"
  {{action "selectUnit" unit}}
  id="unit-{{unit.id}}">
  <ul class="row">
      <li class="col-xs-8 col-sm-4 performance-unit-title">
          <span>
              U{{plus-one localIndex}}: {{unit.title}}
          </span>

      </li>
      <li class="col-xs-4 col-sm-8 performance-unit-content">
          <div>
              <ul class="hidden-xs performance-headers">
                  <li class="score-header"><p>{{t "gru-performance-summary.scores"}}</p></li>
                  <li class="completion-header"><p>{{t "gru-performance-summary.completion"}}</p></li>
                  <li class="timeSpent-header"><p>{{t "gru-performance-summary.time-spent"}}</p></li>
                  <li class="reactions-header"><p>{{t "gru-performance-summary.reactions"}}</p></li>
                  <li class="attempts-header"><p>{{t "gru-performance-summary.attempts"}}</p></li>
              </ul>
          </div>
          <div>
            {{class.analytics.performance.gru-performance-summary
            performance=unit
            selectedOption=selectedOption}}
          </div>
      </li>
  </ul>
</a>
<div class="lessons-container collapse" id="{{unit.id}}">
    <!-- each del componete de performance summary con el performance de cada lesson-->
  <div>
    {{#each lessons as |lesson index|}}
      {{class.analytics.performance.student.gru-lesson-performance
      lesson = lesson
      localIndex = index
      index = localIndex
      selectedOption = selectedOption
      onSelectResource=(action 'selectResource')
      onSelectLesson=(action 'updateSelectedLesson')
      selectedLessonId=selectedLessonId
      }}
    {{else}}
      {{#if isLoading}}
        {{three-bounce-spinner}}
      {{else}}
          <span class="no-content">{{t "gru-performance.noContent"}}</span>
      {{/if}}

    {{/each}}

  </div>
</div>
