<div class="xs-design hidden-md hidden-lg">
  <div class="profile-info">
    <div class="profile-name">
        <h4>{{profile.user.fullNameInformal}}</h4>
    </div>
    <div class="navigation-active">
      <div class="btn-group drop-menu">
        <button class="btn dropdown-toggle" data-toggle="dropdown">{{gru-icon name='person'}}{{gru-icon name='keyboard_arrow_down'}}</button>
        <ul class="dropdown-menu">
          <li class="profile-menu-item close"> <button class="btn dropdown-toggle" data-toggle="dropdown">{{gru-icon name='close'}}</button></li>
          <li class="profile-menu-item about">
              <h6 {{action 'selectItem' 'about'}}>{{t "profile.gru-navigation.about-you"}}</h6>{{gru-icon name='person'}}
          </li>
          <li class="profile-menu-item content">
              <h6 {{action 'selectItem' 'content'}}>{{t "profile.gru-navigation.content"}}</h6><i class="gru-icon material-icons content"></i>
          </li>
          <li class="profile-menu-item network">
              <h6 {{action 'selectItem' 'network'}}>{{t "profile.gru-navigation.network"}}</h6><i class="gru-icon material-icons network"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="profile-info clearfix">
  {{cards.gru-profile-card
  profile=profile
  class="clearfix"
  onProfileSelect=(action 'selectUserProfile')}}
  <div class="actions">
    <button class="edit btn btn-default btn-lg">{{t "common.edit"}}</button>
  </div>
</div>

<div class="md-design hidden-xs hidden-sm">
  <ul class="profile-menu list-group">
    <li class="list-group-item profile-menu-item about">
      <h6 {{action 'selectItem' 'about'}}>{{t "profile.gru-navigation.about-you"}}</h6>
      {{gru-icon name='person'}}
    </li>
    <li class="list-group-item profile-menu-item content">
      <h6 {{action 'selectItem' 'content'}}>{{t "profile.gru-navigation.content"}}</h6>
      <i class="gru-icon material-icons content"></i>
    </li>
    <li class="list-group-item profile-menu-item network">
      <h6 {{action 'selectItem' 'network'}}>{{t "profile.gru-navigation.network"}}</h6>
      <i class="gru-icon material-icons network"></i>
    </li>
  </ul>
</div>