<div class="controller create-class">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{t 'content.classes.create.title'}}</h3>
          <p class="lead">{{t 'content.classes.create.content'}}</p>
        </div>
        <div class="modal-body">
          <div class="form-group class-name-input">
            <label class="control-label" for="">{{t 'content.classes.create.class-name-input'}}</label>
            <input class="form-control" id="class-name-input" type="text">
          </div>
          <div class="form-group condition-prompt">
            <p>{{t 'content.classes.create.condition-prompt'}}</p>
            <div class="radios">
              <label>
                <input type="radio" checked="">
                {{t 'content.classes.create.condition-prompt-code'}}
              </label>
              <label>
                <input type="radio" >
                {{t 'content.classes.create.condition-prompt-invite'}}
              </label>
            </div>

        </div>
        </div>
        <div class="modal-footer">
          {{#link-to 'user'}}{{t 'common.cancel'}}{{/link-to}}
          <button type="button" class="btn btn-success">{{t 'content.classes.create.get-started'}} {{gru-icon name= "keyboard_arrow_right" class="pull-right"}} </button>
        </div>
      </div>
    </div>
  </div>
</div>
