<div class="controller create-class">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{t 'content.classes.create.title'}}</h3>
          <p class="lead">{{t 'content.classes.create.content'}}</p>
        </div>
        <div class="modal-body">
          <div class="form-group class-name-input">
            <label class="control-label" for="">{{t 'content.classes.create.class-name-input'}}</label>
            <input class="form-control" id="class-name-input" type="text">
          </div>
          <div class="form-group condition-prompt">
            <p>{{t 'content.classes.create.condition-prompt'}}</p>
            <div class="conditions">
              <label >
                <input type="radio" checked="" class="condition-prompt-code">
                {{t 'content.classes.create.condition-prompt-code'}}
              </label>
              <label>
                <input type="radio" class="condition-prompt-invite" >
                {{t 'content.classes.create.condition-prompt-invite'}}
              </label>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          {{#link-to 'user' class="cancel-button"}}{{t 'common.cancel'}}{{/link-to}}
          <a type="button" class="btn btn-success get-started-btn">{{t 'content.classes.create.get-started'}} {{gru-icon name= "keyboard_arrow_right" class=""}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
