<div class="dca-panel-container">
  <div class="dca-panel-info">
    <i class="{{item.collectionType}}-icon" />
    <p {{action 'onPlayContent' item}}>{{item.title}}</p>
  </div>
  <div class="dca-content-counts">
    {{#if (gt item.resourceCount 0)}}
      <div class="resource-count">
        <i class="resource-icon"></i>
        <span>{{item.resourceCount}}</span>
      </div>
    {{/if}}
    {{#if (gt item.questionCount 0)}}
      <div class="question-count">
        <i class="question-icon"></i>
        <span>{{item.questionCount}}</span>
      </div>
    {{/if}}
    {{#if (eq item.collectionType 'assessment-external')}}
      <i class="external-icon"></i>
    {{/if}}
  </div>
  <div class="dca-panel-actions-performance">
    <div class="dca-panel-actions">
      {{#if showDcaAddButton}}
        <span class="dca-add" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.add"}}" {{action 'onAddContentToDCA' item}}>
          {{gru-icon name="add"}}
        </span>
      {{/if}}
      {{#if (gt item.oeQuestionCount 0)}}
        <i data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{t "common.rubric"}}" class="rubric-icon"></i>
      {{/if}}
      {{#if (and showGolive (eq item.collectionType 'assessment'))}}
        <i data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{t "common.launch-on-air"}}" class="golive-icon" {{action 'goLive' item.id}}></i>
      {{/if}}
      {{#if showDcaAssignButton}}
        <span class="dca-assign" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.assign"}}">
        {{#unless classActivity.isActive}}
            {{gru-switch switchOptions=switchOptions onOptionSwitch='changeVisibility' isChecked=classActivity.isActive item=item}}
        {{else}}
          {{gru-switch class="assigned" switchOptions=switchOptions onOptionSwitch='changeVisibility' isChecked=classActivity.isActive item=item}}
        {{/unless}}
        </span>
      {{/if}}
      {{#if showDcaRemoveButton}}
        <span class="remove-dca" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.remove"}}" {{action 'removeClassActivity' classActivity}}>
          {{gru-icon name="remove_circle" }}
        </span>
      {{/if}}
    </div>
    {{#if collectionPerformanceSummary}}
      <div class="dca-panel-performance" {{action 'teacherCollectionReport' item}} style="background-color:{{grade-color collectionPerformanceSummary.score}}">
        {{#if (not-eq item.collectionType 'collection')}}
          <span>{{collectionPerformanceSummary.score}}%</span>
        {{else}}
          <span>{{format-time collectionPerformanceSummary.timeSpent}}</span>
        {{/if}}
      </div>
    {{else}}
      <div class="dca-panel-performance">
        <span class="no-performance">--</span>
      </div>
    {{/if}}
  </div>
</div>
