<div class="panel-heading">
  <div class="icon-container pull-left">
    <img src="{{item.thumbnailUrl}}" />
  </div>
  <div class="title-container pull-left">
    {{#if (eq item.collectionType 'assessment-external')}}
     <a {{action 'externalAssessment' item }} class="title">
       <div class="ellipsis">{{item.title}}</div>
     </a>
    {{else}}
     {{#link-to 'player' item.id (query-params type=item.collectionType role='teacher' ) class="title" }}
       <div class="ellipsis">{{item.title}}</div>
     {{/link-to}}
   {{/if}} 
   {{#if (and (not (eq index 0)))}}
     <div>{{activityDateStr}}</div>
   {{/if}}
  </div>
  <div class="info pull-right">
    <div class="content-count">
      {{#if (eq item.collectionType 'assessment')}}
      {{#if item.questionCount}}
        <span class="{{if (gt item.resourceCount 0) '' 'invisible'}}" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}} &nbsp; &nbsp;</span>
        <span class="{{if (gt item.questionCount 0) '' 'invisible'}}" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}}</span> <span class="{{if (gt item.questionCount 0) '' 'invisible'}} question-count ">{{item.questionCount}}</span>
      {{/if}}
      {{else}}
      {{#if (or item.questionCount item.resourceCount)}}
        <span class="{{if (gt item.resourceCount 0) '' 'invisible'}}" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.resources"}}">{{gru-icon name='local_library'}}</span><span class="{{if (gt item.resourceCount 0) '' 'invisible'}} resource-count ">{{item.resourceCount}}</span>
        <span class="{{if (gt item.questionCount 0) '' 'invisible'}}" data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}}</span><span class="{{if (gt item.questionCount 0) '' 'invisible'}} question-count ">{{item.questionCount}}</span>
      {{/if}}
      {{/if}}
      {{#if (eq item.collectionType 'assessment-external')}}
      <img src="/assets/gooru/share.png"
     srcset="/assets/gooru/share@2x.png 2x,
             /assets/gooru/share@3x.png 3x"
     class="share">
     {{/if}}
    </div>
    <div class="actions-container">
      <button title="{{t 'common.remove'}}" class="btn no-bgd remove-item" {{action 'removeClassActivity' classActivity}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="remove_circle"}}</button>
      {{#if (eq index 0)}}
        {{#if visible}}
          <span class='visibility-panel item-visible hidden-xs'>
            {{gru-icon name='assignment_turned_in'}}
          </span>
        {{else}}
          <span class='visibility-panel item-not-visible hidden-xs pointer'
            {{action 'changeVisibility' classActivity.id}}
                data-toggle="tooltip" data-html="true" data-placement="top"
                title="{{t "common.assign"}}">
            {{gru-icon name='assignment_turned_in'}}
          </span>
        {{/if}}
      {{else}}
        <span class='visibility-panel item-not-visible hidden-xs'>
          {{gru-icon name='assignment_turned_in'}}
        </span>
      {{/if}}
      {{#if (eq index 0)}}
      {{#if (and (eq item.collectionType 'assessment') (not-eq item.collectionType 'assessment-external'))}}
        <button {{action 'goLive' item.id}}
          data-toggle="tooltip" data-html="true" data-placement="bottom"
          title="{{t "common.launch-on-air"}}"
          class="on-air go-live enabled">{{t "common.launch-on-air"}}
        </button>
      {{/if}}
      {{/if}}
      {{#if (or collectionPerformanceSummary.score collectionPerformanceSummary.timeSpent)}}
        <span {{action 'onReportClick' item.id (eq item.collectionType 'assessment')}} class='visibility-panel item-not-visible hidden-xs pointer' data-toggle="tooltip" data-placement="auto">{{gru-icon name='library_books'}}</span>
      {{/if}}
    </div>
    <div class="performance">
      {{#if (eq item.collectionType 'assessment')}}
        <span class="score" style={{safe-html (concat "color:" (grade-color (if collectionPerformanceSummary.score collectionPerformanceSummary.score 'NA')))}}>
          {{if collectionPerformanceSummary.score (concat collectionPerformanceSummary.score '%') '--'}}
        </span>
      {{else}}
        <span class="time-spent">
          {{if collectionPerformanceSummary.timeSpent (format-time collectionPerformanceSummary.timeSpent) '--'}}
        </span>
      {{/if}}
    </div>
  </div>
</div>
{{#if item.isReportEnabled}}
<div class="out-of-scope" style="text-align:right;">
<ul class="filters checkbox-margin">
  {{#each questionProperties as |property index|}}
    <li class="checkbox" style="display: inline;">
      <label>
        <input type="checkbox" disabled={{property.filter.disabled}} checked={{property.visible}} {{action 'checkfilter' property on='change'}}>
        <span>{{property.filter.label}}</span>
      </label>
    </li>
  {{/each}}
</ul>
</div>
<div class='gru-two-tier-header-table overidemarginleft' id="maindatatable">
  <div>
   <div class="column-headers" id="clscroll-column-headers">
    <table id="header-Table">


    <tr class="first-tier top-header">
      <th scope="col"
            class="row-header fixedCol fixedColOld setWidth"
          {{!-- {{action "updateSortCriteria" 0 -1}} --}}
          >
        </th>
        <th scope="col" id="scoreCol"
            class="row-header fixedCol fixedColNew">Score</th>
      {{!-- {{#if rowHeadersHeader}}
        <td class="fixedCol"></td>
      {{else}} --}}
      {{!-- {{/if}} --}}

      {{#each firstTierHeaders as |header|}}
      {{#if (eq header.content_format 'resource')}}
      <th class="{{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}">R {{header.order}}</th>
      {{else}}
      <th class="{{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}">Q {{header.order}}</th>
      {{/if}}
      {{/each}}
    </tr>

    <tr class="second-tier">
      {{!-- {{#if rowHeadersHeader}} --}}
        <th scope="col" id="totalCol"
            class="row-header fixedCol fixedColOld setWidth"
          {{!-- {{action "updateSortCriteria" 0 -1}} --}}
          >
          <span style="cursor:pointer;" {{action "onNameSortClick"}}>
            Student
            {{gru-icon name='swap_vert'}}
            {{gru-icon name='arrow_upward'}}
            {{gru-icon name='arrow_downward'}}
          </span>
        </th>

           <th scope="col"
              class="row-header fixedCol fixedColNew"
             {{!-- {{action "updateSortCriteria" firstTierIndex}} --}}
            >
            <div class="table-cell score" style="display: table-cell;">
            <span style="cursor:pointer;" {{action "onScoreSortClick"}}>
              <img src="/assets/gooru/tick.png"
     srcset="/assets/gooru/tick@2x.png 2x,
             /assets/gooru/tick@3x.png 3x"
     class="tick">
              {{gru-icon name='swap_vert'}}
              {{gru-icon name='arrow_upward'}}
              {{gru-icon name='arrow_downward'}}
            </span></div>
            <div class="table-cell clockpad study-time {{if timevisible '' 'out-of-scope'}}" style="display: table-cell;">
            <span style="cursor:pointer;" {{action "onTimeSortClick"}}>
              <img src="/assets/gooru/clock.png"
     srcset="/assets/gooru/clock@2x.png 2x,
             /assets/gooru/clock@3x.png 3x"
     class="clock">
              {{gru-icon name='swap_vert'}}
              {{gru-icon name='arrow_upward'}}
              {{gru-icon name='arrow_downward'}}
            </span></div>
            <div class="table-cell reactpad completion pull-right {{if reactionvisible '' 'out-of-scope'}}" style="display: table-cell;">
             <span style="cursor:pointer;" {{action "onReactionSortClick"}}>
              <img src="/assets/gooru/mood.png"
     srcset="/assets/gooru/mood@2x.png 2x,
             /assets/gooru/mood@3x.png 3x"
     class="mood-copy">
              {{gru-icon name='swap_vert'}}
              {{gru-icon name='arrow_upward'}}
              {{gru-icon name='arrow_downward'}}
            </span></div>
          </th>


      {{!-- {{/if}} --}}



      {{#each firstTierHeaders as |firstTierHeader firstTierIndex|}}
       {{!-- {{#each secondTierHeaders as |secondTierHeader secondTierIndex|}} --}}
       {{!-- {{#if rowHeadersHeader}} --}}
          <th scope="col"
              class="row-header {{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}"
            {{!-- {{action "updateSortCriteria" firstTierIndex}} --}}
            >
            <div class="table-cell score" style="display: table-cell;">
            <span>
            <img src="/assets/gooru/tick.png"
                srcset="/assets/gooru/tick@2x.png 2x,
                        /assets/gooru/tick@3x.png 3x"
                class="tick">
            </span></div>
            <div class="table-cell clockpad study-time {{if timevisible '' 'out-of-scope'}}" style="display: table-cell;">
            <span>
              <img src="/assets/gooru/clock.png"
     srcset="/assets/gooru/clock@2x.png 2x,
             /assets/gooru/clock@3x.png 3x"
     class="clock">
            </span></div>
            <div class="table-cell reactpad completion pull-right {{if reactionvisible '' 'out-of-scope'}}" style="display: table-cell;">
             <span>
              <img src="/assets/gooru/mood.png"
     srcset="/assets/gooru/mood@2x.png 2x,
             /assets/gooru/mood@3x.png 3x"
     class="mood-copy">
            </span></div>
          </th>
        {{!-- {{/each}} --}}
      {{/each}}
    </tr>
   </table>
</div>
<div class="row-headers" id="clscroll-row-headers">
    <table>

    {{#each membersData as |row rowIndex|}}
      <tr class="data">
        <td scope="row" class="pointer setWidth"
          {{action "selectRowHeader" row.id (eq item.collectionType 'assessment')}}>
          <div class="table-cell pull-left textellip pointer">{{row.lastName}}, {{row.firstName}}</div>
        </td>
      {{#if (eq rowIndex 0)}}
        <td scope="row" style="width:177px;">
          <div class="box score pull-left" style={{safe-html (concat "background-color:" (grade-color row.avgScore)) }}>
          {{row.avgScore}}%
        </div>
        <span style="display: table-cell;" class="time-spent timePaddingfixed pull-left {{if (eq row.avgTime '--') 'timePaddingfixedmore' ''}} {{if timevisible '' 'out-of-scope'}}">{{row.avgTime}}</span>
           <span style="display: table-cell;" class="reaction smileypaddingfixed pull-right {{if (eq row.avgReact '--') 'smileypaddingfixedmore' ''}} {{if reactionvisible '' 'out-of-scope'}}">
            {{{reaction-icon row.avgReact appRootPath}}}
            </span>
        </td>
         {{else}}
         <td scope="row" class="{{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}">
          <div class="box score pull-left" style={{safe-html (concat "background-color:" (grade-color row.avgScore)) }}>
          {{row.avgScore}}%
        </div>
        <span style="display: table-cell;" class="time-spent timePaddingfixed pull-left {{if (eq row.avgTime '--') 'timePaddingfixedmore' ''}} {{if timevisible '' 'out-of-scope'}}">{{row.avgTime}}</span>
           <span style="display: table-cell;" class="reaction smileypaddingfixed pull-right {{if (eq row.avgReact '--') 'smileypaddingfixedmore' ''}} {{if reactionvisible '' 'out-of-scope'}}">
            {{{reaction-icon row.avgReact appRootPath}}}
            </span>
        </td>
         {{/if}}
        </tr>
    {{/each}}
    </table>
</div>
<div class="table-wrapperCol style-1" id="clscroll-content">
    <table id="clscroll-table">
          {{#each membersData as |row|}}
      <tr class="data">
        {{#each row.resultResources as |content index|}}
          <td class="{{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}">
            <span class="score answer-undefined pull-left" style="display: table-cell;"></span>
            <span class="time-spent timePadding pull-left out-of-scope" style="display: table-cell;"></span>
            <span class="reaction smileypadding pull-right out-of-scope" style="display: table-cell;">
            </span>
          </td>
        {{/each}}
        {{#each row.content as |content|}}
          <td class="{{if (and timevisible reactionvisible) 'scoreTimeReaction' ''}} {{if (and (not timevisible) (not reactionvisible)) 'onlyScore' ''}} {{if (and (not timevisible) reactionvisible) 'onlyScoreReaction' ''}} {{if (and timevisible (not reactionvisible)) 'onlyScoreTime' ''}}">
            {{#if (eq content.score 100)}}
            <span data-toggle="tooltip" data-placement="auto" class="pull-left" title="" data-original-title="" style="display: table-cell;"><span class="score answer-correct"><i class="gru-icon material-icons">done</i></span></span>
            <span class="time-spent timePadding pull-left {{if timevisible '' 'out-of-scope'}}" style="display: table-cell;">{{content.timeSpent}}</span>
            <span class="reaction smileypadding pull-right {{if reactionvisible '' 'out-of-scope'}}" style="display: table-cell;">
          {{{reaction-icon content.reaction appRootPath}}}
        </span>
            {{/if}}
             {{#if (eq content.score 0)}}
             {{#if (eq content.questionType 'OE')}}
             <span data-toggle="tooltip" data-placement="auto" class="pull-left" title="" data-original-title="" style="display: table-cell;"><span class="score answer-extended_text"></span></span>
            {{else}}
            <span data-toggle="tooltip" data-placement="auto" class="pull-left" title="" data-original-title="" style="display: table-cell;"><span class="score answer-incorrect"><i class="gru-icon material-icons">clear</i></span></span>
             {{/if}}
            <span class="time-spent timePadding pull-left {{if timevisible '' 'out-of-scope'}}" style="display: table-cell;">{{content.timeSpent}}</span>
          <span class="reaction smileypadding pull-right {{if reactionvisible '' 'out-of-scope'}}" style="display: table-cell;">
          {{{reaction-icon content.reaction appRootPath}}}
          </span>
            {{/if}}
            {{#if (or (eq content.score undefined) (eq content.score null))}}
            {{#if (and (eq content.content_format 'resource') content.timeSpent)}}
            <span class="score answer-extended_text pull-left" style="display: table-cell;"></span>
            {{else}}
            <span class="score answer-undefined pull-left" style="display: table-cell;"></span>
            {{/if}}

            <span class="time-spent timePadding pull-left {{if timevisible '' 'out-of-scope'}}" style="display: table-cell;">{{content.timeSpent}}</span>
            <span class="reaction smileypadding pull-right {{if reactionvisible '' 'out-of-scope'}}" style="display: table-cell;">
          {{{reaction-icon content.reaction appRootPath}}}
          </span>
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </table>
</div>
</div>
</div>
{{/if}}
