<ol class="accordion-course" role="tablist" aria-multiselectable="true">
  {{#if isLoading}}
    {{three-bounce-spinner}}
  {{else}}
    <div class="user-course-info">
      <div class="user-profile-info">
        <div class="profile">
          <div class="img-container pull-left">
            <img class="img-responsive" src="{{course.thumbnailUrl}}">
          </div>
        </div>
      </div>
      <div class="class-performance">
        <span class="student-name"> {{profile.firstName}} {{profile.lastName}} </span>
      </div>
      <div class="close">
        <a {{action 'close'}} data-dismiss="modal" class="material-icons clear-button">clear</a>
        <span class="text"> Close </span>
      </div>
      <div class="performance">
        <div class="student">
          <div class="student-performance">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="{{studentColorStyle}} {{studentAverage}}"></div>
            </div>
          </div>
          <span class="score-text" style="color: {{studentColor}}"> {{studentPerformance.score}} % </span>
        </div>

        <div class="class">
          <div class="class-performance">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="{{classColorStyle}} {{classAverage}}"> </div>
            </div>
          </div>
          <span class="score-text" style="color: {{classColor}}"> {{classPerformance.score}} % </span>
        </div>
        <span class="class-average">class average</span>
      </div>
    </div>


    {{#if courseView}}
      <div class="unit-body">
        {{#each items as |item index|}}
          {{class.learner.gru-learner-accordion-unit
        currentClass=currentClass
        currentCourse=currentCourse
        classMembers=classMembers
        collectionReport="collectionReport"
        model=item
        index=index
        isTeacher=isTeacher
        isNUCourse=isNUCourse
        toggleLocation=toggleLocation}}

    {{else}}
      <li>{{t "common.contentUnavailable"}}</li>
        {{/each}}
      </div>
    {{else}}
      <div class="report-data">
        {{#if isReportLoading}}
          {{three-bounce-spinner}}
        {{else}}
          <div class="col-sm-12 navigation">
            <button {{action 'goBack'}} class="btn btn-info back">
            <span>
              {{gru-icon name='keyboard_arrow_left'}}
                {{t 'common.back'}}
            </span>
          </button>
          </div>
          {{#if assessmentResult}}
            {{reports.gru-assessment-report
         areAnswersHidden=areAnswersHidden
         isAnswerKeyHidden=isAnswerKeyHidden
         assessmentResult=assessmentResult
         onSelectAttempt='selectAttempt'
         onViewOEReport='viewOEReport'
         isPathway=true
         profile=profile
         isTeacher=isTeacher
         onUpdateQuestionScore='onUpdateQuestionScore'
         isChangeScoreEnabled=isChangeScoreEnabled
         showChangeScore=showChangeScore
         isAssessment=isAssessment
       }}
          {{else}}
            {{t 'common.no-available-results'}}
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</ol>
