<div class="panel-heading">
  <div class="panel-title">
    <div class="icon-container">
      {{#if item.isAssessment}}
        {{#if item.thumbnailUrl}}
          <img class="img-rounded" src="{{item.thumbnailUrl}}">
        {{else}}
          {{gru-icon name='playlist_add_check'}}
        {{/if}}
      {{ else }}
        {{#if item.thumbnailUrl}}
          <img class="img-rounded" src="{{item.thumbnailUrl}}">
        {{else}}
          {{gru-icon name='view_comfy'}}
        {{/if}}
      {{/if}}
    </div>
    {{#if visible}}
      {{#if classActivity.context.courseId}}
        {{#link-to 'context-player'
        class.id
        classActivity.context.courseId
        classActivity.context.unitId
        classActivity.context.lessonId
        item.id
        (query-params
          type=item.collectionType
          role='student'
          source=source
          tenantId=session.tenantId
          partnerId=session.partnerId
        )
        class="title"}}
            <div class="ellipsis text">{{item.title}}</div>
            <div class="type">{{t (if item.isAssessment 'common.assessment' 'common.collection')}}</div>
        {{/link-to}}
      {{else}}
        {{#link-to 'player'
        item.id
        (query-params
          classId=class.id
          type=item.collectionType
          role='student'
          source=source
          tenantId=session.tenantId
          partnerId=session.partnerId
        )
        class="title"}}
            <div class="ellipsis text">{{item.title}}</div>
            <div class="type">{{t (if item.isAssessment 'common.assessment' 'common.collection')}}</div>
        {{/link-to}}
      {{/if}}
    {{else}}
      <span class="title">
          <div class="ellipsis text">{{item.title}}</div>
          <div class="type">{{t (if item.isAssessment 'common.assessment' 'common.collection')}}</div>
      </span>
    {{/if}}
  </div>
  <div class="info">
    <div class="content-count {{if (and item.questionCount item.resourceCount) 'mixed'}}">
      {{#if item.isAssessment}}
        {{#if item.questionCount}}
          <span class="question-count"><b>{{item.questionCount}}</b> {{t "common.question-pl" count=item.questionCount}}</span>
        {{/if}}
      {{else}}
        {{#if (or item.questionCount item.resourceCount)}}
          {{#if item.resourceCount}}
              <span class="resource-count"><b>{{item.resourceCount}}</b> {{t "common.resource-pl" count=item.resourceCount}}</span>
          {{/if}}
          {{#if item.questionCount}}
              <span class="question-count"><b>{{item.questionCount}}</b> {{t "common.question-pl" count=item.questionCount}}</span>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>

    <div class="left-info">
      <span class="score" style={{safe-html (concat "color:" (grade-color (if collectionPerformanceSummary.score collectionPerformanceSummary.score 'NA')))}}>
        {{if collectionPerformanceSummary.score collectionPerformanceSummary.score '--'}}%
      </span>
    </div>
  </div>
</div>
