<div class="panel-heading">
  <div class="icon-container pull-left">
    <img src="{{item.thumbnailUrl}}" />
  </div>
  <div class="title-container pull-left">
    {{#link-to 'player' item.id (query-params type=item.collectionType role='teacher') class="title"}}
        <div class="ellipsis">{{item.title}}</div>
    {{/link-to}}
  </div>

  <div class="info pull-right">
    <div class="content-count">
      {{#if item.isAssessment}}
        {{#if item.questionCount}}
          <span data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}}</span>
          <span class="question-count">{{item.questionCount}}</span>
        {{/if}}
      {{else}}
        {{#if (or item.questionCount item.resourceCount)}}
          {{#if item.resourceCount}}
            <span data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.resources"}}">{{gru-icon name='local_library'}}</span>
            <span class="resource-count">{{item.resourceCount}}</span>
          {{/if}}
          {{#if item.questionCount}}
            <span data-toggle="tooltip" data-html="true" data-placement="top" title="{{t "common.questions"}}">{{gru-icon name='help_outline'}}</span>
            <span class="question-count">{{item.questionCount}}</span>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    <div class="actions-container">
      <button title="{{t 'common.remove'}}" class="btn no-bgd remove-item" {{action 'removeClassActivity' classActivity}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="remove_circle"}}</button>

      {{#if (eq index 0)}}
        {{#if visible}}
          <span class='visibility-panel item-visible hidden-xs'>
            {{gru-icon name='assignment_turned_in'}}
          </span>
        {{else}}
          <span class='visibility-panel item-not-visible hidden-xs pointer'
            {{action 'changeVisibility' classActivity.id}}
                data-toggle="tooltip" data-html="true" data-placement="top"
                title="{{t "common.assign"}}">
            {{gru-icon name='assignment_turned_in'}}
          </span>
        {{/if}}
      {{else}}
        <span class='visibility-panel item-not-visible hidden-xs'>
          {{gru-icon name='assignment_turned_in'}}
        </span>
      {{/if}}

      {{#if item.isAssessment}}
        <button {{action 'goLive' item.id}}
          data-toggle="tooltip" data-html="true" data-placement="bottom"
          title="{{t "common.launch-on-air"}}"
          class="on-air go-live enabled">{{t "common.launch-on-air"}}
        </button>
      {{/if}}
    </div>

    <div class="performance">
      {{#if item.isAssessment}}
        <span class="score" style={{safe-html (concat "color:" (grade-color (if collectionPerformanceSummary.score collectionPerformanceSummary.score 'NA')))}}>
          {{if collectionPerformanceSummary.score (concat collectionPerformanceSummary.score '%') '--'}}
        </span>
      {{else}}
        <span class="time-spent">
          {{if collectionPerformanceSummary.timeSpent (format-time collectionPerformanceSummary.timeSpent) '--'}}
        </span>
      {{/if}}
    </div>

  </div>
</div>
