<div class="grade" style="background-color: {{gradeColor assessment.correctPercentage}}">
  <span class="percentage">{{assessment.correctPercentage}}%</span>
  <span class="attempts">{{assessment.correctAnswers}}
    / {{assessment.questionsResults.length}} {{t 'common.correct'}}</span>
</div>
<div class="overview">
  <h1>{{assessment.title}}</h1>

  <div class="information">
    <div class="attempt">
      <strong>{{t "common.attempts"}}</strong>

      <div class="content">
        <div class="attempt-selector">
          <div class="dropdown current-attempt">
            <button class="btn btn-default dropdown-toggle" type="button"
                    data-toggle="dropdown">{{assessment.selectedAttempt}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              {{#each attempts as |attempt|}}
                <li><a href="#{{attempt.value}}">{{attempt.label}}</a></li>
              {{/each}}
            </ul>
          </div>
          <span>/</span>
          <span class="total-attempts">{{assessment.totalAttempts}}</span>
        </div>

        <span class="date">{{assessment.submittedOn}}</span>
      </div>
    </div>

    <div class="time">
      <strong>{{t "common.timeSpent"}}</strong>
      <span>{{formatTime assessment.totalTimeSpent}}</span>
    </div>

    <div class="reaction">
      <strong>{{t "common.reaction"}}</strong>
      <i class="emotion emotion-{{assessment.averageReaction}}"></i>
    </div>
  </div>

  {{gru-bubbles bubbleOptions=resourceLinks}}

</div>

