<div class="grade" style="background-color: {{gradeColor assessmentResult.correctPercentage}}">
  <span class="percentage">{{assessmentResult.correctPercentage}}%</span>
  <span class="attempts">
    {{assessmentResult.correctAnswers}} / {{assessmentResult.questionsResults.length}} {{t 'common.correct'}}
  </span>
</div>
<div class="overview">
  <h1>{{assessmentResult.title}}</h1>

  <div class="information">
    <div class="attempt">
      <strong>{{t "common.attempts"}}</strong>

      <div class="content">
        <div class="attempt-selector">
          <div class="dropdown current-attempt">
            <button class="btn btn-default dropdown-toggle" type="button"
                    data-toggle="dropdown">{{assessmentResult.selectedAttempt}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              {{#each attempts as |attempt|}}
                <li><a href="#{{attempt.value}}">{{attempt.label}}</a></li>
              {{/each}}
            </ul>
          </div>
          <span>/</span>
          <span class="total-attempts">{{assessmentResult.totalAttempts}}</span>
        </div>

        <span class="date">{{formatDate assessmentResult.submittedOn 'h:mm a MMM. Do, YYYY'}}</span>
      </div>
    </div>

    <div class="time">
      <strong>{{t "common.timeSpent"}}</strong>
      <span>{{formatTime assessmentResult.totalTimeSpent}}</span>
    </div>

    <div class="reaction">
      <strong>{{t "common.reaction"}}</strong>
      <i class="emotion emotion-{{assessmentResult.averageReaction}}"></i>
    </div>
  </div>

  {{gru-bubbles bubbleOptions=resourceLinks}}

</div>

