<div class="summary-container">
  {{#if collection.isAssessment}}
    <div class="grade" style="background-color: {{gradeColor assessmentResult.correctPercentage}}">
      <span class="percentage">{{assessmentResult.correctPercentage}}%</span>
    <span class="attempts">
      <span class="fractional fraction"> {{{fractional numerator=assessmentResult.correctAnswers denominator=assessmentResult.totalResources}}}</span>
      <span class="text">{{t 'common.correct'}}</span>
    </span>
    </div>
  {{else}}
    <div class="thumbnail">
      <img src="{{thumbnailUrl}}"/>
    </div>
  {{/if}}
  <div class="overview">
    <h5>{{assessmentResult.title}}</h5>
    <div class="information">
      {{#if collection.isAssessment}}
      <span class="attempt">
        <span class="title">{{t "common.attempt"}}</span>
        <span class="attempt-selector">
          <span class="dropdown current-attempt">
            <button class="btn btn-default dropdown-toggle" type="button"
                    data-toggle="dropdown">{{selectedAttempt}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              {{#each attempts as |attempt|}}
                  <li><a {{action 'selectAttempt' attempt.value}}>{{attempt.label}}</a></li>
              {{/each}}
            </ul>
          </span>
          <span>{{t "common.of"}}</span>
          <span class="total-attempts">{{assessmentResult.totalAttempts}}</span>
        </span>
      </span>
      {{/if}}
      <span class="date">
        {{gru-icon name='event'}}<span>{{formatDate assessmentResult.submittedAt 'h:mm a MMM. Do, YYYY'}}</span>
      </span>
      <span class="time">
        {{gru-icon name='av_timer'}}<span>{{formatTime assessmentResult.totalTimeSpent}}</span>
      </span>
      <span class="reaction">
        {{reactionIcon assessmentResult.averageReaction}}
      </span>
    </div>
    <div class="bubbles">
      {{gru-bubbles bubbleOptions=resourceLinks onBubbleSelect='bubbleSelect'}}
    </div>
  </div>
</div>


