{{#if pathway}}
  <div class="header">
    <h4 class="hidden-xs">{{t "common.standard"}} (s)</h4>
  </div>
{{/if}}
<div class="standard-root">
  {{#if learningTargets}}
    {{reports.assessment.gru-learning-target learningTarget=firstLearningTarget assessmentResult=assessmentResult onBubbleSelect="bubbleSelect"}}
  {{/if}}
  {{#if isViewMoreEnabled}}
    {{#each viewMoreLearningTargets as |learningTarget index|}}
      {{reports.assessment.gru-learning-target learningTarget=learningTarget assessmentResult=assessmentResult onBubbleSelect="bubbleSelect"}}
    {{/each}}
  {{/if}}
</div>

{{#if (and hasMoreLearningTargets (not isViewMoreEnabled))}}
  <div class="view-more">
    <a {{ action "viewMore"}}>
        <span>+ {{minus-one learningTargets.length }} Show</span>
  </a>
  </div>
{{/if}}

{{#if (and hasMoreLearningTargets isViewMoreEnabled )}}
  <div class="show-less">
    <a {{ action "showLess"}}>
        <span>Show Less</span>
  </a>
  </div>
{{/if}}
