<div class="title">
    <h2>{{t "common.questions"}}</h2>
</div>
<div class="switch-section">
  {{gru-switch switchOptions=switchOptions onOptionSwitch='optionSwitch'}}
</div>
<table>
    <thead>
    <tr>
        <th class="header number">
          {{t "common.number"}}
        </th>
        <th class="header question top-left">
          {{t "common.question"}}
        </th>
        <th class="header answer top-left">
          {{t "common.answer"}}
        </th>
        <th class="header score {{if showPerformance 'visible' 'hide'}}">
          {{t "common.score"}}
            <span>{{fa-icon icon='sort-desc'}}</span>
        </th>
        <th class="header time-spent {{if showPerformance 'visible' 'hide'}}">
          {{t "common.timeSpent"}}
            <span>{{fa-icon icon='sort-desc'}}</span>
        </th>
        <th class="header reaction {{if showPerformance 'visible' 'hide'}}">
          {{t "common.reaction"}}
            <span>{{fa-icon icon='sort-desc'}}</span>
        </th>
        <th class="header correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
          {{t "common.correct-answer"}}
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each results as |result|}}
      <tr>
          <td class="number-question">
              {{result.order}}
          </td>
          <td class="question-text top-left">
            {{result.question.text}}
          </td>
          <td class="question-answer top-left">
            {{#if result.question.isOpenEnded}}
              {{reports.assessment.questions.gru-open-ended answer=result.answer}}
            {{/if}}
            {{#if result.question.isMultipleChoice}}
              {{reports.assessment.questions.gru-multiple-choice question=result.question userAnswer=result.answer}}
            {{/if}}
          </td>
          <td class="question-score {{if showPerformance 'visible' 'hide'}}">
            {{#if result.correct}}
                <span class="correct">{{fa-icon icon='check-circle-o'}}</span>
            {{else}}
                <span class="incorrect">{{fa-icon icon='times-circle-o'}}</span>
            {{/if}}
          </td>
          <td class="question-time {{if showPerformance 'visible' 'hide'}}">
            {{formatTime result.timeSpent}}
          </td>
          <td class="question-reaction {{if showPerformance 'visible' 'hide'}}">
              <div class="emotion emotion-{{result.reaction}}">
              </div>
          </td>
          <td class="correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
            {{#if result.question.isOpenEnded}}
              {{reports.assessment.questions.gru-open-ended}}
            {{/if}}
            {{#if result.question.isMultipleChoice}}
              {{reports.assessment.questions.gru-multiple-choice question=result.question showCorrect=true}}
            {{/if}}
          </td>
      </tr>
    {{/each}}
    </tbody>
</table>

