<div class="grade" style="background-color: {{gradeColor attempt.correctPercentage}}">
  <span class="percentage">{{attempt.correctPercentage}}%</span>
  <span class="attempts">{{attempt.correctAnswers}} / {{attempt.questionResults.length}} {{t 'common.correct'}}</span>
</div>
<div class="overview">
  <h1>{{assessment.title}}</h1>

  <div class="information">
    <div class="attempt">
      <strong>{{t "common.attempts"}}</strong>

      <div class="content">
        <div class="attempt-selector">
          <div class="dropdown current-attempt">
            <button class="btn btn-default dropdown-toggle" type="button"
                    data-toggle="dropdown">{{selectedAttempt}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              {{#each assessment.attempts as |attempt index|}}
                <li><a href="#{{attempt}}">{{plus-one index}}</a></li>
              {{/each}}
            </ul>
          </div>
          <span>/</span>
          <span class="total-attempts">{{assessment.attempts.length}}</span>
        </div>

        <span class="date">{{attempt.submittedOn}}</span>
      </div>
    </div>

    <div class="time">
      <strong>{{t "common.timeSpent"}}</strong>
      <span>{{formatTime attempt.totalTimeSpent}}</span>
    </div>

    <div class="reaction">
      <strong>{{t "common.reaction"}}</strong>
      <i class="emotion emotion-{{attempt.averageReaction}}"></i>
    </div>
  </div>

  {{gru-bubbles bubbleOptions=resourceLinks}}

</div>

