<div class="questions-header">
  <div class="title">
      <h4>{{t "common.questions"}}</h4>
  </div>
  <div class="btn-group" role="group">
    <button type="button" {{action 'selectPerformanceOption' true}} class="performance btn {{if showPerformance 'btn-primary' 'btn-info'}}">{{t "common.performance"}}</button>
    <button type="button" {{action 'selectPerformanceOption' false}} class="correct-answer btn {{unless showPerformance 'btn-primary' 'btn-info' }}">{{t "common.show-correct-answer"}}</button>
  </div>
</div>
<table class="hidden-xs">
  <thead>
  <tr>
    <th class="header number">
      {{t "common.number"}}
    </th>
    <th class="header question top-left">
      {{t "common.question"}}
    </th>
    <th class="header answer top-left">
      {{t "common.answer"}}
    </th>
    <th class="header score {{if showPerformance 'visible' 'hide'}}">
      {{t "common.score"}}
    </th>
    <th class="header time-spent {{if showPerformance 'visible' 'hide'}}">
      {{t "common.timeSpent"}}
     </th>
    <th class="header reaction {{if showPerformance 'visible' 'hide'}}">
      {{t "common.reaction"}}
    </th>
    <th class="header correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
      {{t "common.correct-answer"}}
    </th>
  </tr>
  </thead>
  <tbody>
  {{#each results as |result|}}
    <tr>
      <td class="number-question top-left">
          {{result.question.order}}
      </td>
      <td class="question-text top-left">
        {{{if result.question.isFIB result.question.fibText result.question.text}}}
      </td>
      <td class="question-answer top-left">
        {{#if result.answered}}
          {{{component (questionConfig result.question.questionType 'component.answer') question=result.question userAnswer=result.userAnswer}}}
        {{/if}}
      </td>
      <td class="question-score {{if showPerformance 'visible' 'hide'}}">
        <span class="{{if result.correct 'correct' 'incorrect'}}">
          {{gru-icon name='radio_button_checked'}}
        </span>
      </td>
      <td class="question-time {{if showPerformance 'visible' 'hide'}}">
        {{formatTime result.timeSpent}}
      </td>
      <td class="question-reaction {{if showPerformance 'visible' 'hide'}}">
        {{reactionIcon result.reaction}}
      </td>
      <td class="correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
        {{{component (questionConfig result.question.questionType 'component.answer') question=result.question showCorrect=true}}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<div class="question-cards visible-xs">
  <div class="header">
    <span class="question-number">{{t "common.number"}}</span>
    <span class="question-text">{{t "common.question"}}</span>
  </div>
  <ul class="question-cards-list">
    {{#each results as |result|}}
      <li>
        {{reports.assessment.gru-questions-xs result=result showPerformance=showPerformance}}
      </li>
    {{/each}}
  </ul>
</div>

