<div class="resource-card">
    <div class="resource-container">
        <div class="resource">
            <span class="resource-number">{{resource.resource.order}}</span>
            <span class="resource-text">
                <div class="title-content">
                  <div class="image">
                    <i class="{{resource.resource.format}}-icon"></i>
                  </div>
                  <span>{{resource.resource.title}}</span>
                 </div>
            </span>
        </div>
        <div class="time-spent">
            <span>{{t "common.timeSpent"}}</span>
            <span>{{format-time resource.timeSpent}}</span>
        </div>
    </div>
</div>
