<div class="teacher class">
  <div class="header">
    <h1>{{class.title}}</h1>
    <div class="code">{{class.code}}</div>

    <div class="panel panel-default panel-primary announcements">
      <div class="panel-heading">{{t 'common.announcements'}}</div>
      <div class="panel-body">
        <div class="edit">
          <button class="btn btn-edit"> {{gru-icon name='edit'}}</button>
        </div>
        <div class="greeting">
          <span>{{class.greeting}}</span>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-primary graphics">
      <div class="panel-heading">{{t 'common.overall-performance'}}</div>
      <div class="panel-body">
        <div class="graphic performance">
          {{charts.gru-bubble-chart content='80%' color=(grade-color 80)}}
          <span class="legend">{{t 'teacher-landing.class.performance'}}</span>
        </div>
        <div class="graphic completed">
          {{charts.gru-radial-chart
          value=27
          minValue=0
          maxValue=35 }}
          <span class="legend">{{t "common.completed"}}</span>
        </div>
        <div class="graphic improvement">
        </div>
      </div>
    </div>
  </div>

  {{teacher.class.gru-class-navigation
    class=class
    onItemSelected="selectMenuItem"
    selectedMenuItem=menuItem}}

  <div class="content">
    {{outlet}}
  </div>
</div>
