<div class="teacher class"> {{gru-take-tour steps=steps containerClass='class-view-tour'}} {{teacher.class.gru-class-navbar navTitle= class.title class=class onItemSelected="selectMenuItem" selectedMenuItem=menuItem
  isPremiumClass=isPremiumClass onOpenCourseReport="onOpenCourseReport" onOpenCompetencyReport="onOpenCompetencyReport"}}

  <div class="header clearfix">
    <div class="go-back-container">
      {{#if backUrls}}
        <a {{action 'backToClassReport' }} class="back-to">
            {{gru-icon name='arrow_back'}}
          {{t "common.back-to-report"}}
          </a>
      {{else}}
        {{#if class.isArchived}}
          {{#link-to 'teacher-home' (query-params showArchivedClasses="true" showActiveClasses="false" ) class="back-to" }}
            {{gru-icon name='arrow_back'}} {{t 'teacher-landing.class.back-to-archived'}}
          {{/link-to}}
        {{else}}
          {{#link-to 'teacher-home' class="back-to" }}
            {{gru-icon name='arrow_back'}} {{t 'teacher-landing.class.back-to'}}
          {{/link-to}}
        {{/if}}
      {{/if}}
      <h1>{{class.title}}</h1>
    </div>
  </div>

  {{#if isShowCompetencyReport}}
    {{#reports.pull-up.competency-report type=(t 'report.competency-report.title') title=(if class.course.subject class.course.subject (t 'report.competency-report.no-subject')) showPullUp=isShowCompetencyReport}}
      {{reports.pull-up.course-competency-report classData=class onSelectDomain="onSelectDomain"}}
    {{/reports.pull-up.competency-report}}
  {{/if}}

  {{#if isShowDomainCompetencyReport}}
    {{#reports.pull-up.competency-report type=(t 'report.domain-report') title=selectedDomain.domainData.domainName showPullUp=isShowDomainCompetencyReport onClosePullUp="onCloseCompetencyReportPullUp" }}
      {{reports.pull-up.domain-competency-report domainSet=selectedDomain onSelectCompetency="onSelectCompetency"}}
    {{/reports.pull-up.competency-report}}
  {{/if}}

  {{#if isShowCompetencyContentReport}}
    {{#reports.pull-up.competency-report type=selectedCompetency.competencyStudentDesc title=selectedCompetency.competencyStudentDesc showPullUp=isShowCompetencyContentReport onClosePullUp="onCloseCompetencyReportPullUp" competency=selectedCompetency}}
      {{reports.pull-up.competency-content-report competency=selectedCompetency userId=selectedStudentUserId}}
    {{/reports.pull-up.competency-report}}
  {{/if}}

  <div class="content">
    {{outlet}}
  </div>


</div>
{{#if isShowCourseReport}}
  {{reports.pull-up.course-report context=courseReportData showPullUp=isShowCourseReport onOpenUnitReport="onOpenUnitReport"}}
{{/if}}

{{#if isShowUnitReportPullUp}}
  {{reports.pull-up.unit-report context=unitReportData onClosePullUp="onClosePullUp" showPullUp=isShowUnitReportPullUp onOpenLessonReport="onOpenLessonReport"}}
{{/if}}

{{#if isShowLessonReportPullUp}}
  {{reports.pull-up.lesson-report context=lessonReportData  onClosePullUp="onClosePullUp"  showPullUp=isShowLessonReportPullUp teacherCollectionReport="teacherCollectionReport"}}
{{/if}}

{{#if isShowCollectionReportPullUp}}
  {{reports.pull-up.collection-report onClosePullUp="onClosePullUp" context=teacherCollectionReportData showPullUp=isShowCollectionReportPullUp}}
{{/if}}
