<div class="student class performance">
      <div class="filters">
            <div class="radios-container widthradiobtns">
              <div class="classrooms-reports">
                <div id="assessment-content-type" class="{{if (eq collectionType 'assessment') 'selectedButton' 'radioNormalButton'}} pull-left pointer" {{action 'selectContentType' 'assessment' preventDefault=false}}><div for="assessment-content-type" class="{{if (eq collectionType 'assessment') 'selectedButtonType' 'normalButtonType'}}">{{t 'student-landing.my-performance.assessments'}}</div></div>
                <div id="collection-content-type" class="{{if (eq collectionType 'collection') 'selectedButton' 'radioNormalButton'}} pull-left pointer" {{action 'selectContentType' 'collection' preventDefault=false}}><div for="collection-content-type" class="{{if (eq collectionType 'collection') 'selectedButtonType' 'normalButtonType'}}">{{t 'student-landing.my-performance.collections'}}</div></div>
              </div>
            </div>
            <div class="performance-scale">
              {{grading-scale-legend}}
            </div>
        </div>
  <div class="topPadding">
  <div class="navigation">
    {{student.gru-performance-course-filter
    selectedCourse=course
    showCourse=false
    filterCriteria=filterCriteria
    onSelectUnit="selectUnit"
    onSelectLesson="selectLesson"
    onUpdateReport="updateReport"
    }}
  </div> 
  <div class="content">
    <div class="out-of-scope panel-header">
      <h1>{{t 'student-landing.my-performance.title'}}</h1>
      <button class="btn btn-primary download out-of-scope">
        {{gru-icon name='file_download'}}
        <span>{{t 'common.download-print'}}</span>
      </button>
      <p class="out-of-scope">{{t 'student-landing.my-performance.primary-text'}}</p>
    </div>


    {{student.class.analytics.gru-performance-table
    contentTitle=contentTitle
    metrics=metrics
    assessments=collections
    collectionPerformanceSummaryItems=collectionPerformanceSummaryItems
    onViewReport='viewReport'
    showReportColumn=true
    }}
  </div>
</div>
</div>