{{#each answers as |answer index|}}
<div class="panel panel-default">
  <div class="answer-content">
    <div class="letter-container">
      <h3>{{answer-letter index}}</h3>
    </div>
    <div class="text-area-container">
        {{#if editMode}}
           {{validation.gru-textarea  model=answer valuePath='text' rows=2 maxLength=200}}
        {{else}}
          <p>{{{answer.text}}}</p>
        {{/if}}
    </div>
    {{#if editMode}}
      <button class="delete" {{action 'removeChoice' answer}}>{{gru-icon name="delete"}}</button>
    {{/if}}
    {{#if editMode}}
        <button class="check {{if answer.isCorrect 'correct'}}" {{action 'setCorrect' answer}}>
          {{gru-icon name="done"}}
        </button>
    {{else}}
      {{#if answer.isCorrect }}
        <div class="check correct">
          {{gru-icon name="done"}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
{{/each}}
{{#if editMode}}
  {{#unless hasLimitAnswers}}
    <div class="add-answer">
        <a {{action 'addNewChoice'}}>{{t 'content.questions.edit.builder.add-answer-choice'}}</a>
    </div>
  {{/unless}}
{{/if}}
