{{#each answers as |answer index|}}
<div class="panel panel-default">
  <div class="answer-content">
    <div class="letter-container">
      <h3>{{answer-letter index}}</h3>
    </div>
    <div class="text-area-container">
      {{#if editMode}}
        {{gru-rich-text-editor content=answer.text disableButtons=disableEditorButtons model=answer valuePath='text'}}
       {{else}}
        <p>{{{gru-math-text text=answer.text}}}</p>
      {{/if}}
    </div>
    {{#if editMode}}
      {{#unless showAdvancedEditor}}
        <button class="delete" {{action 'removeChoice' answer}}>{{gru-icon name="delete"}}</button>
        <button class="check {{if answer.isCorrect 'correct'}}" {{action 'setCorrect' answer}}>
          {{gru-icon name="done"}}
        </button>
      {{/unless}}
    {{else}}
      {{#if answer.isCorrect }}
        <div class="check correct">
          {{gru-icon name="done"}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
{{/each}}
{{#if editMode}}
  {{#unless hasLimitAnswers}}
    <div class="add-answer">
        <a {{action 'addNewChoice'}}>{{t 'content.questions.edit.builder.add-answer-choice'}}</a>
    </div>
  {{/unless}}
{{/if}}
