<ul class="resource-options-menu">
  <li class="video-option pa-md-5 pa-sm-5 border-on-click">
    <a><div class="resource-options video"></div>{{t "resource.video"}}</a>
  </li>
  <li class="webpage-option pa-md-5 pa-sm-5 border-on-click">
    <a><div class="resource-options webpage"></div>{{t "resource.webpage"}}</a>
  </li>
  <li class="interactive-option pa-md-5 pa-sm-5 border-on-click">e
    <a><div class="resource-options interactive"></div>{{t "resource.interactive"}}</a>
  </li>
  <li class="question-option pa-md-5 pa-sm-5 border-on-click">
    <a><div class="resource-options question"></div>{{t "resource.question"}}</a>
  </li>
  <li class="image-option pa-md-5 pa-sm-5 border-on-click">
    <a><div class="resource-options image"></div>{{t "resource.image"}}</a>
  </li>
  <li class="text-option pa-md-5 pa-sm-5 border-on-click">
    <a><div class="resource-options text"></div>{{t "resource.text"}}</a>
  </li>
  <li class="audio-option border-on-click">
    <div class="border-gray pa-md-5 pa-sm-5">
      <a><div class="resource-options audio"></div>{{t "resource.audio"}}</a>
    </div>
  </li>
  <li class="oer-option border-on-click">
    <div class="border-gray pa-md-5 pa-sm-5 ">
      <a class="pa-md-5 pa-sm-5">{{t "resource.oer"}}</a>
    </div>
  </li>
  <li class="stars">
    <div class="pa-md-top-3 pa-sm-top-3">
      {{rating-stars onChangeAction='onRateChange'}}
    </div>
  </li>
</ul>

