<div class="controller analytics-performance-student">
  <div class="row navigation {{if isFullScreen 'hide' 'show'}}">
    <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
    </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
  </div>
  <div class="row controls">
    <div class="student-breadcrumb col-md-6 col-sm-6 col-xs-12">
      {{gru-breadcrumb items=breadcrumb onSelectedItem=selectBreadcrumbItem}}
    </div>
    <div class="student-actions col-md-6 col-sm-6 col-xs-12">
      {{class.analytics.performance.gru-actions-bar
        mode='student'
        onFilterSelected="selectFilterBy"
        selectedFilterBy=filterBy
        onDownload="download"
        onToggleFullScreen=(action 'toggleFullScreen')
        isFullScreen=isFullScreen
      }}
    </div>
  </div>
  <div class="row snapshot">
    <div class="col-xs-12">
      Snapshot placeholder
    </div>

  </div>
    <div class="row performance-picker visible-xs">
        <div class="col-xs-12">
            {{class.analytics.performance.gru-data-picker
            onOptionsChange="optionsChange"}}
        </div>
    </div>
  <div class="row gru-content">
    <div class="col-xs-12 performance-content">
    {{#each performances as | performance index | }}
        <ul class="row">
            <li class="col-xs-3">
                <p>U{{plus-one index}}: {{performance.title}}</p>
            </li>
            <li class="col-xs-9">
                {{#if performance.hasStarted}}
                    <ul class="row performance-headers">
                        <li><p>{{t "gru-performance-summary.scores"}}</p></li>
                        <li><p>{{t "gru-performance-summary.completion"}}</p></li>
                        <li><p>{{t "gru-performance-summary.time-spent"}}</p></li>
                        <li><p>{{t "gru-performance-summary.reactions"}}</p></li>
                        <li><p>{{t "gru-performance-summary.attempts"}}</p></li>
                    </ul>
                  {{class.analytics.performance.gru-performance-summary performance=performance}}
                {{else}}
                  <h3>Not started yet</h3>
                {{/if}}

            </li>
        </ul>
    {{else}}
        <h3>No content available</h3>
    {{/each}}



    </div>
  </div>
</div>
