<div class="controller analytics-performance-student">
  <div class="row navigation">
    <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
    </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
  </div>
  <div class="row controls">
    <div class="student-breadcrumb col-md-6 col-sm-6 col-xs-12">
      {{gru-breadcrumb items=breadcrumb onSelectedItem=selectBreadcrumbItem}}
    </div>
    <div class="student-actions col-md-6 col-sm-6 col-xs-12">
      {{class.analytics.performance.gru-actions-bar
        mode='student'
        onFilterSelected="selectFilterBy"
        selectedFilterBy=filterBy
        onDownload="download"
        onToggleFullScreen=(action 'toggleFullScreen')
        isFullScreen=isFullScreen
      }}
    </div>
  </div>
  <div class="row snapshot">
    <div class="col-xs-12">
      Snapshot placeholder
    </div>

  </div>
    <div class="row performance-picker visible-xs">
        <div class="col-xs-12">
            {{class.analytics.performance.gru-data-picker
            onOptionsChange="optionsChange"}}
        </div>
    </div>
  <div class="row gru-content">
    <div class="col-xs-12">
      Content placeholder
    </div>
  </div>
</div>
