<div class="controller analytics-performance-teacher">
    <div class="better-experience visible-xs alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="better-experience-message">{{t 'class.analytics.performance.better-experience-message'}}</span>
    </div>
    <div class="row navigation {{if isFullScreen 'hide' 'show'}}">
      <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
     </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
    </div>
    <div class="row controls">
      <div class="teacher-breadcrumb col-md-6 col-sm-6 col-xs-12">
        {{gru-breadcrumb items=breadcrumb onSelectedItem="selectBreadcrumbItem"}}
      </div>
      <div class="teacher-actions col-md-6 col-sm-6 col-xs-12">
        {{class.analytics.performance.gru-actions-bar
          mode='teacher'
          onFilterSelected="selectFilterBy"
          selectedFilterBy=filterBy
          onToggleFullScreen=(action 'toggleFullScreen')
          isFullScreen=isFullScreen
        }}
      </div>
   </div>
   <div class="row gru-filters row-eq-height">
    <div class="data-picker col-md-6 col-sm-6 col-xs-12 hidden-xs">
      {{class.analytics.performance.gru-data-picker
      onOptionsChange="optionsChange" options=optionsTeacher max=3 icon-default="fa-square-o" icon-selected="fa-check-square-o"}}
    </div>
    <div class="performance-scale col-md-6 col-sm-6 col-xs-12">
      {{class.analytics.performance.gru-scale-indicator}}
    </div>
    </div>
    <div class="row gru-content">
      <div class="col-md-12 col-sm-12 col-xs-12">
          {{outlet}}
      </div>
    </div>
</div>
