<div class="controller analytics-performance-teacher container-fluid">
    <div class="row">
      <div class="better-experience visible-xs alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="better-experience-message">{{t 'class.analytics.performance.better-experience-message'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs nav-tabs-lg {{if isFullScreen 'hide' 'show'}}">
          <li role="presentation" class="active"><a href="#">{{t 'class.analytics.performance.title'}}</a></li>
          <li role="presentation"><a href="#">{{t 'class.analytics.mastery.title'}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row controls">
      <div class="teacher-breadcrumb col-md-12">
        {{gru-breadcrumb items=breadcrumb onSelectedItem="selectBreadcrumbItem"}}
      </div>
      <div class="teacher-actions col-md-12">
        {{class.analytics.performance.gru-actions-barF
          mode='teacher'
          onFilterSelected="selectFilterBy"
          selectedFilterBy=filterBy
          onToggleFullScreen=(action 'toggleFullScreen')
          isFullScreen=isFullScreen
        }}
      </div>
   </div>
  {{#if showFilters}}
    <div class="row gru-filters row-eq-height">
      <div class="data-picker col-md-6 col-sm-6 col-xs-12 hidden-xs">
        {{class.analytics.performance.gru-data-picker
        onOptionsChange="optionsChange" options=optionsTeacher max=3 icon-default="fa-square-o" icon-selected="fa-check-square-o"}}
      </div>
      <div class="data-picker col-md-6 col-sm-6 col-xs-12 visible-xs">
        {{class.analytics.performance.gru-data-picker
        onOptionsChange="optionsChange" options=mobileOptionsTeacher max=1 }}
      </div>
      <div class="performance-scale col-md-6 col-sm-6 col-xs-12">
        {{class.analytics.performance.gru-scale-indicator}}
      </div>
    </div>
  {{/if}}
  <div class="row gru-content">
    <div class="col-md-12 col-sm-12 col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
