<div class="controller analytics-performance-teacher">
    <div class="better-experience visible-xs alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="better-experience-message">{{t 'class.analytics.performance.better-experience-message'}}</span>
    </div>
    <div class="row navigation">
      <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
     </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
    </div>
    <div class="row controls">
    <div class="teacher-breadcrumb col-md-6 col-sm-6 col-xs-12">
      {{gru-breadcrumb items=breadcrumb onSelectedItem=selectBreadcrumbItem}}
    </div>
    <div class="gru-actions col-md-6 col-sm-6 col-xs-12">
      Actions place holder
    </div>
   </div>
   <div class="row gru-filters row-eq-height">
    <div class="data-picker col-md-6 col-sm-6 col-xs-12 hidden-xs">
      {{class.analytics.performance.gru-data-picker
      onOptionsChange="optionsChange" options=optionsTeacher max=3 icon-default="fa-square-o" icon-selected="fa-check-square-o"}}
    </div>
    <div class="performance-scale col-md-6 col-sm-6 col-xs-12">
      Performance scale place holder
    </div>
    </div>
    <div class="row gru-content">
      <div class="col-md-12 col-sm-12 col-xs-12">
      Content placeholder
      </div>
    </div>
</div>
