<div class="question-panel">
  <h3>{{t "gru-question-viewer.question"}}</h3>
  <div class="question">
    <span>{{{question.text}}}</span>
    {{#if question.hasMedia}}
      <img src="{{question.mediaUrl}}"/>
    {{/if}}
  </div>
</div>

<div class="answers-panel">
  <h3>{{t "gru-question-viewer.answer"}}</h3>

  <form {{action "submitQuestion" on="submit"}}>

    {{#if question.isMultipleChoice}}
      {{player.questions.gru-multiple-choice
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
      }}
    {{/if}}

    {{#if question.isMultipleAnswer}}
      {{player.questions.gru-multiple-answer
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
      }}
    {{/if}}

    {{#if question.isTrueFalse}}
      {{player.questions.gru-true-false
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
      }}
    {{/if}}

    {{#if question.isOpenEnded}}
      {{player.questions.gru-open-ended
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
      }}
    {{/if}}

    {{#if question.isHotTextReoder}}
      {{player.questions.gru-reorder
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
      }}
    {{/if}}

   {{#if question.isFIB}}
    {{player.questions.gru-fib
      question=question
      onAnswerChanged="changeAnswer"
      onAnswerCleared="clearAnswer"
      onAnswerCompleted="completeAnswer"
    }}
    {{/if}}

    <div class="actions">
      <button type="submit" class="save btn btn-lg btn-primary" disabled={{isSubmitDisabled}}>{{t "common.submit"}}</button>
    </div>
  </form>
</div>

<div class="information">
  <div class="actions">
    <button class="hint btn btn-default" disabled={{isHintButtonDisabled}} {{action 'showHint'}}>{{t "common.hints"}}
      ({{t "common.remaining" number=availableHints}})
    </button>
    <button class="explanation btn btn-default"
            disabled={{isExplanationButtonDisabled}} {{action 'showExplanation'}}>{{t "common.explanation"}}</button>
  </div>

  <ol class="hints">
    {{#each hintsToDisplay as |hint|}}
      <li>{{{hint.hintText}}}</li>
    {{/each}}
  </ol>

  {{#if isExplanationShown}}
    <p class="explanation">{{{question.explanation}}}</p>
  {{/if}}

</div>