<div class="content">
    <div class="navigation-bar hidden-md hidden-lg">
      <span {{action 'openNavigator'}}>
        {{gru-icon name='keyboard_arrow_down'}} <h5>{{t  "common.menu"}}</h5>
      </span>
    </div>
   <div class="reaction-bar col-xs-12">
     <div class="panel panel-default">
         <div class="panel-body">
           {{gru-emotion-picker startEmotion=ratingScore onChangeEmotion="changeEmotion" readOnly=readOnly}}
             {{!--<button class="btn btn-success submit-all"> {{t "common.submit-all"}}</button>--}}
         </div>

     </div>

   </div>

</div>
