<div class="content">
  <div class="left">
    <button class="btn btn-link hamburger-icon" {{action 'openNavigator'}}>{{fa-icon icon="fa-bars"}}</button>
  </div>
  <div class="right">
    <button class="btn btn-link x-icon" {{action 'closePlayer'}}>{{fa-icon icon="fa-times"}}</button>
  </div>
  <div class="center">
      {{gru-emotion-picker ratingScore=ratingScore onChangeEmotion="changeEmotion"}}
  </div>
</div>
