<div class="content">
  {{#if resource.isQuestion}}
    {{player.gru-question-viewer question=resource onSubmitQuestion="submitQuestion"}}
  {{else}}
    {{#if resource.hasNarration}}
      <div class="narration">
        {{#if resource.hasOwner}}
          {{#if collection.avatarUrl }}
            <span>
                <img class="avatar" src="{{ collection.avatarUrl }}">
            </span>
          {{else}}
              <span>
                  <img class="avatar" src="assets/gooru/profile.png">
              </span>
          {{/if}}
        {{/if}}
        <span class="message">
          {{{resource.narration}}}
        </span>
      </div>
    {{/if}}

    {{#if resource.isImageResource}}
      {{player.resources.gru-image resource=resource}}
    {{/if}}

  {{/if}}
</div>


