<div class="panel panel-default">
  <div class="panel-body">
    <span class="lead"><b>{{t  (concat 'gru-suggest-test.' type '-header')}}</b></span>
    <span class="description">{{t  (concat 'gru-suggest-test.' type '-lead')}}</span>
    <div class="bottom-info">
      {{#if isBackFill}}
        <div class="assessment-info">
          <div class="collection-icon {{if assessment.isCollection 'collection' 'assessment'}}"></div>
          <span class="title">{{assessment.title}}</span>
          <span class="resource border-gray"><b>{{resourceCount}}</b> {{t "common.resource-pl" count=resourceCount}}</span>
          <span class="resource question"><b>{{questionCount}}</b> {{t "common.question-pl" count=questionCount}}</span>
        </div>
      {{/if}}
      <div class="actions">
        <button class="btn btn-default btn-no" {{action 'playCollection'}}>{{t 'gru-suggest-test.no'}}</button>
        {{#if isBackFill}}
          <button class="btn btn-primary btn-backfill">{{t 'gru-suggest-test.take-backfill-pretest'}}</button>
        {{else if isBenchmark }}
          <button class="btn btn-primary btn-benchmark">{{t 'gru-suggest-test.take post-test'}}</button>
        {{else}}
          <button class="btn btn-primary btn-suggestion" {{action 'playSuggestion'}}>{{t 'gru-suggest-test.take' type=type}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
