<div class="content">
  {{#if resource.isQuestion}}
    {{player.gru-question-viewer
    buttonTextKey=buttonTextKey
    submitted=submitted
    question=resource
    questionResult=resourceResult
    onSubmitQuestion="submitQuestion"
    }}
  {{else}}
    {{#if resource.hasNarration}}
      <div class="panel panel-default narration">
        <div class="panel-body">
          {{#if resource.hasOwner}}
            <span class="avatar">
                <img src="{{collection.avatarUrl}}">
                <span class="user">{{ collection.author }}</span>
            </span>
          {{/if}}
          <span class="message">
            {{{resource.narration}}}
          </span>
        </div>
      </div>
    {{/if}}

    {{#if isNotIframeUrl}}
      <div class="panel panel-default not-iframe">
        <div class="panel-header">
          <p class="title">
            {{t 'player.gru-viewer.not-iframe-url.header_1'}}<br>
            {{t 'player.gru-viewer.not-iframe-url.header_2'}}
          </p>
        </div>
        <div class="panel-body">
          <a href="{{{resource.url}}}" class="btn btn-primary view-resource-button" target="_blank">{{t "player.gru-viewer.not-iframe-url.view-resource"}}</a>
        </div>
        <div class="panel-footer">
          <p class="title">
            {{t 'player.gru-viewer.not-iframe-url.footer_1'}}
          </p>
          <p class="description">
            {{t 'player.gru-viewer.not-iframe-url.footer_2'}}<br>
            {{t 'player.gru-viewer.not-iframe-url.footer_3'}}<br>
            {{t 'player.gru-viewer.not-iframe-url.footer_4'}}
          </p>
        </div>
      </div>
    {{else}}
      {{#if resourceComponentSelected}}
        {{component resourceComponentSelected resource=resource calculatedResourceContentHeight=calculatedResourceContentHeight}}
      {{else}}
        Not implemented
      {{/if}}
    {{/if}}
  {{/if}}
</div>