<div class="question-panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{t "gru-question-viewer.question"}}</h2>
            <div class="question">
                <span class="text">{{gru-math-text text=(if question.isFIB question.fibText question.text)}}</span>
              {{#if question.hasMedia}}
                  <img src="{{question.mediaUrl}}"/>
              {{/if}}
            </div>
            <div>
              {{partial 'components/player/gru-question-information'}}
            </div>
        </div>
    </div>
  {{#if hintsToDisplay}}
      <div class="panel panel-primary hints">
          <div class="panel-heading">
            {{t "common.hints"}}
          </div>
          <div class="panel panel-default">
              <div class="panel-body">
                  <ol class="hints">
                    {{#each hintsToDisplay as |hint|}}
                        <li>{{{hint.hintText}}}</li>
                    {{/each}}
                  </ol>
              </div>
          </div>
      </div>
  {{/if}}
  {{#if isExplanationShown}}
      <div class="panel panel-primary explanation">
          <div class="panel-heading">
            {{t "common.explanation"}}
          </div>
          <div class="panel panel-default">
              <div class="panel-body">
                {{#if isExplanationShown}}
                    <p class="explanation">{{{question.explanation}}}</p>
                {{/if}}
              </div>
          </div>
      </div>
  {{/if}}
</div>

<div class="answers-panel">
    <div class="panel panel-default">
        <div class="panel-body">
        <h2>{{t "gru-question-viewer.answer"}}</h2>

          {{component (question-config question.questionType 'component.player')
          userAnswer=questionResult.userAnswer
          instructionsActionTextKey=instructionsActionTextKey
          question=question
          readOnly=isInputDisabled
          onAnswerChanged="changeAnswer"
          onAnswerCleared="clearAnswer"
          onAnswerCompleted="completeAnswer"
          onAnswerLoaded="loadedAnswer"}}
          {{#if showFeedback}}
              <div class="feedback">
                <div class="feedback-content">
                  <div class="feedback-emotion {{if questionResult.correct "correct" "incorrect"}}">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{appRootPath}}assets/emoji-one/emoji.svg#{{feedbackUnicode}}"></use>
                    </svg>
                  </div>
                  <span class="feedback-text">
                    {{t isCorrectMessageKey}}
                  </span>
                </div>
              </div>
          {{/if}}
          <div class="actions">
            <button type="button" {{action "submitQuestion"}} tabindex="-1"
                    class="save btn btn-success" disabled="{{if isSubmitDisabled true null}}">{{t buttonTextKey}}</button>
          </div>
      </div>
    </div>
</div>
