<div class="question-panel">
  <h3>{{t "gru-question-viewer.question"}}</h3>
  <div class="question">
    <span>Praesent quis vulputate quam. Ut et odio nec dolor blandit porttitor. Vestibulum imperdiet facilisis metus, quis commodo justo sollicitudin id. Ut in ipsum tincidunt, gravida dolor id, laoreet ipsum. Vestibulum elementum odio eget augue scelerisque aliquet. Duis blandit sapien in vestibulum lobortis.</span>
    <img src="http://cdn.goorulearning.org/prod1//f000/2623/5407/aaa5a112-1206-4ff0-8a50-e04fa8f2c702.png"/>
  </div>
  <div class="information">
    <button class="hint btn btn-default">{{t "common.hints"}}</button>
    <button class="explanation btn btn-default">{{t "common.explanations"}}</button>
  </div>
</div>

<div class="answers-panel">
  <h3>{{t "gru-question-viewer.answer"}}</h3>

  <form {{action "changeQuestion" on="submit"}}>

    {{#if question.isMultipleChoice}}
      {{player.questions.gru-multiple-choice question=question}}
    {{/if}}

    {{#if question.isMultipleAnswer}}
      {{player.questions.gru-multiple-answer question=question}}
    {{/if}}

    {{#if question.isTrueFalse}}
       {{player.questions.gru-true-false question=question}}
    {{/if}}
    <div class="actions">
      <button type="submit" class="save btn btn-lg btn-primary">{{t "common.submit"}}</button>
    </div>
  </form>
</div>
