<div class="navigator-header">
  <h2>{{collection.title}}</h2>
  <div class="pull-right close-navigator hidden-md hidden-lg">
    <button class="btn btn-link hamburger-icon" {{action 'closeNavigator'}}>{{fa-icon icon="fa-bars"}}</button>
  </div>
</div>

<ul class="list-group resources">
  <div class="bgd-line"></div>
  {{#each collection.resources as |resource|}}
    <li class="list-group-item" id= "item_{{resource.id}}"{{action 'selectItem' resource}}>
      <div class="resources-info">
        <span class="bubble-type {{resource.resourceFormat}}"></span>
        <h6 class="title">{{{resource.title}}}</h6>
      </div>
    </li>
  {{/each}}
</ul>
