<div class="question-information">
  <div class="actions">
    <button class="hint btn btn-default" disabled={{isHintButtonDisabled}} {{action 'showHint'}}>{{t "common.hints"}}
      ({{t "common.remaining" number=availableHints}})
    </button>
    <button class="explanation btn btn-default"
            disabled={{isExplanationButtonDisabled}} {{action 'showExplanation'}}>{{t "common.explanation"}}</button>
  </div>

  <ol class="hints">
    {{#each hintsToDisplay as |hint|}}
      <li>{{{hint.hintText}}}</li>
    {{/each}}
  </ol>

  {{#if isExplanationShown}}
    <p class="explanation">{{{question.explanation}}}</p>
  {{/if}}
</div>