<div class="header-panel row">
  <div class="col-sm-4 col-xs-12">
    <div class="row">
      <div class="col-sm-10 player-info">
        <p class="title ellipsis">{{courseTitle}}</p>
        {{#if breadcrumbs}}
          <div class="breadcrumbs ellipsis">
            {{#each breadcrumbs as |breadcrumb|}}
              <span  data-toggle="tooltip" data-placement="bottom" title="{{breadcrumb.actualTitle}}">{{breadcrumb.shortTitle}}</span>
              {{gru-icon name='keyboard_arrow_right'}}
            {{/each}}
          </div>
        {{/if}}
      </div>
      {{#if selectedUnicode}}
          <div class="default-emotion-icon" onclick={{action 'openReactPicker'}} >
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#{{selectedUnicode}}"></use>
          </svg>
          </div>
      {{/if}}
    </div>
    {{#if showReactPicker}}
      {{gru-emotion-picker  onCloseReactPicker='onCloseReactPicker' startEmotion=ratingScore onChooseReaction='onChooseReaction' readOnly=submitted}}
    {{/if}}
  </div>
  <div class="col-sm-4 col-xs-12 suggest-player">
    <div class="row">
      {{#if hasSuggestedResources}}
        <div class="col-sm-9 suggest-resources" {{action 'playSuggested' firstSuggestResource}}>
          <i class="{{firstSuggestResource.format}}-icon"></i>
          <p class="title ellipsis">{{firstSuggestResource.title}}</p>
        </div>
        {{#if hasMoreSuggestResource}}
          <div class="suggest-resources-count" onclick={{action 'openSuggestResource'}}>
            <span class="circle">+{{minus-one suggestedResources.length}}</span>
          </div>
          {{#if showSuggestBox}}
            <ul class="suggest-resources-list">
              {{#each suggestedResources as |resource|}}
                <li>
                  <div class="row">
                    <div class="col-sm-8 col-xs-9">
                      <i class="{{resource.format}}-icon resource-icon"></i>
                      <span class="title">{{resource.title}}</span>
                    </div>
                    <div class="col-sm-4 col-xs-3">
                      <button class="btn btn-info study-now" {{action 'playSuggested' resource}}>
                      {{gru-icon name="play_arrow"}}
                      <span>Study</span>
                    </button>
                    </div>
                  </div>
                </li>
              {{/each}}  
            </ul>
          {{/if}}
        {{/if}}
      {{else}}
        <div class="col-sm-12 suggest-resources">
          <p class="title ellipsis">No suggestion available!</p>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="row">
    <div class="col-sm-8 performance">
      <p>{{t 'teacher-landing.class.performance'}}</p>
      {{#if isNUCourse}}
        {{#if class.courseCompetencyCompletion}}
          <div>{{t 'common.completion'}} {{class.courseCompetencyCompletion.completedCount}}/{{class.courseCompetencyCompletion.totalCount}}</div>
        {{/if}}
      {{else}}
          {{#if class.performanceSummary}}
          <div>{{t 'common.completion'}} {{class.performanceSummary.totalCompleted}}/{{class.performanceSummary.total}}</div>
          {{/if}}
      {{/if}}
    </div>
    <div class="performance-radical-chart">
     {{#if class.isNUCourse}}
        {{charts.gru-radial-chart
        value=class.courseCompetencyCompletion.completedCount
        minValue=0
        maxValue=class.courseCompetencyCompletion.totalCount width=75 height=75}}
      {{else}}
        {{charts.gru-radial-chart
        value=class.performanceSummary.totalCompleted
        minValue=0
        maxValue=class.performanceSummary.total }}
      {{/if}}
    </div>
  </div>
 </div>
</div>
<div class="bar-charts">
  <div class="completion-chart">
      {{charts/gru-x-bar-chart data=barChartData }}
   </div>
</div>