<div class="navigator-header" >
  <div {{action 'closePlayer'}}>
    <span class="lead"> {{gru-icon name='keyboard_arrow_left'}} {{t 'common.back'}}</span>
    <p>{{collection.title}}</p>
  </div>
  <div class="pull-right close-navigator hidden-md hidden-lg">
    <button class="btn btn-link hamburger-icon"{{action 'closeNavigator'}}>{{gru-icon name='menu'}}</button>
  </div>
</div>
<ul class="list-group resources">
  {{#each collection.resources as |resource|}}
      <li class="list-group-item" id= "item_{{resource.id}}"{{action 'selectItem' resource}}>
      <div class="resources-info">
        <i class="bubble-type {{resource.resourceFormat}}"></i>
        <h6 class="title visible-lg">
          {{{truncate text=resource.title type='player-nav-lg'}}}
        </h6>
        <h6 class="title visible-md">
          {{{truncate text=resource.title type='player-nav-md'}}}
        </h6>
        <h6 class="title hidden-lg hidden-md">
          {{{truncate text=resource.title type='player-nav-xs'}}}
        </h6>

      </div>
    </li>
  {{/each}}
</ul>
