<div class="navigator-header">
  <h2>{{collection.title}}</h2>
  <div class="left close-navigator">
    <button class="btn btn-link hamburger-icon" {{action 'closeNavigator'}}>{{fa-icon icon="fa-bars"}}</button>
  </div>
</div>

<ul class="list-group resources">
  <div class="bgd-line"></div>
  {{#each collection.collectionItems as |item|}}
    <li class="list-group-item" id= "{{item.id}}"{{action 'selectItem' item}}>
      <div class="resources-info">
        <span class="bubble-type {{item.resourceType}}"></span><span class="title">{{item.title}}</span>
      </div>
    </li>
  {{/each}}
</ul>
