<div class="navigator-header" >
  <div {{action 'closePlayer'}}>
    <span class="lead"> {{gru-icon name='keyboard_arrow_left'}} {{t 'common.back'}}</span>
    <p>{{collection.title}}</p>
  </div>
  <div class="pull-right close-navigator hidden-md hidden-lg">
    <button class="btn btn-link hamburger-icon"{{action 'closeNavigator'}}>{{gru-icon name='menu'}}</button>
  </div>
</div>
<ul class="list-group resources">
  {{#each resourceItems as |item|}}
      <li class="list-group-item {{if item.started 'started'}} {{if item.selected 'selected'}}"
        {{action 'selectItem' item}}>
      <div class="resources-info">
        <i class="bubble-type {{item.resource.resourceFormat}}"></i>
          <h6 class="title hidden-sm hidden-md">
            {{{truncate text=item.resource.title type='medium'}}}
          </h6>
          <h6 class="title visible-sm visible-md">
          {{{truncate text=item.resource.title type='player-nav-sm'}}}
        </h6>
      </div>
    </li>
  {{/each}}
</ul>
