<div class="content">
    <div class="navigation-bar hidden-md hidden-lg">
      <span {{action 'openNavigator'}}>
        {{gru-icon name='keyboard_arrow_down'}} <h5>{{t  "common.menu"}}</h5>
      </span>
    </div>
   <div class="reaction-bar col-xs-12">
     <div class="panel panel-default">
         <div class="panel-body">
           {{gru-emotion-picker startEmotion=ratingScore onChangeEmotion="changeEmotion" readOnly=readOnly}}
           {{#if showSubmitAll}}
             <button
                 class="btn btn-success finish-collection pull-right hidden-xs" {{action "finishCollection"}}> {{t "common.submit-all"}}</button>
           {{/if}}
         </div>

     </div>

   </div>

</div>
