<div class="header-panel row">
  <div class="col-xs-3 course-info">
    {{#if showBackToCourseMap}}
      <div class="course-map pull-left" {{action 'redirectCourseMap'}} data-toggle="tooltip" data-placement="bottom" title="{{t 'common.back-to-course-map'}}">
        <div class="nav-icon-container">
          {{gru-icon name="sort"}}
        </div>
      </div>
    {{/if}}
    {{#if showBackToCollection}}
      <div class="back-to-collection pull-left" {{action 'backToCollection'}} data-toggle="tooltip" data-placement="bottom" title="{{if collection.isCollection (t 'common.back-to-collection') (t 'common.back-to-assessment') }}">
        <div class="nav-icon-container">
          {{gru-icon name='ic_close'}}
        </div>
      </div>
    {{/if}}
    <div class="pull-left content-title">
      <p class="title">{{courseTitle}}</p>
    </div>
  </div>
  <div class="col-xs-9 suggest-performance">
    <div class="suggest-player pull-left">
    {{#if hasSuggestedResources}}
        <div class="slider-container carousel slide multi-item-carousel" id="theCarousel">
          <div class="slider-inner-container carousel-inner">
            {{#each suggestedResources as |resource index|}}
              <div class="item  {{if (eq index 0) "active" "" }}" {{action 'playSuggested' resource}}>
                <div class="col-xs-6">
                  <i class="{{resource.format}}-icon resource-icon"></i>
                  <div class="suggest-resource-title">
                      <span class="title">{{resource.title}}</span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <a class="left carousel-control" href="#theCarousel" data-slide="prev">
                {{gru-icon name="ic_keyboard_arrow_left"}}
            </a>
          <a class="right carousel-control" href="#theCarousel" data-slide="next">
                {{gru-icon name="ic_keyboard_arrow_right"}}
          </a>
        </div>
      {{else}}
        <div class="no-suggestion-title">
          <p>{{t 'gru-study-header.no-suggestions'}}</p>
        </div>
      {{/if}}
    </div>
    <div class="performance-completion-take-tour-info pull-left">
      <div class="completion pull-left">
        {{#if isNUCourse}}
          {{#if class.courseCompetencyCompletion}}
            <span class="score">{{class.courseCompetencyCompletion.completedCount}}/{{class.courseCompetencyCompletion.totalCount}}</span>
          {{else}}
            <span class="score">--</span>
          {{/if}}
        {{else}}
          {{#if class.performanceSummary}}
            <span class="score">{{class.performanceSummary.totalCompleted}}/{{class.performanceSummary.total}}</span>
          {{else}}
            <span class="score">--</span>
          {{/if}}
        {{/if}}
        <span class="label">{{t 'common.completion'}}</span>
      </div>
      <div class="performance pull-left" style="background-color:{{if class.performanceSummary (grade-color class.performanceSummary.score) defaultBarColor}}">
        <span class="score">
            {{#if class.performanceSummary}}
              {{class.performanceSummary.score}}%
            {{else}}
              --
            {{/if}}
          </span>
        <span class="label">{{t 'teacher-landing.class.performance'}} </span>
      </div>
      <div class="take-a-tour pull-left">
        {{gru-take-tour steps=steps containerClass='study-player-tour'}}
      </div>
    </div>
  </div>
</div>

  <div class="bar-charts" data-content="{{performancePercentage}}% Completed">
    <div class="completion-chart">
      {{charts/gru-x-bar-chart data=barChartData }}
  </div>
</div>
