<div class="controller manage-goals row">
  <div class="greetings">
    <div class="title">
      <span>{{t 'goals.manage.title'}}</span>
    </div>
  </div>

  <div class="goals-navigator">
    <div class="pull-right">
      <button {{action 'showNewGoalForm'}} class="btn add-goal">
        {{t 'goals.manage.add-goal'}}
      </button>
    </div>
  </div>

  <div class="goals-container">
    <div class="new-goal">

      <div class="collapse-action"></div>

      <div class="create-action">

        <form id="createGoalForm" {{action "create" on="submit"}}>
          <div class="form-group goalTitle">
            <label for="goalTitleId">
              <span class="required">{{t 'goals.manage.goal-label'}}</span>
              {{validation.gru-input model=goal valuePath='title' inputId='goalTitleId' isRequired=true}}
            </label>
          </div>

          <div class="form-group date-input startDate">
            <label for="startDateId">
              <span class="required">{{t 'goals.manage.start-date-label'}}</span>
              {{validation.gru-datepicker model=goal valuePath='startDate'}}
            </label>
          </div>


          <div class="form-group date-input endDate">
            <label for="endDateId">
              <span class="required">{{t 'goals.manage.end-date-label'}}</span>
              {{validation.gru-datepicker model=goal valuePath='endDate'}}
            </label>
          </div>


          <div class="form-group goalType out-of-scope">
            <label for="goalTypeId">
              <span class="required">{{t 'goals.manage.type-label'}}</span>
              {{validation.gru-select options=typeOptions optionSelected=status title=(t "common.select") search="true" onOptionSelect="onTypesChange"}}
            </label>
          </div>

          <div class="form-group goalStatus">
            <label for="goalStatusId">
              <span class="required">{{t 'goals.manage.status-label'}}</span>
              {{validation.gru-select options=statusOptions optionSelected=status title=(t "common.select") search="true" onOptionSelect="onStatusChange"}}
            </label>
          </div>

          <div class="form-group goalReflection">
            <label for="goalReflectionId">
              <span class="required">{{t 'goals.manage.reflection-label'}}</span>
              {{validation.gru-input model=goal valuePath='reflection' inputId='goalReflectionId'}}
            </label>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn create-goal">
              {{t 'goals.manage.save'}}
            </button>
          </div>
        </form>
      </div>

      <div class="goal-status"></div>

    </div>
  </div>

</div>