<div class="controller content-questions">
  <div class="questions clearfix col-xs-12">
    {{#each questions as |question|}}
      <div class="card col-lg-3 col-sm-4 col-xs-6">
        {{new-cards.gru-resource-card
          resource=question
          addEnabled=true
          remixEnabled=true
          isMyProfile=true
          onRemixQuestion="remixQuestion"
          onPlayResource="playQuestion"
          profile=sessionProfile
          partnerLibrary=true
          isOnProfile=true}}
      </div>
    {{else}}
      <div class="no-content panel add-content panel-default">
        <div class="panel-body">
          {{gru-icon name='explore'}}
          <p>{{{t "common.no-questions-to-display"}}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-xs-12">
    {{#if showMoreResultsButton}}
      <span class="show-more-results" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</span>
    {{/if}}
  </div>
</div>
