<div class="rubric-information">
  <div class="header">
    <span class='icon' {{action 'showFullRubric'}}>
      {{#if showFullRubric}}
        {{gru-icon name="keyboard_arrow_right"}}
      {{else}}
        {{gru-icon name="keyboard_arrow_left"}}
      {{/if}}
    </span>
    <span class="separator" {{action 'showFullRubric'}}/>
    {{#if grade}}
      <span class="tab grading-tab {{if isGrading 'active'}}" {{action 'selectTab' 'grading'}}>
        {{t 'grading-player.grading'}}
      </span>
    {{/if}}
    {{#if answer}}
      <span class="tab answer-tab {{if isAnswer 'active'}}" {{action 'selectTab' 'answer'}}>
        {{t 'grading-player.answer'}}
      </span>
    {{/if}}
    {{#if rubric.rubricOn}}
      <span class="tab rubric-tab {{if isRubric 'active'}}" {{action 'selectTab' 'rubric'}}>
        {{t 'grading-player.rubric'}}
      </span>
    {{/if}}
  </div>
  <div class="content">
    {{#if grade}}
      <div class="grading {{if isGrading 'active'}}">
        {{#if rubric.rubricOn}}
          {{grading.gru-rubric-on rubric=rubric grade=grade}}
        {{else}}
          {{grading.gru-rubric-off rubric=rubric grade=grade}}
        {{/if}}
      </div>
    {{/if}}
    {{#if answer}}
      <div class="answer {{if isAnswer 'active'}}">
        <div class="panel panel-default question-response">
          <div class="panel-body">
            <div class="inner-text">
              {{gru-math-text text=answer}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if rubric.rubricOn}}
      <div class="rubric {{if isRubric 'active'}}">
        {{grading/gru-rubric-info rubric=rubric}}
      </div>
    {{/if}}
  </div>
  {{#if showNavigation}}
    <div class="footer">
      <div class="navigation">
        <div class="previous {{if isPreviousDisabled 'disabled'}}" {{action 'loadPrevious'}}>
          {{gru-icon name='keyboard_arrow_left'}}
          <span>{{t 'grading-player.rubric-panel.previous'}}</span>
        </div>
        <div class="next {{if isNextDisabled 'disabled'}}" {{action 'loadNext'}}>
          <span>{{t 'grading-player.rubric-panel.next'}}</span>
          {{gru-icon name='keyboard_arrow_right'}}
        </div>
      </div>
      <button type="button" class='btn btn-primary btn-submit' {{action 'submitGrade'}}>
        {{#if isNextDisabled}}
          {{t 'common.submit-finish'}}
        {{else}}
          {{t 'common.submit'}}
        {{/if}}
      </button>
    </div>
  {{/if}}
</div>
