<div class="panel roster-header">
  <div class="panel-body">
    <div class="content">
      <div class="actions">
        <button type="button" class='btn btn-primary' {{action 'openRoster'}}>
          {{gru-icon name='account_circle'}}
          {{t 'grading-player.roster'}}
        </button>
      </div>
      <div class="legend">
        <div>
          {{t 'grading-player.current-response'}}:
          {{gru-math-text text=currentResponse}}
        </div>
        <div>
          {{t 'grading-player.time-spent'}}:
          {{gru-math-text text=timeSpent}}
        </div>
      </div>
    </div>
    <div class="pull-right submitted-at">
      {{t 'grading-player.submitted-time'}}:
      {{gru-math-text text=submittedAt}}
    </div>
  </div>
</div>
