<div class="rubric-information">
  <div class="header" {{action 'showFullRubric'}}>
    {{#if showFullRubric}}
      {{gru-icon name="keyboard_arrow_right"}}
    {{else}}
      {{gru-icon name="keyboard_arrow_left"}}
    {{/if}}
    <span>{{t 'grading-player.full-rubric'}}</span>
  </div>
</div>
