<div class="rubric-information">
  <div class="header">
    <span class='icon' {{action 'showFullRubric'}}>
      {{#if showFullRubric}}
        {{gru-icon name="keyboard_arrow_right"}}
      {{else}}
        {{gru-icon name="keyboard_arrow_left"}}
      {{/if}}
    </span>
    <span class="separator" {{action 'showFullRubric'}}/>
    <span class="tab {{if isGrading 'active'}}" {{action 'selectTab' 'grading'}}>
      {{t 'grading-player.grading'}}
    </span>
    <span class="tab {{if isRubric 'active'}}" {{action 'selectTab' 'rubric'}}>
      {{t 'grading-player.rubric'}}
    </span>
  </div>
  <div class="content">
    {{#if isGrading}}
      {{#if rubric.rubricOn}}
        {{grading.gru-scoring-on rubric=rubric grade=grade}}
      {{else}}
        {{grading.gru-scoring-off rubric=rubric grade=grade}}
      {{/if}}
    {{/if}}
  </div>
</div>
