<div class='container-desktop notification-list'>
    <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading" class="notification-panel-heading">
            <div class="panel-title">
                <span class="notification-icon">
                    {{gru-icon name='notifications'}}
                </span>
                <span class="not-modal-header">
                    {{t 'notifications.notificationlist-header-title'}}
                </span>
            </div>
        </div>
        <div class="panel-body notfication-container">
            <ol>
                {{#each notificationModel.notifications as |item|}}
                <li>
                {{notification/notification-list-item  model=item addressNotification=(action "addressItemNotification") }}
                </li>
                {{/each}}
            </ol>
        </div>
        <div class="panel-heading">
            <div class="panel-title" {{action "showMore"}}>
                <span class="notification-icon">
                    &nbsp;
                </span>
                {{#if moreItemsRemaining}}
                    <span class="noti-title" style="color:dodgerblue;line-height:16px;font-size:13px;">{{t 'notifications.show-more' }}</span>
                {{/if}}
            </div>
        </div>
    </div>
</div>