{{#if hasActiveNotifications }}
    <span class= {{model.notificationlocation}} {{action "showNotificationList"}}>
        {{gru-icon name='notifications'}}
        {{#if (eq notifcationCount 0)}}
            {{log notifcationCount}}
        {{/if}}
        <span class="badge notification-indicator {{model.notificationlocation}}"> {{notifcationCountIndicator}}</span>
    </span>
{{else}}
    <span class= 'inactive-common'>
        {{gru-icon name='notifications'}}
    </span>
{{/if}}
{{!-- set actual props from init should not be passsed as params --}}
{{#gru-pull-up-ex showPullUp=displayNotificationList title='' description='' showMore=false isLoading=false}}
    <div>
        {{notification/notification-list notificationModel=notificationModel notificationAddressAction=notificationAddressAction showNotificationList=(action "showNotificationList")
     moreItemsRemaining=moreItemsRemaining
    dismissNotifiocation=(action "dismissNotifiocation") showMore=(action "showMore")}}
    </div>
{{/gru-pull-up-ex}}