<div class="panel panel-default">
  {{#if session.anonymouse}}
    <a {{action "openContentPlayer" content}}>
      <div class="panel-heading" style="background-image: url({{content.thumbnailUrl}})">
        <div class="info">
          <div class="question-resources">
            {{#if isCourse}}
              <span class="units" title="{{t 'common.unit'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
                {{gru-icon name="format_align_center"}}
                <span class="unit-count">
                  {{content.unitCount}}
                </span>
              </span>
            {{else}}
              {{#if hasResources}}
                {{gru-icon name="format_align_center"}}
                <span class="resource-count">
            {{content.resourceCount}}
          </span>
              {{/if}}
              {{#if hasQuestions}}
                {{gru-icon name="format_align_center"}}
                <span class="question-count">
            {{content.questionCount}}
          </span>
              {{/if}}
            {{/if}}
          </div>
          <div class="title-section">
            <h3 class="title" alt="{{content.title}}">{{truncate text=content.title maxLength=40}}</h3>
          </div>
        </div>
      </div>
    </a>
  {{else}}
    {{#if (and isOnProfile isMyProfile)}}
      <a {{action "editContent" content}}>
        <div class="panel-heading" style="background-image: url({{content.thumbnailUrl}})">
          <div class="info">
            <div class="question-resources">
              {{#if isCourse}}
                <span class="units" title="{{t 'common.unit'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
                  {{gru-icon name="format_align_center"}}
                    <span class="unit-count">
                      {{content.unitCount}}
                    </span>
                </span>
              {{else}}
                {{#if hasResources}}
                  {{gru-icon name="format_align_center"}}
                  <span class="resource-count">
              {{content.resourceCount}}
            </span>
                {{/if}}
                {{#if hasQuestions}}
                  {{gru-icon name="format_align_center"}}
                  <span class="question-count">
              {{content.questionCount}}
            </span>
                {{/if}}
              {{/if}}
            </div>
            <div class="title-section">
              <h3 class="title" alt="{{content.title}}">{{truncate text=content.title maxLength=40}}</h3>
            </div>
          </div>
        </div>
      </a>

    {{else}}
      {{#if isStudent}}
        <a {{action "previewContent" content}}>
          <div class="panel-heading" style="background-image: url({{content.thumbnailUrl}})">
            <div class="info">
              <div class="question-resources">
                {{#if isCourse}}
                  <span class="units" title="{{t 'common.unit'}}" data-toggle="tooltip" data-placement="right" data-trigger="hover">
                    {{gru-icon name="format_align_center"}}
                      <span class="unit-count">
                        {{content.unitCount}}
                      </span>
                  </span>
                {{else}}
                  {{#if hasResources}}
                    {{gru-icon name="format_align_center"}}
                    <span class="resource-count">
               {{content.resourceCount}}
             </span>
                  {{/if}}
                  {{#if hasQuestions}}
                    {{gru-icon name="format_align_center"}}
                    <span class="question-count">
               {{content.questionCount}}
             </span>
                  {{/if}}
                {{/if}}
              </div>
              <div class="title-section">
                <h3 class="title" alt="{{content.title}}">{{truncate text=content.title maxLength=40}}</h3>
              </div>
            </div>
          </div>
        </a>
      {{else}}
        <a {{action "openContentPlayer" content}}>
          <div class="panel-heading" style="background-image: url({{content.thumbnailUrl}})">
            <div class="info">
              <div class="question-resources">
                {{#if isCourse}}
                  <span class="units" title="{{t 'common.unit'}}" data-toggle="tooltip" data-placement="right" data-trigger="hover">
                    {{gru-icon name="format_align_center"}}
                      <span class="unit-count">
                        {{content.unitCount}}
                      </span>
                  </span>
                {{else}}
                  {{#if hasResources}}
                    {{gru-icon name="format_align_center"}}
                    <span class="resource-count">
               {{content.resourceCount}}
             </span>
                  {{/if}}
                  {{#if hasQuestions}}
                    {{gru-icon name="format_align_center"}}
                    <span class="question-count">
               {{content.questionCount}}
             </span>
                  {{/if}}
                {{/if}}
              </div>
              <div class="title-section">
                <h3 class="title" alt="{{content.title}}">{{truncate text=content.title maxLength=40}}</h3>
              </div>
            </div>
          </div>
        </a>
      {{/if}}

    {{/if}}

  {{/if}}

  {{#if (eq cardSize "md")}}
    <div class="panel-body cca-first">
      {{#if isCourse}}
        <div class="cca-icon-btn pull-left">
          <div class="visibility" title="{{t 'common.unitObj.one'}}" data-toggle="tooltip" data-placement="right" data-trigger="hover">
            {{#if (gt content.unitCount 0)}}
              <div class="units-icon"> <i class="icon"> </i> </div>
              <div class="unit-text"> <span>{{content.unitCount}}</span> </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#if (or isCollection isAssessment)}}
        {{#if (not isAssessment)}}
          <div class="cca-icon-btn ">
            <div class="visibility" title="{{t 'common.resource'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
              {{#if (gt content.resourceCount 0)}}
                <div class="resource-icon"> <i class="icon"> </i> </div>
                <div class="resource-text"> <span>{{content.resourceCount}}</span> </div>
              {{/if}}
            </div>
          </div>
        {{/if}}
        <div class="cca-second-icon-btn {{if isAssessment 'assessment' 'collection'}}">
          {{#if (gt content.questionCount 0)}}
            <div class="visibility" title="{{t 'common.question'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
              <div class="question-icon"> <i class="icon"> </i> </div>
              <div class="unit-text"> <span>{{content.questionCount}}</span> </div>
            </div>

          {{/if}}
        </div>
      {{/if}}


      {{#if (not novisibility)}}
        {{#if (not content.isVisibleOnProfile)}}
          <div class="visibility  visible_false" title="{{t 'common.visibility-tooltip'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
            {{gru-icon name="visibility" class='pull-right cca-eye-icon'}}
          </div>
        {{else}}
          <div class="visibility visible_true" title="{{t 'common.visibility-available'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
            {{gru-icon name="visibility" class='pull-right cca-eye-icon'}}
          </div>
        {{/if}}
      {{/if}}
      {{#if publishVisible}}
        {{#if content.isPublished}}
          <div class="publish-icon" title="{{t 'common.published-tooltip'}}" data-toggle="tooltip" data-placement="top">
            <div class="badge-icon"></div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}


  <div class="panel-body cca-description">
    <div class="{{if isAssessment 'author' 'remixed-by'}}">
      {{#if isAssessment}}
        {{#link-to 'profile.content.courses' content.owner.id class="pointer" tagName="div" }}
          <span class="title">
            {{t (if content.sameOwnerAndCreator "common.created-by" "common.remixed-by")}}
          </span>
          <img class="img-responsive" src="{{content.owner.avatarUrl}}">
          <span class="owner">{{content.owner.displayName}}</span>
        {{/link-to}}
      {{else}}
        {{#if content.owner}}
          {{#link-to 'profile.content.courses' content.owner.id class="pointer" tagName="div" }}
            <span class="title">
              {{t (if content.sameOwnerAndCreator "common.created-by" "common.remixed-by")}}
            </span>
            <img class="img-responsive" src="{{content.owner.avatarUrl}}">
            <span class="owner">{{content.owner.displayName}}</span>
            {{#if content.remixCount}}
               <span class="remix-counts">+{{content.remixCount}} </span>
           {{/if}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>
    {{#if (eq cardSize "md")}}
      <div class="description">
        {{#if isCourse}}
          <p class="truncate content-description">{{ content.description }}</p>
        {{else}}
          <div class="ca-desc">
            <p class="truncate learning-objective">{{ content.learningObjectives }}</p>
          </div>
          <div class="cca-standards">
            <div class="standards ">
              {{#if tags.length}}
                {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
              {{/if}}
            </div>
          </div>
        {{/if}}

      </div>
    {{/if}}
    {{#if (and featuresCourse publishVisible content.isPublished)}}
          <div class="publish-icon" title="{{t 'common.published-tooltip'}}" data-toggle="tooltip" data-placement="top">
            <div class="badge-icon"></div>
          </div>
    {{/if}}
  </div>


  {{#if (eq cardSize "md")}}
    {{#if isCourse}}
      <div class="panel-body cca-standards">
        <div class="standards ">
          {{#if tags.length}}
            {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/if}}


  <div class="panel-footer cca-footer">
    <div class="options">
      {{#if (and isOnProfile isMyProfile)}}
        <div class="course-icon-btn play-btn" title="Play" data-toggle="tooltip">
          <a {{action "openContentPlayer" content}} class="edit-btn">{{gru-icon name="play_arrow"}}</a>
        </div>
        <!-- <div class="course-icon-btn cca-edit" title="Edit" data-toggle="tooltip">
          <a {{action "editContent"}} class="edit-btn course-mode-edit">{{gru-icon name="mode_edit"}}</a>
        </div> -->
      {{else}}
        <div>
          <button class="preview-btn btn btn-success btn-sm" {{action 'previewContent' content}}>{{t "common.preview"}}</button>
        </div>
      {{/if}}
    </div>
    <div class="actions">
      {{#if isOnProfile}}
        {{#if (and profile isMyProfile)}}
          <div class="course-icon-btn cca-edit" title="Edit" data-toggle="tooltip">
            <a {{action "editContent"}} class="edit-btn course-mode-edit">{{gru-icon name="mode_edit"}}</a>
          </div>
          <!-- {{#unless content.isVisibleOnProfile }}
            <div class="visibility course-add-btn"  title="{{t 'common.visibility-tooltip'}}" data-toggle="tooltip" data-placement="bottom" data-trigger="hover">
              {{gru-icon name="visibility_off" class='pull-right'}}
            </div>
          {{/unless}} -->
          {{#unless isStudent}}
            <button class="btn add-btn no-bgd course-add-btn" {{action 'addToClassroom'}} title="{{if isCourse (t 'common.add-to-classroom') (t 'common.add-to-daily-class') }}" data-toggle="tooltip" data-placement="bottom" data-trigger="hover">
              {{gru-icon name="add"}}
            </button>
          {{/unless}}
        {{/if}}
      {{else}}
        <div class="share-box" title= {{t 'common.share'}} data-toggle="tooltip" data-placement="bottom" data-trigger="hover">
          {{#if isCourse}}
            {{#gru-share-pop-over tagName="button" class="btn share-btn no-bgd" type="course" contentId=content.id}}
              {{gru-icon name="share"}}
            {{/gru-share-pop-over}}
          {{else}}
            {{#gru-share-pop-over tagName="button" class="btn share-btn no-bgd" type=(if isAssessment 'assessment' 'collection') contentId=content.id}}
              {{gru-icon name="share"}}
            {{/gru-share-pop-over}}
          {{/if}}
        </div>
        {{#if isStudent}}
          <button class="btn bookmark-btn no-bgd {{if disabledBookmark 'btn-disabled'}}" title="{{t 'common.bookmark'}}" {{action 'bookmarkContent' content true}} data-toggle="tooltip" data-placement="bottom" data-trigger="hover" disabled= {{disabledBookmark}}>
            {{gru-icon name="turned_in_not"}}
          </button>
        {{/if}}
      {{/if}}
    </div>

  </div>
</div>
