<div class="panel panel-default">
  <div class="panel-heading">
    <div class="header">
      <div class="image resource-data">
        {{#if externalAssessment}}
          <a href= {{resource.url}} target="_blank" class="external-assessment">
            <img class="img-responsive" src="{{resource.thumbnail}}">
          </a>
        {{else}}
          {{#if isRubric}}
            {{#if editEnabled}}
              {{#link-to 'content.rubric.edit' resource.id}}
                {{#if resource.thumbnail}}
                  <img class="img-responsive" src="{{resource.thumbnail}}">
                {{else}}
                  <i class="rubric-icon"></i>
                {{/if}}
              {{/link-to}}
            {{else}}
              {{#if resource.thumbnail}}
                <img class="img-responsive" src="{{resource.thumbnail}}">
              {{else}}
                <i class="rubric-icon"></i>
              {{/if}}
            {{/if}}
          {{else}}
            {{#if isLinkOut}}
              <i class="{{resource.format}}-icon"></i>
            {{else}}
              {{#if editEnabled}}
                {{#link-to (if isQuestion 'content.questions.edit' 'content.resources.edit') resource.id}}
                  <i class="{{resource.format}}-icon"></i>
                {{/link-to}}
              {{else}}
                {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id}}
                  <i class="{{resource.format}}-icon"></i>
                {{/link-to}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}

        <div class="title-section">
          {{#if externalAssessment}}
            <a href= {{resource.url}} target="_blank">
              <h6 class="title truncate pointer">{{{resource.title}}}</h6>
            </a>
          {{else}}
            {{#if isRubric}}
              {{#if editEnabled}}
                {{#link-to 'content.rubric.edit' resource.id tagName="h6" class="title rubric truncate pointer" alt=resource.title}}{{{truncate text=resource.title maxLength=40}}}{{/link-to}}
              {{else}}
                <h3 class="title rubric">{{{truncate text=resource.title maxLength=40}}}</h3>
              {{/if}}
            {{else}}
              {{#if isLinkOut}}
                <a href="{{{resource.url}}}" target="_blank">
                  <h6 class="title truncate">{{{resource.title}}}</h6>
                </a>
              {{else}}
                {{#if editEnabled}}
                  {{#link-to (if isQuestion 'content.questions.edit' 'content.resources.edit') resource.id tagName="h6" class="title truncate pointer" alt=resource.title}}{{{resource.title}}}{{/link-to}}
                {{else}}
                  {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id tagName="h6" class="title truncate pointer" alt=resource.title}}{{{resource.title}}}{{/link-to}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>

      </div>

      <div class="resource-info {{if isRubric 'rubric-info'}}">
        {{#unless (or externalAssessment isRubric)}}
          {{#if isQuestion}}
            <div class="question-type {{if isSearch 'search-type-position'}}">
              <span>{{t (concat "common.question-type." resource.type)}}</span>
            </div>
          {{else}}
            <div class="resource-type {{if isSearch 'search-type-position'}}">
              <span>{{t (concat "common.resource-format." resource.format)}}</span>
            </div>
          {{/if}}
        {{/unless}}
        <div class="resource-visibility">
          {{#unless (or isRubric isSearch externalAssessment)}}
            <div class="resource-icon-btn visibility {{if resource.isVisibleOnProfile 'visible-icon' 'invisible-icon'}}" title="{{t (if resource.isVisibleOnProfile 'common.visibility-available' 'common.visibility-tooltip')}}" data-toggle="tooltip">
              {{gru-icon name="visibility" class="visibility"}}
            </div>
          {{/unless}}
          {{#if (and publishVisible (not isSearch))}}
            {{#if resource.isPublished}}
              <div class="publish-icon" title="{{t 'common.published-tooltip'}}" data-toggle="tooltip" data-placement="top"></div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    {{#unless externalAssessment}}
      <div class="publisher">
        {{#if showPublisher}}
          <b class="publisher-name">{{resource.publisher}}</b>
        {{else}}
          {{#link-to 'profile.edit' resource.owner.id class="pointer enable" }}
            <img class="img-responsive" src="{{ resource.owner.avatarUrl }}">
          {{/link-to}}
          <span class="owner">
            {{#if allowProfileNavigation}}
            {{#link-to 'profile.edit' resource.owner.id class="pointer enable"}}
                {{resource.owner.displayName}}
              {{/link-to}}
            {{else}}
              <a class="disabled">{{resource.owner.displayName}}</a>
            {{/if}}
          </span>
        {{/if}}
      </div>
    {{/unless}}
    <div class="description">
      <p class="truncate">{{gru-math-text text=(if resource.isFIB resource.fibText resource.description)}}</p>
    </div>
    <div>
      {{#if tags.length}}
        {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true}}
      {{/if}}
    </div>
  </div>
  {{#if partnerLibrary}}
    <div class="panel-footer">
      {{#if (or isLinkOut externalAssessment)}}
        <div class="buttons resource-icon-btn" title="Play" data-toggle="tooltip">
          <a href="{{{resource.url}}}" target="_blank" class="play-btn">{{gru-icon name="play_arrow"}}</a>
        </div>
      {{else}}
        <div class="buttons">
          <div class="left-btns">
            {{#unless isStudentSearch}}
              {{#unless (and isOnProfile (not isMyProfile))}}
                {{#if isQuestion}}
                  {{#if remixEnabled}}
                  {{#if (not profile.isStudent)}}
                    <div class="remix-btn {{if session.isAnonymous 'remix-anonymous'}}">
                      <a class="copy-btn" {{action "remixQuestion"}}>{{gru-icon name="content_copy"}}{{t "common.remix"}}</a>
                    </div>
                  {{/if}}
                  {{/if}}
                {{/if}}
              {{/unless}}
            {{/unless}}
            {{#unless (or isRubric session.isAnonymous isTeacherSearch (not isOnProfile))}}
              {{#if profile.isStudent}}
              <div class="resource-icon-btn play" title="{{t (if (or isSearch addEnabled) 'common.play' 'common.study')}}" data-toggle="tooltip">
                <a {{action "playResource"}} class="play-btn">{{gru-icon name="play_arrow"}}</a>
              </div>
            {{/if}}
            {{/unless}}
          </div>
          <div class="right-btns">
            {{#unless (or isRubric isStudentSearch)}}
              {{#if addEnabled}}
               {{#if (not profile.isStudent)}}
                <div class="resource-icon-btn add" title="Add to" data-toggle="tooltip">
                  <a {{action "addToCollection"}} class="add-to-btn">{{gru-icon name="add"}}</a>
                </div>
               {{/if}}
              {{/if}}
            {{/unless}}
            {{#if editEnabled }}
              <div class="resource-icon-btn {{if remixEnabled 'edit-with-copy' 'edit'}}" title="Edit" data-toggle="tooltip">
                <a {{action "editResource"}} class="edit-btn resource-mode-edit">{{gru-icon name="mode_edit"}}</a>
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>


  {{else}}
    <div class="panel-footer">
      {{#if (or isLinkOut externalAssessment)}}
        <div class="buttons resource-icon-btn" title="Play" data-toggle="tooltip">
          <a href="{{{resource.url}}}" target="_blank" class="play-btn">{{gru-icon name="play_arrow"}}</a>
        </div>
      {{else}}
        <div class="buttons">
          <div class="left-btns">
            {{#unless isStudentSearch}}
              {{#unless (and isOnProfile (not isMyProfile))}}
                {{#if isQuestion}}
                  {{#if remixEnabled}}
                    <div class="remix-btn {{if session.isAnonymous 'remix-anonymous'}}">
                      <a class="copy-btn" {{action "remixQuestion"}}>{{gru-icon name="content_copy"}}{{t "common.remix"}}</a>
                    </div>
                  {{/if}}
                {{/if}}
              {{/unless}}
            {{/unless}}
            {{#unless (or isRubric session.isAnonymous isTeacherSearch)}}
              <div class="resource-icon-btn play" title="{{t (if (or isSearch addEnabled) 'common.play' 'common.study')}}" data-toggle="tooltip">
                <a {{action "playResource"}} class="play-btn">{{gru-icon name="play_arrow"}}</a>
              </div>
            {{/unless}}
          </div>
          <div class="right-btns">
            {{#unless (or isRubric isStudentSearch)}}
              {{#if addEnabled}}
                <div class="resource-icon-btn add" title="Add to" data-toggle="tooltip">
                  <a {{action "addToCollection"}} class="add-to-btn">{{gru-icon name="add"}}</a>
                </div>
              {{/if}}
            {{/unless}}
            {{#if editEnabled }}
              <div class="resource-icon-btn {{if remixEnabled 'edit-with-copy' 'edit'}}" title="Edit" data-toggle="tooltip">
                <a {{action "editResource"}} class="edit-btn resource-mode-edit">{{gru-icon name="mode_edit"}}</a>
              </div>
            {{/if}}
            {{#unless (or editEnabled isExistingResource)}}
              {{#unless isOnProfile}}
                <div class="resource-icon-btn share" title= {{t 'common.share'}} data-toggle="tooltip" data-placement="auto" data-trigger="hover">
                  {{#gru-share-pop-over tagName="a" class="share-btn no-bgd" type=(if isQuestion 'question' 'resource') contentId=resource.id}}
                    {{gru-icon name="share"}}
                  {{/gru-share-pop-over}}
                </div>
              {{/unless}}
            {{/unless}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
