<div class="partner-library-content">
  <ul class="nav nav-tabs category-options">
    {{#link-to "partner-library.content.courses" tagName="li" class="courses"}}
      <a href="{{view.href}}" class="btn btn-category">
        {{gru-icon name="chrome_reader_mode"}}
        <span>{{t "common.courses"}}</span>
      </a>
    {{/link-to}}
    {{#link-to "partner-library.content.collections" tagName="li" class="collections"}}
      <a href="{{view.href}}" class="btn btn-category">
        <i class="icon"></i>
        <span>{{t "common.collections"}}</span>
      </a>
    {{/link-to}}
    {{#link-to "partner-library.content.assessments" tagName="li" class="assessments"}}
      <a href="{{view.href}}" class="btn btn-category">
        <i class="icon"></i>
        <span>{{t "common.assessments"}}</span>
      </a>
    {{/link-to}}
    {{#link-to "partner-library.content.resources" tagName="li" class="resources"}}
      <a href="{{view.href}}" class="btn btn-category">
        <i class="icon"></i>
        <span>{{t "common.resources"}}</span>
      </a>
    {{/link-to}}
    {{#link-to "partner-library.content.questions" tagName="li" class="questions"}}
      <a href="{{view.href}}" class="btn btn-category">
        {{gru-icon name="help_outline"}}
        <span>{{t "common.questions"}}</span>
      </a>
    {{/link-to}}
  </ul>
</div>
<div class="content_outlet">
  {{outlet}}
</div>
