<ul class="nav nav-tabs" role="tablist">
  <li class="activity-list tab out-of-scope">
    <a {{action 'selectItem' 'activity-list'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.activity-list'}}</span>
    </a>
  </li>
  <li class="active performance tab">
    <a {{action 'selectItem' 'performance'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.performance'}}</span>
    </a>
  </li>
  <li class="classmates tab">
    <a {{action 'selectItem' 'classmates'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.classmates'}}</span>
    </a>
  </li>
  <li class="content-map tab">
    <a {{action 'selectItem' 'content-map'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.content-map'}}</span>
    </a>
  </li>
</ul>