<div class="panel">
    <div class="nav-body">
        <ul class="nav nav-pills" role="tablist">
          <li class="study-player-brand tab" {{action 'onClickBrand'}}>
            {{#link-to 'index' class="navbar-brand home-link"}}  {{/link-to}}
          </li>

            {{#unless class.isArchived}}
                {{#if (not (eq sourceType 'ILActivity')) }}
                    {{#if (not (eq ILActivity 'true')) }}
                        <li class="class-activities tab">
                            <a {{action 'selectItem' 'class-activities'}} title="{{t 'teacher-landing.class.class-activities'}}" role="tab" data-toggle="tooltip">
                                <img src='/assets/gooru/pin-white.png'>
                                <span class="add-info">
                                    &nbsp; {{t 'teacher-landing.class.class-activities'}}
                                </span>
                            </a>
                        </li>
                    {{/if}}
                {{/if}}
                <li role="separator" class="divider {{if (and (not isStudyPlayer) (eq ILActivity 'true')) 'hide'}}"></li>
                <li class="course-map study-player tab">
                    {{#if (eq selectedMenuItem 'course-map')}}
                        <a {{action 'selectItem' 'study-player'}} role="tab" data-toggle="tooltip" title="{{t 'student-landing.study-player'}}">
                            {{gru-icon name='play_arrow'}}
                            <span class="add-info">
                                &nbsp; {{t 'student-landing.study-player'}}
                            </span>
                        </a>
                    {{else}}
                        <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.course-map'}}">
                            {{gru-icon name='sort'}}
                            <span class="add-info">
                                &nbsp; {{t 'teacher-landing.class.course-map'}}
                            </span>
                        </a>
                    {{/if}}
                </li>
            {{/unless}}
            <li role="separator" class="divider"></li>
            <li class="profile tab">
                <a {{action 'selectItem' 'profile'}} role="tab" data-toggle="tooltip" title="{{t 'common.myProfile'}} ">
                    {{gru-icon name='account_circle'}}
                    <span class="my-profile add-info">
                      &nbsp; {{t 'common.myProfile'}}
                    </span>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="performance tab">
                <a {{action 'selectItem' 'performance'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.report'}} ">
                    {{gru-icon name='insert_chart'}}
                </a>
            </li>
              <li role="separator" class="divider"></li>
            {{#unless class.isArchived}}
                <li role="separator" class="divider hidden"></li>
                <li class="class-management tab hidden">
                    <a {{action 'selectItem' 'class-management'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management' }}">
                        {{gru-icon name='school'}}
                        <span class="add-info">
                            &nbsp; {{t 'teacher-landing.class.class-management' }}
                        </span>
                    </a>
                </li>
                <li role="separator" class="divider hidden"></li>
            {{/unless}}
            {{#if navTitle}}
              <li class="studyplayer-title">
                  <a class="ellipsis" style=" opacity:1; ">
                       <span>
                   {{navTitle}}
                   </span>
                  </a>
              </li>
            {{/if}}
            <ul class="nav navbar-nav navbar-right">
                {{#if hasClassInfo }}
                    <li>
                        {{#if (not isPremiumClass)}}
                            <div class="">
                                {{charts/gru-performance-chart performanceSummary=class.performanceSummary routeToGo="student.class.performance"}}
                            </div>
                        {{/if}}
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="class-info">
                        <a {{action 'selectItem' 'class-info'}} role="tab" data-toggle="tooltip" title="{{t 'teacher-landing.class.class-management-tab.class-information'}}">
                            <img src='/assets/gooru/info-outline-white.png'>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                {{else}}
                    <li role="separator" class="divider"></li>
                    <li>
                        <div class="performance">
                            {{#if performanceSummary}}
                                <span class="score">{{performanceSummary.totalCompleted}}/{{performanceSummary.total}}</span>
                            {{else}}
                                <span class="score">--</span>
                            {{/if}}
                            <span class="label">{{t 'common.completion'}}</span>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <div class="performance" style="background-color:{{if performanceSummary (grade-color performanceSummary.score) defaultBarColor}}">
                            <span class="score">
                                {{#if performanceSummary}}
                                    {{#if performanceSummary.score}} {{performanceSummary.score}}% {{else}}0% {{/if}} {{else}}--
                                {{/if}}
                            </span>
                            <span class="label">{{t 'teacher-landing.class.performance'}} </span>
                        </div>
                    </li>
                {{/if}}
            </ul>
        </ul>
    </div>
</div>
