<ul class="nav nav-tabs" role="tablist">
    <li class="class-activities tab">
        <a {{action 'selectItem' 'class-activities'}} role="tab" data-toggle="tab">
            <span class="lead">{{t 'student-landing.class.class-activities'}}</span>
        </a>
    </li>
    <li class="performance tab">
    <a {{action 'selectItem' 'performance'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.performance'}}</span>
    </a>
  </li>
  <li class="classmates tab">
    <a {{action 'selectItem' 'classmates'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.classmates'}}</span>
    </a>
  </li>
  <li class="course-map tab">
    <a {{action 'selectItem' 'course-map'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'student-landing.class.course-map'}}</span>
    </a>
  </li>
</ul>