<div class="report-backdrop" {{action 'onPullUpClose'}}></div>
<div class="assessment-report-container">
  <div class="report-header">
    <div class="report-breadcrumb">
      <div class="unit-title">
        <i class="unit-icon"></i>
        <p>{{unit.title}}</p>
      </div>
      <div class="lesson-title">
        {{gru-icon name="keyboard_arrow_right"}}
        <i class="lesson-icon"></i>
        <p>{{lesson.title}}</p>
      </div>
      <div class="assessment-title">
        {{gru-icon name="keyboard_arrow_right"}}
        <i class="assessment-icon"></i>
        <p>{{selectedCollection.title}}</p>
      </div>
    </div>
    <div class="report-close-pullup" {{action 'onPullUpClose'}}>
      {{gru-icon name="close" }}
    </div>
  </div>
  <div class="report-content">
    <div class="report-carousel">
      <div id="report-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          {{#each collections as |collectionItem|}}
            {{#if (eq collectionItem.format 'assessment')}}
              <div class="item {{if (eq collectionItem.id  selectedCollection.id) 'active'}}">
                <img class="assessment-cover-img" src="{{collectionItem.thumbnailUrl}}" />
              </div>
            {{/if}}
          {{/each}}

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#report-carousel-wrapper" data-slide="prev">
        {{gru-icon name="keyboard_arrow_left"}}
      </a>
        <a class="right carousel-control" href="#report-carousel-wrapper" data-slide="next">
        {{gru-icon name="keyboard_arrow_right"}}
      </a>
      </div>
      <div class="report-carousel-content-container">
        <div class="report-carousel-content">
          <div class="assessment-performance-average" style= {{safe-html (concat "background-color:" (grade-color selectedCollection.performance.score))}}>{{selectedCollection.performance.score}}%</div>
          <div class="assessment-description">{{assessment.learningObjectives}}</div>
        </div>
      </div>
    </div>

    <div class="report-performance-tabular">
      <div class="report-header-container">
        <div class="taxonomy-details">
        </div>
        <div class="report-action-btns">
          <div class="view-btn-actions">
            <div class="grid-view-icon {{if isGridView 'active'}}" {{action "onChooseGridView"}}>
              {{gru-icon name="view_module"}}
              <span>Grid</span>
            </div>
            <div class="list-view-icon {{if isListView 'active'}}" {{action "onChooseListView"}}>
              {{gru-icon name="view_list"}}
              <span>List</span>
            </div>
          </div>
          <div class="filter-btns">
            <div class="performance-icon active">
              {{gru-icon name="done_all"}}
              <span>Performance</span>
            </div>
            <div class="timespent-icon {{if isTimeSpentFltApplied 'active'}}" {{action "onToggleTimeSpentFlt"}}>
              {{gru-icon name="access_time"}}
              <span>Time Spent</span>
            </div>
            <div class="reaction-icon {{if isReactionFltApplied 'active'}}" {{action "onToggleReactionFlt"}}>
              {{gru-icon name="insert_emoticon"}}
              <span>Reactions</span>
            </div>
          </div>
        </div>
      </div>
      <div class="report-view-container">
        {{#if isGridView}}
          {{reports.pull-up.assessment-report-gridview}}
        {{else}}
          {{reports.pull-up.assessment-report-listview}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
