<div class="grid-view-container">
  {{#each studentReportData as |student|}}
    <div class="grid-view-card">
      <div class="user-profile-summary">
        <div class="user-profile-details {{unless student.hasStarted 'not-started'}}" {{action 'studentReport' selectedCollection student.id}}>
          <div class="user-profile-img">
            <img src="{{student.avatarUrl}}" />
          </div>
          <div class="username">
            <p>{{student.firstName}}</p>
            <p>{{student.lastName}}</p>
          </div>
        </div>
      </div>
      <div class="contents-container">
        {{#each student.userPerformanceData as |userPerformanceData|}}
          <div class="content-score-value">
            {{#if userPerformanceData.hasStarted}}
              {{#if userPerformanceData.isSkipped}}
                <div class="skipped">
                  <span>{{userPerformanceData.sequence}}</span> {{gru-icon name="not_interested"}}
                </div>
              {{else}}
                <div class="{{if userPerformanceData.correct 'correct' 'wrong'}}">{{userPerformanceData.sequence}}</div>
              {{/if}}
            {{else}}
              <div class="not-started">{{userPerformanceData.sequence}}</div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
