{{#if showPullUp}}
  <div class="overlay" {{action 'onClosePullUp' true}}></div>
{{/if}}
<div class="competency-report">
  <div class="header">
    <div class="report-info">
      <div class="title-section {{if competency 'content'}}">
        <div class="type">
          {{type}}
        </div>
        {{#unless competency}}
          <div class="title">
            {{title}}
          </div>
        {{/unless}}
      </div>
      {{#if competency}}
        <div class="competency-status">
          {{competencyStatus}}
          {{#if isBadgedCompetency}}
            <div class="badge">
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
    <div class="close-pullup" {{action "onClosePullUp"}}>
      {{gru-icon name="close"}}
    </div>
  </div>
  <div class="body">
    {{yield}}
  </div>
</div>
