<div class="backdrop" {{action 'onPullUpClose'}}></div>
<div class="student-unit-report-container">
  <div class="report-header">
    <div class="report-breadcrumb">
      <div class="unit-title">
        <i class="unit-icon"></i>
        <p>{{t 'common.unit'}} {{unit.sequence}} : {{unit.title}}</p>
      </div>
    </div>
    <div class="report-close-pullup" {{action 'onPullUpClose'}}>
      {{gru-icon name="close" }}
    </div>
  </div>
  <div class="report-content">
    <div class="report-carousel-tags">
      <div class="report-carousel">
        <div id="report-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            {{#each unitsHasPerformance as |unitItem index|}}
              <div data-item-index="{{index}}" class="item {{if (eq index 0) 'active'}}">
                <div class="unit-background-cover" />
              </div>
            {{/each}}
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" data-slide="prev" {{action 'onClickPrev'}}>
          <i class="arrow-left"></i>
        </a>
          <a class="right carousel-control" data-slide="next" {{action 'onClickNext'}}>
          <i class="arrow-right"></i>
        </a>
        </div>
        <div class="report-carousel-content-container">
          <div class="report-carousel-content">
            <div class="performance-display-container">
              <div class="unit-performance-average" style= {{safe-html (concat "background-color:" (grade-color selectedUnit.performance.score))}}>
                {{#if (gt selectedUnit.performance.score -1) }}
                  {{selectedUnit.performance.score}}%
                {{else}}
                  --
                {{/if}}
              </div>
            </div>
            <div class="unit-description">
              <p class="header-desc">{{t 'common.big-ideas' }}</p>
              <p class="text-desc">
                {{#if unit.bigIdeas}}
                  {{unit.bigIdeas}}
                {{else}}
                  {{unit.title}}
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
      {{#if tags.length}}
        <div class="report-standard-tags">
          {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=4  showDescription=true }}
        </div>
      {{/if}}
    </div>
    <div class="report-performance-tabular">
      <div class="report-performance-header on-scroll-fixed">
        <div class="content-name">
          <span>{{t 'common.content-name'}}</span>
        </div>
        <div class="score">
          <span>{{t 'gru-performance-metrics.score'}}</span>
        </div>
        <div class="completion">
          <span>{{t 'gru-performance-metrics.completion'}}</span>
        </div>
      </div>
      {{#each lessons as |lesson|}}
        <div class="report-performance-list">
          <div class="content-name {{unless lesson.performance.hasStarted 'not-started'}}" {{action 'openLessonReport' lesson lessons}}>
            <i class="lesson-icon"></i>
            <span>Lesson {{lesson.sequence}} : {{lesson.title}}</span>
          </div>
          <div class="score">
            {{#if lesson.performance.hasStarted}}
              <span style= {{safe-html (concat "color:" (grade-color lesson.performance.score))}}>{{lesson.performance.score}}%</span>
            {{else}}
              <span>--</span>
            {{/if}}
          </div>
          <div class="completion">
            {{#if lesson.performance.hasStarted}}
              <div class="completion-bar">
                <div class="segment {{if (eq lesson.performance.score 100) 'completed'}}" style="width:{{lesson.performance.score}}%; {{safe-html (concat "background-color:" (grade-color lesson.performance.score))}}"></div>
              </div>
            {{else}}
              <span>--</span>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}

{{#if showLessonReport}}
  {{reports.pull-up.student-lesson-report context=studentLessonReportContext showPullUp=showLessonReport}}
{{/if}}
