<div class="backdrop" {{action 'onPullUpClose'}}></div>
<div class="report-container">
  <div class="report-header">
    <div class="assessment-container">
      <div class="assessment-thumbnail" style="background-image: url({{externalAssessment.thumbnailUrl}})">
      </div>
      <div class="assessment-info">
        <div class="title">
          {{externalAssessment.title}}
        </div>
        <div class="student-name">
          {{profile.fullName}}
        </div>
        <div class="performance-bar">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="{{performanceColorStyle}} {{studentAverage}}" >
          </div>
          <span class="score-text" style="color: {{performanceColor}}"> {{externalAssessment.performance.score}} % </span>
        </div>
      </div>
    </div>
    <div class="pullup-close pull-right" {{action 'onPullUpClose'}}>
      {{gru-icon name='close'}}
      <span>Close</span>
    </div>
    {{#if (and (not isStudent) showSuggestion)}}
      <div class="teacher-suggestion">
        <div class="suggestion-count-container" {{action 'onOpenSuggestionPullup'}}>
          <div class="suggestion-explore">
            {{gru-icon name="explore"}}
            <div class="suggestion-count">{{suggestResultCount}}</div>
          </div>
          <span>{{t 'common.suggestion'}}</span>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="report-body">
    <div class="external-assessment-container">
      <div class="taxonomy-container">
        {{#if tags.length}}
          {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=4 showDescription=true }}
        {{/if}}
      </div>
      <div class="reference">{{t 'report.external-assessment-report.reference'}} <a target="_blank" href="{{externalAssessment.url}}" class="link">here</a></div>
      <div class="wish">{{t 'report.external-assessment-report.wish'}}</div>
      <div class="student-score" style="color: {{performanceColor}}">{{externalAssessment.performance.score}}%</div>
    </div>
  </div>
</div>

{{#if showSuggestionPullup}}
  {{teacher.suggestion-pull-up
    showPullUp=showSuggestionPullup
    students=studentsSelectedForSuggest
    onCloseSuggest="onCloseSuggest"
    context=suggestContextParams
    collection=collections
    defaultSuggestContentType=defaultSuggestContentType
  }}
{{/if}}
