<div class="list-view-container">
  <div class="table-fixed-left">
    <table>
      <tbody>
        <tr>
          <th class="tabular-header on-scroll-fixed">
            <div class="header-filters">
              <div class="name-filter">
                <span class="name-header">{{t 'common.name'}}</span>
                <span class="first-header {{if sortByFirstnameEnabled 'active'}}" {{action 'sortByFirstName'}}>
                  <span>{{t 'common.first'}}</span>
                {{#if sortByFirstnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
                <span class="last-header {{if sortByLastnameEnabled 'active'}}" {{action 'sortByLastName'}}>
                  <span>{{t 'common.last'}}</span>
                {{#if sortByLastnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
              </div>
              <div class="score {{if sortByScoreEnabled 'active'}}" {{action 'sortByScore'}}>
                <span>{{t 'common.score'}}</span>
                {{#if sortByScoreEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
              </div>
            </div>
          </th>
        </tr>
        {{#each studentReportData as |student|}}
          <tr>
            <th>
              <div class="user-profile-summary">
                <div class="user-profile-details {{unless student.hasStarted 'not-started'}}">
                  <div class="user-profile-img">
                    {{#if student.selectedForSuggestion}}
                      <div class="selected-user-for-suggestion">
                        {{gru-icon name="done_all"}}
                        <div class="de-select-user" {{action 'onDeSelectUser' student}}>
                          {{gru-icon name="close"}}
                        </div>
                      </div>
                    {{/if}}
                    <img src="{{student.avatarUrl}}" class="{{if student.selectedForSuggestion 'selected'}}" {{action 'onSelectUser' student}} />
                  </div>
                  <div class="username" {{action 'studentReport' selectedCollection student}}>
                    <span>{{student.firstName}}</span>
                    <span>{{student.lastName}}</span>
                  </div>
                </div>
                <div class="score-details">
                  {{#if student.hasStarted}}
                    <span style= {{safe-html (concat "color:" (grade-color student.score))}}>{{student.score}}%</span>
                  {{else}}
                    <span>--</span>
                  {{/if}}
                </div>
              </div>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="external-assessment-link">
    <div class="note">{{t 'report.external-assessment-report.note'}}</div>
    <div>This external assessment can be accessed <a class="link" target="_blank" href="{{selectedCollection.url}}">here</a></div>
  </div>
</div>

<div class="suggest-bar on-scroll-fixed {{if (gt studentsSelectedForSuggest.length 0) 'active'}}">
  <div class="suggest-bar-container">
    <div class="close-all-suggestion" {{action 'onCloseSuggest'}}>
      {{gru-icon name="close" }}
    </div>
    <div class="no-of-student-selected">
      <span>{{studentsSelectedForSuggest.length}} {{t 'common.student-selected'}}</span>
    </div>
    <div class="suggestion-count-container" {{action 'onOpenSuggestionPullup'}}>
      <span>{{t 'common.suggestion'}}</span>
      <div class="suggestion-explore">
        {{gru-icon name="explore"}}
        <div class="suggestion-count">{{suggestResultCount}}</div>
      </div>
    </div>
  </div>
</div>

{{#if showSuggestionPullup}}
  {{teacher.suggestion-pull-up
    showPullUp=showSuggestionPullup
    students=studentsSelectedForSuggest
    onCloseSuggest="onCloseSuggest"
    context=contextParams
    collection=collection
    defaultSuggestContentType=defaultSuggestContentType
  }}
{{/if}}
