<div class="report-backdrop" {{action 'onPullUpClose'}}></div>
<div class="unit-report-container">
  <div class="report-header">
    <div class="report-breadcrumb">
      <div class="unit-title">
        <i class="unit-icon"></i>
        <p>{{t 'common.unit'}} {{unit.sequence}} : {{unit.title}}</p>
      </div>
    </div>
    <div class="report-close-pullup" {{action 'onPullUpClose'}}>
      {{gru-icon name="close" }}
    </div>
  </div>
  <div class="report-content">
    <div class="report-carousel">
      <div id="report-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          {{#each units as |unitItem index|}}
            <div data-item-index="{{index}}" class="item {{if (eq index 0) 'active'}}">
              <div class="unit-background-cover" />
            </div>
          {{/each}}
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" data-slide="prev" {{action 'onClickPrev'}}>
          <i class="arrow-left"></i>
        </a>
        <a class="right carousel-control" data-slide="next" {{action 'onClickNext'}}>
          <i class="arrow-right"></i>
        </a>
      </div>
      {{#if isLoading}}
        <div class="loading-spinner">
          {{three-bounce-spinner}}
        </div>
      {{/if}}
      <div class="report-carousel-content-container">
        <div class="report-carousel-content">
          <div class="performance-display-container">
            <div class="unit-performance-average" style= {{safe-html (concat "background-color:" (grade-color selectedUnit.performance.score))}}>
              {{#if (gt selectedUnit.performance.score -1) }}
                {{selectedUnit.performance.score}}%
              {{else}}
                --
              {{/if}}
            </div>
          </div>
          <div class="unit-report-chart">
            {{charts.report-bar-chart useTimeSpentScore=false studentChartReportData=studentReportData onClickChart="onClickChart"}}
          </div>
        </div>
      </div>
    </div>

    <div class="report-performance-tabular">
      <div class="report-header-container">
        <div class="filter-btns">
          <div class="performance-icon">
            {{gru-icon name="done_all"}}
            <span>{{t 'gru-course-play.performance'}}</span>
          </div>
        </div>
      </div>

      <div class="report-view-container">
        {{reports.pull-up.unit-report-listview
          sortByFirstnameEnabled=sortByFirstnameEnabled
          sortByLastnameEnabled=sortByLastnameEnabled
          sortByScoreEnabled=sortByScoreEnabled
          contents=lessons
          studentReportData=studentReportData
          selectedUnit=selectedUnit
          openLessonReport="openLessonReport"
        }}
      </div>
    </div>
  </div>
</div>
