<div class="card-panel-container">
  <div class="card-panel-header" style="background-image: url({{assessment.thumbnailUrl}})">
    <div class="info">
      <div class="title">{{assessment.title}}</div>
    </div>
  </div>
  <div class="question-count-container" title="{{t 'common.question'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
    <i class="icon"></i>
    <span>{{assessment.questionCount}}</span>
  </div>
  <div class="assessment-info-container">
    <div class="assessment-user-info">
      <div class="created-by">{{t "common.created-by"}}</div>
      <div class="img-container pull-left">
        <img class="img-responsive" src="{{assessment.owner.avatarUrl}}">
      </div>
      <div class="username">{{assessment.owner.displayName}}</div>
    </div>
    <div class="assessment-description">
      {{safe-html assessment.learningObjectives}}
    </div>
    <div class="assessment-standards ">
      {{#if tags.length}}
        {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
      {{/if}}
    </div>

  </div>
  <div class="card-panel-footer">
    <div class="buttons-container">
      <div class="play-btn" title="Play" data-toggle="tooltip" data-placement="right" {{action "onPlayAssessment" assessment.id}}>{{gru-icon name="ic_play_arrow"}}</div>
    </div>
  </div>
</div>
