<div class="header">
    <div class="title">{{t 'student-landing.my-performance.filter'}}</div>
</div>
<div class="body">
    {{#if showCourse}}
        <div class="filter-type course">
            <span>{{t 'common.course'}}</span>
            <a class="arrow" {{action 'expandPanel' 'course'}}>
              {{#if isCourseFiltersExpanded}}
                {{gru-icon name='arrow_drop_up'}}
              {{else}}
                {{gru-icon name='arrow_drop_down'}}
              {{/if}}
            </a>
        </div>
        <div class="content-panel course {{if isCourseFiltersExpanded 'visible' 'hidden'}}">
            <span>{{selectedCourse.title}}</span>
        </div>
    {{/if}}
    <div class="filter-type unit">
        <span>{{t 'common.unit'}}</span>
        <a class="arrow" {{action 'expandPanel' 'unit'}}>
          {{#if isUnitFiltersExpanded}}
            {{gru-icon name='arrow_drop_up'}}
          {{else}}
            {{gru-icon name='arrow_drop_down'}}
          {{/if}}
        </a>
    </div>
    <div class="content-panel unit {{if isUnitFiltersExpanded 'visible' 'hidden'}}">
        <div class="items">
          {{#each units as |unit index|}}
              <div class="item ellipsis">
                  <input type="radio" name="unitOption" checked="{{if (eq unit.id unitId) 'checked'}}"
                    {{action 'selectUnit' unit.id preventDefault=false}}/>{{course-sections-prefix index=index type='unit' longName=false}}:&nbsp;{{unit.title}}</div>
          {{else}}
            {{t 'common.no-content'}}
          {{/each}}
        </div>
    </div>
    <div class="filter-type lesson">
        <span>{{t 'common.lesson'}}</span>
        <a class="arrow" {{action 'expandPanel' 'lesson'}}>
          {{#if isLessonFiltersExpanded}}
            {{gru-icon name='arrow_drop_up'}}
          {{else}}
            {{gru-icon name='arrow_drop_down'}}
          {{/if}}
        </a>
    </div>
    <div class="content-panel lesson {{if isLessonFiltersExpanded 'visible' 'hidden'}}">
        <div class="items">
          {{#each lessons as |lesson index|}}
              <div class="item ellipsis">
                  <input type="radio" name="lessonOption" checked="{{if (eq lesson.id lessonId) 'checked'}}"
                    {{action 'selectLesson' lesson.id preventDefault=false}}/>{{course-sections-prefix index=index type='lesson' longName=false}}:&nbsp;{{lesson.title}}</div>
          {{else}}
            {{t 'common.no-content'}}
          {{/each}}
        </div>
    </div>
    <div class="actions">
        <button class="btn btn-primary update-report" {{action 'updateReport'}}>
          {{gru-icon name='trending_up'}}
            <span>{{t 'student-landing.my-performance.update-report'}}</span>
        </button>
    </div>
</div>
