{{#if isRubric}}
  <span>{{t 'common.preview'}}</span>
  {{#if (and url (eq resourceProtocol 'http:'))}}
    <br/>
    <span class="path-info">{{t 'gru-rubric-creation.gru-preview-http-resource'}}</span>
  {{/if}}
{{/if}}
{{#if url}}
    <div class="preview {{if url 'show-url' 'show-legend'}}">
      <iframe src='{{url}}'></iframe>
    </div>
{{else}}
  <div class="preview {{if url 'show-url' 'show-legend'}}">
    <span>{{t 'gru-rubric-creation.gru-preview-url.preview'}}</span>
  </div>
{{/if}}
