<div class="actions">
  <button class="btn btn-default btn-icon">{{gru-icon name="delete"}}</button>
  <button class="btn btn-default btn-icon">{{gru-icon name="person_add"}}</button>
  <button class="btn btn-default btn-icon">{{gru-icon name="insert_link"}}</button>
  <button class="btn btn-default">{{t "content.courses.edit.assign-to-class"}}</button>
  <button class="btn btn-default">{{t "common.preview"}}</button>
</div>