<button title="{{t 'common.copy'}}" class="btn copy-item" {{action 'copy' model}}>{{gru-icon name="content_copy"}}</button>
<button title="{{t 'common.move'}}" class="btn move-item" {{action 'move' model}}>{{gru-icon name="subdirectory_arrow_right"}}</button>
<button title="{{t 'common.delete'}}" class="btn delete-item" {{action 'deleteItem' model}}>{{gru-icon name="delete"}}</button>
