<div class="item-actions">
  <button class="btn edit-item" {{action 'edit' model}}>{{gru-icon name="edit"}}</button>
  <button class="btn copy-item" {{action 'copy' model}}>{{gru-icon name="content_copy"}}</button>
  <button class="btn move-item" {{action 'move' model}}>{{gru-icon name="subdirectory_arrow_right"}}</button>
  <button class="btn delete-item" {{action 'delete' model}}>{{gru-icon name="delete"}}</button>
</div>
