<button class="btn copy-item" {{action 'copy' model}}>{{gru-icon name="content_copy"}}</button>
<button class="btn move-item" {{action 'move' model}}>{{gru-icon name="subdirectory_arrow_right"}}</button>
<button class="btn delete-item" {{action 'deleteContent' model}}>{{gru-icon name="delete"}}</button>

