<div class="controller profile-courses">
  <div class="category-menu">
    <ul class="nav nav-tabs category-options">
    </ul>
  </div>
  <div class="course-content">
    {{#each courses as |course|}}
      {{new-cards.gru-collection-card
        profile=sessionProfile
        isCourse=true
        content=course
        classroomList=activeClasses
        classStudentCount=myClasses.memberCount
        isMyProfile=isMyProfile
        isOnProfile=true
        publishVisible=true
        onOpenContentPlayer="playCourse"
        onEditContent="editCourse"
        onUpdateUserClasses="updateClass"
        onOpenIndependentPlayer="playIndependentContent"
        onBookmarkContent="onBookmarkCourse"
      }}
    {{else}}

      <div class="panel add-content panel-default">
        <div class="panel-body">
          {{gru-icon name='explore'}}

          {{#if isMyProfile}}
            <p>{{{t "common.add-content-prompt" type=(t "common.a-course")}}}</p>
            <button class="btn btn-success" {{action "showModal" "content.modals.gru-course-new"}}>
              {{t "common.add"}} {{t "common.course"}}
            </button>
          {{else}}
            <p>{{{t "common.no-courses-to-display"}}}</p>
          {{/if}}
        </div>
      </div>

    {{/each}}
  </div>
  {{#if showMoreResultsButton}}
    <span class="show-more-results" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</span>
  {{/if}}
</div>
