<div class="panel panel-default {{if model.isExpanded 'expanded' 'collapsed'}}">
  <div class="panel-heading">
    {{#if isSorting}}
      <span class="drag-icon">
        {{gru-icon name="drag_handle"}}
      </span>
    {{/if}}
    <h3>{{plus-one index}}</h3>
    {{#if editQuestionInline}}
      <div class="edit-title">
        <i class="{{model.format}}-icon"></i>
        <div>
          {{validation.gru-input model=tempModel valuePath='title' maxLength=50}}
        </div>
      </div>
    {{else}}
      {{#if (eq model.format 'question')}}
        <a class="title" {{action 'editQuestion'}}>
          <i class="{{model.format}}-icon"></i>
          <div>
            <strong>{{{model.title}}}</strong>
            <span>{{t "common.question"}} | {{t (concat "common.question-type." model.type)}}</span>
          </div>
        </a>
      {{else}}
        {{#link-to 'content.resources.edit' model.id (query-params collectionId=collection.id isCollection=isCollection) class="title"}}
          <i class="{{model.format}}-icon"></i>
          <div>
            <strong>{{{model.title}}}</strong>
            <span>{{t "common.resource"}} | {{t (concat "common.resource-format." model.format)}}</span>
          </div>
        {{/link-to}}
      {{/if}}
    {{/if}}

    <div class="detail {{if model.isExpanded 'hidden' 'visible'}}">
        {{#if model.standards.length}}
          {{#each visibleStandardsList as |standard|}}
            <span class="btn btn-primary btn-small">{{standard.code}}</span>
          {{/each}}
          {{#if remainingStandards}}
            <span class="btn btn-default btn-small">+{{remainingStandards}}</span>
          {{/if}}
        {{else}}
          <span class="out-of-scope">{{t "common.add-standard"}}</span>
        {{/if}}

        <div class="actions">
          <button class="btn add-item no-bgd out-of-scope" title="{{t 'common.add'}}" {{action 'add'}}>{{gru-icon name="add"}}</button>
          <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}}" {{action 'editNarration' model}}>{{gru-icon name="mode_comment"}}</button>
            <div class="item-actions">
              {{partial 'content/partials/item-actions'}}
              {{#if (eq model.format 'question')}}
                <button class="btn edit-item no-bgd" title="{{t 'common.edit'}}" {{action 'editQuestion'}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="edit"}}</button>
              {{else}}
                <button class="btn edit-item no-bgd" title="{{t 'common.edit'}}" {{action 'edit' model}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="edit"}}</button>
              {{/if}}
            </div>
        </div>
    </div>
    <div class="detail {{if model.isExpanded 'visible' 'hidden'}}">
      <div class="actions">
        {{#unless editQuestionInline}}
          <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}} "{{action 'cancel'}}>{{gru-icon name="mode_comment"}}</button>
        {{/unless}}
        <div class="item-actions no-border">
          {{#if editQuestionInline}}
            <button class="more-details btn btn-default" {{action 'edit' model}}>{{t "common.more-details"}}</button>
          {{/if}}
          <button class="cancel btn btn-info" {{action 'cancel'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'updateItem' model}}>{{t "common.save"}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    {{#if editQuestionInline}}
      <div class="question">
        <h3>{{t "common.question"}}</h3>
        {{gru-rich-text-editor content=tempModel.text}}
        <button class="add-image btn btn-sm btn-primary out-of-scope">{{t "common.add-question-image"}}</button>
      </div>
      <div class="answers">
        <div class="{{unless model.isHotTextHighlight 'border-bottom'}}">
          <h3>{{t "content.questions.edit.builder.answer"}}</h3>
          {{#unless model.isHotTextHighlight}}
            <span class="instructions">{{t (concat 'content.questions.edit.builder.answer-instructions.' model.type)}}</span>
          {{/unless}}
        </div>
        {{component (questionConfig model.type 'component.builder_answer') answers=tempModel.answers editMode=true}}
      </div>
      <div class="actions">
        <div class="item-actions no-border">
          <button class="cancel btn btn-info" {{action 'cancel'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'updateItem' model}}>{{t "common.save"}}</button>
        </div>
      </div>
    {{else}}
      <div class="narration">
        <label>
          <span>{{t "common.narration"}}</span>
          {{validation.gru-textarea rawTextareaValue=tempModel.narration model=tempModel valuePath='narration' maxLength=500 rows=2}}
        </label>
      </div>
    {{/if}}
  </div>
</div>
