<header>
  <h1>{{t "common.edit-collection"}}</h1>

  {{partial 'content/partials/collections-header-actions'}}

  <nav>
    {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
    {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
    {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
  </nav>

</header>

<section id="information">
  <div class="header">
    <h2>{{t "common.information"}}</h2>

    {{partial 'content/partials/information-actions'}}

  </div>
  <div class="content">

    {{content.gru-image isEditing=isEditing srcImage=collection.image editImage=tempCollection.image}}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <label>
            <span class="required">{{t "common.collection-title"}}</span>
            {{#if isEditing}}
              {{validation.gru-input model=tempCollection valuePath='title'}}
            {{else}}
              <b>{{collection.title}}</b>
            {{/if}}
          </label>
        </div>

        <div class="learning-objectives">
          <label>
            <span>{{t "common.learning-objectives"}}</span>
            {{#if isEditing}}
              {{textarea rows="2" maxlength="500" value=tempCollection.learningObjectives}}
            {{else}}
              <b>{{collection.learningObjectives}}</b>
            {{/if}}
          </label>
        </div>

        {{content.gru-category isEditing=isEditing srcCategory=collection.category editCategory=tempCollection.category}}

        <div class="subject">
          <span class="label required">K-12 Standards</span>
          {{#if isEditing}}
            <button type="button" class="btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
          {{else}}
            <div class="subjects">
              <span>No specified</span>
            </div>
          {{/if}}
        </div>

        {{content.gru-audience isEditing=isEditing srcSelectedAudiences=collection.audience editSelectedAudiences=tempCollection.audience}}

        <div class="century-skill">
          <span class="label required">21st Century Skills</span>
          {{#if isEditing}}
            <button type="button" class="btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
          {{else}}
            <div class="skills">
              <span>No specified</span>
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>
</section>

<section id="builder">
  {{content.collections.gru-collection-list
    model=collection
    items=collection.children }}
</section>

<section id="settings">
  {{partial 'content/partials/settings'}}
</section>
