<div class="panel panel-default {{if model.isExpanded 'expanded' 'collapsed'}}">
  <div class="panel-heading">
    {{#if isSorting}}
      <span class="drag-icon">
        {{gru-icon name="drag_handle"}}
      </span>
    {{/if}}
    <h3>{{plus-one index}}</h3>
    {{#link-to (if (eq model.format 'question') 'content.questions.edit' 'content.resources.edit') model.id (query-params collectionId=collection.id isCollection=isCollection) class="title"}}
      <i class="{{model.format}}-icon"></i>
      <div>
        <strong>{{{model.title}}}</strong>
        {{#if (eq model.format 'question')}}
          <span>{{t "common.question"}} | {{t (concat "common.question-type." model.type)}}</span>
        {{else}}
          <span>{{t "common.resource"}} | {{t (concat "common.resource-format." model.format)}}</span>
        {{/if}}
      </div>
    {{/link-to}}

    <div class="detail {{if model.isExpanded 'hidden' 'visible'}}">
        {{#if model.standards.length}}
          {{#each visibleStandardsList as |standard|}}
            <span class="btn btn-primary btn-small">{{standard.code}}</span>
          {{/each}}
          {{#if remainingStandards}}
            <span class="btn btn-default btn-small">+{{remainingStandards}}</span>
          {{/if}}
        {{else}}
          <span>{{t "common.add-standard"}}</span>
        {{/if}}

        <div class="actions">
          <button class="btn add-item no-bgd" title="{{t 'common.add'}} "{{action 'add'}}>{{gru-icon name="add"}}</button>
          <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}} "{{action 'editNarration' model}}>{{gru-icon name="mode_comment"}}</button>
            <div class="item-actions">
              {{partial 'content/partials/item-actions'}}
              <button class="btn edit-item no-bgd" title="{{t 'common.edit'}}" {{action 'edit' model}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="edit"}}</button>
            </div>
        </div>
    </div>
    <div class="detail {{if model.isExpanded 'visible' 'hidden'}}">
      <div class="actions">
        <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}} "{{action 'cancel'}}>{{gru-icon name="mode_comment"}}</button>
        <div class="item-actions no-border">
          <button class="cancel btn btn-info" {{action 'cancel'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'updateItem' model}}>{{t "common.save"}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="narration">
      <label>
        <span>{{t "common.narration"}}</span>
        {{validation.gru-textarea rawTextareaValue=tempModel.narration model=tempModel valuePath='narration' maxLength=500 rows=2}}
      </label>
    </div>
  </div>
</div>
