<div class="panel panel-default">
  <div class="panel-heading">
    {{#if isSorting}}
      <span class="drag-icon">
        {{gru-icon name="drag_handle"}}
      </span>
    {{/if}}
    <h3>{{plus-one index}}</h3>
    {{#link-to (if (eq model.format 'question') 'content.questions.edit' 'content.resources.edit') model.id (query-params collectionId=collection.id isCollection=isCollection) class="title"}}
      <i class="{{model.format}}-icon"></i>
      <div>
        <strong>{{{model.title}}}</strong>
        {{#if (eq model.format 'question')}}
          <span>{{t "common.question"}} | {{t (concat "common.question-type." model.type)}}</span>
        {{else}}
          <span>{{t "common.resource"}} | {{t (concat "common.resource-format." model.format)}}</span>
        {{/if}}
      </div>
    {{/link-to}}

    <div class="detail">
      {{#if model.standards.length}}

        {{#each visibleStandardsList as |standard|}}
          <span class="btn btn-primary btn-small">{{standard.code}}</span>
        {{/each}}

        {{#if remainingStandards}}
          <span class="btn btn-default btn-small">+{{remainingStandards}}</span>
        {{/if}}
      {{else}}
        <span>{{t "common.add-standard"}}</span>
      {{/if}}

      <div class="actions">
        <button class="btn add-item" title="{{t 'common.add'}} "{{action 'add'}}>{{gru-icon name="add"}}</button>
        <button class="btn narration" title="{{t 'common.edit-narration'}} "{{action 'narration'}}>{{gru-icon name="mode_comment"}}</button>
          <div class="item-actions">
            {{#link-to (if (eq model.format 'question') 'content.questions.edit' 'content.resources.edit') model.id (query-params collectionId=collection.id isCollection=isCollection) class="btn edit-item" tagName="button" title=(t 'common.edit')}}{{gru-icon name="edit"}}{{/link-to}}
            {{partial 'content/partials/item-actions'}}
          </div>
      </div>
    </div>
  </div>
</div>