{{#if class.courseId}}
<div class="controller student course-map">
  <div class="actions">
    <button {{action "locateMe" userLocation}} class="btn btn-info locate">
      <span>{{gru-icon name='near_me'}}{{t "class.overview.locate"}}</span>
    </button>
    <button type="button" class="btn btn-primary study-now">
      {{gru-icon name='play_arrow'}}
      <span>{{t 'common.study-now'}}</span>
    </button>
  </div>

  {{class.overview.gru-accordion-course
  currentClass=class
  classMembers=classMembers
  onSelectResource="playResource"
  onStudyNow="studyPlayer"
  onLocationUpdate=(action 'updateLocation')
  userLocation=userLocation
  location=openingLocation
  units=units
  contentVisibility=contentVisibility
  showLocation=showLocation
  isTeacher=false}}
</div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}
