{{#if class.courseId}}
  <div class="controller student course-map">
    <div class="actions">
      <span class="min-score {{unless class.minScore 'hidden'}}"><i></i> > {{class.minScore}} %</span>
      <button {{action "locateMe" userLocation}} title="{{t 'class.overview.locate'}}" class="btn btn-info locate" data-toggle="tooltip" data-placement="auto">
        <span>{{gru-icon name='near_me'}}</span>
      </button>
    </div>

    <div class="rescope-section">
      {{#if isRescopedClass}}
        <div class="rescope-toggle">
          <div class="action">
            <span>{{t 'class.overview.course-map.rescope-toggle'}}</span>
            {{gru-toggle-button isChecked=isChecked onToggleButton="onToggleRescope"}}
          </div>
          <div class="info">
            <span>{{t 'class.overview.course-map.rescope-info'}}</span>
          </div>
        </div>

        {{#if (not isContentAvailable)}}
          <div class="custom-msg">
            <span>
              {{t 'class.overview.course-map.custom-msg'}}
            </span>
            <span {{action "onClearCustomizeMsg"}}>
              {{gru-icon name="clear"}}
            </span>
          </div>
        {{/if}}

      {{/if}}
      
    </div>

    {{class.overview.gru-accordion-course
    currentClass=class
    classMembers=classMembers
    onSelectResource="playResource"
    onStudyNow="studyPlayer"
    onLocationUpdate=(action 'updateLocation')
    userLocation=userLocation
    location=openingLocation
    units=units
    contentVisibility=contentVisibility
    showLocation=showLocation
    isTeacher=false
    toggleLocation=toggleLocation
    onSelectItem="onSelectItem"}}
  </div>
{{else}}
  <div class="no-content">{{t 'student-landing.no-content-classrooms'}}</div>
{{/if}}
