<div class="controller reports collection">

  <div class="header {{if anonymous 'anonymous'}}">
    <div class="title">
      <i class="on-air">On Air</i>
      <span>On Air: Assessment Name</span>
    </div>

    {{#if anonymous}}

      <div class="mode">
        {{gru-icon name='visibility_off'}}
        <span>{{t "common.anonymous_mode"}}</span>
      </div>

    {{else}}

      <div class="actions">
        <button {{action "goBack"}} class="btn btn-info back">
          <span>{{gru-icon name='chevron_left'}}{{t "common.back"}}</span>
        </button>
        <button {{action "launchAnonymous"}} class="btn btn-info anonymous">
          <span>{{gru-icon name='visibility_off'}}{{t "common.launch-anonymous"}}</span>
        </button>
      </div>

    {{/if}}
  </div>

  <div class="controller class-assessment">
    {{ reports.gru-class-assessment-report
    assessment=assessment
    students=students
    reportData=reportData
    anonymous=anonymous
    }}
  </div>

</div>
