{{player.gru-study-header
  classId=classId
  collection=collection
  courseId=course.id
  courseTitle=course.title
  breadcrumbs=breadcrumbs
  showConfirmation=false
  onToggleHeader='toggleHeader'
  fromReport=true
}}

<div class="report-container {{if toggleState 'expanded' 'collapsed'}}">
  {{#if hasAnySuggestion}}
    {{#if hasBackFillSuggestions}}
      <div class="suggestion-panel">
        {{player.gru-suggest-test type=backFillType assessment=collection onPlayCollection='next' onPlaySuggestion='playBackFillSuggestion'}}
      </div>
    {{/if}}
    {{#if hasPostTestSuggestions}}
      <div class="suggestion-panel">
        {{player.gru-suggest-test type=postTestType assessment=collection onPlayCollection='next' onPlaySuggestion='playPostTestSuggestion'}}
      </div>
    {{/if}}
    {{#if hasResourceSuggestions}}
      <div class="suggestion-panel">
        {{player.gru-suggest-test type=resourceType suggestion=mapLocation.resourceSuggestion onPlayCollection='playActualCollection' onPlaySuggestion='playResourceSuggestion'}}
      </div>
    {{/if}}
    {{#if hasBenchmarkSuggestions}}
      <div class="suggestion-panel">
        {{player.gru-suggest-test type=benchmarkType assessment=collection  onPlayCollection='next'}}
      </div>
    {{/if}}
  {{else}}
    <div class="suggestion-panel no-suggestions">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if isDone}}
            <div class="description">{{t 'gru-suggest-test.end-of-course'}}</div>
            <div class="actions right">
              {{#link-to 'student.class.course-map' classId class="btn btn-primary btn-exit" tagName='button'}} {{t 'common.exit'}} {{/link-to}}
            </div>
          {{else}}
            <div class="description">{{t 'gru-suggest-test.no-suggestions'}}</div>
            <div class="actions right">
              <button class="btn btn-primary btn-next" {{action 'next'}}>{{t 'common.next'}}</button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{reports.qz-student-report attemptData=attemptData}}
</div>
