{{player.gru-study-header
  classId=classId
  collection=collection
  courseTitle=course.title
  breadcrumbs=breadcrumbs
  showConfirmation=false
  onToggleHeader='toggleHeader'
  fromReport=true
}}

<div class="report-container {{if toggleState 'expanded' 'collapsed'}}">
  {{#if isPreTest}}
    <div class="suggestion-panel">
      {{player.gru-suggest-test type=backFillType assessment=collection}}
    </div>
  {{/if}}
  {{#if (and hasPostTestSuggestions showSuggestion)}}
    <div class="suggestion-panel">
      {{player.gru-suggest-test type=postTestType assessment=collection}}
    </div>
  {{/if}}
  {{reports.qz-student-report attemptData=attemptData}}
</div>