<div class="header">
  <h2>{{t "common.builder"}}</h2>

  <div class="detail">
    {{#if totalSavedItems}}
      <span><b>{{totalSavedItems}}</b> {{t "common.unitObj" count=totalSavedItems}}</span>
    {{else}}
      <span>{{t "common.add-units"}}</span>
    {{/if}}

    <div class="actions">
      <button class="btn btn-primary add-unit" {{action 'addUnit'}}>{{gru-icon name="add"}}</button>

      {{#if (gt totalSavedItems 1)}}
        {{#unless isEditingItem}}
          <button class="btn btn-primary sort-units">{{gru-icon name="swap_vert"}}</button>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>

<ol class="accordion-course" role="tablist" aria-multiselectable="true">

  {{#each items as |item index|}}

    {{content.courses.edit.gru-accordion-unit
    course=model
    model=item
    index=index
    totalItems=items.length
    onCancelAddUnit=(action 'cancelAddUnit')
    onExpandUnit=(action 'closeAllUnits')
    onDeleteUnit=(action 'removeUnit')
    onRemixUnit=(action 'remixUnit')}}

  {{/each}}

  <li class="unit add-item">
    <a class="add-prefix" href="#" {{action 'addUnit'}}>{{t "common.add-new-unit"}}</a>
  </li>

</ol>
