<div class="panel panel-default view collapsed">
  <div class="panel-heading">
    <h3>{{plus-one index}}</h3>
    {{#link-to (if model.isCollection 'content.collections.edit' 'content.assessments.edit')  model.id (query-params courseId=course.id allowBackToCourse=true) class="title"}}
      <img class="img-rounded" src="{{model.thumbnailUrl}}" />
      <div>
        <strong>{{model.title}}</strong>
        <span>{{model.format}}</span>
      </div>
    {{/link-to}}

    <div class="detail">
      {{#if model.isCollection}}
      <div class="{{if model.questionCount 'mixed'}}">
        <span><b>{{model.resourceCount}}</b> {{t "common.resource-pl" count=model.resourceCount}}</span>
        {{#if model.questionCount}}
        <span><b>{{model.questionCount}}</b> {{t "common.question-pl" count=model.questionCount}}</span>
        {{/if}}
      </div>
      {{else}}
      <div>
        <span><b>{{model.questionCount}}</b> {{t "common.question-pl" count=model.questionCount}}</span>
      </div>
      {{/if}}

      <div class="actions">
          <div class="item-actions">
              {{partial 'content/partials/item-actions'}}
              <button class="btn edit-item" title="{{t 'common.edit'}}" {{action 'edit' model}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="edit"}}</button>

          </div>
      </div>
    </div>
  </div>
</div>
