<div class="option-picker">
    <ul class="option-list">
      {{#each options as |option|}}
          <li {{action 'setOption' option}}>
              <span class="{{option.value}} {{if option.selected 'active'}}">
                  {{#if isTeacherDataPicker }}
                    {{#if option.selected}}{{fa-icon icon="fa-check-square-o"}}{{else}}{{fa-icon icon=icon}}{{/if}}
                  {{else}}
                  {{fa-icon icon=icon}}
                  {{/if}}
              </span>
              <span>{{t (concat 'gru-data-picker.' option.value) }}</span>
          </li>
      {{/each}}
    </ul>
</div>
