    <li class='score'>
      {{#if performance.score}}
          <div class="description">
              <div class="radial-progress">
                  <div class="circle">
                      <div class="mask full">
                          <div class="fill"></div>
                      </div>
                      <div class="mask half">
                          <div class="fill"></div>
                          <div class="fill fix"></div>
                      </div>
                  </div>
              </div>
              <p>{{performance.score}}%</p>
          </div>
      {{else}}
          <p>N/A</p>
      {{/if}}

    </li>
    <li class="completion">
      {{#if performance.isAssessmentOrCollection}}
        {{#if performance.isCompleted}}
            <span class="performanceCheckmark isCompleted"> Redo</span>
        {{else if performance.hasStarted}}
            <span class="performanceCheckmark isNotCompleted"> Resume</span>
        {{else}}
            <span class="performanceCheckmark isNotCompleted"> Redo</span>
        {{/if}}
      {{else}}
          <div class="description">
              <div class="radial-progress">
                  <div class="circle">
                      <div class="mask full">
                          <div class="fill"></div>
                      </div>
                      <div class="mask half">
                          <div class="fill"></div>
                          <div class="fill fix"></div>
                      </div>
                  </div>
              </div>
              <p>{{performance.completionDone}}/{{performance.completionTotal}}</p>
          </div>
      {{/if}}


    </li>
    <li class="timeSpent">
        <p>
          {{performance.displayableTimeSpent}}
        </p>
    </li>
    <li class="reaction">
      {{#if performance.reaction}}
          <span class="reactionSummary"></span>
      {{else}}
          <p>–</p>
      {{/if}}

    </li>
    <li class="attempts">
      {{#if performance.attempts}}
          <p>{{performance.attempts}}</p>
      {{else}}
          <p>–</p>
      {{/if}}
    </li>
