<li class="title">
    <span>
          {{gru-icon name=(if isSelected "keyboard_arrow_up" "keyboard_arrow_down")}}
      {{course-sections-prefix  index=index type='unit'}}&colon; {{performance.title}}
    </span>
</li>
<li class='score'>
        {{#if performance.hasStarted}}
          {{#if performance.score}}
            <div class="description">
                <div class="radial-progress">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                </div>
                <p>{{performance.score}}%</p>
            </div>
          {{else}}
            <p>{{t "gru-performance-summary.not-applicable"}}</p>
          {{/if}}
        {{else}}
          <span class="not-started">{{t "gru-performance-summary.not-started"}}</span>
        {{/if}}
    </li>
    <li class="completion">
    {{#if performance.isCollectionOrAssessment}}
      <div class="collection-or-assessment">
        {{#if performance.hasStarted}}
          {{#if performance.isCompleted}}
              <span class="collection-or-assessment-is-completed"><i class="fa fa-2x fa-check-circle-o"></i></span>
              <span class="visible-xs">{{t "gru-performance-summary.redo"}}</span>
          {{else}}
              <span class="collection-or-assessment-has-started"><i class="fa fa-2x fa-check-circle-o"></i></span>
              <a class="visible-xs " {{action "selectResource" performance.id}}>{{t "gru-performance-summary.resume"}}</a>
          {{/if}}
        {{else}}
            <span class="visible-xs collection-or-assessment-not-started"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <a class="visible-xs" {{action "selectResource" performance.id}}>{{t "gru-performance-summary.study"}}</a>
        {{/if}}
      </div>
    {{else}}
      {{#if performance.hasStarted}}

        {{#if performance.isCompleted}}
            <span class="performanceCheckmark isCompleted"></span>
        {{else}}
            <div class="description">
                <div class="radial-progress">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                </div>
                <p>{{performance.completionDone}}/{{performance.completionTotal}}</p>
            </div>
        {{/if}}
      {{/if}}
    {{/if}}
    </li>
    <li class="timeSpent">
        {{#if performance.hasStarted}}
        <p>
          {{performance.displayableTimeSpent}}
        </p>
        {{/if}}
    </li>
    <li class="reaction">
    {{#if performance.hasStarted}}
      {{#if performance.reaction}}
          <span class="reactionSummary"></span>
      {{else}}
          <p>{{if performance.isUnitOrLesson '–'}}</p>
      {{/if}}
    {{/if}}
    </li>
    <li class="attempts">
    {{#if performance.hasStarted}}
      {{#if performance.attempts}}
          <p>{{performance.attempts}}</p>
      {{else}}
          <p>{{if performance.isUnitOrLesson '–'}}</p>
      {{/if}}
    {{/if}}
    </li>
