<li class="title {{if performance.isUnitOrLesson "unit-lesson" "collection-assessment"}}">
    <span class="truncate" class={{if isSelected "selected" ""}}>
      {{#if performance.isUnitOrLesson}}{{gru-icon name=(if isSelected "keyboard_arrow_down" "keyboard_arrow_right")}}{{/if}}
      <span class="section-title">{{course-sections-prefix  index=index type=performance.type longName=false}}&colon;     {{performance.title}}</span>
    </span>
  {{#if performance.isCollectionOrAssessment}}
      <div class="hidden-xs">
        {{#if collection.isCompleted}}
            <button class="btn btn-sm btn-default collection-redo-button">{{t "gru-performance-summary.redo"}}</button>
            <button class="btn btn-sm btn-default collection-view-report-button">{{t "gru-performance-summary.view-report"}}</button>
        {{else}}
            <button class="btn btn-sm btn-default collection-study-button" {{action "selectResource" collection.id}}>{{t "gru-performance-summary.study"}}</button>
        {{/if}}
      </div>
  {{/if}}
</li>
<li class='score'>
        {{#if performance.hasStarted}}
          {{#if performance.score}}
              <span class="score-box" style="background-color: {{ gradeColor performance.score }}">{{performance.score}}%</span>
          {{else}}
            <p>{{t "gru-performance-summary.not-applicable"}}</p>
          {{/if}}
        {{else}}
          <span class="not-started">{{t "gru-performance-summary.not-started"}}</span>
        {{/if}}
    </li>
    <li class="completion">
    {{#if performance.isUnitOrLesson}}
      {{ charts/gru-completion-chart
      completed=performance.completionDone
      total=performance.completionTotal }}
    {{/if}}
    </li>
    <li class="timeSpent">
        {{#if performance.hasStarted}}
        <p>
          {{performance.displayableTimeSpent}}
        </p>
        {{/if}}
    </li>
    <li class="reaction">
    {{#if performance.hasStarted}}
      {{#if performance.reaction}}
          <span class="reactionSummary"></span>
      {{/if}}
    {{/if}}
    </li>
    <li class="attempts">
    {{#if performance.hasStarted}}
      {{#if performance.attempts}}
          <p>{{performance.attempts}}</p>
      {{else}}
          <p>{{if performance.isUnitOrLesson '–'}}</p>
      {{/if}}
    {{/if}}
    </li>
