<div class="performance-picker">
    <ul class="performance-list">
      {{#each options as |option|}}
          <li {{action 'setPerformance' option}}>
              <span class="{{option.value}} {{if option.selected 'active'}}">{{fa-icon icon="fa-circle"}}</span>
              <span>{{t (concat 'gru-performance-data-picker.' option.value) }}</span>
          </li>
      {{/each}}
    </ul>
</div>
