    <li class='score'>
      {{#if performance.score}}
          <div class="description">
              <div class="radial-progress">
                  <div class="circle">
                      <div class="mask full">
                          <div class="fill"></div>
                      </div>
                      <div class="mask half">
                          <div class="fill"></div>
                          <div class="fill fix"></div>
                      </div>
                  </div>
              </div>
              <p>{{performance.score}}%</p>
          </div>
      {{else}}
          <p>N/A</p>
      {{/if}}
    </li>
    <li class="completion">
    {{#if performance.isAssessment}}
      <div class="assessment-completion">
        {{#if performance.isCompleted}}
            <span class="isCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.redo"}}</span>
        {{else if performance.hasStarted}}
            <span class="isNotCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.view-report"}}</span>
        {{else}}
            <span class="isNotCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.study"}}</span>
        {{/if}}
      </div>
    {{else if performance.isCollection}}
      <div class="collection-completion">
        {{#if performance.isCompleted}}
            <span class="isCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.redo"}}</span>
        {{else if performance.hasStarted}}
            <span class="isNotCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.view-report"}}</span>
        {{else}}
            <span class="isNotCompleted"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.study"}}</span>
        {{/if}}
      </div>
    {{else}}
      {{#if performance.isCompleted}}
          <span class="performanceCheckmark isCompleted"></span>
      {{else}}
          <div class="description">
              <div class="radial-progress">
                  <div class="circle">
                      <div class="mask full">
                          <div class="fill"></div>
                      </div>
                      <div class="mask half">
                          <div class="fill"></div>
                          <div class="fill fix"></div>
                      </div>
                  </div>
              </div>
              <p>{{performance.completionDone}}/{{performance.completionTotal}}</p>
          </div>
      {{/if}}
    {{/if}}
    </li>
    <li class="timeSpent">
        <p>
          {{performance.displayableTimeSpent}}
        </p>
    </li>
    <li class="reaction">
      {{#if performance.reaction}}
          <span class="reactionSummary"></span>
      {{else}}
          <p>–</p>
      {{/if}}

    </li>
    <li class="attempts">
      {{#if performance.attempts}}
          <p>{{performance.attempts}}</p>
      {{else}}
          <p>–</p>
      {{/if}}
    </li>
