<div class="option-picker">
    <ul class="option-list">
      {{#each options as |option|}}
          <li>
              <a {{action 'setOption' option}}>
                  <span class="{{option.value}} {{if option.selected 'active'}}">
                  {{#if option.selected }}
                   {{fa-icon icon=icon-selected}}
                  {{else}}
                    {{fa-icon icon=icon-default}}
                  {{/if}}
                  </span>
              </a>
              <span>{{t (concat 'gru-data-picker.' option.value) }}</span>
          </li>
      {{/each}}
    </ul>
</div>
