<div class="option-picker">
    <ul class="list-inline">
      {{#each options as |option|}}
        {{#unless option.isDisabled}}
          <li>
              <div class="checkbox {{option.value}}">
                {{#if option.selected}}
                    <input id='{{if areSingleSelected 'mobile-'}}{{option.value}}' type="checkbox" disabled={{option.readOnly}} value="{{option.value}}" checked {{action 'setOption' option}}/>
                {{else}}
                    <input id='{{if areSingleSelected 'mobile-'}}{{option.value}}' type="checkbox" disabled={{option.readOnly}} value="{{option.value}}" {{action 'setOption' option}}/>
                {{/if}}
                  <label for='{{if areSingleSelected 'mobile-'}}{{option.value}}'>{{t (concat 'gru-data-picker.' option.value) }}</label>
              </div>
          </li>
          {{/unless}}
      {{/each}}
    </ul>
</div>
