
    <li class='score'>
      {{#if performance.hasStarted}}
        {{#if performance.score}}
            <div class="description">
                <div class="radial-progress">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                </div>
                <p>{{performance.score}}%</p>
            </div>
        {{else}}
            <p>N/A</p>
        {{/if}}
      {{else}}
        {{#if performance.isCollectionOrAssessment}}
            <span class="not-started">{{t "gru-performance.notStarted"}}</span>
        {{/if}}
      {{/if}}
    </li>
    <li class="completion">
    {{#if performance.isCollectionOrAssessment}}
      <div class="collection-or-assessment">
        {{#if performance.isCompleted}}
            <span class="collection-or-assessment-is-completed"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <span class="visible-xs">{{t "gru-performance-summary.redo"}}</span>
        {{else if performance.hasStarted}}
            <span class="collection-or-assessment-has-started"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <a class="visible-xs " {{action "selectResource" performance.id}}>{{t "gru-performance-summary.resume"}}</a>
        {{else}}
            <span class="collection-or-assessment-not-started"><i class="fa fa-2x fa-check-circle-o"></i></span>
            <a class="visible-xs" {{action "selectResource" performance.id}}>{{t "gru-performance-summary.study"}}</a>
        {{/if}}
      </div>
    {{else}}
      {{#if performance.isCompleted}}
          <span class="performanceCheckmark isCompleted"></span>
      {{else}}
          <div class="description">
              <div class="radial-progress">
                  <div class="circle">
                      <div class="mask full">
                          <div class="fill"></div>
                      </div>
                      <div class="mask half">
                          <div class="fill"></div>
                          <div class="fill fix"></div>
                      </div>
                  </div>
              </div>
              <p>{{performance.completionDone}}/{{performance.completionTotal}}</p>
          </div>
      {{/if}}
    {{/if}}
    </li>
    <li class="timeSpent">
        <p>
          {{performance.displayableTimeSpent}}
        </p>
    </li>
    <li class="reaction">
      {{#if performance.reaction}}
          <span class="reactionSummary"></span>
      {{else}}
          <p>{{if performance.isUnitOrLesson '–'}}</p>
      {{/if}}

    </li>
    <li class="attempts">
      {{#if performance.attempts}}
          <p>{{performance.attempts}}</p>
      {{else}}
          <p>{{if performance.isUnitOrLesson '–'}}</p>
      {{/if}}
    </li>
