{{#if isStudent }}
  <button class="btn btn-default share" {{action 'share'}}>{{t "class.analytics.performance.actions.share"}}</button>
{{else}}
  <button class="btn btn-default edit" {{action 'editContent'}}>{{t "class.analytics.performance.actions.edit"}}</button>
{{/if}}
<button class="btn btn-default download" {{action 'download'}}>{{t "class.analytics.performance.actions.download"}}</button>
<button class="btn btn-default full-screen hidden-sm hidden-xs" {{action 'toggleFullScreen'}}>
  {{#if isFullScreen}}
    {{t "class.analytics.performance.actions.exitFullScreen"}}
  {{else}}
    {{t "class.analytics.performance.actions.fullScreen"}}
  {{/if}}
</button>

<div class="btn-group drop-menu">
  <button class="selected-filter btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    {{t dropdownFilterText}}<span class="arrow"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-menu-item assessment {{if isFilterByAssessment 'selected' }}" {{action 'filter' 'assessment'}}>{{t "class.analytics.performance.actions.assessment"}}</li>
    <li class="dropdown-menu-item collection {{if isFilterByCollection 'selected' }}" {{action 'filter' 'collection'}}>{{t "class.analytics.performance.actions.collection"}}</li>
    <li class="dropdown-menu-item both {{if isFilterByBoth 'selected' }}" {{action 'filter' 'both'}}>{{t "class.analytics.performance.actions.both"}}</li>
  </ul>
</div>
