<span>
  <img class="avatar" src="{{user.avatarUrl}}">
</span>
<span class="user-name">
{{#if user.firstName}}
  <span class="truncate">{{user.firstName}}</span>
  <span class="truncate">{{user.lastName}}</span>
{{else}}
  <span class="truncate">{{user.username}}</span>
{{/if}}
</span>

