<div class="panel panel-default">
    <div class="panel-heading">
        <div class="image">
            <img class="img-responsive" src={{user.avatarUrl}}>
        </div>
        <div class="user-info">
          <h6 class="name truncate">
            {{#link-to "profile.content.courses" user.id tagName="div" class="pointer"}} {{ user.displayName }} {{/link-to}}
          </h6>
          <div class="district truncate">{{#if user.schoolDistrict}}{{user.schoolDistrict}}{{else}}{{user.country}}{{/if}}</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="following-followers">
            <div class="followers">
                <div class="count  text-center">
                    <span>{{user.followers}}</span>
                </div>
                <div class="description text-center">
                  {{t "cards.gru-profile-card.followers"}}
                </div>
            </div>
            <div class="following">
                <div class="count text-center">
                  <span>{{user.followings}}</span>
                </div>
                <div class="description text-center">
                  {{t "cards.gru-profile-card.following"}}
                </div>
            </div>
        </div>
        <div class="follow-btn">
          {{#if user.isFollowing}}
            <button class="btn btn-sm btn-following {{if showUnFollowButton 'hidden' 'visible'}}">{{t "cards.gru-profile-card.following"}}</button>
            <button class="btn btn-sm btn-info btn-unfollow {{if showUnFollowButton 'visible' 'hidden'}}"{{action 'unFollow'}}>{{t "common.unfollow"}}</button>
          {{else}}
            <button class="btn btn-sm btn-success btn-follow"{{action 'setFollow'}}>{{t "cards.gru-user-network-card.follow"}}</button>
          {{/if}}
        </div>
    </div>
</div>
