<div class="panel panel-default">
    <div class="panel-heading">
        <div class="image">
            <a {{action "openContentPlayer" collection.id}}><img class="img-responsive" src="{{if collection.imageUrl collection.imageUrl "assets/gooru/profile.png"}}"></a>
        </div>
        <div class="collection-info">
            <a {{action "openContentPlayer" collection.id}}> <h6 class="title truncate" alt="{{ collection.title }}">{{ collection.title }}</h6></a>
            <span class="question-resources">
              {{#if hasResources}}
                  <span class="bar">|</span><p>{{t "cards.gru-course-card.resource" count=collection.resourceCount}}</p>
              {{/if}}
              {{#if hasQuestions}}
                  <span class="bar">|</span><p>{{t "cards.gru-course-card.question" count=collection.questionCount}}</p>
              {{/if}}
            </span>
            <div class="course">
              {{gru-icon name="chrome_reader_mode"}}<p>{{t "cards.gru-course-card.in"}}<a>{{collection.course}}</a></p>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="collection-details">
          {{#if collection.standards }}
            <div class="standards">
                {{collection-results-standards collection=collection standards=collection.standards}}
            </div>
          {{/if}}
            <div class="{{if collection.isAssessment 'author' 'remixed-by'}}">
              {{#if collection.isAssessment}}
                {{#link-to 'profile.about' collection.authorId tagName="div"}}
                  <span class="title">{{t "cards.gru-course-card.created"}}</span>
                  <img class="img-responsive" src="{{if collection.avatarUrl collection.avatarUrl "assets/gooru/profile.png"}}">
                  <span>{{collection.author}}</span>
                {{/link-to}}
              {{else}}
                {{#if collection.remixedBy}}
                  {{!-- TODO: Make sure that the controller pass remixedByUser with id --}}
                  {{#link-to 'profile.about' remixedByUser.id tagName="div"}}
                    <span class="title">{{t "cards.gru-course-card.remixed-by"}}</span>
                    <img class="img-responsive" src="{{if remixedByUser.avatarUrl remixedByUser.avatarUrl "assets/gooru/profile.png"}}">
                    <span>{{remixedByUser.firstName}}</span> {{#if remixedUsers}}+{{remixedUsers}}{{/if}}
                  {{/link-to}}
                {{/if}}
              {{/if}}
            </div>
            <div class="description">
                <p class="truncate">{{ collection.description }}</p>
            </div>
            <div class="remix-btn">
                <button class="btn btn-primary btn-sm">{{t "common.remix"}}</button>
            </div>
        </div>
    </div>
</div>
