<div class="panel panel-default">
    <div class="panel-heading">
        <div class="image">
            <a {{action "openContentPlayer" collection.id}}><img class="img-responsive" src="{{collection.thumbnailUrl}}"></a>
        </div>
        <div class="collection-info">
            <a {{action "openContentPlayer" collection.id}}> <h6 class="title truncate" alt="{{ collection.title }}">{{ collection.title }}</h6></a>
            <span class="question-resources">
              {{#if hasResources}}
                  <span class="bar">| </span><p>{{t "cards.gru-course-card.resource" count=collection.resourceCount}}</p>
              {{/if}}
              {{#if hasQuestions}}
                  <span class="bar">| </span><p>{{t "cards.gru-course-card.question" count=collection.questionCount}}</p>
              {{/if}}
            </span>
            {{#if collection.course }}
              <div class="course">
                {{gru-icon name="chrome_reader_mode"}}<p>{{t "cards.gru-course-card.in"}}<a>{{truncate text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." type='collection-card-courses'}}</a></p>
              </div>
            {{/if}}
        </div>
    </div>
    <div class="panel-body">
        <div class="collection-details">
          {{#if collection.standards }}
            <div class="standards">
                {{collection-results-standards collection=collection standards=collection.standards}}
            </div>
          {{/if}}
            <div class="{{if isAssessment 'author' 'remixed-by'}}">
              {{#if isAssessment}}
                {{#link-to 'profile.content.courses' collection.owner.id tagName="div"}}
                  <span class="title">{{t "cards.gru-course-card.created"}}</span>
                  <img class="img-responsive" src="{{if collection.owner.avatarUrl collection.owner.avatarUrl "assets/gooru/profile.png"}}">
                  <span>{{collection.owner.displayName}}</span>
                {{/link-to}}
              {{else}}
                {{#if collection.owner}}
                  {{#link-to 'profile.content.courses' collection.owner.id tagName="div"}}
                    <span class="title">{{t "cards.gru-course-card.remixed-by"}}</span>
                    <img class="img-responsive" src="{{if collection.owner.avatarUrl collection.owner.avatarUrl "assets/gooru/profile.png"}}">
                    <span>{{collection.owner.displayName}}</span> {{#if collection.remixCount}}+{{collection.remixCount}}{{/if}}
                  {{/link-to}}
                {{/if}}
              {{/if}}
            </div>
            <div class="description">
                <p class="truncate">{{ collection.learningObjectives }}</p>
            </div>
            <div class="buttons">
            {{#if remixEnabled }}
                <button class="remix-btn btn btn-success btn-sm ">{{t "common.remix"}}</button>
            {{/if}}
            {{#if editEnabled }}
                <button class="edit-btn btn btn-success btn-sm" {{action "editCollection"}}>{{t "common.edit"}}</button>
            {{/if}}
            </div>
            <div class="visibility">
              {{#if collection.isVisibleOnProfile }}
                {{gru-icon name="visibility_off" class='pull-right'}}
              {{/if}}
            </div>
        </div>
    </div>
</div>
