<div class="thumbnail" {{action 'selectCourse'}}>
    <img src="{{course.imageUrl}}"/>
</div>
<div class="card-info">
    <div class="header">
        <h3 class="course-title truncate" {{action 'selectCourse'}}>{{course.title}}</h3>
        {{#if course.isPublic}}
            <span class="icon">{{fa-icon icon="globe"}}</span>
        {{/if}}
    </div>
   <div class="card-content">
       <p class="subject truncate">
           <span>
               <p class="total-units">{{course.totalUnits}} {{t "cards.gru-course-card.units"}}</p>
           </span>
         {{subjects}}
       </p>
   </div>
    <div class="remixed-users">
        <p class="remixed">{{t "cards.gru-course-card.remixed-by"}}</p>
        <span class="users-teaser">{{gru-user-teaser users=users}}</span>
    </div>
    <div class="remix-button">
        <button class="btn btn-default" {{action 'remixCourse'}}>{{t "common.remix"}}</button>
    </div>
</div>


