<div class="resource-details">
    <div class="card-icon">
      <i class="{{if item.resource.isQuestion "question-icon" "resource-icon"}}"></i>
    </div>
    <div class="resource-description">
      {{#if item.resource.isQuestion }}
        <span class="title">{{item.resource.text}}</span>

        <p class="type">{{t (concat 'common.question-type.' item.resource.questionType) }}</p>
      {{else}}
        <span class="title">{{item.resource.title}}</span>

        <p class="type">{{t (concat 'common.resource-type.' item.resource.resourceType) }}</p>
      {{/if}}
    </div>
</div>
<div class="hidden-xs result-details {{if item.timeSpent "hasStarted"}}">
  {{#if item.timeSpent}}
    <div class="time-spent">
      <p>{{formatTime item.timeSpent}}</p>
    </div>
    {{#if item.reaction}}
      <div class="resource-reaction">
        <i class="emotion small emotion-{{item.reaction}}"></i>
      </div>

    {{/if}}
  {{else}}
    <p class="status">{{t "cards.gru-resource-card.skipped"}}</p>
  {{/if}}
</div>
