<div class="avatar">
  <span class="img-wrapper"><img class="img-responsive" src="{{profile.avatarUrl}}"
                                 alt="{{t "common.avatarFor"}} {{profile.displayName}}"/></span>
  <strong>{{profile.displayName}}</strong>
</div>
<div class="social">
		<span class="followers">
      <em>{{profile.followers}}</em>
      <p class="follow"> {{t "cards.gru-profile-card.followers"}} </p>
    </span>
		<span class="following">
      <em>{{profile.followings}}</em>
      <p class="follow"> {{t "cards.gru-profile-card.following"}} </p>
    </span>
</div>
