<div class="panel">
  <div class="panel-heading">
    <div class="title">
      <h5>{{class.title}}MPM-Data Analytics Class</h5>
    </div>
    <div class="code">
      <span>{{class.code}}ABC123</span>
    </div>
  </div>
  <div class="panel-body border-between">
    <div class="charts col-md-6">
      <div class="row">
        <div class="col-md-6">
          {{charts.gru-bubble-chart content=class.performanceSummary.score color=(grade-color 80)}}
          <span>{{t 'student-landing.class.performance'}}</span>
        </div>
        <div class="col-md-6">
          {{charts.gru-radial-chart value=class.performanceSummary.totalCompleted minValue=0 maxValue=class.performanceSummary.totalCompleted }}
          <span>{{t "common.completed"}}</span>
        </div>
      </div>
    </div>
    <div class="information col-md-6">
      <span>{{t "student-landing.announcement"}}</span>
      <div class="announcement">
        {{#if class.greeting}}
          {{class.greeting}}
        {{else}}
          {{t "common.not-applicable"}}
        {{/if}}
      </div>
      <br>
      <span>{{t "student-landing.current-activity"}}</span>
      <div class="current-activity">
        {{#if class.currentLocation}}
          Unit {{plus-one class.currentLocation.unitIndex}}, Lesson {{plus-one class.currentLocation.lessonIndex}}, {{class.currentLocation.collection.title}}
        {{else}}
          {{t "common.not-applicable"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
