<div class="panel panel-default">
  <div class="panel-heading">
    <div class="header">
      <div class="image">
        {{#if externalAssessment}}
          <a href={{resource.url}}  target="_blank" class="external-assessment">
            <img class="img-responsive" src="{{resource.thumbnail}}">
          </a>
        {{else}}
          {{#if isLinkOut}}
            <i class="{{resource.format}}-icon"></i>
          {{else}}
            {{#if editEnabled}}
              {{#link-to (if isQuestion 'content.questions.edit' 'content.resources.edit') resource.id}}
                <i class="{{resource.format}}-icon"></i>
              {{/link-to}}
            {{else}}
              {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id}}
                <i class="{{resource.format}}-icon"></i>
              {{/link-to}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      <div class="resource-info">
        <div class="title-section">
          {{#if externalAssessment}}
            <a href={{resource.url}} target="_blank">
              <h6 class="title truncate pointer">{{{resource.title}}}</h6>
            </a>
          {{else}}
            {{#if isLinkOut}}
              <h6 class="title truncate">{{{resource.title}}}</h6>
            {{else}}
              {{#if editEnabled}}
                {{#link-to (if isQuestion 'content.questions.edit' 'content.resources.edit') resource.id tagName="h6" class="title truncate pointer" alt=resource.title}}{{{resource.title}}}{{/link-to}}
              {{else}}
                {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id tagName="h6" class="title truncate pointer" alt=resource.title}}{{{resource.title}}}{{/link-to}}
              {{/if}}
            {{/if}}
            {{#unless publishVisible}}
              {{#if resource.isPublished}}
                <div class="publish-icon"  title="{{t 'common.published-tooltip'}}" data-toggle="tooltip"  data-placement="top"></div>
              {{/if}}
            {{/unless}}
          {{/if}}
        </div>
        {{#unless externalAssessment}}
          {{#if isQuestion}}
            <div class="question-type">
              <span>{{t (concat "common.question-type." resource.type)}}</span>
            </div>
          {{else}}
            <div class="resource-type">
              <span>{{t (concat "common.resource-format." resource.format)}}</span>
            </div>
          {{/if}}
        {{/unless}}
      </div>
      {{#if publishVisible}}
        {{#if resource.isPublished}}
          <div class="publish-icon" title="{{t 'common.published-tooltip'}}" data-toggle="tooltip"  data-placement="top"></div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="panel-body">
    {{#if tags.length}}
      {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true}}
    {{/if}}
    {{#unless externalAssessment}}
      <div class="publisher">
        {{#if showPublisher}}
          <b class="publisher-name">{{resource.publisher}}</b>
        {{else}}
          <img class="img-responsive" src="{{ resource.owner.avatarUrl }}">
          <span class="owner">
            {{#if allowProfileNavigation}}
              {{#link-to 'profile.content.courses' resource.owner.id class="pointer enable"}}
                {{resource.owner.displayName}}
              {{/link-to}}
            {{else}}
              <a class="disabled">{{resource.owner.displayName}}</a>
            {{/if}}
          </span>
        {{/if}}
      </div>
    {{/unless}}
    <div class="description">
      <p class="truncate">{{gru-math-text text=(if resource.isFIB resource.fibText resource.description)}}</p>
    </div>
  </div>
  <div class="panel-footer">
    {{#if (or isLinkOut externalAssessment)}}
      <div class="buttons">
        <a class="play-btn btn btn-success btn-sm" href="{{{resource.url}}}" target="_blank">{{t "common.play"}}</a>
      </div>
    {{else}}
      <div class="buttons">
        {{#if editEnabled }}
          <button class="edit-btn btn btn-success btn-sm" {{action "editResource"}}>{{t "common.edit"}}</button>
          <button class="play-btn btn btn-success btn-sm" {{action "playResource"}}>{{t "common.play"}}</button>
        {{/if}}
        {{#if isQuestion}}
          {{#if remixEnabled}}
            <button class="copy-btn btn btn-success btn-sm" {{action "remixQuestion"}}>{{t "common.remix"}}</button>
          {{/if}}
        {{/if}}
        {{#if addEnabled}}
          <button class="add-to-btn btn btn-success btn-sm" {{action "addToCollection"}}>{{t "common.add-to"}}</button>
        {{/if}}
      </div>
      {{#unless publishVisible}}
        <div class="visibility"  title="{{t 'common.visibility-tooltip'}}" data-toggle="tooltip">
          {{#unless resource.isVisibleOnProfile }}
            {{gru-icon name="visibility_off" class='pull-right'}}
          {{/unless}}
        </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
