<div class="resource-details">
    <div class="card-icon">
      {{#if item.question }}
          <i class="question-icon"></i>

      {{else}}
          <i class="{{item.resourceFormat}}-icon"></i>
      {{/if}}

    </div>
    <div class="resource-description">
      {{#if item.question }}
        <span class="title">{{item.question.text}}</span>

        <p class="format">{{t (concat 'common.question-type.' item.question.questionType) }}</p>
      {{else}}
        <span class="title">{{item.title}}</span>

        <p class="format">{{t (concat 'common.resource-format.' item.resourceFormat) }}</p>
      {{/if}}
    </div>
</div>
<div class="hidden-xs result-details {{if item.timeSpent "hasStarted"}}">
  {{#if item.timeSpent}}
    <div class="time-spent">
      <p>{{formatTime item.timeSpent}}</p>
    </div>
    {{#if item.reaction}}
      <div class="resource-reaction">
        <i class="emotion small emotion-{{item.reaction}}"></i>
      </div>

    {{/if}}
  {{else}}
    <p class="status">{{t "cards.gru-resource-card.skipped"}}</p>
  {{/if}}
</div>
