<div class="panel">
  <div class="panel-heading">
    <div class="title ellipsis">
      {{#link-to 'student.class.course-map' class.id}}
        {{class.title}}
      {{/link-to}}
      </div>
    <div class="code">
      <div class="title">{{t 'student-landing.class-code'}}</div>
      <div class="class-code">{{class.code}}</div>
    </div>
  </div>

  <div class="panel-body">
    <div class="information" style="background-image: url({{course.thumbnailUrl}})">
      {{#if showCurrentLocation}}
        <div class="current-activity">{{t "student-landing.current-activity"}}</div>
        <div class="title-section">
          <div class="title" alt="{{class.currentLocation.collection.title}}">{{truncate text=currentLocationTitle maxLength=90}}</div>
          <span class="icon pointer" {{action "playCollection"}}> {{gru-icon name="play_circle_outline"}}</span>
        </div>
      {{/if}}
    </div>
    <div class="performance" style="background-color:{{grade-color class.performanceSummary.score}}">
      {{#link-to 'student.class.performance' class.id class="pointer percentage" tagName="div"}}
        {{scorePercentage}}
      {{/link-to}}
      <label>{{t 'student-landing.class.performance'}}</label>
    </div>
    <div class="completion-chart">
      {{charts/gru-x-bar-chart data=barChartData }}
      <label>{{completedPercentage}}</label>
    </div>
  </div>
</div>