<div class="panel {{if (is-teacher class profile.id) 'teacher' 'student' }}">
  <div class="panel-heading">
    <h5>{{class.title}}</h5>
    <div class="side-info">
      <span class="code">{{class.code}}</span>
      {{#link-to 'class.overview' class.id class="action"}}
        <span>{{if (is-teacher class profile.id) (t "common.teach") (t "common.study") }} {{gru-icon name="keyboard_arrow_right"}}</span>
      {{/link-to}}
    </div>
  </div>
  <div class="panel-body">
    <div class="members-info">
      <div class="collaborators">
        {{! Place collaborator avatar and first name in the next two lines }}
        <img class="collaborator-avatar" src="/assets/gooru/profile.png" alt="{{class.owner.displayName}}">
        <span class="name">{{class.owner.displayName}}</span>
        {{#if (gt collaboratorsCount 0)}} <span class="collaborators-count">+{{collaboratorsCount}}</span>{{/if}}
      </div>
      <div class="students-info">
        <small>{{gru-icon name="group"}} {{t "cards.gru-class-card.student" count=studentCount}}</small>
      </div>
    </div>
    <div class="description">
      <div>{{class.greeting}}</div>
    </div>
  </div>
</div>