<div class="panel {{if (is-teacher class profile.id) 'teacher' 'student' }} {{if class.isArchived 'archive'}}">
  {{#if class.isArchived}}
    {{#link-to 'teacher.class.performance' class.id}}
      <div class="panel-heading">
        <div class="title">
          <h5>{{class.title}}</h5>
        </div>
      </div>
    {{/link-to}}
  {{else}}
    {{#link-to 'student.class.course-map' class.id}}
      <div class="panel-heading">
        <div class="title">
          <h5>{{class.title}}</h5>
        </div>
        <div class="side-info">
          <span class="code">{{class.code}}</span>
          <span class="profile-link action">{{if (is-teacher class profile.id) (t "common.teach") (t "common.study") }} {{gru-icon name="keyboard_arrow_right"}} </span>
        </div>
      </div>
    {{/link-to}}
  {{/if}}
  <div class="panel-body">
    <div class="members-info">
      <div class="collaborators">
        {{! Place collaborator avatar and first name in the next two lines }}
        <img class="collaborator-avatar" src="{{class.owner.avatarUrl}}" alt="{{class.owner.displayName}}">
        <span class="name">
          {{truncate text=class.owner.displayName maxLength=18}}
        </span>
        {{#if (gt collaboratorsCount 0)}} <span class="collaborators-count">+{{collaboratorsCount}}</span>{{/if}}
      </div>
      <div class="students-info">
        <small>{{gru-icon name="group"}} {{t "cards.gru-class-card.student" count=studentCount}}</small>
      </div>
      {{#if showUnitsCount}}
        <div class="units-info">
          {{t "cards.gru-class-card.unit" count=class.unitsCount}}
        </div>
      {{/if}}
    </div>
    <div class="description">
      {{#if class.isArchived}}
        {{#if class.isReportAvailable}}
            <div> {{t "cards.gru-class-card.archived.download-report" }}</div>
        {{/if}}
        {{#unless class.hasCourse}}
            <div>{{t "cards.gru-class-card.archived.no-report-available" }}</div>
        {{/unless}}
        {{#if class.isReportInProgress}}
            <div>{{t "cards.gru-class-card.archived.report-in-progress" }}</div>
        {{/if}}
        {{#if class.canRequestReport}}
            <div>{{t "cards.gru-class-card.archived.request-report" }}</div>
        {{/if}}
      {{else}}
          <div>{{class.greeting}}</div>
      {{/if}}
      {{#unless class.isArchived}}
          <p class="current-location">
            {{#if class.currentLocation}}
                U{{plus-one class.currentLocation.unitIndex}} / L{{plus-one class.currentLocation.lessonIndex}} / {{class.currentLocation.collection.title}}
            {{else}}
              {{t "cards.gru-class-card.student.not-started"}}
            {{/if}}
          </p>
      {{/unless}}
    </div>
  </div>
</div>
