<div class="panel {{if course 'has-course' 'no-course'}}">
  {{#if course}}
    <div class="panel-heading" style="background-color:{{grade-color class.performanceSummary.score}}">
      <div class="title ellipsis">
        {{#link-to 'student.class.course-map' class.id}}
          {{truncate text=class.title maxLength=25}}
        {{/link-to}}
      </div>
      <div class="code">
        <div class="title">{{t 'student-landing.class-code'}}</div>
        <div class="class-code ellipsis">{{class.code}}</div>
      </div>
    </div>
    <div class="panel-body" style="background-color:{{grade-color class.performanceSummary.score}}">
      <div class="information" style="background-image: url({{course.thumbnailUrl}})">
        <div class="current-activity">{{t "student-landing.resume-current-activity"}}</div>
        <div class="title-section">
          {{#if showCurrentLocation}}
            <i class="{{if class.currentLocation.collection.isAssessment 'assessment' 'collection'}}"></i>
            <div class="title pointer" alt="{{class.currentLocation.collection.title}}" {{action "playCollection"}}>
              {{truncate text=currentLocationTitle maxLength=90}}
            </div>
            {{else}}
              <span>{{t "student-landing.not-available"}}</span>
          {{/if}}
        </div>
      </div>
      <div class="links">
        <ul>
          <li class="class-activities">
            <a {{action 'selectItem' 'class-activities'}}>
              <span>{{t 'student-landing.class.class-activities'}}</span>
            </a>
          </li>
          <li class="course-map">
            <a {{action 'selectItem' 'course-map'}}>
              <span>{{t 'student-landing.class.course-map'}}</span>
            </a>
          </li>
          <li class="performance">
            <a {{action 'selectItem' 'performance'}}>
              <span>{{t 'student-landing.class.my-report'}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="performance" style="background-color:{{grade-color class.performanceSummary.score}}">
        {{#link-to 'student.class.performance' class.id class="pointer percentage" tagName="div"}}
          {{scorePercentage}}
        {{/link-to}}
        <div class="completion-chart">
          {{charts/gru-x-bar-chart data=barChartData }}
          <label>{{completedPercentage}}</label>
        </div>
      </div>
    </div>
  {{else}}
    <div class="panel-heading">
      <div class="title">
        {{#link-to 'student.class.course-map' class.id}}
          {{truncate text=class.title maxLength=25}}
        {{/link-to}}
      </div>
      <div class="code">
        <div class="title">{{t 'student-landing.class-code'}}</div>
        <div class="class-code">{{class.code}}</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="information">
        <div class="current-activity">{{t "student-landing.resume-current-activity"}}</div>
        <div class="title-section">
          {{#if showCurrentLocation}}
            <i class="{{if class.currentLocation.collection.isAssessment 'assessment' 'collection'}}"></i>
            <div class="title pointer" alt="{{class.currentLocation.collection.title}}" {{action "playCollection"}}>
              {{truncate text=currentLocationTitle maxLength=90}}
            </div>
          {{else}}
            <span>{{t "student-landing.not-available"}}</span>
          {{/if}}
        </div>
        <span class="no-course-assigned">{{t "student-landing.class.no-course-assigned"}}</span>
      </div>
      <div class="links">
        <ul>
          <li class="class-activities">
            <a {{action 'selectItem' 'class-activities'}}>
              <span>{{t 'student-landing.class.class-activities'}}</span>
            </a>
          </li>
          <li class="course-map">
            <a {{action 'selectItem' 'course-map'}}>
              <span>{{t 'student-landing.class.course-map'}}</span>
            </a>
          </li>
          <li class="performance">
            <a {{action 'selectItem' 'performance'}}>
              <span>{{t 'student-landing.class.my-report'}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="performance">
        {{#link-to 'student.class.performance' class.id class="pointer percentage" tagName="div"}}
          {{scorePercentage}}
        {{/link-to}}
        <div class="completion-chart">
          {{charts/gru-x-bar-chart data=barChartData }}
          <label>{{completedPercentage}}</label>
        </div>
      </div>
    </div>
  {{/if}}
</div>
