<div class="panel panel-default">
    <div class="panel-heading">
        <div class="image">
          {{#if collection.imageUrl }}
              <img class="img-responsive" src="{{ collection.imageUrl }}">
          {{else}}
              <img class="img-responsive" src="assets/gooru/profile.png">
          {{/if}}
        </div>
        <div class="collection-info">
            <h6 class="title truncate" alt="{{ collection.title }}">{{ collection.title }}</h6>
            <span class="question-resources">
              {{#if hasResources}}
                  <span class="bar">|</span><p>{{t "cards.gru-course-card.resource" count=collection.resourceCount}}</p>
              {{/if}}
              {{#if hasQuestions}}
                  <span class="bar">|</span><p>{{t "cards.gru-course-card.question" count=collection.questionCount}}</p>
              {{/if}}
            </span>
            <div class="course">
              {{gru-icon name="chrome_reader_mode"}}<p>{{t "cards.gru-course-card.in"}}<a>{{collection.course}}</a></p>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="collection-details">
          {{#if collection.standards }}
              <div class="standards">
                {{collection-results-standards collection=collection standards=collection.standards}}
            </div>
          {{/if}}
            <div class="{{if collection.isAssessment 'author' 'remixed-by'}}">
              {{#if collection.isAssessment}}<span>{{t "cards.gru-course-card.created"}}</span>{{else}}<span>{{t "cards.gru-course-card.remixed-by"}}</span>{{/if}}
              {{#if collection.avatarUrl }}
                  <img class="img-responsive" src="{{ collection.avatarUrl }}">
              {{else}}
                  <img class="img-responsive" src="assets/gooru/profile.png">
              {{/if}}
                <div>
                  {{#if collection.isAssessment}}   <a href="{{ collection.profilePageUrl }}" target="_blank">{{collection.author}}</a>{{else}}<a>{{remixedByUser}}</a> {{#if remixedUsers}}+{{remixedUsers}}{{/if}}{{/if}}
                </div>
            </div>
            <div class="description">
                <p class="truncate">{{ collection.description }}</p>
            </div>
            <div class="remix-btn">
                <button class="btn btn-primary btn-sm">{{t "common.remix"}}</button>
            </div>
        </div>
    </div>
</div>
