<div class="panel panel-default">
  <div class="panel-body">
    <div class="interaction-zone">
      {{#link-to "content.courses.play" course.id class="course-image"}}
        <img class="img-responsive" src="{{course.thumbnailUrl}}"/>
      {{/link-to}}
      <div class="actions">
        {{#if isOwner}}
          {{#if isEditEnabled}}
            <div class="edit-button">
                <button class="btn btn-block btn-success" {{action 'editCourse'}}>{{t "common.edit"}}</button>
            </div>
          {{/if}}
        {{else}}
          {{#if (and course.isPublished isRemixEnabled)}}
            <div class="remix-button">
                <button class="btn btn-block btn-success" {{action 'remixCourse'}}>{{t "common.remix"}}</button>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="card-info">
        <div class="header">
            {{#link-to "content.courses.play" course.id class="course-title ellipsis truncate" tagName="h3"}}
              {{course.title}}
            {{/link-to}}
          {{#if course.isPublished}}
              <span class="icon">{{gru-icon name="public"}}</span>
          {{/if}}
        </div>
        <div class="card-content">
            <p class="subject truncate">
              <span class="bars">
                 <span class="total-units">{{course.unitCount}} {{t "cards.gru-course-card.units"}}</span>
              </span>
              {{subjects}}
            </p>
        </div>
        {{#if users}}
          <div class="remixed-users">
            <span class="remixed">{{t "common.remixed-by"}}</span>
            <span class="users-teaser">{{gru-user-teaser users=users}}</span>
          </div>
        {{/if}}
        <div class="description">
          {{#if course.description}}
            {{truncate text=(noTags text=course.description) type='medium-large'}}
          {{/if}}
        </div>

        {{#if tags.length}}
          {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=2}}
        {{/if}}

        {{#if isEyeVisible}}
          <div class="visibility">
            {{#unless course.isVisibleOnProfile }}
              {{gru-icon name="visibility_off"}}
            {{/unless}}
          </div>
        {{/if}}
    </div>
  </div>
</div>
