<div class="panel {{if (is-teacher class profile.id) 'teacher' 'student' }}">
  <div class="panel-heading">
    <div class="title">
        <h5>{{class.title}}</h5>
    </div>
    {{#unless class.isArchived}}
    <div class="side-info">
      <span class="code">{{class.code}}</span>
      {{#link-to 'class.overview' class.id class="action"}}
        <span>{{if (is-teacher class profile.id) (t "common.teach") (t "common.study") }} </span>{{gru-icon name="keyboard_arrow_right"}}
      {{/link-to}}
    </div>
    {{/unless}}
  </div>
  <div class="panel-body">
    <div class="members-info">
      <div class="collaborators">
        {{! Place collaborator avatar and first name in the next two lines }}
        <img class="collaborator-avatar" src="{{class.owner.avatarUrl}}" alt="{{class.owner.displayName}}">
        {{#link-to 'profile' class.owner.id tagName="span" class="name pointer"}}
          {{truncate text=class.owner.displayName}}
        {{/link-to}}
        {{#if (gt collaboratorsCount 0)}} <span class="collaborators-count">+{{collaboratorsCount}}</span>{{/if}}
      </div>
      <div class="students-info">
        <small>{{gru-icon name="group"}} {{t "cards.gru-class-card.student" count=studentCount}}</small>
      </div>
    </div>
    <div class="description">
      <div>{{class.greeting}}</div>
    </div>
    {{#if class.isArchived}}
      {{#if class.isReportAvailable}}
        <button class="btn btn-success download-report" {{action 'downloadReport'}}>{{gru-icon name="file_download"}} {{t "common.download-report"}}</button>
      {{else}}
        {{#if class.isReportInProgress}}
          <button class="btn btn-info report-in-progress disabled">{{gru-icon name="av_timer"}} {{t "common.report-in-progress"}}</button>
        {{else}}
          <button class="btn btn-info request-report" {{action 'requestReport'}}>{{gru-icon name="timeline"}} {{t "common.request-report"}}</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
