<div class="panel panel-default">
  <div class="panel-body">
    <div class="card-header">
      <div class="image-container">
        {{#link-to "content.courses.play" course.id class="course-image"}}
          <img class="img-responsive" src="{{course.thumbnailUrl}}"/>
        {{/link-to}}
      </div>
      <div class="header-content">
        <div class="">
          {{#link-to "content.courses.play" course.id class="course-title" tagName="h3"}}
            {{course.title}}
          {{/link-to}}
        </div>
        <p class="subject truncate">
          <span class="bars"></span><span class="total-units">{{course.unitCount}} {{t "cards.gru-course-card.units"}}</span>
          {{#if subjects}}
            <span class="bars"></span>{{subjects}}
          {{/if}}
        </p>
        {{#if users}}
          <div class="remixed-users">
            <span class="remixed">{{t "common.remixed-by"}}</span>
            <span class="users-teaser truncate ellipsis">{{gru-user-teaser users=users}}</span>
          </div>
        {{/if}}
        {{#if course.isPublished}}
            <i class="icon public" data-toggle="tooltip" data-placement="auto" title="{{t 'common.published-tooltip'}}"></i>
        {{/if}}
      </div>
    </div>
    <div class="card-content">
      <div class="taxonomy-standards">
        {{#if tags.length}}
           {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=2 isInCard=true}}
         {{/if}}
      </div>
      <div class="course-description">
        {{#if course.description}}
          {{truncate text=(noTags text=course.description) type='large'}}
        {{/if}}
      </div>
      <div class="actions">
        {{#if isOwner}}
          {{#if isEditEnabled}}
            <div class="edit-button">
                <button class="btn btn-sm btn-success" {{action 'editCourse'}}>{{t "common.edit"}}</button>
            </div>
          {{/if}}
        {{else}}
          {{#if (and course.isPublished isRemixEnabled)}}
            <div class="remix-button">
                <button class="btn btn-sm btn-success" {{action 'remixCourse'}}>{{t "common.remix"}}</button>
            </div>
          {{/if}}
        {{/if}}
      </div>
      {{#if isEyeVisible}}
        {{#unless course.isVisibleOnProfile }}
          <div class="visibility" title="{{t 'common.visibility-tooltip'}}" data-toggle="tooltip" data-placement="auto">
              {{gru-icon name="visibility_off"}}
          </div>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
