<div class="panel panel-default">
  <div class="panel-heading">
    <div class="header">
        <i class="{{resource.format}}-icon"></i>
        <div class="collection-info">
          <div>
            <h6 class="title truncate" alt="{{resource.title}}">{{resource.title}}</h6>
          </div>
          {{#if isQuestion}}
            <div class="question-type">
              <span>{{t (concat "common.question-type." resource.type)}}</span>
            </div>
          {{else}}
          <div class="resource-type">
            <span>{{t (concat "common.resource-format." resource.format)}}</span>
          </div>
          {{/if}}
        </div>
    </div>
  </div>
  <div class="panel-body">
    {{#if resource.standards }}
      <div class="standards">
        {{collection-results-standards collection=resource standards=resource.standards}}
      </div>
    {{/if}}
    <div class="publisher">
      {{#if resource.owner.avatarUrl }}
          <img class="img-responsive" src="{{ resource.owner.avatarUrl }}">
      {{else}}
          <img class="img-responsive" src="assets/gooru/profile.png">
      {{/if}}
        <div class="publisher-name">
          {{#link-to 'profile.about' resource.owner.id target="_blank"}}
            {{resource.owner.displayName}}
          {{/link-to}}
        </div>
    </div>
    <div class="description">
      <p class="truncate">{{{ resource.description }}}</p>
    </div>
  </div>
  <div class="panel-footer">
    {{#if editEnabled }}
      <button class="edit-btn btn-success btn-sm" {{action "editResource"}}>{{t "common.edit"}}</button>
    {{/if}}
    {{#if addEnabled }}
      <button class="add-to-btn btn-success btn-sm">{{t "common.add-to"}}</button>
    {{/if}}
    {{#if remixEnabled }}
      {{#unless isQuestion}}
        <button class="remix-btn btn-success btn-sm">{{t "common.remix"}}</button>
      {{/unless}}
    {{/if}}
  </div>
</div>
