<div class="panel panel-default">
  <div class="panel-heading">
    <div class="header">
      {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id}}
        <i class="{{resource.format}}-icon"></i>
      {{/link-to}}
        <div class="collection-info">
          <div>
            {{#link-to (if isQuestion 'content.questions.play' 'content.resources.play') resource.id tagName="h6" class="title truncate" alt=resource.title}}{{{resource.title}}}{{/link-to}}
          </div>
          {{#if isQuestion}}
            <div class="question-type">
              <span>{{t (concat "common.question-type." resource.type)}}</span>
            </div>
          {{else}}
          <div class="resource-type">
            <span>{{t (concat "common.resource-format." resource.format)}}</span>
          </div>
          {{/if}}
        </div>
    </div>
  </div>
  <div class="panel-body">
    {{#if resource.standards }}
      <div class="standards">
        {{collection-results-standards collection=resource standards=resource.standards}}
      </div>
    {{/if}}
    <div class="publisher">
        <img class="img-responsive" src="{{ resource.owner.avatarUrl }}">
        <div class="publisher-name">
          {{#link-to 'profile.content.courses' resource.owner.id class="pointer" tagName="div"}}
            {{resource.owner.displayName}}
          {{/link-to}}
        </div>
    </div>
    <div class="description">
      <p class="truncate">{{{if resource.isFIB resource.fibText resource.description }}}</p>
    </div>
  </div>
  <div class="panel-footer">
    {{#if editEnabled }}
      <button class="edit-btn btn-success btn-sm" {{action "editResource"}}>{{t "common.edit"}}</button>
    {{/if}}
    {{#if isQuestion}}
      <button class="copy-btn btn-success btn-sm">{{t "common.copy-to"}}</button>
    {{else}}
      <button class="add-to-btn btn-success btn-sm">{{t "common.add-to"}}</button>
    {{/if}}
  </div>
</div>
