<div class="suggest-confirmation-backdrop" />
<div class="card-panel-container">
  <div class="card-panel-header" style="background-image: url({{collection.thumbnailUrl}})">
    <div class="info">
      <div class="title">{{collection.title}}</div>
    </div>
  </div>
  <div class="content-count-container">
    {{#if (eq contentType 'collection') }}
      <div class="resource" title="{{t 'common.resource'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
        <i class="icon"></i>
        <span>{{collection.resourceCount}}</span>
      </div>
    {{/if}}
    <div class="question" title="{{t 'common.question'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
      <i class="icon"></i>
      <span>{{collection.questionCount}}</span>
    </div>
  </div>
  <div class="suggestion-made-to">
    <p>Suggestion made to</p>
    <div class="user-details-container">
      {{#each students as |student|}}
          <div class="user-profile-details">
            <div class="user-profile-img">
              <img src="{{student.avatarUrl}}">
            </div>
            <span class="ellipsis">{{student.lastName}}</span>
          </div>
      {{/each}}
    </div>
  </div>

  <div class="card-panel-footer">
    <div class="buttons-container">
      <div class="cancel-btn" {{action "onCancelSuggest"}}>
        Cancel
      </div>
      <div class="confirm-btn" {{action "onConfirmSuggest"}}>
        Confirm
      </div>
    </div>
  </div>
</div>
