
<p class="instructions">
  {{t "gru-multiple-answer.instructions"}}
</p>

<div class="answer-choices">
  <form class="form-horizontal">
    <table class="table">
      <thead>
      <tr>
        <th>{{t "common.yes"}}</th>
        <th>{{t "common.no"}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each question.answers as |answer|}}
        <tr>
          <td>
              {{radio-button
              value=(concat "yes-" answer.id)
              changed="selectAnswerChoice"
              name=(concat "answer-choice-radio-" answer.id)}}
          </td>
          <td>
            {{radio-button
            value=(concat "no-" answer.id)
            changed="selectAnswerChoice"
            name=(concat "answer-choice-radio-" answer.id)}}
          </td>
          <td>
            {{{answer.text}}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </form>
</div>


