<p class="instructions">
  {{t "gru-reorder.instructions" action=(t instructionsActionTextKey)}}
</p>

<div class="answer-choices">
    <ul class="sortable {{if readOnly 'disabled'}} {{if areAnswersShuffled 'show' 'hidden'}}">
      {{#each answers as |answer|}}
        <li data-id="{{answer.id}}">
          {{gru-icon name='menu'}}
          <div>{{{gru-math-text text=answer.text}}}</div>
        </li>
      {{/each}}
    </ul>
</div>
