<p class="instructions">
  {{instructions}}
</p>

<div class="answer-choices clearfix">

  <ul>
    {{#each answers as |answer|}}
      <li data-id="{{answer.id}}" class="answer">

        {{#if question.isHotSpotImage}}
          <img class="img-thumbnail" src="{{answer.content}}" />
        {{else}}
          {{{answer.content}}}
        {{/if}}

      </li>
    {{/each}}
  </ul>

</div>