<div class="main" role="main">
  {{#if showReport}}
    <div class="report-navigation">
      <button {{action "closePlayer"}} class="btn btn-info back">
          <span>
            {{gru-icon name='keyboard_arrow_left'}}
            {{#if lessonTitle}} {{lessonTitle}} {{else}} {{t 'common.back'}} {{/if}}
          </span>
      </button>
    </div>
    {{reports.gru-assessment-report assessmentResult=assessmentResult }}
  {{else}}
    {{#if collection.hasResources }}
      {{player.gru-navigation
      collection=collection
      submitted=assessmentResult.submitted
      ratingScore=resourceResult.reaction
      onFinishCollection="finishCollection"
      onOpenNavigator="openNavigator"
      onChangeEmotion="changeEmotion"}}

      {{player.gru-viewer
      submitted=assessmentResult.submitted
      resource=resource
      resourceResult=resourceResult
      collection=collection
      onSubmitQuestion="submitQuestion"}}
    {{else}}
      {{! TODO add the not found component here}}
    {{/if}}
  {{/if}}
</div>
{{#unless showReport}}
  <div class="aside">
    {{player.gru-navigator
    lessonTitle=lessonTitle
    resourceResults=assessmentResult.sortedResourceResults
    collection=collection
    onClosePlayer="closePlayer"
    selectedResourceId=resourceId
    onItemSelected="selectNavigatorItem"
    onCloseNavigator="closeNavigator"
    }}
  </div>
{{/unless}}