<ol class="panel-group" id="{{accordionId}}" role="tablist" aria-multiselectable="true">
  {{#if items.isPending}}
    {{three-bounce-spinner}}
  {{else}}

    {{#each visibleItems as |item index|}}

      {{class.overview.gru-accordion-unit
          currentClass=currentClass
          model=item
          index=index
          belongsTo=accordionId
      onSelectResource=(action 'selectResource')
      currentResource=currentResource
      openLocation=openLocation }}

    {{else}}
      <li>{{t "common.contentUnavailable"}}</li>
    {{/each}}

  {{/if}}
</ol>

