<div class="panel-heading" role="tab" id="{{elementId}}-heading">
  <span class="img-circle"></span>
  <span class="panel-title">
    <a class="collapsed"
       role="button"
       data-toggle="collapse"
       data-parent="#{{belongsTo}}"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
       {{action "loadData"}}>
        {{t "common.lessonInitial"}}{{plus-one index}}&colon; {{model.title}}
    </a>
  </span>
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="collections">

    {{#if items.isPending}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each visibleItems as |item index|}}
        <li class="panel">
          <div class="panel-heading">
            <img src="" />
            <span class="panel-title">{{t "common.collectionInitial"}}{{plus-one index}}&colon; {{item.title}}</span>
          </div>
        </li>
      {{else}}
        <li>{{t "common.content_unavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
