<ol class="accordion-course" role="tablist" aria-multiselectable="true">
  {{#if loading}}
    {{three-bounce-spinner}}
  {{else}}

    {{#each items as |item index|}}

      {{class.overview.gru-accordion-unit
        currentClass=currentClass
        currentCourse=currentCourse
        classMembers=classMembers
        model=item
        index=index
        onStudyNow=(action 'studyNow')
        onSelectResource=(action 'selectResource')
        onLocationUpdate=(action 'updateLocation')
        onLaunchOnAir=(action 'launchOnAir')
        currentResource=currentResource
        parsedLocation=parsedLocation
        showLocation=showLocation
        contentVisibility=contentVisibility
        onUpdateContentVisibility="updateContentVisibility"
        isTeacher=isTeacher
        isFromDCA=isFromDCA
        toggleLocation=toggleLocation
        onSelectItem="onSelectItem"
        isPremiumClass=isPremiumClass
        onOpenLessonReport="onOpenLessonReport"
                onOpenLessonReports="onOpenLessonReports"
        teacherCollectionReport="teacherCollectionReport"
        studentReport="studentReport"
        onOpenUnitLevelReport="onOpenUnitLevelReport"
      }}

    {{else}}
      <li>{{t "common.contentUnavailable"}}</li>
    {{/each}}

  {{/if}}
</ol>
{{#if showUnitReportPullUp}}
{{#reports.gru-report-pull-up showPullUp=showUnitReportPullUp  as |unitReport| }}
  {{#if unitReport.isShowBody}}
    {{reports.gru-unit-report-body-pull-up selectedUnit=selectedUnit showPullUp=showUnitReportPullUp onClosePullUp="onClosePullUp" classId=classId courseId=courseId unitId=unitId}}
  {{/if}}
{{/reports.gru-report-pull-up}}
{{/if}}

{{#if showLessonReportPullUp}}
  {{#reports.gru-report-pull-up breadcrumb=(concat 'Lesson' lessonReportData.lesson.sequence) title=lessonReportData.lesson.title score=lessonReportData.lesson.performance.score showPullUp=showLessonReportPullUp as |lessonReport| }}
    {{#if lessonReport.isShowBody}}
      {{reports.gru-lesson-report-body-pull-up onClosePullUp="onClosePullUp" showPullUp=showLessonReportPullUp context=lessonReportData teacherCollectionReport='teacherCollectionReport'}}
    {{/if}}
  {{/reports.gru-report-pull-up}}
{{/if}}

{{#if showReportPullUp}}
  {{class.gru-report-panel showPullUp=showReportPullUp reportData=studentReportData model=studentReportData.lesson isStudent=studentReportData.isStudent onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if showCollectionReportPullUp}}
  {{reports.pull-up.collection-report context=teacherCollectionReportData showPullUp=showCollectionReportPullUp studentReport="studentReport"}}
{{/if}}
