<div class="panel-heading" role="tab" id="{{elementId}}-heading">
  <strong class="panel-title">
    <a class="collapsed"
       role="button"
       data-toggle="collapse"
       data-parent="#{{belongsTo}}"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
       {{action "loadData"}}>
        {{t "common.unitInitial"}}{{plus-one index}}&colon; {{model.title}}
    </a>
  </strong>
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="panel-group" id="{{accordionId}}" role="tablist" aria-multiselectable="true">

    {{#if items.isPending}}
      <li>{{t "common.loading"}}</li>
    {{else}}

      {{#each visibleItems as |item index|}}

        {{class.overview.gru-accordion-lesson
          currentClass=currentClass
          unitId=model.id
          model=item
          index=index
          belongsTo=accordionId }}

      {{else}}
        <li>{{t "common.content_unavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
