<div class="unit" role="tab" id="{{elementId}}-heading">
  <strong class="panel-title">
    <a class="collapsed title"
       role="button"
       data-toggle="collapse"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
      {{action "selectUnit" model.id}}>
      <span
          class="title">{{course-sections-prefix  index=index type='unit' longName=true}}&period;&nbsp;&nbsp;{{model.title}}</span>
    </a>

    {{!-- TODO: Integrate with BE --}}
    <span>
      {{#if model.totalLessons}}
        <b>{{model.totalLessons}}</b> {{t "common.lessonObj" count=model.totalLessons}}
      {{else}}
      {{!-- TODO: Add the lessons here--}}
        <b></b> {{!--t "common.lessonObj" count=0--}}
      {{/if}}
    </span>
  </strong>

  {{gru-user-icons
  showOnlyNumbers=true
  users=model.users
  viewThreshold=3
  viewMoreIn='modal' }}
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="panel-group" role="tablist" aria-multiselectable="true">

    {{#if loading}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each items as |item index|}}

        {{class.overview.gru-accordion-lesson
          currentClass=currentClass
          unitId=model.id
          model=item
          index=index
        onSelectResource=(action 'selectResource')
        onSelectLesson=(action 'updateLesson')
        onLaunchOnAir=(action 'launchOnAir')
        currentResource=currentResource
        parsedLocation=parsedLocation
        isTeacher=isTeacher }}

      {{else}}
        <li>{{t "common.contentUnavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
