<ol class="accordion-course" role="tablist" aria-multiselectable="true">
  {{#if loading}}
    {{three-bounce-spinner}}
  {{else}}
    {{#each items as |item index|}}

      {{class.overview.gru-accordion-unit
        currentClass=currentClass
        currentCourse=currentCourse
        classMembers=classMembers
        model=item
        units=items
        index=index
        onStudyNow=(action 'studyNow')
        onSelectResource=(action 'selectResource')
        onLocationUpdate=(action 'updateLocation')
        onLaunchOnAir=(action 'launchOnAir')
        currentResource=currentResource
        parsedLocation=parsedLocation
        showLocation=showLocation
        contentVisibility=contentVisibility
        onUpdateContentVisibility="updateContentVisibility"
        isTeacher=isTeacher
        isFromDCA=isFromDCA
        toggleLocation=toggleLocation
        onSelectItem="onSelectItem"
        isPremiumClass=isPremiumClass
        teacherCollectionReport="teacherCollectionReport"
        studentReport="onOpenStudentReport"
        onOpenUnitLevelReport="onOpenUnitLevelReport"
        onOpenLessonReport="onOpenLessonReport"
        onOpenStudentUnitLevelReport="onOpenStudentUnitLevelReport"
        onOpenStudentLessonReport="onOpenStudentLessonReport"
      }}

    {{else}}
      <li>{{t "common.contentUnavailable"}}</li>
    {{/each}}

  {{/if}}
</ol>

{{#if showStudentUnitReport}}
  {{reports.pull-up.student-unit-report context=studentUnitReportContext   showPullUp=showStudentUnitReport}}
{{/if}}

{{#if showStudentLessonReport}}
  {{reports.pull-up.student-lesson-report context=studentLessonReportContext showPullUp=showStudentLessonReport}}
{{/if}}

{{#if isShowStudentReport}}
  {{class.gru-report-panel showPullUp=isShowStudentReport  reportData=studentReportData model=studentReportData.lesson  isStudent=isStudent onClosePullUp="onClosePullUp"}}
{{/if}}
