<div class="panel-heading" role="tab" id="{{elementId}}-heading">

  {{!-- TODO: Integrate with BE --}}
  <span class="score" style="background-color: {{ gradeColor 94 }}">93%</span>

  <span class="panel-title">
    <a class="title collapsed"
       role="button"
       data-toggle="collapse"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
      {{action "selectLesson" model.id}}>
        {{course-sections-prefix  index=index type='lesson' longName=true}}&period;&nbsp;&nbsp;{{model.title}}
    </a>
    {{gru-user-icons
    showOnlyNumbers=true
    users=model.users
    viewThreshold=3
    viewMoreIn='modal' }}
  </span>

</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="collections">

    {{#if items.isPending}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each visibleItems as |item index|}}
        <li class="panel {{item.collectionType}} submitted {{set-if-equal "selected" item.id currentResource}}">

          <div class="location-marker">
            <div class="icon-wrapper">
              {{gru-icon name='near_me'}}
            </div>
            <div class="arrow-right"></div>
          </div>

          <div class="panel-heading">
            {{#if item.isAssessment}}

            {{!-- TODO: Integrate with BE --}}
              <span class="score" style="background-color: {{ gradeColor 78 }}">78%</span>

            {{ else }}
              {{gru-icon name='apps'}}
            {{/if}}

            <span class="panel-title">
              <a class="title" {{action "selectResource" item.id}}>
                  {{plus-one index}}&period;&nbsp;&nbsp;{{item.title}}
              </a>
              {{!-- Show only for xs --}}
              {{gru-user-icons
              class="visible-xs"
              showOnlyNumbers=true
              users=item.users
              viewThreshold=2
              viewMoreIn='modal' }}

              {{!-- Show for all other screen sizes --}}
              {{gru-user-icons
              class="visible-xs"
              users=item.users
              viewThreshold=3
              viewMoreIn='modal' }}
            </span>
          </div>
        </li>
      {{else}}
        <li>{{t "common.contentUnavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
