<div class="panel-heading" role="tab" id="{{elementId}}-heading">
  <strong class="panel-title">
    <a class="collapsed"
       role="button"
       data-toggle="collapse"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
      {{action "selectUnit" model.id}}>
        {{course-sections-prefix  index=index type='unit'}}&colon; {{model.title}}
    </a>
  </strong>
  {{!-- Show only for xs --}}
  {{gru-user-icons
    class="visible-xs"
    users=model.users
    viewThreshold=2
    viewMoreIn='modal' }}

  {{!-- Show for all other screen sizes --}}
  {{gru-user-icons
    class="hidden-xs"
    users=model.users
    viewThreshold=3
    viewMoreIn='modal' }}
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="panel-group" role="tablist" aria-multiselectable="true">

    {{#if loading}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each items as |item index|}}

        {{class.overview.gru-accordion-lesson
          currentClass=currentClass
          unitId=model.id
          model=item
          index=index
        onSelectResource=(action 'selectResource')
        onSelectLesson=(action 'updateLesson')
        currentResource=currentResource
        parsedLocation=parsedLocation
        isStudent = isStudent}}

      {{else}}
        <li>{{t "common.contentUnavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
