<div class="panel-heading" role="tab" id="{{elementId}}-heading">
  <span class="img-circle"></span>
  <span class="panel-title">
    <a class="collapsed"
       role="button"
       data-toggle="collapse"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
      {{action "selectLesson" model.id}}>
        {{t "common.lessonInitial"}}{{plus-one index}}&colon; {{model.title}}
    </a>
  </span>
  {{!-- Show only for xs --}}
  {{gru-user-icons
    class="visible-xs"
    users=model.users
    viewThreshold=2
    viewMoreIn='modal' }}

  {{!-- Show for all other screen sizes --}}
  {{gru-user-icons
    class="hidden-xs"
    users=model.users
    viewThreshold=3
    viewMoreIn='modal' }}
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="collections">

    {{#if items.isPending}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each visibleItems as |item index|}}
        <li class="panel {{item.collectionType}} {{set-if-equal "selected" item.id currentResource}}">

          <div class="location-marker">
            <div class="circle"></div>
            <div class="arrow-right"></div>
          </div>

          <div class="panel-heading">
            <img src="" />
            <span class="panel-title">
              <a {{action "selectResource" item.id}}>
                  {{t (itemInitial item.collectionType)}}{{plus-one index}}&colon; {{item.title}}
              </a>
            </span>
            {{!-- Show only for xs --}}
            {{gru-user-icons
              class="visible-xs"
              users=item.users
              viewThreshold=2
              viewMoreIn='modal' }}

            {{!-- Show for all other screen sizes --}}
            {{gru-user-icons
              class="hidden-xs"
              users=item.users
              viewThreshold=3
              viewMoreIn='modal' }}
          </div>
        </li>
      {{else}}
        <li>{{t "common.contentUnavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
