<div class="unit" role="tab" id="{{elementId}}-heading">
  <strong class="panel-title">
    <a class="collapsed title"
       role="button"
       data-toggle="collapse"
       href="#{{elementId}}-content"
       aria-expanded="false"
       aria-controls="{{elementId}}-content"
      {{action "selectUnit" model.id}}>
        <span class="title">{{course-sections-prefix  index=index type='unit' longName=true}}&colon; {{model.title}}</span>
    </a>
  </strong>
  {{gru-user-icons
  showOnlyNumbers=true
  users=model.users
  viewThreshold=3
  viewMoreIn='modal' }}
</div>

<div id="{{elementId}}-content"
     data-index="{{componentIndex}}"
     class="panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="panel-group" role="tablist" aria-multiselectable="true">

    {{#if items.isPending}}
      {{three-bounce-spinner}}
    {{else}}

      {{#each visibleItems as |item index|}}

        {{class.overview.gru-accordion-lesson
          currentClass=currentClass
          unitId=model.id
          model=item
          index=index
        onSelectResource=(action 'selectResource')
        onSelectLesson=(action 'updateLesson')
        currentResource=currentResource
        parsedLocation=parsedLocation }}

      {{else}}
        <li>{{t "common.contentUnavailable"}}</li>
      {{/each}}

    {{/if}}
    </ol>

  </div>
</div>
