<header>
  <h1>{{course.title}}</h1>

  <div class="actions">
    {{#gru-share-pop-over tagName="button" type="course"}}
      {{gru-icon name="insert_link"}}
    {{/gru-share-pop-over}}
    <button class="btn btn-default remix">{{t "common.remix"}}</button>
    {{#if isOwner}}
      <button class="btn btn-default edit">{{t "common.edit"}}</button>
    {{/if}}
    <button class="btn btn-default play btn-success">{{t "common.play"}}</button>
  </div>

  <nav class="hidden-md hidden-lg">
    <a href="#" {{action 'view' 'content-view'}} class="{{if (eq view 'content-view') 'selected' ''}}">{{t "common.content"}}</a>
    <a href="#" {{action 'view' 'information-view'}} class="{{if (eq view 'information-view') 'selected' ''}}">{{t "common.information"}}</a>
  </nav>

</header>

<section id="information">
  <div class="content">

    {{content.gru-image isEditing=isEditing srcImage=course.thumbnailUrl editImage=tempCourse.thumbnailUrl}}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="description">
          {{#if course.description}}
            <p>{{course.description}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="aside hidden-md hidden-lg">
    <div>
      <h4>Aside Placeholder</h4>
    </div>
  </div>

</section>

<section id="content">
  {{content.courses.play.gru-accordion-course
  model=course
  items=course.children }}
</section>
