{{#if model.isEditing}}
  <li class="unit">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{#if model.id}}
          <h3>{{t "common.unit"}} {{model.sequence}}</h3>
        {{else}}
          <h3>{{t "common.unit"}} {{totalItems}}</h3>
        {{/if}}

        {{validation.gru-input model=model valuePath='title'}}

        <div class="actions">
          <button class="cancel btn btn-info"  {{action 'cancelEdit'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'saveContent'}}>{{t "common.save"}}</button>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <label>
              <span>{{t "content.courses.edit.big-ideas"}}</span>
              <textarea></textarea>
            </label>
          </div>
          <div class="col-sm-6">
            <label>
              <span>{{t "content.courses.edit.essential-questions"}}</span>
              <textarea></textarea>
            </label>
          </div>
        </div>

        <div class="domain">
          <span>Domain</span>
          <button type="button" class="btn btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
        </div>
      </div>
    </div>
  </li>

{{else}}
  <li class="unit {{if isExpanded 'expanded' 'collapsed'}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>{{t "common.unit"}} {{model.sequence}}</h3>
        <strong>{{model.title}}</strong>

      </div>
      <div class="panel-body"></div>
    </div>
  </li>

{{/if}}