<header>
  <h1>{{course.title}}</h1>

  <div class="actions">
    <button class="btn btn-default share btn-icon">{{gru-icon name="insert_link"}}</button>
    <button class="btn btn-default remix">{{t "common.remix"}}</button>
    {{#if isOwner}}
      <button class="btn btn-default edit">{{t "common.edit"}}</button>
    {{/if}}
    <button class="btn btn-default play btn-success">{{t "common.play"}}</button>
  </div>

  <nav class="hidden-md hidden-lg">
    <a href="#" {{action 'view' 'content-view'}} class="{{if (eq view 'content-view') 'selected' ''}}">{{t "common.content"}}</a>
    <a href="#" {{action 'view' 'information-view'}} class="{{if (eq view 'information-view') 'selected' ''}}">{{t "common.information"}}</a>
  </nav>

</header>

<section id="information">
  <div class="content">

    {{content.gru-image isEditing=isEditing srcImage=course.thumbnailUrl editImage=tempCourse.thumbnailUrl}}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="description">
          {{#if course.description}}
            <p>{{course.description}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <hr class="hidden-sm">

  <div class="panel panel-default aside hidden-md hidden-lg">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 created-by gru-user-icons">
          <strong>{{t "common.created-by"}}</strong>
          <ul>
            {{#each course.owner_details as |owner index|}}
              <li class="item user">
                <img class="img-circle" src="{{owner.avatarUrl}}" title="{{owner.fullName}}" />
                <span class="user-name">{{truncate text=owner.firstName maxLength=10}}</span>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="col-sm-4 remixed-by gru-user-icons">
          <strong>{{t "common.remixed-by"}}</strong>
          <ul>
            {{#each course.collaborator_details as |collaborator index|}}
              <li class="item user">
                <img class="img-circle" src="{{collaborator.avatarUrl}}" title="{{collaborator.fullName}}" />
                <span class="user-name">{{truncate text=collaborator.firstName maxLength=10}}</span>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="col-sm-4 license">
          <strong>{{t "common.license"}}</strong>
          <p>{{course.license}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 use-case">
          <strong>{{t "common.use-case"}}</strong>
          <p>{{course.useCase}}</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="content">
  {{content.courses.play.gru-accordion-course
  model=course
  items=course.children }}
</section>
