<div class="panel panel-default edit">
  <div class="panel-heading">

    {{#if lesson.id}}
      <h3>{{t "common.lesson"}} {{plus-one index}}</h3>
    {{else}}
      <h3>{{t "common.lesson"}} {{totalItems}}</h3>
    {{/if}}

    {{validation.gru-input model=lesson valuePath='title'}}

    <div class="actions">
      <button class="cancel btn btn-info"  {{action 'cancelEdit'}}>{{t "common.cancel"}}</button>
      <button class="save btn btn-success" {{action 'saveLesson'}}>{{t "common.save"}}</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="data-row">
      <span>{{t "common.standards"}}</span>
      <button type="button" class="btn btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
    </div>
  </div>
</div>

<div class="panel panel-default view {{if model.isExpanded 'expanded' 'collapsed'}}">
  <div class="panel-heading">
    <h3><a href="#" {{action 'toggle'}}>{{t "common.lesson"}} {{plus-one index}}</a></h3>
    <strong><a href="#" {{action 'toggle'}}>{{lesson.title}}</a></strong>

    <div class="detail">
      {{#if totalSavedItems}}
        <span><b>{{totalSavedItems}}</b> {{t "common.lessonObj" count=totalSavedItems}}</span>
      {{else}}
        <span>{{t "common.add"}}</span>
      {{/if}}

      <div class="actions">
        <button class="btn add-item" {{action 'add'}}>{{gru-icon name="add"}}</button>
        <button class="btn sort-items" {{action 'swap'}}>{{gru-icon name="swap_vert"}}</button>
        <div>
          <button class="btn edit-item" {{action 'edit' model}}>{{gru-icon name="edit"}}</button>
          <button class="btn copy-item" {{action 'copy' model}}>{{gru-icon name="content_copy"}}</button>
          <button class="btn move-item" {{action 'move' model}}>{{gru-icon name="subdirectory_arrow_right"}}</button>
          <button class="btn delete-item" {{action 'delete' model}}>{{gru-icon name="delete"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <ol class="accordion-lesson" role="tablist" aria-multiselectable="true">

    </ol>

    <div>
      <button class="btn btn-success" {{action 'addCollection'}}>{{t "common.new-collection"}}</button>
      <button class="btn btn-success" {{action 'addAssessment'}}>{{t "common.new-assessment"}}</button>
    </div>

  </div>
</div>