<div class="panel panel-default">
  <div class="panel-heading">
    <div class="title-section">
      {{#link-to 'partner-library.content.courses' content.shortName class="title" alt="{{content.name}}"}} {{truncate text=content.name maxLength=40}} {{/link-to}}
    </div>
  </div>
  <div class="panel-body">
    <div class="image">
      {{#link-to 'partner-library.content.courses' content.shortName class="title" alt="{{content.name}}"}}<img class="img-responsive" src="{{content.image}}">{{/link-to}}
    </div>
    <div class="description">
      {{#if content.description}}
        <p title="{{content.description}}">
          {{truncate text=content.description maxLength=155}}
        </p>
      {{/if}}
    </div>
  </div>
  <div class="panel-footer">
    <div class="library-info">
      {{#if hasCourses}}
        <span class="item total-courses"><i title="{{t "common.courses"}}" class="icon"></i><span>{{content.courseCount}}</span></span>
      {{/if}}
      {{#if hasCollections}}
        <span class="item total-collections"><i title="{{t "common.collections"}}" class="icon"></i><span>{{content.collectionCount}}</span></span>
      {{/if}}
      {{#if hasAssessments}}
        <span class="item total-assessments"><i title="{{t "common.assessments"}}" class="icon"></i><span>{{content.assessmentCount}}</span></span>
      {{/if}}
      {{#if hasResources}}
        <span class="item total-resources"><i title="{{t "common.resources"}}" class="icon"></i><span>{{content.resourceCount}}</span></span>
      {{/if}}
      {{#if hasQuestions}}
        <span class="item total-questions"><i title="{{t "common.questions"}}" class="icon"></i><span>{{content.questionCount}}</span></span>
      {{/if}}
      {{#if hasRubrics}}
        <span class="item total-rubrics"><i title="{{t "common.rubrics"}}" class="icon"></i><span>{{content.rubricCount}}</span></span>
      {{/if}}
    </div>
  </div>
</div>
