
<div class="panel panel-default view {{if model.isExpanded 'expanded' 'collapsed'}}">
  <div class="panel-heading">
    <h3><a href="#" {{action 'toggle'}}>{{t "common.unit"}} {{plus-one index}}</a></h3>
    <strong><a href="#" {{action 'toggle'}}>{{unit.title}}</a></strong>

    <div class="detail">
      <span><b>{{unit.lessonCount}}</b> {{t "common.lessonObj" count=unit.lessonCount}}</span>
    </div>
  </div>
  <div class="panel-body">

    {{#if (or unit.bigIdeas unit.essentialQuestions tags.length)}}
      <div class="right details {{if viewUnitDetails 'hidden' 'visible'}}">
        <a href="#" {{action 'viewDetails'}}>
          <span>{{t "gru-course-play.view-unit-details"}}</span>
          {{gru-icon name='keyboard_arrow_down'}}
        </a>
      </div>
    {{/if}}

    <div class="overview {{if viewUnitDetails 'visible' 'hidden'}}">
      {{#if (or unit.bigIdeas unit.essentialQuestions)}}
        <div class="row">
          <div class="col-sm-6 big-ideas">
            <label>
              <span>{{t "common.big-ideas"}}</span>
              <p>{{unit.bigIdeas}}</p>
            </label>
          </div>
          <div class="col-sm-6 essential-questions">
            <label>
              <span>{{t "common.essential-questions"}}</span>
              <p>{{unit.essentialQuestions}}</p>
            </label>
          </div>
        </div>
      {{/if}}

      {{#if tags.length}}
      <div class="tags">
        <label>
          <span>{{t 'common.domains'}}</span>
        </label>
        {{taxonomy.gru-taxonomy-tag-list tags=tags}}
      </div>
      {{/if}}

      <div class="right details">
        <a href="#" {{action 'viewDetails'}}>
          <span>{{t "gru-course-play.hide-unit-details"}}</span>
          {{gru-icon name='keyboard_arrow_up'}}
        </a>
      </div>
    </div>

    <ol class="accordion-unit" role="tablist" aria-multiselectable="true">

      {{#each items as |item index|}}

        {{content.courses.play.gru-accordion-lesson
          course=course
          unitId=unit.id
          model=item
          index=index
          onExpandLesson=(action 'expandLesson')
        }}

      {{/each}}

    </ol>

  </div>
</div>
