<div class="controller teacher class class-management">
  <div class="panel panel-default panel-primary classroom-information" >
    <div class="panel-body">
      <div class="course-image">
        {{#if course.thumbnailUrl}}
          <img src="{{course.thumbnailUrl}}" />
        {{else}}
          <div class="no-course-image"></div>
        {{/if}}
      </div>
      <div class="course-name">
        {{#if course.title}}
          {{{truncate text=course.title maxLength=50}}}
        {{else}}
          {{t 'student-landing.class.no-course'}}
        {{/if}}
      </div>
      <div class="counts-container">
        <div class="count">
          {{#if hasUnits}}
            {{gru-icon tooltipTitle='common.unit' name="format_align_center"}}
            <span>{{course.unitCount}}</span>
          {{/if}}
        </div>
        <div class="count">
          {{#if hasStudents}}
            {{gru-icon tooltipTitle='common.student' name="people"}}
            <span>{{class.countMembers}}</span>
          {{/if}}
        </div>
      </div>
      <div class="teacher-profile">
        {{#if class.owner}}
          <img class="img-responsive" src="{{class.owner.avatarUrl}}" {{action 'profileTeacher' class.owner}}>
          <span class="owner-name">
            {{#if class.owner.firstName}}
              {{truncate text=(concat class.owner.firstName ' ' class.owner.lastName) maxLength=25}}
            {{else}}
              {{class.owner.username}}
            {{/if}}
          </span>
        {{/if}}
      </div>
      <div class="taxonomy-standards">
        {{#if course.tags.length}}
          {{taxonomy.gru-taxonomy-tag-list tags=course.tags tagsVisible=1 isInCard=true hasTooltips=false}}
        {{/if}}
      </div>
      <div class="copy-code">
        {{gru-copy-value value=class.code tooltipCode="teacher-landing.class.click-to-copy"}}
      </div>
      <div class="class-code">
        <div class="title">{{t 'student-landing.class-code'}}</div>
        <div class="code">{{class.code}}</div>
      </div>
    </div>
  </div>
  <div class="row header-info">
    <div class="col-md-6 col-sm-12 class-information">
      <div class="class-name">
        <span><{{t 'teacher-landing.class.class-management-tab.class-name'}}</span>
        <div class="edit-text">
          {{#unless editingTitle}}
            <span class='class-title'>{{class.title}}</span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
            {{else}}
              {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle" autofocus=true maxLength=25}}
          {{/unless}}
        </div>
      </div>
      <div class="row class-code">
        <div class="col-md-7 col-sm-7 col-xs-7 out-of-scope">
          <p>
            <{{t 'teacher-landing.class.class-management-tab.attend-class-with-code'}} </p>
              {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClass' isChecked=isAttendClassWithCode}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 course-information">
      <div class="assessment-min-score">
        <span><{{t 'teacher-landing.class.class-management-tab.assessment-min-score'}}</span>
        <div class="edit-text">
          {{#unless editingScore}}
            <span>{{if class.minScore class.minScore '--'}} % </span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
            {{else}}
              {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1 didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
          {{/unless}}
        </div>
      </div>
      <div class="actions">
        <span class="archive-btn" {{action 'archiveClass'}} title="{{t 'teacher-landing.class.class-management-tab.archive-classroom'}}" data-toggle="tooltip">
          {{gru-icon name="archive"}}
        </span>
        <span class="delete-btn" {{action 'deleteClass'}} title="{{t 'class.info.delete'}}" data-toggle="tooltip">
          {{gru-icon name="delete"}}
        </span>
      </div>
    </div>
  </div>
  {{#if class.collaborators }}
    <div class="teachers-info-container">
      <div class="teacherinfo">
        <span class="teacher-title">Co- Teachers</span>
        <div class='line-sep-hr'></div>
        <div class="teachers-info-table">
          <table class="table table-striped">
            <thead class="table-header">
              <tr>
                <th class=''>
                  <span></span>
                </th>
                <th>
                  <div class='sortable last-name teacherdatacolumn'>
                    <span>{{t "teacher-landing.class.class-management-tab.last-name"}}</span>
                  </div>
                </th>
                <th>
                  <div class='sortable first-name teacherdatacolumn'>
                    <span>{{t "teacher-landing.class.class-management-tab.first-name"}}</span>
                  </div>
                </th>
                <th>
                  <div class='teacher-actions'>
                    <span>Profile</span>
                  </div>
                </th>
                <th>
                  <div class='teacher-actions'>
                    <span>Remove</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each class.collaborators as |coteacher|}}
                <tr class="student">
                  <td class='student'>
                    <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                <img src={{coteacher.avatarUrl}} class='miniprofile'>
              </span>
                  </td>

                  <td class="last-name teacherdatacolumn">
                    <span>{{coteacher.lastName}}</span>
                  </td>
                  <td class="first-name teacherdatacolumn">
                    <span>{{coteacher.firstName}}</span>
                  </td>


                  <td class="teacher-actions">
                    <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                {{gru-icon name='account_circle'}}
              </span>
                  </td>

                  <td class="teacher-actions">
                    <span class='delete-btn  remove-teacher' data-toggle="tooltip" title="{{t 'common.remove'}}" {{action 'removeCoteacher' coteacher}}>
                {{gru-icon name='delete'}}
              </span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  {{/if}}

  {{#if showPathWayPullUp}}
    {{#gru-pull-up pullUpType="pathway-pullup" showPullUp=showPathWayPullUp as |pull-up|}}
      {{#if pull-up.isShowHeader}}
        {{class.gru-learner-pathway model=studentPathway onOpenStudentReport="onOpenStudentReport" }}
      {{/if}}
    {{/gru-pull-up}}
  {{/if}}

  {{#if showReportPullUp}}
    {{class.gru-report-panel showPullUp=showReportPullUp reportData=reportData model=model onClosePullUp="onClosePullUp"}}
  {{/if}}

  {{#if isShowProficiencyPullup}}
    {{#gru-pull-up pullUpType="proficiency-pullup" showPullUp=isShowProficiencyPullup onClosePullUp="onClosePullUp" as |pull-up|}}
      {{#if pull-up.isShowHeader}}
        {{proficiency.learner-proficiency-pull-up
           student=selectedStudent
           subjectBucket=subjectBucket
           class=class
           course=course
           onSelectCompetency="onSelectCompetency"
           }}
      {{/if}}
    {{/gru-pull-up}}
  {{/if}}

  {{#if isShowCompetencyContentReport}}
    {{#reports.pull-up.competency-report type=selectedCompetency.competencyCode title=selectedCompetency.competencyStudentDesc showPullUp=isShowCompetencyContentReport onClosePullUp="onClosePullUp" competency=selectedCompetency}}
      {{reports.pull-up.competency-content-report competency=selectedCompetency userId=selectedStudent.id}}
    {{/reports.pull-up.competency-report}}
  {{/if}}

</div>
