<div class="controller class-management">
  <br>
  <div class="row">
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.class-information"}}</h5>
      <div class="panel class-panel">
        <div class="panel-body">
          <!--  -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.course-information"}}</h5>
      <div class="panel course-panel">
        <div class="panel-body">
          <div class="assessment-min-score">
            <p><{{t 'teacher-landing.class.class-management-tab.assessment-min-score'}}</p>
              <h5>{{if class.minScore class.minScore '--'}} % {{gru-icon name='edit'}}</h5>
          </div>
          <div class="course-information">
            <p>{{t 'teacher-landing.class.class-management-tab.assigned-course'}}</p>
            {{#if course}}
                {{cards.gru-course-card course=course isEditEnabled=true isOwner=true isSmall=true}}
              {{else}}
                --
              {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.teachers"}}</h5>
      <div class="panel teachers-panel">
        <div class="panel-body">
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
