<div class="controller teacher class class-management">
  <div class="row header-info">
    <div class="col-md-6 col-sm-12 class-information">
      <div class="class-name">
        <span><{{t 'teacher-landing.class.class-management-tab.class-name'}}</span>
        <div class="edit-text">
          {{#unless editingTitle}}
            <span class='class-title'>{{class.title}}</span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" class='edit-icon' {{action "editTitle" true}}>{{gru-icon name='edit'}}</span>
          {{else}}
            {{validation.gru-input model=tempClass valuePath='title' didValidate=didValidate onFocusOut="editTitle" autofocus=true maxLength=25}}
          {{/unless}}
        </div>
      </div>
      <div class="row class-code">
        <div class="col-md-7 col-sm-7 col-xs-7 out-of-scope">
          <p><{{t 'teacher-landing.class.class-management-tab.attend-class-with-code'}}</p>
          {{gru-switch switchOptions=switchOptions onOptionSwitch='updateClass' isChecked=isAttendClassWithCode}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 course-information">
      <div class="assessment-min-score">
        <span><{{t 'teacher-landing.class.class-management-tab.assessment-min-score'}}</span>
        <div class="edit-text">
          {{#unless editingScore}}
            <span>{{if class.minScore class.minScore '--'}} % </span>
            <span title="{{t 'teacher-landing.class.class-management-tab.edit'}}" data-toggle="tooltip" {{action "editScore"}}>{{gru-icon name='edit'}}</span>
          {{else}}
            {{validation.gru-input-number model=tempClass valuePath='minScore' min=1 max=100 step=1 didValidate=didValidate onFocusOut="saveScore" onFocusIn="editScore" autofocus=true}}
          {{/unless}}
        </div>
      </div>
      <div class="actions">
        <span class="archive-btn" {{action 'archiveClass'}} title="{{t 'teacher-landing.class.class-management-tab.archive-classroom'}}" data-toggle="tooltip">
          {{gru-icon name="archive"}}
        </span>
        <span class="delete-btn" {{action 'deleteClass'}} title="{{t 'class.info.delete'}}" data-toggle="tooltip">
          {{gru-icon name="delete"}}
        </span>
      </div>
    </div>
  </div>
  <div class="teacherinfo" style="display:none;" >
      <span class="teacher-title">Teachers</span>
      <div class='line-sep-hr'></div>
      <div class="teachercard">
        <div class="teacher-card-shape">
              <img src={{class.owner.avatarUrl}}  class="teacherprofileimg">
            <span class='owner'>Owner</span>
            <span class='teachername'>{{class.owner.firstName}} {{class.owner.lastName}}</span>
        </div>

           {{#each class.collaborators as |coteacher|}}
          <div class="teacher-card-shape">
            <img src={{coteacher.avatarUrl}} class="teacherprofileimg">
            <span class='owner'>Co-Teacher</span>
            <span class='teachername'>{{ gru-full-name coteacher }}</span>

            {{!-- <span class='teachername'>{{coteacher.firstName}} {{coteacher.lastName}}</span> --}}
            <div class="teacherexinfocontainer">
                {{!-- straignt line  --}}
              <div class="teacherexinfo">
                <div class='t-top-line'></div>
                  <span data-toggle="tooltip" title='Profile' class='material-icons Shape posabs'{{action 'profileStudent' coteacher}}>
                     {{gru-icon name='account_circle' }}
                  </span>
                  <div class='t-ver-line'></div>
                  <span data-toggle="tooltip" title='Remove' class='account-circle' {{action 'removeCoteacher' coteacher}}>
                     {{gru-icon name='remove_circle' }}
                  </span>
                  <div class='profile-lbl'>Profile</div>
                  <div class='remove-lbl'>Remove</div>
              </div>
            </div>
            {{!-- container --}}
          </div>
          {{/each}}
      </div>
  </div>
{{#if class.collaborators }}
  <div class="teachers-info-container">
    <div class="teacherinfo">
      <span class="teacher-title">Teachers</span>
      <div class='line-sep-hr'></div>
      <div class="teachers-info-table">
      <table class="table table-striped">
        <thead class="table-header">
          <tr>
            <th class=''>
              <span></span>
            </th>
            <th>
              <div class='sortable last-name teacherdatacolumn' >
                <span>{{t "teacher-landing.class.class-management-tab.last-name"}}</span>
              </div>
            </th>
            <th>
              <div class='sortable first-name teacherdatacolumn'>
                <span>{{t "teacher-landing.class.class-management-tab.first-name"}}</span>
              </div>
            </th>
            <th>
              <div class='teacher-actions'>
                <span>Profile</span>
              </div>
            </th>
            <th>
              <div class='teacher-actions'>
                <span>Remove</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
           {{#each class.collaborators as |coteacher|}}
          <tr class="student">
            <td class='student'>
              <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                <img src={{coteacher.avatarUrl}} class='miniprofile'>
              </span>
            </td>
      
            <td class="last-name teacherdatacolumn">
              <span>{{coteacher.lastName}}</span>
            </td>
            <td class="first-name teacherdatacolumn">
              <span>{{coteacher.firstName}}</span>
            </td>
          
           
            <td class="teacher-actions">
              <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' coteacher}}>
                {{gru-icon name='account_circle'}}
              </span>
            </td>
            
            <td class="teacher-actions">
              <span class='delete-btn  remove-teacher' data-toggle="tooltip" title="{{t 'common.remove'}}" {{action 'removeCoteacher' coteacher}}>
                {{gru-icon name='delete'}}
              </span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table></div>

    </div>
  </div>
  {{/if}}
  {{#if sortedMembers}}

    <span  class="student-title"> Students</span>
    <div class="students-panel">
      <table class="table table-striped">
        <thead  class="table-header">
          <tr>
            <th class=''>
                <span></span>
            </th>
            <th>
              <div class='sortable last-name datacolumn' {{action 'sortStudents' 'lastName'}}>
                <span>{{t "teacher-landing.class.class-management-tab.last-name"}}</span>
                {{gru-icon name='swap_vert'}}
              </div>
            </th>
            <th>
              <div class='sortable first-name datacolumn' {{action 'sortStudents' 'firstName'}}>
                <span>{{t "teacher-landing.class.class-management-tab.first-name"}}</span>
                {{gru-icon name='swap_vert'}}
              </div>
            </th>
            <th>
              <div class='sortable student-id datacolumn' {{action 'sortStudents' 'studentId'}}>
                <span>{{t "teacher-landing.class.class-management-tab.student-id"}}</span>
                {{gru-icon name='swap_vert'}}
              </div>
            </th>
            <th>
              <div class='student-actions' >
                <span>Proficiency</span>
              </div>
            </th>
            <th>
              <div class='student-actions' >
                <span>Profile</span>
              </div>
            </th>
            <th>
              <div class='student-actions' >
                <span>Pathway</span>
              </div>
            </th>
            <th>
              <div class='student-actions'>
                <span>Remove</span>
                </div>
              </th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedMembers as |student|}}
            <tr class="student">
              <td class= 'student'>
                <span class='Shape' data-toggle="tooltip" title='Profile' {{action 'profileStudent' student}}>
                  <img src={{student.avatarUrl}} class='miniprofile'>
                </span>
              </td>

              <td class="last-name datacolumn"><span>{{student.lastName}}</span></td>
              <td class="first-name datacolumn"><span>{{student.firstName}}</span></td>
              <td class="student-id datacolumn"><span>{{student.studentId}}</span></td>
              <td class="student-actions">
                <span class= 'Shape' data-toggle="tooltip" title= 'Proficiency' {{action
                  'proficiencyStudent' student}}>
                    <img src='/assets/gooru/proficiency_new.png' >
                </span>
              </td>
              <td class="student-actions">
                <span class='Shape' data-toggle="tooltip" title='Profile' {{action
                  'profileStudent' student}}>
                   {{gru-icon name='account_circle'}}
                </span>
              </td>
              <td class="student-actions">
                <span class='Shape' data-toggle="tooltip" title='Pathway' {{action
                  'pathwayStudent' student}}>
                 {{gru-icon name='arrow_forward'}}
                </span>
              </td>
              <td class="student-actions">
              <span class='delete-btn  remove-student' data-toggle="tooltip" title="{{t 'common.remove'}}" {{action 'removeStudent' student}}>
                {{gru-icon name='delete'}}
              </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="no-students">
      <div class="student-null"></div>
      <div class="message">{{t 'teacher-landing.class.class-management-tab.students-null'}}</div>
    </div>
  {{/if}}
</div>
