{{#if class.courseId}}
  <div class="controller teacher class course-map">
    <div class="actions">
      <button {{action "editContent" course.id class.id}} class="btn btn-primary edit-content">
        {{t "common.edit-course"}} {{gru-icon name='edit'}}
      </button>
    </div>

   <div class="panel panel-default panel-primary welcome {{if showWelcome 'visible' 'hidden'}}">
      <div class="panel-body">
        {{#if isRescopedClass}}
        <div class="description">{{t "teacher-landing.welcome-rescoped-course-map"}}</div>
        {{else}}
        <div class="description">{{t "teacher-landing.welcome-course-map"}}</div>
        {{/if}}
        <div class="close">
          <a {{action 'toggleHeader'}}>X</a>
        </div>
      </div>
    </div>
    {{class.overview.gru-accordion-course
    currentClass=class
    classMembers=classMembers
    onSelectResource="playResource"
    onLocationUpdate=(action 'updateLocation')
    onLaunchOnAir="launchOnAir"
    location=location
    units=units
    contentVisibility=contentVisibility
    onUpdateContentVisibility="updateContentVisibility"
    isTeacher=true
    isNUCourse=isNUCourse
    isRescopedClass=isRescopedClass}}

  </div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}
