{{#if class.courseId}}
  <div class="controller teacher class course-map {{unless isOwner 'not-owner'}}">

    {{#if isOwner}}
      <div class="actions">
        <button {{action "editContent" course.id class.id}} class="btn btn-primary edit-content">
        {{t "common.edit-course"}} {{gru-icon name='edit'}}
      </button>
      </div>
    {{/if}}


    <div class="panel panel-default panel-primary welcome {{if showWelcome 'visible' 'hidden'}}">
      <div class="panel-body {{if isPremiumClass 'premium-class'}}">
        {{#if isPremiumClass}}
          <div class="description">{{t "teacher-landing.welcome-premium-course-map"}}</div>
        {{else}}
          <div class="description">{{t "teacher-landing.welcome-course-map"}}</div>
        {{/if}}
        <div class="close">
          <a {{action 'toggleHeader'}}>X</a>
        </div>
      </div>
    </div>
    <div class="course-map-container">
      {{#if isStudentCourseMap}}
        <div class="active-student">
          <div class="student-thumbnail pull-left" style="background-image: url({{activeStudent.avatarUrl}})"></div>
          <div class="student-name pull-left">{{activeStudent.fullName}}</div>
          <div class="student-close pull-right" {{action "onSelectAll"}}>
            {{gru-icon name="clear"}}
          </div>
          <div class="performance-container pull-right {{unless (gte studentClassScore 0) 'not-started'}}" {{action "onOpenStudentCourseReport" activeStudent}}>
            {{charts/gru-performance-chart performanceSummary=activeStudent.performance}}
          </div>
        </div>
      {{/if}}
      <div class="course-map-body">
        <div class="students">
          <div class="header">
            {{t 'class.info.students'}}
          </div>
          <div class="students-list">
            {{#each sortedStudents as |student index|}}
              <div class="student list student-{{index}}" {{action "onSelectStudent" student index}}>
                <div class="thumbnail" data-toggle="tooltip" style="background-image: url({{student.avatarUrl}})">
                </div>
                <div class="student-name">{{student.fullName}}</div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="render-course-map {{if (and (not isStudentCourseMap) questionItems) 'sm-course-map'}}">
          {{#if isLoading}}
            {{three-bounce-spinner}}
          {{else}}
            <div class="header">
              {{t 'common.course-map'}}
            </div>
            {{#if isStudentCourseMap}}
              {{#if (and isPremiumClass isAccepted)}}
                {{class.overview.routesuggestion-coursemap isEnablePlayer=false route0=route0Contents }}
              {{/if}}
              <div class="student-coursemap">
                {{#each units as |unit index|}}
                  {{class.learner.gru-learner-accordion-unit
                  currentClass=class
                  studentId=activeStudent.id
                  currentCourse=course
                  classMembers=classMembers
                  collectionReport="collectionReport"
                  onOpenStudentUnitLevelReport="onOpenStudentUnitLevelReport"
                  onOpenStudentLessonReport="onOpenStudentLessonReport"
                  model=unit
                  units=units
                  index=index
                  isTeacher=false
                  isStudent=true
                  toggleLocation=toggleLocation
                  onSelectItem="onSelectItem"}}
            {{else}}
              <li>{{t "common.contentUnavailable"}}</li>
                {{/each}}
              </div>
            {{else}}
              <div class="teacher-coursemap">
                {{class.overview.gru-accordion-course
                currentClass=class
                currentCourse=course
                classMembers=classMembers
                onSelectResource="playResource"
                onLocationUpdate=(action 'updateLocation')
                onLaunchOnAir="launchOnAir"
                location=location
                units=units
                contentVisibility=contentVisibility
                onUpdateContentVisibility="updateContentVisibility"
                isTeacher=true
                isStudent=false
                isNUCourse=isNUCourse
                onOpenUnitLevelReport="onOpenUnitLevelReport"
                onOpenLessonReport="onOpenLessonReport"
                teacherCollectionReport="teacherCollectionReport"
                isPremiumClass=isPremiumClass
              }}
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{#unless isStudentCourseMap}}
          {{#if questionItems}}
            <div class="items-to-grade">
              <div class="header">
                {{t 'class.analytics.performance.grade-items'}}
              </div>
              {{gru-grade-items questionItems=questionItems}}
            </div>
          {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}

{{#if showStudentUnitReport}}
  {{reports.pull-up.student-unit-report context=studentUnitReportContext showPullUp=showStudentUnitReport}}
{{/if}}

{{#if showStudentLessonReport}}
  {{reports.pull-up.student-lesson-report context=studentLessonReportContext showPullUp=showStudentLessonReport}}
{{/if}}

{{#if isShowStudentReport}}
  {{class.gru-report-panel showPullUp=isShowStudentReport reportData=studentReportContextData model=studentReportContextData.lesson isStudent=false onClosePullUp="onClosePullUp"}}
{{/if}}

{{#if isShowStudentExternalAssessmentReport}}
  {{
    reports.pull-up.student-external-assessment-report
    reportData=studentReportContextData
    isStudent=studentReportContextData.isStudent
    onClosePullUp="onClosePullUp"
  }}
{{/if}}

{{#if showCourseReport}}
  {{reports.pull-up.student-course-report context=studentCourseReportContext showPullUp=showCourseReport}}
{{/if}}
