<div class="controller content courses edit">
  <article>

    <header>
      <h1>{{t "common.edit-course"}}</h1>

        <div class="actions">
            <button class="btn btn-default btn-icon">{{gru-icon name="delete"}}</button>
            <button class="btn btn-default btn-icon">{{gru-icon name="person_add"}}</button>
            <button class="btn btn-default btn-icon">{{gru-icon name="insert_link"}}</button>
            <button class="btn btn-default">{{t "content.courses.edit.assign-to-class"}}</button>
            <button class="btn btn-default">{{t "common.preview"}}</button>
        </div>

      <nav>
        {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
        {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
        {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
      </nav>

    </header>

    <section id="information">
        <div class="header">
            <h2>{{t "common.information"}}</h2>
            {{partial 'content/partials/information-actions'}}
        </div>
      <div class="content">

        {{content.gru-image isEditing=isEditing srcImage=course.image editImage=tempCourse.image}}

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="title">
              <label>
                <span class="required">{{t "content.courses.edit.information.course-title"}}</span>
                {{#if isEditing}}
                  {{validation.gru-input model=tempCourse valuePath='title'}}
                {{else}}
                  <b>{{course.title}}</b>
                {{/if}}
              </label>
            </div>

            {{content.gru-category isEditing=isEditing srcCategory=course.category editCategory=tempCourse.category}}

            <div class="subject">
              <label>
                <span>K-12 Subject and Course</span>
                {{#if isEditing}}
                  <button type="button" class="btn-primary btn-sm add-prefix">{{t "common.add"}}</button>
                {{else}}
                  <div class="subjects">
                    <button type="button" class="btn-empty btn btn-sm">Grade 3 Math</button>
                    <button type="button" class="btn-empty btn btn-sm">Grade 4 Math</button>
                  </div>
                {{/if}}
              </label>
            </div>

            {{content.gru-audience isEditing=isEditing srcSelectedAudiences=course.audience editSelectedAudiences=tempCourse.audience}}

          </div>
        </div>
      </div>
    </section>

    <section id="builder">
      {{content.courses.gru-accordion-course items=course.units }}
    </section>

    <section id="settings">
     {{partial 'content/partials/settings'}}
    </section>

  </article>

  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus
        in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies feugiat. Nullam
        ac
        est sed nisi rutrum semper.</p>
    </div>
  </aside>
</div>
