<div class="controller content courses edit">
  <article>

    <header>
      <h1>{{t "common.edit-course"}}</h1>

      {{partial 'content/partials/header-actions'}}

      <nav>
        {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
        {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
        {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
      </nav>

    </header>

    <section id="information">
        <div class="header">
            <h2>{{t "common.information"}}</h2>
            {{partial 'content/partials/information-actions'}}
        </div>
      <div class="content">
        <div class="image">
          {{#if course.image}}
                  <img/>
                {{else}}
                <div class="upload-image">
                    <span>{{gru-icon name="library_add"}}</span>
                </div>
                {{#if isEditing}}
                  <button class="upload btn btn-info">{{t 'common.upload-thumbnail'}}</button>
                {{/if}}
              {{/if}}
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="title">
                        <span>{{t "content.courses.edit.information.course-title"}}</span>
                      {{#if isEditing}}
                        {{input id="course-name" class="course-title"}}
                      {{else}}
                        <span class="title">{{course.title}}</span>
                      {{/if}}
                    </div>
                    <div class="category">
                        {{content.gru-category isEditing=isEditing courseCategory=course.category onChangeCategory="changeCategory"}}
                    </div>
                    <div class="subject">
                        <span>K-12 Subject and Course</span>
                        {{#if isEditing}}
                        <button type="button" class="btn btn-primary btn-sm">{{t "common.add-plus"}}</button>
                          {{else}}
                          <div class="subjects">
                              <button type="button" class="btn-empty btn btn-sm">Grade 3 Math</button>
                              <button type="button" class="btn-empty btn btn-sm">Grade 4 Math</button>
                          </div>
                        {{/if}}
                    </div>
                    <div class="audience">
                        {{content.gru-audience isEditing=isEditing}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="builder">
      {{content.courses.gru-accordion-course
      model=course }}
    </section>

    <section id="settings">
     {{partial 'content/partials/settings'}}
    </section>

  </article>

  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus
        in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies feugiat. Nullam
        ac
        est sed nisi rutrum semper.</p>
    </div>
  </aside>
</div>
