<div class="controller content courses edit">
  <article>

    <header>
      <h1>{{t "common.edit-course"}}</h1>

      {{partial 'content/partials/header-actions'}}

      <nav>
        {{#gru-scroll to="#information" class="selected" offset='article > header'}}{{t "common.information"}}{{/gru-scroll}}
        {{#gru-scroll to="#builder" offset='article > header'}}{{t "common.builder"}}{{/gru-scroll}}
        {{#gru-scroll to="#settings" offset='article > header'}}{{t "common.settings"}}{{/gru-scroll}}
      </nav>

    </header>

    <section id="information">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies
        feugiat. Nullam ac est sed nisi rutrum semper. Praesent nec egestas orci. Nam eget metus ex. Donec venenatis et
        erat non dictum. Aenean tristique, magna in luctus bibendum, turpis nisi vehicula tellus, sed porta enim erat
        vel odio. Nunc sit amet auctor purus. Maecenas aliquet risus non tincidunt porta. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Ut faucibus viverra lectus, at suscipit leo. In ac lectus leo. Phasellus interdum
        rutrum dolor eu commodo.

        Praesent mi neque, bibendum in sollicitudin vel, lobortis nec metus. Phasellus pulvinar posuere sapien, eget
        imperdiet sem convallis eget. Donec pulvinar, ex ultrices luctus feugiat, sapien nisi condimentum est, varius
        lacinia nibh elit nec felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Aenean mattis lorem purus, eu fringilla ligula lacinia at. Donec imperdiet vitae elit a mollis. Curabitur
        posuere hendrerit ipsum ut aliquet. Proin mi mauris, lacinia nec varius lacinia, luctus ac ante. Vestibulum
        vehicula leo in augue sagittis lacinia. Sed ut finibus eros, a egestas massa. Proin pretium quam quis elit
        tristique imperdiet. Nam euismod, diam eu tempus rutrum, magna metus interdum justo, nec luctus odio leo vitae
        nisi. Proin sit amet urna posuere dolor dictum fringilla sit amet eget sem. Quisque eleifend velit ipsum, et
        iaculis mi lobortis eget. Nunc ullamcorper lacus ac dui laoreet convallis.

        Pellentesque nec sem nunc. Aenean dignissim scelerisque vulputate. Etiam at dignissim sapien. Sed volutpat augue
        non mi fermentum, at vulputate dui suscipit. Nulla convallis risus vitae ipsum convallis, in varius turpis
        facilisis. Quisque et malesuada risus. Sed et justo magna. Sed malesuada ipsum in mi aliquam, eleifend volutpat
        lacus sollicitudin. Praesent sodales vitae lorem vitae dapibus. Fusce lectus elit, elementum in felis a, laoreet
        accumsan dui. Integer viverra ante vel scelerisque molestie. Nullam aliquet, turpis consequat sagittis luctus,
        diam orci pellentesque urna, nec congue eros dolor vitae dolor. Vivamus ac nisi ut nisi faucibus laoreet et ut
        lectus. In consectetur eu libero sit amet varius. Etiam dignissim scelerisque lorem, vitae porttitor elit
        venenatis quis.
      </p>
    </section>

    <section id="builder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies
        feugiat. Nullam ac est sed nisi rutrum semper. Praesent nec egestas orci. Nam eget metus ex. Donec venenatis et
        erat non dictum. Aenean tristique, magna in luctus bibendum, turpis nisi vehicula tellus, sed porta enim erat
        vel odio. Nunc sit amet auctor purus. Maecenas aliquet risus non tincidunt porta. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Ut faucibus viverra lectus, at suscipit leo. In ac lectus leo. Phasellus interdum
        rutrum dolor eu commodo.

        Praesent mi neque, bibendum in sollicitudin vel, lobortis nec metus. Phasellus pulvinar posuere sapien, eget
        imperdiet sem convallis eget. Donec pulvinar, ex ultrices luctus feugiat, sapien nisi condimentum est, varius
        lacinia nibh elit nec felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Aenean mattis lorem purus, eu fringilla ligula lacinia at. Donec imperdiet vitae elit a mollis. Curabitur
        posuere hendrerit ipsum ut aliquet. Proin mi mauris, lacinia nec varius lacinia, luctus ac ante. Vestibulum
        vehicula leo in augue sagittis lacinia. Sed ut finibus eros, a egestas massa. Proin pretium quam quis elit
        tristique imperdiet. Nam euismod, diam eu tempus rutrum, magna metus interdum justo, nec luctus odio leo vitae
        nisi. Proin sit amet urna posuere dolor dictum fringilla sit amet eget sem. Quisque eleifend velit ipsum, et
        iaculis mi lobortis eget. Nunc ullamcorper lacus ac dui laoreet convallis.

        Pellentesque nec sem nunc. Aenean dignissim scelerisque vulputate. Etiam at dignissim sapien. Sed volutpat augue
        non mi fermentum, at vulputate dui suscipit. Nulla convallis risus vitae ipsum convallis, in varius turpis
        facilisis. Quisque et malesuada risus. Sed et justo magna. Sed malesuada ipsum in mi aliquam, eleifend volutpat
        lacus sollicitudin. Praesent sodales vitae lorem vitae dapibus. Fusce lectus elit, elementum in felis a, laoreet
        accumsan dui. Integer viverra ante vel scelerisque molestie. Nullam aliquet, turpis consequat sagittis luctus,
        diam orci pellentesque urna, nec congue eros dolor vitae dolor. Vivamus ac nisi ut nisi faucibus laoreet et ut
        lectus. In consectetur eu libero sit amet varius. Etiam dignissim scelerisque lorem, vitae porttitor elit
        venenatis quis.
      </p>
    </section>

    <section id="settings">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies
        feugiat. Nullam ac est sed nisi rutrum semper. Praesent nec egestas orci. Nam eget metus ex. Donec venenatis et
        erat non dictum. Aenean tristique, magna in luctus bibendum, turpis nisi vehicula tellus, sed porta enim erat
        vel odio. Nunc sit amet auctor purus. Maecenas aliquet risus non tincidunt porta. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Ut faucibus viverra lectus, at suscipit leo. In ac lectus leo. Phasellus interdum
        rutrum dolor eu commodo.

        Praesent mi neque, bibendum in sollicitudin vel, lobortis nec metus. Phasellus pulvinar posuere sapien, eget
        imperdiet sem convallis eget. Donec pulvinar, ex ultrices luctus feugiat, sapien nisi condimentum est, varius
        lacinia nibh elit nec felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Aenean mattis lorem purus, eu fringilla ligula lacinia at. Donec imperdiet vitae elit a mollis. Curabitur
        posuere hendrerit ipsum ut aliquet. Proin mi mauris, lacinia nec varius lacinia, luctus ac ante. Vestibulum
        vehicula leo in augue sagittis lacinia. Sed ut finibus eros, a egestas massa. Proin pretium quam quis elit
        tristique imperdiet. Nam euismod, diam eu tempus rutrum, magna metus interdum justo, nec luctus odio leo vitae
        nisi. Proin sit amet urna posuere dolor dictum fringilla sit amet eget sem. Quisque eleifend velit ipsum, et
        iaculis mi lobortis eget. Nunc ullamcorper lacus ac dui laoreet convallis.

        Pellentesque nec sem nunc. Aenean dignissim scelerisque vulputate. Etiam at dignissim sapien. Sed volutpat augue
        non mi fermentum, at vulputate dui suscipit. Nulla convallis risus vitae ipsum convallis, in varius turpis
        facilisis. Quisque et malesuada risus. Sed et justo magna. Sed malesuada ipsum in mi aliquam, eleifend volutpat
        lacus sollicitudin. Praesent sodales vitae lorem vitae dapibus. Fusce lectus elit, elementum in felis a, laoreet
        accumsan dui. Integer viverra ante vel scelerisque molestie. Nullam aliquet, turpis consequat sagittis luctus,
        diam orci pellentesque urna, nec congue eros dolor vitae dolor. Vivamus ac nisi ut nisi faucibus laoreet et ut
        lectus. In consectetur eu libero sit amet varius. Etiam dignissim scelerisque lorem, vitae porttitor elit
        venenatis quis.
      </p>
    </section>

  </article>

  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus
        in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies feugiat. Nullam
        ac
        est sed nisi rutrum semper.</p>
    </div>
  </aside>
</div>
