<div class="controller overview">
  <div class="fixed">
    <div class="overview-header">
      <div class="title">
        <h3>{{t 'common.course-map'}}</h3>
        {{#if classController.isTeacher}}
          {{gru-tour steps=tourSteps containerClass='overview'}}
        {{/if}}
      </div>
      {{#if classController.isStudent}}
        <div>
          {{#if class.minScore}}
            <div class="trophy">
              <span class="icon"></span>
              <span class="percentage"> &gt; {{{class.minScore}}}%</span>
            </div>
          {{/if}}
          <button {{action "updateLocation" userLocation}} class="btn btn-info locate">
            <span>{{gru-icon name='near_me'}}{{t "class.overview.locate"}}</span>
          </button>
        </div>
      {{else}}
      <div>
        <button {{action "editContent" course.id}} class="btn btn-default edit-content">
          {{t "class.overview.edit-content"}}
        </button>
      </div>

      {{/if}}
    </div>
  </div>
  {{class.overview.gru-accordion-course
    currentClass=class
    showLocation=true
    classMembers=classMembers
    onSelectResource="playResource"
    onLocationUpdate=(action 'updateLocation')
    onLaunchOnAir="launchOnAir"
    userLocation=userLocation
    location=openingLocation
    units=units
    contentVisibility=contentVisibility
    onUpdateContentVisibility="updateContentVisibility"
    isTeacher=classController.isTeacher}}

</div>
