<div class="controller overview">
  <div class="fixed">
    <div class="overview-header">
      <div>
        <h3>{{t "class.overview.title"}}</h3>
      </div>
      {{#if classController.isStudent}}
        <button {{action "updateLocation" userLocation}} class="btn btn-info locate">
          <span>{{gru-icon name='near_me'}}{{t "class.overview.locate"}}</span>
        </button>
      {{else}}
        <button {{action "editContent"}} class="btn btn-default edit-content">
          {{t "class.overview.editContent"}}
        </button>
      {{/if}}
    </div>
  </div>

  {{class.overview.gru-accordion-course
    currentClass=class
  onSelectResource="playResource"
  onLocationUpdate=(action 'updateLocation')
  userLocation=userLocation
  location=location
  isTeacher=classController.isTeacher}}

</div>