{{{themeStyleTag}}}
<div class="gooru {{if theme themeId ''}}">
  {{gru-header
    onLogout="logout"
    onSearch="searchTerm"}}
    <div class="container-fluid app-container">
      {{outlet}}
    </div>
  {{gru-footer}}
</div>

{{gru-modal}}