<div class="controller forgot-password row" xmlns="http://www.w3.org/1999/html">
  <div class="modal">
    <div class="modal-dialog">
      {{#unless showSecondStep}}
        <div class="modal-content first-step">
          <div class="modal-header">
            <h3>{{t "login.forgotPassword"}}</h3>
            <div class="description" alt="{{t "forgot-password.description"}}"
                 title="{{t "forgot-password.description"}}">{{t "forgot-password.description"}}
            </div>
          </div>
          <div class="modal-body">
            <div class="wrapper">
              <div class="main">
                <div class="forgot-password-form">
                  <form id="forgotPasswordForm" {{action "resetPassword" on="submit"}}>
                    <div class="form-group username">
                      <label>
                        <span>{{t "forgot-password.usernameOrEmail"}}</span>
                        {{validation.gru-input model=user valuePath='email' didValidate=didValidate}}
                      </label>
                      {{#if emailError}}
                        <span class="validation error email-error">{{{emailError}}}</span>
                      {{/if}}
                    </div>
                    <div class="footer-description">
                      <p class="description-one">
                          {{#unless isGoogleAccountError}}
                            {{t "forgot-password.footer-description-1"}}
                          {{else}}
                            {{t "forgot-password.footer-google-description-1"}}
                          {{/unless}}
                      </p>
                      <p class="description-two">{{t "forgot-password.footer-description-2"}}<a class="support-mail" href="mailto:{{t "forgot-password.mail"}}" target="_top">{{t "forgot-password.mail"}}</a>.</p>
                    </div>
                    <div class="submit-button form-group text-center">
                      <button type="submit" class="btn btn-success submit">{{t "common.submit"}}<span>{{gru-icon name='keyboard_arrow_right'}}</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="modal-content second-step">
          <div class="modal-header">
            <h3>{{t "forgot-password.secondStepTitle"}}</h3>
          </div>
          <div class="modal-body">
            <div class="wrapper">
              <div class="main">
                <div class="forgot-password-form">
                  <form id="forgotPasswordForm" {{action "close" on="submit"}}>
                    <div class="footer-description">
                      <p>{{t "forgot-password.secondStepDescription-1"}}</p>
                      <p>{{t "forgot-password.secondStepDescription-2"}}<br><a class="support-mail" href="mailto:{{t "forgot-password.mail"}}" target="_top">{{t "forgot-password.mail"}}</a>.</p>
                    </div>
                    <div class="submit-button form-group text-center">
                      <button type="submit" class="btn btn-info submit">{{t "common.close"}}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
</div>
