<div class="controller user row">
  <div class="greetings">
    <span>Hi {{profile.firstName}}!</span>
    <p>
      {{t 'user.joined-classes' count=totalJoinedClasses}}{{t 'user.teaching-classes' count=totalTeachingClasses}}.
    </p>
  </div>
  <div class="home-navigator">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active active-classes tab">
            <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action 'switchTab'}}>
              <span class="lead">{{t 'user.active-classes'}}</span>
            </a>
          </li>
          <li role="presentation" class="archived-classes tab">
            <a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab" {{action 'switchTab'}}>
              <span class="lead">{{t 'user.archived-classes'}}</span>
            </a>
          </li>
          <li class="visible-xs ">
            <a href='#' class="switch-tab-btn" {{action 'switchTab'}}>{{gru-icon name='keyboard_arrow_right'}}</a>
          </li>
          <li class="pull-right actions">
            {{#link-to 'content.classes.create' class="btn btn-success create-class-cta" tagName='button'}}
              {{t 'user.create-class'}}
            {{/link-to}}
            {{#link-to 'content.classes.join' class="btn btn-success join-class-cta" tagName='button'}}
              {{t 'user.join-class'}}
            {{/link-to}}
          </li>
      </ul>
  </div>
  <div class="content tab-content">
    <div role="tabpanel" class="tab-pane row active" id="active-classes">
      {{#each myClasses.classes as |class|}}
        {{#unless class.isArchived}}
          {{cards.gru-class-card
          class=class
          profile=profile
          classStudentCount=myClasses.memberCount}}
        {{/unless}}
      {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane row" id="archived-classes">
      {{#each myClasses.classes as |class|}}
        {{#if class.isArchived}}
          {{cards.gru-class-card
          class=class
          profile=profile
          classStudentCount=myClasses.memberCount}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
