<section class="index">
  <div class="row hero">
    <div class="col-md-12">
      <h1>{{t "index.joinUs"}}</h1>
    </div>
  </div>
  <div class="row bg-gray getting-started">
   <div class="col-md-5 col-sm-5 getting-started-banner img-responsive">

   </div>
   <div class="col-md-7 col-sm-7 getting-started-content">
      <div class="row">
        <div class="col-md-12 col-sm-12 toolkit">
        <h2>{{t "index.gettingStarted"}}</h2>

            <a target="_blank"  href="http://about.goorulearning.org/educators/get-started/"><h3>{{t "index.toolkit"}}</h3></a>

          <p>{{t "index.toolkitDescription"}}</p>
        </div>
        <div class="col-md-12 col-sm-12 classroom">

           <a target="_blank" href="http://about.goorulearning.org/educators/stories/"><h3>{{t "index.classroom"}}</h3></a>

            <p>{{t "index.classroomDescription"}}</p>
        </div>
        <div class="col-md-12 col-sm-12 bg-blue events">
          <div class="events-icon">

          </div>
          <div>

           <a target="_blank" class ="toolkit" href="http://about.goorulearning.org/community/events"><h3>{{t "index.events"}}</h3></a>

          <p>{{t "index.eventsDescription"}}</p>
          </div>
        </div>
      </div>
   </div>
  </div>
</section>


