<section class="index">
  <div class="row hero">
    <div class="col-md-12">
      <h1>{{t "index.joinUs"}}</h1>
    </div>
  </div>
  <div class="container">
  <div class="row empowerStudents">
          <div>
              <h2 class="text-blue title text-center">{{t "index.empowerStudentsTitle"}}</h2>
          </div>
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1  col-sm-10 ma-md-15 ma-sm-15">
          <div class="row">
            <div class="col-md-3 col-sm-6 find">
                <h3 class="text-center">{{t "index.empowerStudentFind"}}</h3>
                <div class="findImg empowerSprite"></div>
                <p>{{t "index.findDescription"}}</p>
            </div>
            <div class="col-md-3 col-sm-6 remix">
                <h3 class="text-center">{{t "index.empowerStudentRemix"}}</h3>
                <div class="remixImg empowerSprite"></div>
                <p>{{t "index.remixDescription"}}</p>
            </div>
            <div class="col-md-3 col-sm-6 share">
                <h3 class="text-center">{{t "index.empowerStudentShare"}}</h3>
                <div class="shareImg empowerSprite"></div>
                <p>{{t "index.shareDescription"}}</p>
            </div>
            <div class="col-md-3 col-sm-6 monitor">
                <h3 class="text-center">{{t "index.empowerStudentMonitor"}}</h3>
                <div class="monitorImg empowerSprite"></div>
                <p>{{t "index.monitorDescription"}}</p>
            </div>
          </div>
      </div>


  </div>
  </div>

</section>


