<div class="controller sign-up finish row">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="progress-dots">
            <span class="dot"></span>
            <span class="dot color"></span>
            <span class="dot"></span>
          </div>
          <h3>{{t "sign-up.step-2-title"}}</h3>
          <div class="description" alt="{{t "sign-up.step-2-description"}}" title="{{t "sign-up.step-2-description"}}">
            {{t "sign-up.step-2-description"}}
          </div>
        </div>
        <div class="modal-body">
          <div class="wrapper">
            <div class="main">
              <div class="sign-up-finish-form">
                <form id="signUpForm" {{action "next" on="submit"}}>
                  <div class="form-group role">
                    <p><span class="required">{{t 'common.role'}}</span></p>
                    <div class="roles">
                      {{
                        validation.gru-radio
                        model=profile
                        groupValue=currentRole
                        valuePath='teacher'
                        name="role-radio"
                        translationPath="common.teacher"
                      }}
                      {{
                        validation.gru-radio
                        model=profile
                        groupValue=currentRole
                        valuePath='student'
                        name="role-radio"
                        translationPath="common.student"
                      }}
                      {{
                        validation.gru-radio
                        model=profile
                        groupValue=currentRole
                        valuePath='other'
                        name="role-radio"
                        translationPath="common.other"
                      }}
                    </div>
                    <div class="error-messages">
                      {{#if showRoleErrorMessage}}
                        <span class="error">
                          {{t "sign-up.error-role-message"}}
                        </span>
                      {{/if}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>
                      <span class="required">{{t "common.country"}}</span>
                      {{validation.gru-select options=countries title=(t "common.select") search="true" onOptionSelect="countrySelect" showMessage=showCountryErrorMessage errorMessage=(t "sign-up.error-country-message")}}
                    </label>
                  </div>
                  {{#if showStates}}
                    <div class="form-group">
                      <label>
                        <span class="required">{{t "sign-up.state"}}</span>
                        {{validation.gru-select options=states title=(t "common.select") search="true" onOptionSelect="stateSelect" showMessage=showStateErrorMessage errorMessage=(t "sign-up.error-state-message")}}
                      </label>
                    </div>
                  {{/if}}
                  {{#if districts}}
                    <div class="form-group">
                      <label>
                        <span>{{t "sign-up.district"}}</span>
                        {{validation.gru-select options=districts title=(t "common.select") search="true" onOptionSelect="districtSelect"}}
                      </label>
                    </div>
                    <div class="form-group">
                      <label>
                        <span>{{t "common.other"}}</span>
                        {{input value=otherSchoolDistrict class="form-control" name='otherDistrict'}}
                      </label>
                      <div class="error-messages">
                        {{#if showDistrictErrorMessage}}
                          <span class="error">
                            {{t "sign-up.error-district-message"}}
                          </span>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                  <div class="sign-up-button form-group text-center">
                    <button type="submit" class="btn btn-success submit-sign-up">{{t "common.next"}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
