<div class="controller sign-up row">
  <div class="modal">
    <div class="modal-dialog">
      {{#unless showChildLayout}}
        <div class="modal-content">
          <div class="modal-header">
            <div class="progress-dots">
              <span class="dot color"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <h1>{{t "sign-up.step-1-title"}}</h1>
            <div class="description" alt="{{t "sign-up.step-1-description"}}"
                 title="{{t "sign-up.step-1-description"}}">{{t "sign-up.step-1-description"}}
            </div>
            <div class="sign-in-description" alt="{{t "sign-up.sign-in-description"}}"
                 title="{{t "sign-up.sign-in-description"}}">
              {{#link-to 'sign-in'}} {{t "sign-up.log-in"}} {{/link-to}}
              {{t "sign-up.log-in-description"}}
            </div>
            <a role="button" href="{{unbound googleSignUpUrl}}">
              <div class="google-button">
                <div class="google-button-content-wrapper">
                  <div class="google-button-icon">
                    <div class="google-button-icon-image">
                    </div>
                  </div>
                  <span class="google-button-content">
                    <span>{{t "sign-up.google-button"}}</span>
                  </span>
                </div>
              </div>
            </a>
          </div>
          <div class="divider"></div>
          <div class="modal-body">
            <div class="wrapper">
              <div class="main">
                <div class="sign-up-form">
                  <form id="signUpForm" {{action "next" on="submit"}}>
                    <div class="form-group username">
                      <label for="usernameId">
                        <span class="required">{{t "sign-up.username"}}</span>
                        {{validation.gru-input model=profile valuePath='username' didValidate=didValidate inputId='usernameId' isRequired=true}}
                      </label>
                      {{#if usernameError}}
                        <span class="validation error username-error">{{usernameError}}</span>
                      {{/if}}
                    </div>
                    {{gru-select-date-picker wasSubmitted=dateValidated onValidDate="validDate"}}
                    <div class="form-group firstName">
                      <label for="firstNameId">
                        <span class="required">{{t "common.first-name"}}</span>
                        {{validation.gru-input model=profile valuePath='firstName' maxLength=25 didValidate=didValidate inputId='firstNameId' isRequired=true}}
                      </label>
                    </div>
                    <div class="form-group lastName">
                      <label for="lastNameId">
                        <span class="required">{{t "common.last-name"}}</span>
                        {{validation.gru-input model=profile valuePath='lastName' maxLength=25 didValidate=didValidate inputId='lastNameId' isRequired=true}}
                      </label>
                    </div>
                    <div class="form-group email">
                      <label for="emailId">
                        <span class="required">{{t "sign-up.email"}}</span>
                        {{validation.gru-input model=profile valuePath='email' didValidate=didValidate inputId='emailId' isRequired=true}}
                      </label>
                      {{#if emailError}}
                        <span class="validation error email-error">{{emailError}}</span>
                      {{/if}}
                    </div>
                    <div class="form-group password">
                      <label for="passwordId">
                        <span class="required">{{t "sign-up.password"}}</span>
                        {{validation.gru-input model=profile valuePath='password' type='password' didValidate=didValidate inputId='passwordId' isRequired=true}}
                      </label>
                    </div>
                    <div class="form-group rePassword">
                      <label for="rePasswordId">
                        <span class="required">{{t "sign-up.rePassword"}}</span>
                        {{validation.gru-input model=profile valuePath='rePassword' type='password' didValidate=didValidate inputId='rePasswordId' isRequired=true}}
                      </label>
                    </div>
                    <div class="sign-up-button form-group text-center">
                      <button type="submit" class="btn btn-success submit-sign-up">{{t "common.next"}}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="modal-content child-layout">
          <div class="modal-header">
            <h3>{{t "sign-up.step-child-title"}}</h3>
            <div class="description" alt="{{t "sign-up.step-child-subtitle"}}"
                 title="{{t "sign-up.step-child-subtitle"}}">{{t "sign-up.step-child-subtitle"}}
            </div>
          </div>
          <div class="modal-body">
            <div class="wrapper">
              <div class="main">
                <div class="sign-up-form">
                  <form id="signUpForm" {{action "close" on="submit"}}>
                    <div class="form-group username">
                      <label>
                        <span>{{t "sign-up.username"}}</span>
                        <div class="form-group">
                          {{input type="text" class="form-control" value=profile.username readonly="readonly"}}
                        </div>
                      </label>
                    </div>
                    <div class="form-group birth-day-date">
                      <label>
                        <span>{{t "sign-up.dateOfBirth.title"}}</span>
                        <div class="form-group">
                          {{input type="text" class="months" value=monthSelected readonly="readonly"}}
                          {{input type="text" class="days" value=daySelected readonly="readonly"}}
                          {{input type="text" class="years" value=yearSelected readonly="readonly"}}
                        </div>
                      </label>
                    </div>
                    <div class="footer-description" title="{{t "sign-up.step-child-description-1"}}">
                      {{t "sign-up.step-child-description-1"}}<a href="{{termsConditionsUrl}}" target="_blank">{{t "sign-up.step-child-age-requirements"}}</a>{{t "sign-up.step-child-description-2"}}
                    </div>
                    <div class="sign-up-button form-group text-center">
                      <button type="submit" class="btn btn-success submit-sign-up">{{t "common.close"}}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
</div>
