{{gru-take-tour steps=steps containerClass='home-tour'}}
<div class="controller student-landing container-fluid">
  <div class="student-left-panel">
    <div class="greetings">
      <div class="title">
        <span>{{t 'user.hello' name=profile.firstName}}</span>
      </div>
    </div>

    <button class="btn copy-item" {{action 'copy'}}>{{gru-icon name="content_copy"}}</button>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="panel panel-default panel-primary announcements">
                <div class="panel-heading">{{t 'common.announcements'}}</div>
                <div class="panel-body">
                    <div class="warning">
                        <span>{{gru-icon name='volume_up'}}</span>
                        <span class="announcements-lead">{{t 'student-landing.announcements'}}</span>
                    </div>
                    <div class="classes-announcements">
                      <ul>
                        {{#each announcementsClasses as |class| }}
                            <li>
                              {{#link-to 'student.class.performance' class.id}}{{class.title}}{{/link-to}}
                                <span class="greeting">{{truncate text=class.greeting maxLength=40}}</span>
                            </li>
                        {{/each}}
                      </ul>
                        {{#if hasMoreAnnouncements}}
                            <span class="more-classes">...</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            {{!--"TO DO" BOX SHOULD BE HERE--}}
        </div>
    </div>
    <div class="student-navigator">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active active-classes tab hidden-xs">
          <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action 'showClasses' 'active'}}>
            <span class="lead">{{t 'user.my-classes'}}</span>
          </a>
        </li>

        <li class="pull-right actions">
          {{#link-to 'goals.manage' class="btn btn-info manage-goals-cta" tagName='button'}}
            {{t 'user.manage-goals'}}
          {{/link-to}}

          {{#link-to 'content.classes.join' class="btn btn-success join-class-cta" tagName='button'}}
            {{t 'user.join-class'}}
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content tab-content">
      <div role="tabpanel" class="tab-pane row active" id="active-classes">
        {{#if hasClasses}}
        <!-- TODO: delete unnecesary dependencies -->
          <!-- {{cards.gru-class-card
            class=class
            profile=profile
            classStudentCount=myClasses.memberCount}} -->
          {{#each activeClassesChunks as |activeClasses|}}
            <div class="row">
              {{#each activeClasses as |class|}}
                {{cards.gru-student-class-card class=class}}
              {{/each}}
            </div>
          {{/each}}
        {{else}}
          {{partial 'partials/student-no-classes-found'}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
