{{player.gru-study-header
  classId=classId
  collection=collection
  courseId=course.id
  courseTitle=course.title
  breadcrumbs=breadcrumbs
  showConfirmation=showConfirmation
  onToggleHeader='toggleHeader'
  resourceSequence=resource.sequence
}}
<div class="player-container {{if toggleState 'expanded' 'collapsed'}} {{if showConfirmation 'show-confirmation' 'no-confirmation'}}">
  {{gru-take-tour steps=steps containerClass='study-player-tour'}}
  {{#if (and hasPreTestSuggestions showSuggestion)}}
      {{player.gru-suggest-test type=typeSuggestion onPlayCollection='playActualCollection' onPlaySuggestion='playSuggestion'}}
  {{else}}
    {{player.qz-player
    showConfirmation=showConfirmation
    resource=resource
    resourceId=resourceId
    role=role
    type=type
    reportURL=reportURL
    startContextFunction=startContextFunction
    contextResult=contextResult
    isAnonymous=isAnonymous
    onFinish='onFinish'
    }}
  {{/if}}
</div>
