<div class="controller student-independent container-fluid">
  <div class="student-left-panel">
    <div class="greetings">
      <div class="title">
        <span>{{t 'user.hello' name=profile.firstName}}</span>
      </div>
      <p>{{t 'user.joined-classes' count=totalJoinedClasses}}</p>
    </div>
    {{#unless (gt loginCount 5)}}
      <div class="row panels">
        <div class="col-sm-6 col-xs-12">
          {{gru-explore-featured-courses
            courses=featuredCourses
            profile=profile
            loginCount=loginCount
          }}
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="panel join-class">
            <div class="panel-heading">{{t 'student-landing.learn'}}</div>
            <div class="panel-body">
              <div class="legend">
                {{t 'student-landing.join-classroom'}}
              </div>
              <div class="actions">
                {{#link-to 'content.classes.join' class="btn btn-info join" tagName='button'}}
                  {{t 'user.join-class'}}
                {{/link-to}}
              </div>
              <div class="pull-right will-disappear">
                {{#if (eq loginCount 5)}}
                  {{t 'common.disappear-next-login'}}
                {{else}}
                  {{t 'common.disappear-after-login' loginNumber=(sub 6 loginCount)}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/unless}}
    <div class="student-navigator">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active-classes tab hidden-xs">
          {{#link-to 'student-home'}}
            <span class="lead">{{t 'user.classrooms'}}</span>
          {{/link-to}}
        </li>
        <li role="presentation" class="active independent-learning tab hidden-xs">
          {{#link-to 'student-independent-learning'}}
            <span class="lead">{{t 'user.independent-learning'}}</span>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="panel bookmarks">
        <div class="panel-heading">{{t 'common.bookmarks'}}</div>
        <div class="panel-body bookmarks-list {{if toggleState 'expanded' 'collapsed'}}">
          <a {{action 'togglePanel'}} class="collapse-expand pull-right less {{if toggleState 'visible' 'hidden'}}">
            {{gru-icon name='expand_less'}}
            {{gru-icon name='expand_less'}}
          </a>
          {{#link-to 'search.collections' tagName="div" class='add-bookmark'}}
          {{/link-to}}
          {{#each bookmarks as |bookmark|}}
            {{cards.gru-bookmark-card
              bookmark=bookmark
              onDeleteBookmark=(action 'removeBookmark')}}
          {{/each}}
          {{#if showExpandIcon}}
            <a {{action 'togglePanel'}} class="collapse-expand pull-right more {{if toggleState 'hidden' 'visible'}}">
              {{gru-icon name='expand_more'}}
              {{gru-icon name='expand_more'}}
            </a>
            <a class="show-more" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</a>
          {{/if}}
        </div>
      </div>
    </div>
    {{student.independent.gru-independent-learning-navigation
      onItemSelected="selectMenuItem"
      selectedMenuItem=menuItem}}
    <div class="independent-content">
      {{outlet}}
    </div>
  </div>
</div>
