{{player.gru-study-header
  classId=classId
  collection=collection
  courseTitle=course.title
  breadcrumbs=breadcrumbs
  showConfirmation=showConfirmation
  onToggleHeader='toggleHeader'
  resourceSequence=resource.sequence
}}
<div class="player-container {{if toggleState 'expanded' 'collapsed'}} {{if showConfirmation 'show-confirmation' 'no-confirmation'}}">
  {{#if showSuggestion}}
      {{player.gru-suggest-test type='pre-test' onPlayCollection='playActualCollection'}}
  {{else}}
    {{player.qz-player
    showConfirmation=showConfirmation
    resource=resource
    resourceId=resourceId
    role=role
    type=type
    reportURL=reportURL
    startContextFunction=startContextFunction
    contextResult=contextResult
    isAnonymous=isAnonymous
    onFinish='onFinish'
    }}
  {{/if}}
</div>
