<div class="controller teacher-landing row {{if isShowAtcView 'atc-landing'}}">
  <iframe id="download_iframe" style="display:none;"></iframe>
  {{gru-take-tour steps=steps containerClass='home-tour'}}
  {{#if isShowNavigatorBanner}}
    <div class="landing-banner">
      {{teacher.navigator-math-banner updateClass="updateClass"}}
    </div>
  {{/if}}
  <div class="teacher-panel">
    <div class="greetings  hide">
      <div class="title">
        <span>{{t 'user.hello' name=profile.firstName}}</span>
      </div>
      {{#unless (gt loginCount 5)}}
        <div class="featured-courses pull-right">
          <span>{{t 'student-landing.browse-our'}} {{#link-to 'library'}}{{t 'student-landing.featured-courses'}}{{/link-to}}</span>
        </div>
      {{/unless}}
    </div>
    {{#unless (gt loginCount 5)}}
      <div class="row panels hide">
          {{gru-teacher-featured-courses
            courses=featuredCourses
            profile=profile
            isTeacher=true
            loginCount=loginCount
          }}
      </div>
    {{/unless}}

    <div class="teacher-navigator">
      {{#if isShowAtcView}}
        <div class="atc-view nav">
          <div class="class-title ellipsis">
            {{lastAccessedClassData.title}}
          </div>
          {{#if (and lastAccessedClassData (not lastAccessedClassData.isPremiumClass) ) }}
            <div class="atc-class-performance" style="background-color: {{classPerformanceColor}};">
              {{concat lastAccessedClassData.performance.score '%'}}
            </div>
          {{/if}}
          <div class="toggle-view" {{action "onToggleTeacherView" 'classroom'}}>
            {{gru-icon name="view_module"}}
          </div>
        </div>
      {{else}}
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="{{if showActiveClasses 'active'}} active-classes tab hidden-xs">
            <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action 'showClasses' 'active'}}>
              <span class="lead">{{t 'user.active-classrooms'}}</span>
            </a>
          </li>
          <li role="presentation" class="{{if showArchivedClasses 'active'}} archived-classes tab hidden-xs">
            <a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab" {{action 'archivedClass' 'archived'}}>
              <span class="lead">{{t 'user.archived-classrooms'}}</span>
            </a>
          </li>
        </ul>

        {{#if showActiveClasses}}
        {{#unless hasClasses}}
          <div class="pull-left no-classes-found">
            {{t 'teacher-landing.no-classrooms'}}
          </div>
        {{/unless}}
        {{/if}}
        {{#if (and showArchivedClasses  (gt sortedArchivedClassrooms.length 0))}}
          <div class="pull-right sort">
            <div class="filter-date-asc btn-group" role="group">
              <button type="button" title={{t 'common.sort-most-recently'}} data-toggle="tooltip" {{action 'filterByDate'}} class="filter-date btn {{if (eq sortOn 'startDate') 'btn-primary' 'btn-info'}}">
                {{#if (eq sortOn 'startDate')}}
                  <div class="arrow {{if (eq order 'asc') 'arrow-up' 'arrow-down'}}"></div>
                {{/if}}
                {{gru-icon name='timer'}}
              </button>
              <button type="button" title={{t 'common.sortAlphabetical'}}  data-toggle="tooltip" {{action 'filterByTitle'}} class="filter-asc btn {{if (eq sortOn 'title') 'btn-primary' 'btn-info'}}">
                {{gru-icon name='sort_by_alpha'}}
                {{#if (eq sortOn 'title')}}
                  <div class="arrow {{if (eq order 'desc') 'arrow-up' 'arrow-down'}}"></div>
                {{/if}}
              </button>
            </div>
          </div>
        {{/if}}
        {{#if hasClasses}}
          <div class="toggle-view" {{action "onToggleTeacherView" 'atc'}}>
            {{gru-icon name="view_carousel"}}
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if isShowAtcView}}
      {{teacher.class-atc-view
         classPosition=currentClassPosition
         totalClasses=totalTeachingClasses
         classData=lastAccessedClassData
         onChangeAtcClass="onChangeAtcClass"
         onSelectClassItem="selectMenuItem"
         }}
    {{else}}
      <div class="content tab-content">
        <div role="tabpanel active-class" class="tab-pane row {{if showActiveClasses 'active'}}" id="active-classes">
          {{new-cards.gru-new-class-card
            onJoinClass="joinClass"
            validCode=validCode
            notMember=notMember
            allowedCode=allowedCode
            onUpdateUserClasses='updateClass'
            isLoading=isLoading}}
          {{#if hasClasses}}
            {{#each activeClasses as |class|}}
              {{new-cards.gru-teacher-class-card
              class=class
              course=class.course
              classStudentCount=myClasses.memberCount
              onPlayCollection='studyPlayer'
              onItemSelected='selectMenuItem'}}
            {{/each}}
          {{/if}}
        </div>

        <div role="tabpanel" class="tab-pane row {{if showArchivedClasses 'active'}}" id="archived-classes">
          {{#each sortedArchivedClassrooms as |class|}}
            {{cards.gru-class-card
              class=class
              course=class.course
              classStudentCount=myClasses.memberCount
              onPlayCollection='studyPlayer'
              onItemSelected='selectMenuItem'}}
          {{else}}
            <span class="no-archived">{{t 'common.no-archived'}}</span>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{#if isShowCompetencyReport}}
  {{#reports.pull-up.competency-report type=(t 'report.competency-report.title') title=(if selectedClass.course.subject selectedClass.course.subject (t 'report.competency-report.no-subject')) showPullUp=isShowCompetencyReport}}
      {{reports.pull-up.course-competency-report classData=selectedClass onSelectDomain="onSelectDomain"}}
  {{/reports.pull-up.competency-report}}
{{/if}}

{{#if isShowDomainCompetencyReport}}
  {{#reports.pull-up.competency-report type=(t 'report.domain-report') title=selectedDomain.domainData.domainName showPullUp=isShowDomainCompetencyReport onClosePullUp="onCloseCompetencyReportPullUp"}}
      {{reports.pull-up.domain-competency-report domainSet=selectedDomain onSelectCompetency="onSelectCompetency"}}
  {{/reports.pull-up.competency-report}}
{{/if}}

{{#if isShowCompetencyContentReport}}
  {{#reports.pull-up.competency-report type=selectedCompetency.competencyStudentDesc title=selectedCompetency.competencyStudentDesc showPullUp=isShowCompetencyContentReport onClosePullUp="onCloseCompetencyReportPullUp" competency=selectedCompetency}}
    {{reports.pull-up.competency-content-report competency=selectedCompetency userId=selectedStudentUserId}}
  {{/reports.pull-up.competency-report}}
{{/if}}
