<div class="controller teacher-landing row">
  <iframe id="download_iframe" style="display:none;"></iframe>
  <div class="teacher-left-panel">
    <div class="greetings">
      <div class="title">
        <span>{{t 'user.hi'}} {{profile.firstName}}!</span>
        {{gru-tour steps=steps containerClass='home-tour'}}
      </div>
    </div>
    <div class="teacher-navigator">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active active-classes tab hidden-xs">
          <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action 'showClasses' 'active'}}>
            <span class="lead">{{t 'user.active-classes'}}</span>
          </a>
        </li>

        <li class="pull-right actions">
          {{#link-to 'content.classes.create' class="btn btn-success create-class-cta" tagName='button'}}
            {{t 'user.create-class'}}
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content tab-content">
      <div role="tabpanel" class="tab-pane row active" id="active-classes">
        {{#if hasClasses}}
          {{#each activeClasses as |class|}}
            {{cards.gru-class-card
              class=class
              profile=profile
              classStudentCount=myClasses.memberCount
              showUnitsCount=true}}
          {{/each}}
        {{else}}
          {{partial 'partials/teacher-no-classes-found'}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="teacher-right-panel">

    <div class="box-info">
      <a href="#">{{t 'teacher-landing.box-title-one'}}</a>
      <p>{{t 'teacher-landing.box-text-one'}}</p>
    </div>

    <div class="box-info">
      <a href="#">{{t 'teacher-landing.box-title-two'}}</a>
      <p>{{t 'teacher-landing.box-text-two'}}</p>
    </div>

    <div class="box-info">
      <a href="#">{{t 'teacher-landing.box-title-three'}}</a>
      <p>{{t 'teacher-landing.box-text-three'}}</p>
    </div>

    <div class="box-info">
      <a href="#">{{t 'teacher-landing.box-title-four'}}</a>
      <p>{{t 'teacher-landing.box-text-four'}}</p>
    </div>

  </div>
</div>