<div class="controller teacher-landing row">
  <iframe id="download_iframe" style="display:none;"></iframe>
  <div class="teacher-panel">
    <div class="greetings">
      <div class="title">
        <span>{{t 'user.hi'}} {{profile.firstName}}!</span>
        {{gru-tour steps=steps containerClass='home-tour'}}
      </div>
    </div>
    <div class="teacher-header row">
      <div class="col-sm-6 col-xs-12">
        <div class="panel announcements">
          <div class="panel-heading">
            <div class="title">
              {{t 'common.announcements'}}
            </div>
          </div>
          <div class="panel-body">
            <div class="classes-announcements">
              <ul>
                {{#each announcementsClasses as |class| }}
                    <li>
                      {{#link-to 'teacher.class.class-activities' class.id}}{{class.title}}{{/link-to}}
                        <span class="greeting">{{truncate text=class.greeting maxLength=40}}</span>
                    </li>
                {{/each}}
              </ul>
              {{#if hasMoreAnnouncementes}}
                  <span class="more-classes">...</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="teacher-navigator">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active active-classes tab hidden-xs">
          <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action 'showClasses' 'active'}}>
            <span class="lead">{{t 'user.my-current-classes'}}</span>
          </a>
        </li>
        <li role="presentation" class="archived-classes tab hidden-xs">
          <a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab" {{action 'showClasses' 'archived'}}>
            <span class="lead">{{t 'user.archived-classes'}}</span>
          </a>
        </li>

        <li class="pull-right actions">
          {{#link-to 'content.classes.create' class="btn btn-success create-class-cta" tagName='button'}}
            {{t 'user.create-class'}}
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content tab-content">
      <div role="tabpanel" class="tab-pane row {{if showActiveClasses 'active'}}" id="active-classes">
        {{#if hasClasses}}
          {{#each activeClasses as |class|}}
            {{cards.gru-teacher-class-card
              class=class
              classStudentCount=myClasses.memberCount}}
          {{/each}}
        {{else}}
          {{partial 'partials/teacher-no-classes-found'}}
        {{/if}}
      </div>
      <div role="tabpanel" class="tab-pane row {{if showArchivedClasses 'active'}}" id="archived-classes">
        {{#each archivedClasses as |class|}}
            {{cards.gru-class-card
            class=class
            profile=profile
            onDownloadReport="downloadReport"
            onRequestReport="requestReport"
            classStudentCount=myClasses.memberCount}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
