<div class="controller user row">
  <div class="greetings">
    <h2>Hi {{profile.firstName}}!</h2>
    <p class="lead">
      {{t "user.welcome-message"}}
      {{#if (eq myClasses.memberList.length 1)}}
        {{t "user.member-class" count=myClasses.memberList.length}}
      {{else}}
        {{t "user.member-classes" count=myClasses.memberList.length}}
      {{/if}}
      {{#if (eq myClasses.ownerList.length 1)}}
        {{t "user.teaching-class" count=myClasses.ownerList.length}}
      {{else}}
        {{t "user.teaching-classes" count=myClasses.ownerList.length}}
      {{/if}}
    </p>
  </div>
  <div class="navigator">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active active-classes"><a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab"><span class="lead">{{t 'user.active-classes'}}</span></a></li>
          <li role="presentation" class="archived-classes"><a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab"><span class="lead">{{t 'user.archived-classes'}}</span></a></li>
          <li class="pull-right actions">
            {{#link-to 'content.classes.create' class="btn btn-success create-class" tagName='button'}} {{t 'user.create-class'}} {{/link-to}}
            <button type="button" name="button" class="btn btn-success join-class">{{t 'user.join-class'}}</button>
          </li>
      </ul>
  </div>
  <div class="content tab-content">
    <div role="tabpanel" class="tab-pane active" id="active-classes">
      {{#each myClasses.classes as |class|}}
        {{#unless class.isArchived}}
          <div>
            <h5>{{class.title}} | {{class.code}}</h5>
            <p>isStudent: {{class.isStudent}} | isArchived: {{class.isArchived}}</p>
          </div>
        {{/unless}}
      {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane" id="archived-classes">
      {{#each myClasses.classes as |class|}}
        {{#if class.isArchived}}
          <div>
            <h5>{{class.title}} | {{class.code}}</h5>
            <p>isStudent: {{class.isStudent}} | isArchived: {{class.isArchived}}</p>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
