<div class="controller user row">
  <div class="greetings">
    <span>Hi {{profile.firstName}}!</span>
    <p class="lead">
      You're currently in {#numerical} classes and teaching {#numerical} class.
    </p>
  </div>
  <div class="navigator">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active active-classes"><a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab"><span class="lead">{{t 'user.active-classes'}}</span></a></li>
          <li role="presentation" class="archived-classes"><a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab"><span class="lead">{{t 'user.archived-classes'}}</span></a></li>
          <li class="pull-right actions">
            {{#link-to 'content.classes.create' class="btn btn-success create-class" tagName='button'}} {{t 'user.create-class'}} {{/link-to}}
            <button type="button" name="button" class="btn btn-success join-class">{{t 'user.join-class'}}</button>
          </li>
      </ul>
  </div>
  <div class="content tab-content">
    <div role="tabpanel" class="tab-pane row active" id="active-classes">
      {{#each myClasses.classes as |class|}}
        {{#unless class.isArchived}}
          {{cards.gru-class-card
          class=class
          countObject=myClasses.memberCount}}
        {{/unless}}
      {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane row" id="archived-classes">
      {{#each myClasses.classes as |class|}}
        {{#if class.isArchived}}
          {{cards.gru-class-card
          class=class
          countObject=myClasses.memberCount}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
