<div class="controller user row">
  <div class="greetings">
    <span>Hi {{profile.firstName}}!</span>
    <p>
      {{t 'user.joined-classes' count=totalJoinedClasses}}{{t 'user.teaching-classes' count=totalTeachingClasses}}
    </p>
  </div>
  <div class="home-navigator">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active active-classes tab">
            <a href="#active-classes" aria-controls="activeClasses" role="tab" data-toggle="tab" {{action (route-action 'switchTab')}}>
              <span class="lead">{{t 'user.active-classes'}}</span>
            </a>
          </li>
          <li role="presentation" class="archived-classes tab">
            <a href="#archived-classes" aria-controls="archivedClasses" role="tab" data-toggle="tab" {{action (route-action 'switchTab')}}>
              <span class="lead">{{t 'user.archived-classes'}}</span>
            </a>
          </li>
          <li class="visible-xs ">
            <a href='#' class="switch-tab-btn" {{action 'switchTab'}}>{{gru-icon name='keyboard_arrow_right'}}</a>
          </li>
          <li class="pull-right actions">
            {{#link-to 'content.classes.create' class="btn btn-success create-class-cta" tagName='button'}}
              {{t 'user.create-class'}}
            {{/link-to}}
            <button type="button" name="button" class="btn btn-success join-class">{{t 'user.join-class'}}</button>
          </li>
      </ul>
  </div>
  <div class="content tab-content">
    <div role="tabpanel" class="tab-pane active" id="active-classes">
      {{#each myClasses.classes as |class|}}
        {{#unless class.isArchived}}
          <div>
            <h5>{{class.title}} | {{class.code}}</h5>
            <p>isStudent: {{class.isStudent}} | isArchived: {{class.isArchived}}</p>
          </div>
        {{/unless}}
      {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane" id="archived-classes">
      {{#each myClasses.classes as |class|}}
        {{#if class.isArchived}}
          <div>
            <h5>{{class.title}} | {{class.code}}</h5>
            <p>isStudent: {{class.isStudent}} | isArchived: {{class.isArchived}}</p>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
