<h1>Framework Components</h1>

{{gru-bubbles bubbleOptions=bubbleOptions onBubbleSelect='bubbleOptionSelected'}}

{{gru-switch switchOptions=switchOptions onOptionSwitch='optionSwitch'}}

{{charts.gru-pie-chart pieData=pieData width=100 height=100}}

<div style="width: 145px;height: 20px">
    {{charts.gru-stacked-horizontal-bar-chart data=stackedHorizontalBarData}}
</div>

<span class="fractional fraction">{{{fractional numerator=1 denominator=2}}}</span>
<span class="fractional fraction">{{{fractional expression="1/3"}}}</span>

<span>{{course-sections-prefix title="My Unit" type="unit" index=1}}</span>
<span>{{course-sections-prefix title="My Assessment" type="assessment" index=2}}</span>